<template>
<div class="columns">
  <div class="column is-11">
                <b-tabs
                  type="is-toggle"
                  position="is-centered"
                  multiline >
                    <b-tab-item class="has-text-left">
                       <template slot="header">
                          <span class="has-text-weight-bold is-size-6-half">Basic</span> <br>
                          <span class="text-strikethrough is-size-6-half">99kr</span> <span class="is-size-6-half"> 49kr</span>
                      </template>
                      <div class="is-size-6 has-text-weight-semibold has-text-centered">IDEEL TIL SMÅ VIRKSOMHEDER</div>
                      <div class="columns mt-10">
                        <div class="column is-3">
                          <span class="icon-box-sub">
                             <userNotification :active="true"/>
                          </span>
                          <p class="has-text-primary is-size-6-half has-text-weight-semibold mt-4">Rykkerstyring</p>
                          <p  class="is-size-6-half">Online status og rapportering</p>
                          <p  class="is-size-6-half"> Behold egne pålagte rykkergebyrer</p>
                        </div>
                        <div class="column is-3 is-offset-1">
                          <span class="icon-box-sub">
                            <evaAccounts :active="true" />
                          </span>
                          <p class="has-text-primary is-size-6-half has-text-weight-semibold mt-4">Antal brugere/konti</p>
                          <p class="is-size-6-half">Ekstra bruger (49 kr/pm)</p> <p class="is-size-6-half"> Ekstern adgang (Bogholder)</p>
                        </div>
                        <div class="column is-3 is-offset-1">
                          <span class="icon-box-sub">
                             <claimsIconSidebar :active="true" />
                          </span>
                          <p class="has-text-primary is-size-6-half has-text-weight-semibold mt-4">Inkasso</p>
                          <p class="is-size-6-half">Fuldt udenretligt inkassoforløb</p>
                          <p class="is-size-6-half">  Få 100% af hovedstol</p>
                          <p class="is-size-6-half"> Mulighed for retlig inkasso</p>
                        </div>
                      </div>
                      <div class="columns mt-5">
                        <div class="column is-3">
                          <span class="icon-box-sub">
                             <debtorIconSidebar :active="true" />
                          </span>
                          <p class="has-text-primary is-size-6-half has-text-weight-semibold mt-4">Kundeoverblik</p>
                          <p>Debitorportal</p>
                        </div>
                        <div class="column is-3 is-offset-1">
                          <span class="icon-box-sub">
                            <settingsIconSidebar :active="true" />
                          </span>
                          <p class="has-text-primary is-size-6-half has-text-weight-semibold mt-4">Automatisk bogføring</p>
                          <p class="is-size-6-half">Udsende faktura</p>
                          <p class="is-size-6-half">Integration til regnskabsprogram</p>
                        </div>
                      </div>
                    </b-tab-item>

                    <!-- Professional subscription settings -->
                    <b-tab-item class="has-text-left">
                      <template slot="header">
                          <span class=" is-size-6-half has-text-weight-semibold">Professional</span> <br>
                          <span class="text-strikethrough is-size-6-half">499kr</span> <span class="is-size-6-half"> 249kr</span>
                      </template>
                      <div class="is-size-6 has-text-weight-semibold has-text-centered">IDEEL TIL SMÅ TIL MELLEMSTORE VIRKSOMHEDER</div>
                      <div class="columns mt-10">
                        <div class="column is-3">
                          
                          <span class="icon-box-sub">
                             <userNotification :active="true"/>
                          </span>
                          <p class="has-text-primary is-size-6-half has-text-weight-semibold mt-4">Rykkerstyring</p>
                          <p  class="is-size-6-half">Behold egne pålagte rykkergebyrer Behold rykkergebyrer fra systemet</p>
                        </div>
                        <div class="column is-3 is-offset-1">
                          <span class="icon-box-sub">
                            <evaAccounts :active="true" />
                          </span>
                          <p class="has-text-primary is-size-6-half has-text-weight-semibold mt-4">Antal brugere/konti</p>
                          <p class="is-size-6-half">Ekstra bruger (Ubegrænset)</p>
                           <p class="is-size-6-half">Ekstern adgang (Bogholder)</p>
                           <p class="is-size-6-half">Modtage betaling (kreditkort, MobilePay)</p>
                        </div>
                        <div class="column is-3 is-offset-1">
                          <span class="icon-box-sub">
                             <claimsIconSidebar :active="true" />
                          </span>
                          <p class="has-text-primary is-size-6-half has-text-weight-semibold mt-4">Inkasso</p>
                          <p class="is-size-6-half">Få 100% af hovedstol</p>
                          <p class="is-size-6-half">Mulighed for retlig inkasso</p>
                        </div>
                      </div>
                      <div class="columns mt-5">
                        <div class="column is-3">
                          <span class="icon-box-sub">
                              <usersIconSidebar :active="true" />
                          </span>
                          <p class="has-text-primary is-size-6-half has-text-weight-semibold mt-4">Kundeoverblik</p>
                           <p class="is-size-6-half">Forecast og kundeanalyse</p>
                          <p class="is-size-6-half">Debitorportal</p>
                          <p class="is-size-6-half">Regnskabstal</p>
                        </div>
                        <div class="column is-3 is-offset-1">
                          <span class="icon-box-sub">
                           <boxesIcon :active="true" />
                          </span>
                          <p class="has-text-primary is-size-6-half has-text-weight-semibold mt-4">Overblik og analyse</p>
                          <p class="is-size-6-half">RKI-opslag (kreditopslag)</p>
                          <p class="is-size-6-half">Månedlig opfølgning</p>
                          <p class="is-size-6-half">Online status og rapportering</p>
                        </div>
                        <div class="column is-3 is-offset-1">
                          <span class="icon-box-sub">
                            <settingsIconSidebar :active="true" />
                          </span>
                          <p class="has-text-primary is-size-6-half has-text-weight-semibold mt-4">Automatisk bogføring</p>
                          <p class="is-size-6-half">Udsende faktura</p>
                          <p class="is-size-6-half">Integration til regnskabsprogram</p>
                        </div>
                      </div>
                    </b-tab-item>

                    <!-- Enterprise subscription settings -->
                    <b-tab-item class="has-text-left">
                      <template slot="header">
                          <span class="is-size-6-half has-text-weight-semibold">Enterprise</span> <br>
                          <span class="is-size-6-half">efter behov</span>
                      </template>
                       <div class="is-size-6 has-text-weight-semibold has-text-centered">IDEEL TIL VIRKSOMHEDER, DER KRÆVER EN TILPASSET PLAN</div>
                      <div class="columns mt-10">
                        <div class="column is-3">
                          <span class="icon-box-sub">
                             <userNotification :active="true"/>
                          </span>
                          <p class="has-text-primary is-size-6-half has-text-weight-semibold mt-4">Rykkerstyring</p>
                          <p  class="is-size-6-half">Behold egne pålagte rykkergebyrer</p>
                          <p class="is-size-6-half"> Behold rykkergebyrer fra systemet</p>
                        </div>
                        <div class="column is-3 is-offset-1">
                          <span class="icon-box-sub">
                            <evaAccounts :active="true" />
                          </span>
                          <p class="has-text-primary is-size-6-half has-text-weight-semibold mt-4">Antal brugere/konti</p>
                          <p class="is-size-6-half">Ekstra bruger (Ubegrænset)</p>
                           <p class="is-size-6-half">Ekstern adgang (Bogholder) </p>
                           <p class="is-size-6-half">Modtage betaling (kreditkort, MobilePay)</p>
                        </div>
                        <div class="column is-3 is-offset-1">
                          <span class="icon-box-sub">
                             <claimsIconSidebar :active="true" />
                          </span>
                          <p class="has-text-primary is-size-6-half has-text-weight-semibold mt-4">Inkasso</p>
                          <p class="is-size-6-half">Få 100% af hovedstol</p>
                          <p class="is-size-6-half">Mulighed for retlig inkasso</p>
                        </div>
                      </div>
                      <div class="columns mt-5">
                        <div class="column is-3">
                          <span class="icon-box-sub">
                              <usersIconSidebar :active="true" />
                          </span>
                          <p class="has-text-primary is-size-6-half has-text-weight-semibold mt-4">Kundeoverblik</p>
                           <p class="is-size-6-half">Forecast og kundeanalyse</p>
                          <p class="is-size-6-half">Debitorportal</p>
                          <p class="is-size-6-half">Regnskabstal</p>
                        </div>
                        <div class="column is-3 is-offset-1">
                          <span class="icon-box-sub">
                            <boxesIcon :active="true" />
                          </span>
                          <p class="has-text-primary is-size-6-half has-text-weight-semibold mt-4">Overblik og analyse</p>
                          <p class="is-size-6-half">RKI-opslag (kreditopslag)</p>
                          <p class="is-size-6-half">Månedlig opfølgning</p>
                          <p class="is-size-6-half">Online status og rapportering</p>
                        </div>
                        <div class="column is-3 is-offset-1">
                          <span class="icon-box-sub">
                            <settingsIconSidebar :active="true" />
                          </span>
                          <p class="has-text-primary is-size-6-half has-text-weight-semibold mt-4">Automatisk bogføring</p>
                          <p class="is-size-6-half">Udsende faktura</p>
                          <p class="is-size-6-half">Integration til regnskabsprogram</p>
                        </div>
                      </div>
                    </b-tab-item>
                </b-tabs>
                </div>
                <div class="column is-1">
                <b-switch v-model="isSwitchedMonthly"
                true-value="Yearly"
                false-value="Monthly"
                passive-type="is-dark">
                {{ isSwitchedMonthly}}
            </b-switch>
            </div>
</div>
</template>
<script>
import boxesIcon from '@/components/svg/boxes-icon.vue'
export default {
  components: {
    boxesIcon
  },
  data() {
    return {
      isSwitchedMonthly: 'Monthly'
    }
  }
}
</script>
<style scoped>
  .icon-box-sub {
    border: 1px solid #273144;
    border-radius: 4px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    position: relative;
     width: 200px; height: 300px;
  }
  .text-strikethrough {
    text-decoration: line-through;
  }

</style>