<template>
  <div class="ibox">
    <div class="ibox-head">
      <div class="ibox-title">{{ $t("debtor.create_new_debtor") }}</div>
    </div>
    <div class="ibox-body">
      <div class="alert alert-pink fade show alert-outline" v-if="formInput.serverError">
        <p>
          <i class="la la-info-circle alert-icon"></i>
          <strong>{{ $t("general.oops") }}!</strong> {{formInput.serverError}}
        </p>
      </div>

      <button class="btn btn-success" :class="{'btnSelected':(formInput.is_company === 1)}" @click="formInput.is_company = 1">
        <i class="far fa-building"></i> &nbsp; {{ $t("account.company") }}
      </button>
      <button class="btn btn-success" :class="{'btnSelected':(formInput.is_company === 0)}" @click="formInput.is_company = 0">
        <i class="fas fa-male"></i> &nbsp; {{ $t("account.private") }}
      </button>

      <div v-if="formInput.is_company === 1">
        <div class="form-group mb-4" v-bind:class="errorObject.vat">
          <label>{{$t("debtor.vat")}}</label>
          <input class="form-control" type="text" :placeholder='$t("debtor.vat")' v-model="formInput.vat_number">
          <span class="help-block" v-if="errorObject.vat">{{ $t("debtor.vat_error") }}</span>
        </div>

        <div class="form-group mb-2" v-bind:class="errorObject.company_name">
          <label>{{$t("debtor.company_name")}}</label>
          <input class="form-control" type="text" :placeholder='$t("debtor.company_name")' v-model="formInput.company_name">
          <span class="help-block" v-if="errorObject.company_name">{{ $t("debtor.company_name_error") }}</span>
        </div>
      </div>

      <div v-else>
        <div class="form-group mb-2" v-bind:class="errorObject.first_name">
          <label>{{$t("debtor.first_name")}}</label>
          <input class="form-control" type="text" :placeholder='$t("debtor.first_name")' v-model="formInput.first_name">
          <span class="help-block" v-if="errorObject.first_name">{{ $t("debtor.first_name_error") }}</span>
        </div>

        <div class="form-group mb-2" v-bind:class="errorObject.last_name">
          <label>{{$t("debtor.last_name")}}</label>
          <input class="form-control" type="text" :placeholder='$t("debtor.last_name")' v-model="formInput.last_name">
          <span class="help-block" v-if="errorObject.first_name">{{ $t("debtor.last_name_error") }}</span>
        </div>
      </div>

      <div class="form-group mb-2" v-bind:class="errorObject.address">
        <label>{{$t("general.address")}}</label>
        <input class="form-control" type="text" :placeholder='$t("account.address")' v-model="formInput.address">
        <span class="help-block" v-if="errorObject.address">{{ $t("debtor.address_error") }}</span>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group mb-2" v-bind:class="errorObject.zip_code">
          <label>{{$t("general.zip_code")}}</label>
          <input class="form-control" type="text" :placeholder='$t("account.zip_code")' v-model="formInput.zip_code">
          <span class="help-block" v-if="errorObject.zip_code">{{ $t("debtor.zip_code_error") }}</span>
        </div>
        <div class="col-sm-6 form-group mb-2" v-bind:class="errorObject.city">
          <label>{{$t("general.city")}}</label>
          <input class="form-control" type="text" :placeholder='$t("account.city")' v-model="formInput.city">
          <span class="help-block" v-if="errorObject.city">{{ $t("debtor.city_error") }}</span>
        </div>
      </div>
      <div class="form-group mb-2" v-bind:class="errorObject.phone">
        <label>{{$t("general.tel")}}</label>
        <input class="form-control" type="text" :placeholder='$t("account.phone")' v-model="formInput.phone">
        <span class="help-block" v-if="errorObject.phone">{{ $t("debtor.phone_error") }}</span>
      </div>
      <div class="form-group mb-4" v-bind:class="errorObject.email">
        <label>{{$t("general.email")}}</label>
        <input class="form-control" type="text" :placeholder='$t("general.email")' v-model="formInput.email">
        <span class="help-block" v-if="errorObject.email">{{ $t("debtor.email_error") }}</span>
      </div>

      <button class="btn btn-warning" @click="cancel">{{$t("general.cancel")}}</button>
      <button class="btn btn-success" @click="createDeb">
        {{ $t("debtor.create_debtors") }}
      </button>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import router from '@/router/index'
export default {
  data() {
    return {
      company: false,
      currentUrl: this.$route.path
    }
  },
  methods: {
    ...mapActions('debtors', {
      CreateDebtor: 'createDebtor',
    }),
    cancel() {
      if (this.currentUrl === '/') {
        this.$parent.toggle('debitorsView')
      } else if (this.currentUrl === '/debtors/create') {
        router.push("/debtors")
      }
    },
    createDeb() {
      this.CreateDebtor(this.currentUrl)
        .then(() => {
          if (this.currentUrl === '/') {
            /*
            Open creating i mark the new debtor as your new chosen debtor and push it onto the stack of debtors

            because I have been unable to get the updated debtor after creating i new i just post a object into the stack,
            when the list is refeshed then it will replace this "dummy" object with the real data,
            tho the "dummy" object is funny capable of working of the real one
            */
            this.$parent.chooseDebtor(this.formInput)
            this.$parent.pushIntoDebtor(this.formInput)
            this.$parent.toggle('debitorsView')
          } else {
            return
          }
        })
      // I have not created a catch here due to i expect their to be handeling of this in the vuex funtion
    }
  },
  computed: {
    ...mapState('debtors', {
      formInput: state => state.formInput,
      errorObject: state => state.styleObject.errorObject,
    })
  }
}
</script>

<style>
.btn-success:hover{
    background-color: #00AD96;
}
.btnSelected{
    background-color: #00AD96;
}
</style>
