<template lang="html">
  <div class="columns" v-if="!tableLoading">
    <div class="column mx-auto mt-16" :class="form_width">
      <div class="alert alert-pink fade show alert-outline" v-if="formInput.serverError">
        <p>
          <i class="la la-info-circle alert-icon"></i>
          <strong>{{ $t("general.oops") }}!</strong> {{formInput.serverError}}
        </p>
      </div>
      <h2 class="title is-size-6 mb-2 text-primary">{{ $t("debtor.edit_your_debtor") | toCapitalLetters }}</h2>
      <div class=" green-line-top main-box py-8 px-5" v-on:keyup.enter="edit">
          <div class="columns">
            <div class="column is-12">
              <p class="is-size-6 title" v-if="formInput.is_company === 1">{{$t('account.company_details') | toCapitalLetters}}</p>
               <p class="is-size-6 title" v-if="formInput.is_company === 0">{{$t('account.user_details') | toCapitalLetters}}</p>
              <hr>
            </div>
          </div>
          <div class="columns ">
            <div class=" column is-12 is-12-mobile" v-if="formInput.is_company === 1">
              <div class="field is-horizontal" v-bind:class="errorObject.vat" >
                <div class="column is-5-desktop is-12-mobile is-paddingless">
                  <div class="field-label is-normal">
                    <label class="label text-label">{{ $t("label.vat") }}</label>
                  </div>
                </div>
                <div class="column is-4-desktop is-12-mobile is-paddingless">
                    <div class="field">
                        <input :maxlength="fieldLimits.vat_number" type="text" @keydown="allowNumbersOnly"
                          autocomplete="on" name="vat" class="input custom-input-styles" :placeholder='$t("debtor.vat")'
                          v-model="formInput.vat_number">
                      <p class="help is-danger" v-if="errorObject.vat">{{ $t("debtor.vat_error") }}</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns" >
            <div class=" column is-12 is-12-mobile" v-if="formInput.is_company === 1">
              <div class="field is-horizontal" v-bind:class="errorObject.company_name">
                <div class="column is-5-desktop is-12-mobile is-paddingless">
                  <div class="field-label is-normal">
                    <label class="label text-label">{{ $t("label.company_name") }}</label>
                  </div>
                </div>
                <div class="column is-4-desktop is-12-mobile is-paddingless">
                    <div class="field">
                        <input type="text" autocomplete="on" name="company_name" class="input custom-input-styles"
                          :placeholder='$t("debtor.company_name")' v-model="formInput.company_name">
                      <p class="help is-danger" v-if="errorObject.company_name">{{ $t("debtor.company_name_error") }}</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns" v-if="formInput.is_company === 0">
            <div class=" column is-12 is-12-mobile" v-bind:class="errorObject.first_name">
              <div class="field is-horizontal">
                <div class="column is-5-desktop is-12-mobile is-paddingless">
                  <div class="field-label is-normal">
                    <label class="label text-label">{{$t("label.debtor_private_first_name") }}</label>
                  </div>
                </div>
                <div class="column is-4-desktop is-12-mobile is-paddingless">
                    <div class="field">
                        <input type="text" name="first_name" class="input custom-input-styles"
                          :placeholder='$t("debtor.first_name")' v-model="formInput.first_name"
                          autocomplete="random_string">
                      <p class="help is-danger" v-if="errorObject.first_name">{{ $t("debtor.first_name_error") }}</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns" v-if="formInput.is_company === 0">
            <div class=" column is-12 is-12-mobile" v-bind:class="errorObject.last_name">
              <div class="field is-horizontal">
                <div class="column is-5-desktop is-12-mobile is-paddingless">
                  <div class="field-label is-normal">
                    <label class="label text-label">{{$t("label.debtor_private_last_name") }}</label>
                  </div>
                </div>
                <div class="column is-4-desktop is-12-mobile is-paddingless">
                    <div class="field">
                        <input type="text" name="last_name" class="input custom-input-styles"
                          :placeholder='$t("debtor.last_name")' v-model="formInput.last_name"
                          autocomplete="random_string">
                      <p class="help is-danger" v-if="errorObject.last_name">{{ $t("debtor.last_name_error") }}</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns"  v-if="formInput.is_company === 1">
            <div class="column is-12">
               <p class="is-size-6 title">CONTACT DETAILS</p>
               <hr>
            </div>
          </div>
          <div class="columns ">
            <div class=" column is-12 is-12-mobile" v-bind:class="errorObject.address">
              <div class="field is-horizontal">
                <div class="column is-5-desktop is-12-mobile is-paddingless">
                  <div class="field-label is-normal">
                    <label class="label text-label">{{ $t("label.address") }}</label>
                  </div>
                </div>
                <div class="column is-4-desktop is-12-mobile is-paddingless">
                    <div class="field">
                        <input type="text" name="addrress" class="input custom-input-styles"
                          :placeholder='$t("general.address")' v-model="formInput.address" autocomplete="random_string">
                      <p class="help is-danger" v-if="errorObject.address">{{ $t("debtor.address_error") }}</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns ">
            <div class=" column is-12 is-12-mobile" v-bind:class="errorObject.zip_code">
              <div class="field is-horizontal">
                <div class="column is-5-desktop is-12-mobile is-paddingless">
                  <div class="field-label is-normal">
                    <label class="label text-label">{{ $t("label.postal_code") }}</label>
                  </div>
                </div>
                <div class="column is-4-desktop is-12-mobile is-paddingless">
                    <div class="field">
                        <input type="text" name="zip_code" @keydown="allowNumbersOnly" class="input custom-input-styles"
                          :placeholder='$t("general.zip_code")' v-model="formInput.zip_code"
                          autocomplete="random_string">
                      <p class="help is-danger" v-if="errorObject.zip_code">{{ $t("debtor.zip_code_error") }}</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class=" column is-12 is-12-mobile" v-bind:class="errorObject.city">
              <div class="field is-horizontal">
                <div class="column is-5-desktop is-12-mobile is-paddingless">
                  <div class="field-label is-normal">
                    <label class="label text-label">{{ $t("label.city") }}</label>
                  </div>
                </div>
                <div class="column is-4-desktop is-12-mobile is-paddingless">
                    <div class="field">
                        <input type="text" name="city" class="input custom-input-styles" :placeholder='$t("general.city")'
                          v-model="formInput.city" autocomplete="random_string">
                      <p class="help is-danger" v-if="errorObject.city">{{ $t("debtor.city_error") }}</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns ">
            <div class=" column is-12 is-12-mobile" v-bind:class="errorObject.country">
              <div class="field is-horizontal">
                <div class="column is-5-desktop is-12-mobile is-paddingless">
                  <div class="field-label is-normal">
                    <label class="label text-label">{{ $t("general.country") }}</label>
                  </div>
                </div>
                <div class="column is-4-desktop is-12-mobile is-paddingless">
                    <div class="field">
                        <input id="countries" disabled="true" v-model="formInput.country_name"
                          class="control input custom-input-styles focused-success">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns ">
            <div class=" column is-12 is-12-mobile" v-bind:class="errorObject.phone">
              <div class="field is-horizontal">
                <div class="column is-5-desktop is-12-mobile is-paddingless">
                  <div class="field-label is-normal">
                    <label class="label text-label">{{ $t("label.telephone") }}</label>
                  </div>
                </div>
                <div class="column is-4-desktop is-12-mobile is-paddingless">
                    <div class="field">
                        <input type="text" :maxlength="fieldLimits.phone" name="phone" class="input custom-input-styles"
                          :placeholder='$t("general.tel")' v-model="formInput.phone" autocomplete="random_string">
                      <p class="help is-danger" v-if="errorObject.phone">{{ $t("debtor.phone_error") }}</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns ">
            <div class=" column is-12 is-12-mobile" v-bind:class="errorObject.email">
              <div class="field is-horizontal">
                <div class="column is-5-desktop is-12-mobile is-paddingless">
                  <div class="field-label is-normal">
                    <label class="label text-label">{{ $t("label.email") }}</label>
                  </div>
                </div>
                <div class="column is-4-desktop is-12-mobile is-paddingless">
                    <div class="field">
                        <input type="text" name="email" class="input custom-input-styles" :placeholder='$t("general.email")'
                          v-model="formInput.email" autocomplete="random_string">
                      <p class="help is-danger" v-if="errorObject.email">{{ $t("debtor.email_error") }}</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns mt-4">
            <div class="column is-9 has-text-right pr-1">
              <b-button type="is-btn-fix is-light mr-1" @click="actionBasedOnAccess">{{$t("general.cancel")}}</b-button>
              <b-button type="is-primary is-btn-fix" :disabled="formInput.disabled ? true : false" @click="edit()">
                <template v-if="!formInput.disabled">
                  {{ $t("debtor.edit_debtor") }}
                </template>
                <span v-else v-html="buttonSpinner">
                  {{buttonSpinner}}
                </span>
              </b-button>
            </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'
import { allowNumbers } from '@/helpers'

export default {
  props: {
    id: {
      required: true,
      type: String
    },
    accessType: {
      type: String
    }
  },
  computed: {
    ...mapState('debtors', {
      formInput: state => state.formInput,
      errorObject: state => state.styleObject.errorObject,
      fieldLimits: state => state.fieldLimits,
      tableLoading: state => state.tableLoading,
    }),
    ...mapState('accounts', {
      accounts: state => state.accounts,
      userProfile: state => state.userProfile,
    }),
    ...mapGetters('auth', {
      buttonSpinner: "buttonSpinner"
    }),
    ...mapGetters('debtors', {
      companyButton: "companyButton",
      privateButton: "privateButton",
    }),
    ...mapGetters('accounts', {
      activeAccountName: "activeAccountName"
    }),
    accountId () {
      return this.formInput.account_id
    },
    form_width() {
      if (this.accessType) {
        return 'is-11-desktop'
      }
      return 'is-12-desktop'
    }
  },
  methods: {
    ...mapActions('debtors', {
      fetchInfo: 'fetchInfo',
      editDebtor: 'editDebtor'
    }),
    allowNumbersOnly(event) {
      return allowNumbers(event)
    },
    actionBasedOnAccess() {
      if (this.accessType == 'modal') {
        this.$parent.toggle('debitorsView')
      } else {
        this.$router.push("/debtors")
      }
    },
    async edit() {
      var that = this
      this.editDebtor().then(
        function(result) {
          that.actionBasedOnAccess()
        },
        function(error) {}
      )
    },
  },
  created () {
    this.$store.commit('debtors/resetformState')
    this.$store.commit('debtors/resetSetError')
    this.$store.commit('debtors/setStateId', this.id)
    this.fetchInfo()
  },
  watch: {
    tableLoading: function() {
      if (this.formInput.country_iso_code) {
        this.$store.commit('accounts/setFieldLimits')
      }
    }
  }
}
</script>
<style scoped>
</style>
