<template lang="html">
      <div class="columns">
        <div class="column mx-auto mt-16" :class="form_width">
          <div v-if="accessType !== 'modal'" class="columns">
            <div class="column is-12">
              <div
                v-if='userProfile != null && (userProfile[0].active_account_id === "" || userProfile[0].active_account_id === null)'
                class="alert alert-warning alert-bordered text-center">
                <strong>{{$t("dashboard.warning")}}!</strong>
                <br><br>
                {{$t("dashboard.not_active_account")}} <br><br>
                <b><button class="btn btn-fix btn-success" @click="$router.push('/accounts/create')">
                    {{$t("general.here")}}
                  </button></b>
              </div>
            </div>
          </div>
          <div class="tabs is-marginless">
            <ul class="">
              <li class="" :class="{'is-active': tab==='company'}"
                  @click="tab='company', formInput.is_company = 1">
                <a class="has-text-weight-semibold" href="#"
                 >{{$t('account.company')}}</a>
              </li>
              <li class=" ml-1" :class="{'is-active': tab==='private'}"
                  @click="tab='private', formInput.is_company = 0">
                <a class="has-text-weight-semibold" href="#"
                  >{{$t('account.private')}}</a>
              </li>
            </ul>
          </div>
          <form v-on:keyup.enter="create()">
          <div class="coulmns main-box px-6">
            <div class="column is-12-desktop py-8">
              <div v-if="formInput.is_company === 1">
                <h2 class="title is-size-6 has-text-weight-medium">{{$t('account.company_details') | toCapitalLetters }}
                </h2>
                <hr>
                <div class="columns">
                  <div class="mx-auto column is-12">
                      <div class="column is-12">
                        <div class="alert alert-pink fade show alert-outline" v-if="formInput.serverError">
                          <i class="la la-info-circle alert-icon"></i>
                          <strong>{{ $t("general.oops") }}!</strong> {{formInput.serverError}}
                        </div>
                      </div>
                      <div class="columns"
                        v-if='formInput.is_company === 1 && this.formInput.country_iso_code === "DK"'>
                        <div class="column is-12">
                          <div class="control">
                            <CvrSearch namespace="debtors" />
                          </div>
                        </div>
                      </div>
                      <div class="columns ">
                        <div class=" column is-12" v-bind:class="errorObject.vat">
                          <div class="field is-horizontal">
                            <div class="column is-5-desktop is-12-mobile is-paddingless">
                              <div class="field-label is-normal">
                                <label class="label text-label">{{ $t("label.vat") }} <span class="text-dark-green">*</span></label>
                              </div>
                            </div>
                            <div class="column is-4-desktop is-12-mobile is-paddingless">
                              <div class="field">
                                <input :maxlength="fieldLimits.vat_number" type="text" @keydown="allowNumbersOnly"
                                  autocomplete="on" name="vat" class="input custom-input-styles" :placeholder='$t("debtor.vat")'
                                  v-model="formInput.vat_number">
                                <p class="help is-danger" v-if="errorObject.vat">{{ $t("debtor.vat_error") }}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <div class="columns ">
                      <div class=" column is-12" v-bind:class="errorObject.company_name">
                        <div class="field is-horizontal">
                          <div class="column is-5-desktop is-12-mobile is-paddingless">
                            <div class="field-label is-normal">
                              <label class="label text-label">{{ $t("label.company_name") }} <span class="text-dark-green">*</span></label>
                            </div>
                          </div>
                          <div class="column is-4-desktop is-12-mobile is-paddingless">
                            <div class="field">
                              <input type="text" autocomplete="on" name="company_name" class="input custom-input-styles"
                                :placeholder='$t("debtor.company_name")' v-model="formInput.company_name">
                              <p class="help is-danger" v-if="errorObject.vat">{{ $t("debtor.company_name_error") }}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="columns">
                <div class="column is-12">
                  <h2 class="title is-size-6 has-text-weight-medium" v-if="formInput.is_company === 1">CONTACT DETAILS
                  </h2>
                  <h2 class="title is-size-6 has-text-weight-medium" v-if="formInput.is_company === 0">{{$t('account.user_details') | toCapitalLetters}}</h2>
                  <hr>
                </div>
              </div>
              <div class="columns">
                <div class="mx-auto column is-12">
                  <div class="mb-6">
                    <div class="columns" v-if="formInput.is_company === 0">
                      <div class=" column is-12" v-bind:class="errorObject.first_name">
                        <div class="field is-horizontal">
                          <div class="column is-5-desktop is-12-mobile is-paddingless">
                            <div class="field-label is-normal">
                              <label class="label text-label">{{$t("label.debtor_private_first_name") }}</label>
                            </div>
                          </div>
                          <div class="column is-4-desktop is-12-mobile is-paddingless">
                            <div class="field">
                              <div class="control has-icons-right is-expanded">
                                <input type="text" name="first_name" class="input custom-input-styles"
                                  :placeholder='$t("debtor.first_name")' v-model="formInput.first_name"
                                  autocomplete="random_string">
                              </div>
                              <p class="help is-danger" v-if="errorObject.first_name">
                                {{ $t("debtor.first_name_error") }} <span class="text-dark-green">*</span></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="columns" v-if="formInput.is_company === 0">
                      <div class=" column is-12" v-bind:class="errorObject.last_name">
                        <div class="field is-horizontal">
                          <div class="column is-5-desktop is-12-mobile is-paddingless">
                            <div class="field-label is-normal">
                              <label class="label text-label ">{{$t("label.debtor_private_last_name") }}</label>
                            </div>
                          </div>
                          <div class="column is-4-desktop is-12-mobile is-paddingless">
                            <div class="field">
                              <input type="text" name="last_name" class="input custom-input-styles"
                                :placeholder='$t("debtor.last_name")' v-model="formInput.last_name"
                                autocomplete="random_string">
                              <p class="help is-danger" v-if="errorObject.last_name">
                                {{ $t("debtor.last_name_error") }}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="columns ">
                      <div class=" column is-12" v-bind:class="errorObject.address">
                        <div class="field is-horizontal">
                          <div class="column is-5-desktop is-12-mobile is-paddingless">
                            <div class="field-label is-normal">
                              <label class="label text-label">{{ $t("label.address") }} <span class="text-dark-green">*</span></label>
                            </div>
                          </div>
                          <div class="column is-4-desktop is-12-mobile is-paddingless">
                            <div class="field">
                              <input type="text" name="addrress" class="input custom-input-styles"
                                :placeholder='$t("general.address")' v-model="formInput.address"
                                autocomplete="random_string">
                              <p class="help is-danger" v-if="errorObject.address">{{ $t("debtor.address_error") }}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="columns ">
                      <div class=" column is-12" v-bind:class="errorObject.zip_code">
                        <div class="field is-horizontal">
                          <div class="column is-5-desktop is-12-mobile is-paddingless">
                            <div class="field-label is-normal">
                              <label class="label text-label">{{ $t("label.postal_code") }} <span class="text-dark-green">*</span></label>
                            </div>
                          </div>
                          <div class="column is-4-desktop is-12-mobile is-paddingless">
                            <div class="field">
                              <input type="text" name="zip_code" @keydown="allowNumbersOnly" class="input custom-input-styles"
                                :placeholder='$t("general.zip_code")' v-model="formInput.zip_code"
                                autocomplete="random_string">
                              <p class="help is-danger" v-if="errorObject.zip_code">{{ $t("debtor.zip_code_error") }}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="columns ">
                      <div class=" column is-12" v-bind:class="errorObject.city">
                        <div class="field is-horizontal">
                          <div class="column is-5-desktop  is-paddingless">
                            <div class="field-label is-normal">
                              <label class="label text-label">{{ $t("label.city") }} <span class="text-dark-green">*</span></label>
                            </div>
                          </div>
                          <div class="column is-4-desktop is-paddingless">
                            <div class="field">
                              <input type="text" name="city" class="input custom-input-styles" :placeholder='$t("general.city")'
                                 v-model="formInput.city" autocomplete="random_string">
                              <p class="help is-danger" v-if="errorObject.city">{{ $t("debtor.city_error") }}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="columns ">
                      <div class=" column is-12" v-bind:class="errorObject.country">
                        <div class="field is-horizontal">
                          <div class="column is-5-desktop is-12-mobile is-paddingless">
                            <div class="field-label is-normal">
                              <label class="label text-label">{{ $t("general.country") }}</label>
                            </div>
                          </div>
                          <div class="column is-4-desktop is-12-mobile is-paddingless">
                            <div class="field">
                              <select id="countries" v-model="formInput.country"
                                class="control select input custom-input-styles focused-success">
                                <option v-for="country in countries" v-bind:value="country.id">
                                  {{country.name}}
                                </option>
                              </select>
                              <p class="help is-danger" v-if="errorObject.country">{{ $t("debtor.country_error") }}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="columns ">
                      <div class=" column is-12" v-bind:class="errorObject.phone">
                        <div class="field is-horizontal">
                          <div class="column is-5-desktop is-12-mobile is-paddingless">
                            <div class="field-label is-normal">
                              <label class="label text-label">{{ $t("label.telephone") }} <span class="text-dark-green">*</span></label>
                            </div>
                          </div>
                          <div class="column is-4-desktop is-12-mobile is-paddingless">
                            <div class="field">
                              <input type="text" :maxlength="fieldLimits.phone" name="phone" class="input custom-input-styles"
                                :placeholder='$t("general.tel")' v-model="formInput.phone" autocomplete="random_string">
                              <p class="help is-danger" v-if="errorObject.phone">{{ $t("debtor.phone_error") }}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="columns ">
                      <div class=" column is-12" v-bind:class="errorObject.email">
                        <div class="field is-horizontal">
                          <div class="column is-5-desktop is-12-mobile is-paddingless">
                            <div class="field-label is-normal">
                              <label class="label text-label">{{ $t("label.email") }} <span class="text-dark-green">*</span></label>
                            </div>
                          </div>
                          <div class="column is-4-desktop is-12-mobile is-paddingless">
                            <div class="field">
                              <input type="text" name="email" class="input custom-input-styles"
                                :placeholder='$t("general.email")' v-model="formInput.email"
                                autocomplete="random_string">
                              <p class="help is-danger" v-if="errorObject.email">{{ $t("debtor.email_error") }}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="columns mt-4">
                      <div class="column is-9 has-text-right pr-1">
                        <b-button type="is-light is-btn-fix mr-1" @click="actionBasedOnAccess">{{$t("general.cancel")}}
                        </b-button>
                        <b-button type="is-primary is-btn-fix" :disabled="formInput.disabled ? true : false"
                          @click="create()">
                          <template v-if="!formInput.disabled">
                            {{ $t("debtor.create_debtors") }}
                          </template>
                          <span v-else v-html="buttonSpinner">
                            {{buttonSpinner}}
                          </span>
                        </b-button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </form>
        </div>
      </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'
import { allowNumbers } from '@/helpers'
import router from '@/router/index'
import CvrSearch from '@/pages/_layouts/_cvrsearch/CvrSearch'

export default {
  props: {
    accessType: {
      type: String
    }
  },
  data() {
    return {
      tab: 'company'
    }
  },
  components: {
    CvrSearch
  },
  computed: {
    ...mapState('debtors', {
      formInput: state => state.formInput,
      errorObject: state => state.styleObject.errorObject,
      styleObject: state => state.styleObject,
      fieldLimits: state => state.fieldLimits
    }),
    ...mapState('accounts', {
      accounts: state => state.accounts,
      userProfile: state => state.userProfile,
      countries: state => state.countries,
    }),
    ...mapGetters('auth', {
      buttonSpinner: "buttonSpinner"
    }),
    ...mapGetters('debtors', {
      companyButton: "companyButton",
      privateButton: "privateButton",
    }),
    ...mapGetters('accounts', {
      activeAccountName: "activeAccountName"
    }),
    accountId () {
      return this.formInput.account_id
    },
    dispableClassObject: function () {
      if (this.userProfile != null && (this.userProfile[0].active_account_id === "" || this.userProfile[0].active_account_id === null)) {
        return "disabled-class"
      }
      return ""
    },
    country: function() {
      return this.formInput.country
    },
    form_width() {
      if (this.accessType) {
        return 'is-11-desktop'
      }
      return 'is-12-desktop'
    }
  },
  methods: {
    ...mapActions('debtors', {
      createDebtor: 'createDebtor'
    }),
    ...mapActions('accounts', {
      getCountries: 'getCountries',
    }),
    allowNumbersOnly(event) {
      return allowNumbers(event)
    },
    setDefaultAccount() {
      if (this.userProfile && this.userProfile[0].active_account_id) {
        this.formInput.account_id = this.userProfile[0].active_account_id
      }
    },
    actionBasedOnAccess() {
      if (this.accessType == 'modal') {
        this.$parent.toggle('debitorsView')
      } else {
        router.push("/debtors")
      }
    },
    async create() {
      var that = this
      this.createDebtor().then(
        function(result) {
          that.$store.commit("claims/setSelectedDebtor", result.id)
          that.actionBasedOnAccess()
        },
        function(error) {}
      )
    },
    setDefaultCountry() {
      if (this.countries.length !== 0) {
        var textToFind = 'Denmark'
        var DenmarkId = this.countries.filter((countries) => {
          let referenceStringArray = [countries.name]
          const item = JSON.stringify(referenceStringArray).toLowerCase()
          return item.match(textToFind.toLowerCase())
        })
        this.formInput.country = DenmarkId[0].id
        this.formInput.country_name = DenmarkId[0].name
        this.formInput.country_iso_code = DenmarkId[0].iso_code
      }
    },
  },
  created () {
    this.$store.commit('debtors/resetformState')
    this.$store.commit('debtors/resetSetError')
    this.getCountries()
    this.setDefaultCountry()
  },
  beforeMount () {
    // set default account active
    this.setDefaultAccount()
  },
  watch: {
    countries: function () {
      this.setDefaultCountry()
    },
    country: function () {
      var idToFind = this.country
      var CountryId = this.countries.filter((countries) => {
        let referenceStringArray = [countries.id]
        const item = JSON.stringify(referenceStringArray).toLowerCase()
        return item.match(idToFind.toLowerCase())
      })
      this.formInput.country_name = CountryId[0].name
      this.formInput.country_iso_code = CountryId[0].iso_code
      this.$store.commit('debtors/setFieldLimits')
    },
  }
}
</script>
