<template lang="html">
  <div>
    <div class="columns" v-if="!debtors.data">
      <div class="column is-12 main-box mt-12  mx-auto illustration-margin">
        <div id="image-illustration">
          <div class="mb-5 mt-2 px-5">
            <div class="level">
            <div class="level-left">
                <div class="mt-5"><b-skeleton width="100px" :animated="animated"></b-skeleton></div>
            </div>
            <div class="level-right">
                <div class="mt-5"><b-skeleton width="100px" :animated="animated"></b-skeleton></div>
            </div>
          </div>
            <div class="mt-5"><b-skeleton width="100%" :animated="animated"></b-skeleton></div>
           <div class="mt-5"><b-skeleton width="100%" :animated="animated"></b-skeleton></div>
           <div class="mt-5"><b-skeleton width="100%" :animated="animated"></b-skeleton></div>
           <div class="mt-5"><b-skeleton width="100%" :animated="animated"></b-skeleton></div>
           <div class="mt-5"><b-skeleton width="100%" :animated="animated"></b-skeleton></div>
           <div class="mt-5"><b-skeleton width="100%" :animated="animated"></b-skeleton></div>
           <div class="mt-5"><b-skeleton width="100%" :animated="animated"></b-skeleton></div>
           </div>
        </div>
      </div>
    </div>
    <div class="columns" v-if="debtors.data">
        <div class="column is-12 mx-auto">
                    <div class="main-box p-5">
                      <div class="level">
                        <div class="level-left"><debtorIconSidebar :active="true" class="mr-2" /> <span class="title has-text-weight-bold is-size-6">{{$t('debtor.my_debtors')}}</span></div>
                          <div class="level-right">
                            <b-field class="mr-5 mt-3">
                              <input placeholder="Search..." class="input invoice-search" v-model="searchDebtorKey" v-on:keyup.enter="filterDebtors()"/>
                              <p class="control">
                                  <b-button class="button is-primary" @click="filterDebtors()">Search</b-button>
                              </p>
                          </b-field>
                            <!-- <div class="control mr-4">
                              <input class="input search-input" v-model="searchKey" placeholder="Search here">
                          </div> -->
                            <b-button type="is-primary icon-button" class="pl-10"  to="/debtors/create" tag="router-link">
                           <plusIcon :height="25" :width="25"/> {{ $t("debtor.add_new_debtor") }}
                          </b-button>
                          </div>
                        </div>
                        <div>
                          <div v-if='userProfile != null && (userProfile[0].active_account_id === "" || userProfile[0].active_account_id === null)'>
                          <div class="alert alert-warning alert-bordered text-center">
                            <strong>{{$t("dashboard.warning")}}!</strong>
                            <br><br>
                            {{$t("dashboard.not_active_account")}} <br><br>
                            <b><button class="btn btn-success" @click="$router.push('/accounts/create')"> {{$t("account.create_account")}} </button></b>
                          </div>
                        </div>
                          <div v-else>
                              <b-table
                                class="table table-debito"
                                :data='DebtorsData ? DebtorsData : []'
                                paginated
                                backend-pagination
                                :total="totalDebtors"
                                :per-page="debtorsPerPage"
                                @page-change="onPageChange"
                                :current-page="Page"
                                default-sort-direction="asc"
                                default-sort="full_name"
                                v-if="debtors.data && !tableLoading"
                              >
                                <template slot-scope="props">
                                  <b-table-column field="customer_nr" :label="$t('debtor.customer_number')" v-if="returnVendor == 'economic'">
                                    {{props.row.erp_integration_foreign_key}}
                                  </b-table-column>
                                  <b-table-column v-else >

                                  </b-table-column>
                                  <b-table-column field="full_name" :label="$t('general.name')" width="220" sortable>
                                    {{ props.row.full_name }}
                                  </b-table-column>
                                  <b-table-column field="vat_number" :label="$t('account.vat')" width="180" sortable>
                                    {{ props.row.vat_number | ifEmptyDash }}
                                  </b-table-column>
                                  <b-table-column field="address" :label="$t('general.address')" width="390" sortable>
                                    {{ props.row.address }}
                                  </b-table-column>
                                  <b-table-column field="city" :label="$t('general.city')" width="180" sortable>
                                    {{ props.row.city }}
                                  </b-table-column>
                                  <b-table-column field="Countries.name" :label="$t('general.country')" width="180" sortable>
                                    {{ props.row.Countries.name }}
                                  </b-table-column>
                                  <b-table-column field="" :label="$t('account.edit')" width="70">
                                    <span class="text-blue has-cursor-pointer" @click="routeToEdit(props.row.id)"><evaEdit :active="true"/></span>
                                  </b-table-column>
                                  <b-table-column field="deleteDebtor" label="delete" width="100">
                                           <span class="text-blue has-cursor-pointer" @click="deleteDebtorRow(props.row.id)"><evaDelete/></span>
                                  </b-table-column>
                                </template>
                                <template slot="empty">
                                    <section class="section">
                                        <div class="content has-text-grey has-text-centered is-centered">
                                            <img src="../../assets/img/svg/no-debtors-added.svg">
                                            <p class="is-size-5 title has-text-weight-bold mt-5">{{$t('debtor.empty_state_debtor')}}</p>
                                            <p class="has-text-weight-semibold">{{$t('debtor.empty_debtor_subtitle')}}</p>
                                             <router-link to="/debtors/create">{{ $t("debtor.add_new_debtor") }}</router-link>
                                        </div>
                                    </section>
                                </template>
                              </b-table>
                            <div v-if="tableLoading" class="mb-5 mt-2 px-5">
                              <div class="mt-5"><b-skeleton width="100%" :animated="animated"></b-skeleton></div>
                              <div class="mt-5"><b-skeleton width="100%" :animated="animated"></b-skeleton></div>
                              <div class="mt-5"><b-skeleton width="100%" :animated="animated"></b-skeleton></div>
                              <div class="mt-5"><b-skeleton width="100%" :animated="animated"></b-skeleton></div>
                              <div class="mt-5"><b-skeleton width="100%" :animated="animated"></b-skeleton></div>
                              <div class="mt-5"><b-skeleton width="100%" :animated="animated"></b-skeleton></div>
                              <div class="mt-5"><b-skeleton width="100%" :animated="animated"></b-skeleton></div>
                              </div>

                          </div>
                        </div>
                  </div>
              </div>
          </div>
       </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { PAGINATED_ROWS } from '@/helpers'
export default {
  data () {
    return {
      debtorsPerPage: 15,
      rangeBefore: 3,
      rangeAfter: 1,
      animated: true,
      Page: 1,
      searchDebtorKey: "",
      active: true,
      debtorsRow: [],
      isVatAsc: true,
      isNameAsc: true
    }
  },
  computed: {
    ...mapState('debtors', {
      debtors: state => state.debtors,
      tableLoading: state => state.tableLoading,
    }),
    ...mapState("accountingSystem", {
      vendor: state => state.vendor
    }),
    ...mapState('accounts', {
      userProfile: state => state.userProfile,
    }),
    returnVendor() {
      if (this.vendor) {
        return this.vendor.vendor_identifier
      } return false
    },
    totalDebtors () {
      if (this.debtors) {
        return this.debtors.pagination.count
      } return false
    },
    currentDebtorPage() {
      if (this.debtors.pagination) {
        console.log(this.debtors.pagination.current_page)
        return this.debtors.pagination.current_page
      } else return false
    },
    isLoading() {
      if (this.tableLoading || this.debtors.data == null) {
        return true
      }
      return false
    },
    DebtorsData () {
      return Object.values(this.debtors.data)
    },
    countPaginatedRows() {
      return PAGINATED_ROWS
    }
  },
  methods: {
    ...mapActions('debtors', {
      deleteDebtor: 'deleteDebtor',
      getDebtors: 'getDebtors',
    }),
    ...mapActions("accountingSystem", {
      integrationCheck: "integrationCheck"
    }),
    onPageChange(page) {
      this.Page = page
      if (this.searchDebtorKey) {
        let pageNo = 'page=' + this.Page + '&search_term=' + this.searchDebtorKey
        this.getDebtors(pageNo)
      } else {
        let pageNo = 'page=' + this.Page
        this.getDebtors(pageNo)
      }
    },
    filterDebtors() {
      let searchValue = 'page=' + this.Page + '&search_term=' + this.searchDebtorKey
      this.getDebtors(searchValue)
    },
    deleteDebtorRow(id) {
      this.deleteDebtor(id)
    },
    routeToEdit(id) {
      this.$router.push("/debtors/edit/" + id)
    },
  },
  filters: {
    ifEmptyDash: function(string) {
      if (string === "" || string === null) {
        return "-"
      }
      return string
    },
  },
  mounted() {
    this.integrationCheck()
    this.getDebtors()
  }
}
</script>
