<template>
  <div class="mb-24">
    <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="true">
       <img src="../../assets/img/svg/settings-skeleton.svg" />
    </b-loading>
    <div class="columns">
      <div class="column is-12">
      <AccountsIndex />
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="card card-settings">
          <header class="card-header">
             <p class="card-header-title">
               <settingsIconSidebar :active="true" /> <span class="pl-4"> {{$t("subscription.auto_bookkeeping")}} </span>
            </p>
          </header>
           <div class="card-content mx-8 py-10">
             <div class="columns">
               <div class="column is-10">
                {{$t("subscription.bookkeeping_option_1")}}
               </div>
               <div class="column is-2 has-text-right">
                  <b-switch v-model="isSwitchedCustom1"
                true-value="ON"
                false-value="OFF">
                {{ isSwitchedCustom1 }}
            </b-switch>
               </div>
             </div>
             <div class="columns">
               <div class="column is-10">
                 {{$t("subscription.bookkeeping_option_2")}}
               </div>
               <div class="column is-2 has-text-right">
                  <b-switch v-model="isSwitchedCustom2"
                true-value="ON"
                false-value="OFF">
                {{ isSwitchedCustom2 }}
            </b-switch>
               </div>
             </div>
           </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="card card-settings">
          <header class="card-header">
            <p class="card-header-title">
              <userNotification :active="true" /> <span class="pl-4"> {{ $t('reminders.reminders') }} </span>
            </p>
          </header>
          <div class="card-content mx-8 mt-2">
            <p class="is-size-6-half">{{ $t('reminders.customize_reminders') }}</p>
            <table class="table table-other table-border-db is-full-width mt-5">
              <thead>
                <tr>
                  <td width="20%">{{ $t('reminders.reminder_type') }}</td>
                  <td width="60%">{{ $t('claim.description') }}</td>
                  <td width="20%" class="has-text-centered">{{ $t('reminders.set_duration') }}</td>
                </tr>
              </thead>
              <tbody class="is-size-6-half">
                <tr>
                  <td class="has-text-weight-semibold pl-4 pb-10">
                    <b-checkbox v-model="soft_warning_value_set">
                        {{ $t('reminders.soft_warning') }}
                    </b-checkbox>
                  </td>
                  <td>
                    <p class="pr-20">
                      {{ $t('reminders.soft_warning_optional') }}
                    </p>
                  </td>
                  <td>
                    <PlusMinus :min="2" @input="(value) => {soft_warning_value = value}" :value="soft_warning_value" />
                  </td>
                </tr>
                <tr>
                  <td class="has-text-weight-semibold pl-4 pb-10">
                    <b-checkbox v-model="warning_1_value_set" disabled>
                      {{ $t('reminders.warning_1') }}
                    </b-checkbox>
                  </td>
                  <td>
                    <p class="pr-20">
                      {{ $t('reminders.warning_1_reminder') }}
                    </p>
                  </td>
                  <td>
                    <PlusMinus @input="(value) => {warning_1_value = value}" :value="warning_1_value"  />
                  </td>
                </tr>
                <tr>
                  <td class="has-text-weight-semibold pl-4 pb-10">
                    <b-checkbox v-model="warning_2_value_set">
                      {{ $t('reminders.warning_2') }}
                    </b-checkbox>
                  </td>
                  <td>
                    <p class="pr-20">
                      {{ $t('reminders.warning_2_reminder') }}
                    </p>
                  </td>
                  <td>
                    <PlusMinus @input="(value) => {warning_2_value = value}" :value="warning_2_value" />
                  </td>
                </tr>
                <tr>
                  <td class="has-text-weight-semibold pl-4 pb-10">
                    <b-checkbox v-model="warning_3_value_set">
                        {{ $t('reminders.warning_3') }}
                    </b-checkbox>
                  </td>
                  <td>
                    <p class="pr-20">
                      {{ $t('reminders.warning_3_reminder') }}
                    </p>
                  </td>
                  <td>
                    <PlusMinus @input="(value) => {warning_3_value = value}" :value="warning_3_value" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
        <div class="columns">
      <div class="column is-12">
        <div class="card card-settings">
          <header class="card-header">
            <p class="card-header-title"> <reminderIcon :active="true" class="mr-4"/> {{$t('account.notifications')}}</p>
          </header>
        <div class="card-content">
          <div class="content">
            <p class="is-size-6-half has-text-weight-semibold">{{$t('account.recieve_updates')}}</p>
            <table class="table is-full-width table-border-db py-10">
              <tbody>
                <tr >
                  <td>
                    <b-radio v-model="notification_summary_interval"
                        class="py-2"
                        name="instantly"
                        native-value="INSTANTLY">
                       <span class="is-size-6-half has-text-weight-semibold"> {{$t('account.instantly')}}</span>
                    </b-radio>
                  </td>
                  <td>  <span class="is-size-6-half"> {{$t('account.instantly_text')}}</span></td>
                </tr>
                <tr>
                  <td>
                     <b-radio v-model="notification_summary_interval"
                        class="py-2"
                        name="daily"
                        native-value="DAILY">
                      <span class="is-size-6-half has-text-weight-semibold"> {{$t('account.daily')}} </span>
                    </b-radio>
                   </td>
                  <td> <span class="is-size-6-half">{{$t('account.daily_text')}}</span></td>
                </tr>
                <tr>
                  <td>
                     <b-radio v-model="notification_summary_interval"
                      class="py-2"
                      name="weekly"
                      native-value="WEEKLY">
                     <span class="is-size-6-half has-text-weight-semibold">   {{$t('account.weekly')}} </span>
                    </b-radio></td>
                  <td> <span class="is-size-6-half">{{$t('account.weekly_text')}} </span></td> 
                </tr>
                <tr>
                  <td>
                     <b-radio v-model="notification_summary_interval"
                      class="py-2"
                      name="monthly"
                      native-value="MONTHLY">
                    <span class="is-size-6-half has-text-weight-semibold"> {{$t('account.monthly')}} </span>
                    </b-radio>
                    </td>
                  <td> <span class="is-size-6-half">{{$t('account.monthly_text')}} </span> </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        </div>
      </div>
    </div>
        <div class="columns">
      <div class="column">
        <div class="card card-settings">
          <header class="card-header">
             <p class="card-header-title">
               <awardIcon :active="true" /> <span class="pl-4"> Subscription plans </span>
            </p>
          </header>
           <div class="card-content mx-8 py-10">
             <div class="columns ">
               <div class="column is-12 has-text-centered">
                <subscription/>
               </div>
             </div>
           </div>
        </div>
      </div>
    </div>
    <div class="buttons mt-5 mb-20">
          <b-button type="is-primary is-btn-fix submit-button" :disabled="form_disabled ? true : false"
            @click="postData">
            <template v-if="!form_disabled">
              {{ $t("account.edit_account") }}
            </template>
            <span v-else >
              <Loader2 />
            </span>
          </b-button>
        </div>
  </div>
</template>
<script>
import PlusMinus from '@/components/PlusMinus.vue'
import { mapState, mapActions } from "vuex"
import AccountsIndex from '@/pages/accounts/AccountsIndex.vue'
import accountService from '@/services/accounts'
import subscription from '@/pages/subscription/subscription.vue'
import awardIcon from '@/components/svg/award-icon.vue'
export default {
  components: {
    awardIcon,
    PlusMinus,
    AccountsIndex,
    subscription
  },
  data() {
    return {
      multiline: true,
      isSwitchedCustom1: 'OFF',
      isSwitchedCustom2: 'OFF',
      form_disabled: false,
      soft_warning_value: 2,
      warning_1_value: 14,
      warning_2_value: 14,
      warning_3_value: 14,
      soft_warning_value_set: false,
      warning_1_value_set: true,
      warning_2_value_set: true,
      warning_3_value_set: true,
      dunning_id: null,
      isLoading: true,
      notification_summary_interval: 'DAILY'
    }
  },
  computed: {
    ...mapState("accounts", {
      userProfile: state => state.userProfile,
      accounts: state => state.accounts,
      formInput: state => state.formInput
    }),
    // current active account
    selectedAccountsDetail: function() {
      if (this.accounts.data && this.userProfile !== null) {
        let account = this.accounts.data.filter(d => d.id == this.userProfile[0].active_account_id)
        return account[0]
      }
      return false
    },
  },
  methods: {
    ...mapActions('accounts', {
      getDunningConfigurations: 'getDunningConfigurations',
      postDunningConfigurations: 'postDunningConfigurations',
      updateAccountsState: 'updateAccountsState'
    }),
    async postData() {
      this.form_disabled = true
      await accountService.editAccount(this.selectedAccountsDetail.id, { notification_summary_interval: this.notification_summary_interval })
        .then(response => {
          this.updateAccountsState()
        })
      let formData = {}
      formData.soft_reminder_freeze = this.soft_warning_value_set ? this.soft_warning_value : null
      formData.warning_one_freeze = this.warning_1_value_set ? this.warning_1_value : null
      formData.warning_two_freeze = this.warning_2_value_set ? this.warning_2_value : null
      formData.warning_three_freeze = this.warning_3_value_set ? this.warning_3_value : null
      if (this.dunning_id) {
        this.postDunningConfigurations({ 'data': formData, 'method': "put", "id": this.dunning_id })
          .then(response => {
            this.form_disabled = false
            this.$router.push('/usersettings')
          })
      } else {
        this.postDunningConfigurations({ 'data': formData, 'method': "post", "id": null })
          .then(response => {
            this.form_disabled = false
            this.$router.push('/usersettings')
          })
      }
    },
    fetchDunningData() {
      this.isLoading = true
      this.getDunningConfigurations().then(response => {
        this.isLoading = false
        if (response.data.data[0]) {
          this.soft_warning_value = response.data.data[0].soft_reminder_freeze
          this.warning_1_value = response.data.data[0].warning_one_freeze
          this.warning_2_value = response.data.data[0].warning_two_freeze
          this.warning_3_value = response.data.data[0].warning_three_freeze
          this.soft_warning_value_set = !!response.data.data[0].soft_reminder_freeze
          this.warning_1_value_set = !!response.data.data[0].warning_one_freeze
          this.warning_2_value_set = !!response.data.data[0].warning_two_freeze
          this.warning_3_value_set = !!response.data.data[0].warning_three_freeze
          this.dunning_id = response.data.data[0].id
        } else {
          this.soft_warning_value = 2
          this.warning_1_value = 14
          this.warning_2_value = 14
          this.warning_3_value = 14
          this.soft_warning_value_set = false
          this.warning_1_value_set = true
          this.warning_2_value_set = true
          this.warning_3_value_set = true
          this.dunning_id = null
        }
      })
    }
  },
  mounted () {
    this.fetchDunningData()
    if (this.selectedAccountsDetail) {
      this.notification_summary_interval = this.selectedAccountsDetail.notification_summary_interval
    }
  },
  watch: {
    selectedAccountsDetail: function (val) {
      this.fetchDunningData()
      this.notification_summary_interval = this.selectedAccountsDetail.notification_summary_interval
    },
    soft_warning_value_set: function (val) {
      if (val && this.soft_warning_value == null) {
        this.soft_warning_value = 2
      }
    },
    warning_1_value_set: function (val) {
      if (val && this.warning_1_value == null) {
        this.warning_1_value = 14
      }
      if (val == false) {
        this.warning_1_value_set = true
      }
    },
    warning_2_value_set: function (val) {
      if (val && this.warning_2_value == null) {
        this.warning_2_value = 14
      }
      if (val == false) {
        this.warning_3_value_set = false
      }
    },
    warning_3_value_set: function (val) {
      if (val && this.warning_3_value == null) {
        this.warning_3_value = 14
      }
      if (val == true) {
        this.warning_1_value_set = true
        this.warning_2_value_set = true
      }
    }
  }
}
</script>
<style lang="scss" scoped="true">
  .submit-button{
    position: relative;
    left: 85%;
  }
</style>
