<template lang="html">
  <div class="container">
      <div class="columns">
        <div class="column is-6">
          <div class="card">
            <header class="card-header">
            <p class="card-header-title is-size-6 has-text-weight-bold"> <usersIconSidebar :active="true" />{{ $t("auth.user_profile_setting") }}</p>
            </header>
            <div v-if="!userInfoLoading" class="px-10 card-content">
              <div class="columns">
                <div class="column is-12">
              <div class="columns" v-if="formInput.serverError">
                <div class="column is-12">
                  <div class="alert alert-pink fade show alert-outline" >
                    <p>
                      <i class="la la-info-circle alert-icon"></i>
                      <strong>{{ $t("auth.oops") }}!</strong> {{formInput.serverError}}
                    </p>
                  </div>
                </div>
              </div>
              <p class="is-size-6 has-text-weight-bold">{{$t("auth.edit_personal_details")}}</p>
              <hr>
              <div class="columns">
                <div class="column is-12">
                  <label class="label text-label">{{ $t("auth.first_name") }}</label>
                  <div class="input-group mb-3">
                    <input type="text" class="input custom-input-styles" :placeholder="$t('auth.first_name')" v-model="formInput.first_name" aria-describedby="basic-addon2">
                  </div>
                </div>
                </div>
                <div class="columns">
                <div class="form-group column is-12">
                  <label class="label text-label">{{ $t("auth.last_name") }}</label>
                  <div class="input-group mb-3">
                    <input type="text" class="input custom-input-styles" :placeholder="$t('auth.last_name')" v-model="formInput.last_name" aria-describedby="basic-addon2">
                  </div>
                </div>
                </div>
                <div class="columns">
                <div class="form-group column is-12">
                  <label class="label text-label">{{ $t("general.email") }}</label>
                  <div class="input-group mb-3">
                    <input type="text" class="input custom-input-styles" :placeholder="$t('general.email')" v-model="formInput.email" aria-describedby="basic-addon2">
                  </div>
                </div>
                </div>
                <div class="columns">
                <div class="form-group column is-12">
                  <label class="label text-label">{{ $t("general.phone") }}</label>
                  <div class="input-group mb-3">
                    <input type="text" class="input custom-input-styles" :placeholder="$t('general.phone')" v-model="formInput.phone" aria-describedby="basic-addon2">
                  </div>
                </div>
                </div>
              <div class="columns">
                <div class="column is-12">
                   <label class="label text-label" >{{ $t("auth.password") }}</label>
                  <div class="field has-addons">
                    <div class="mb-3 control is-expanded">
                      <input type="password" class="input custom-input-styles control" :placeholder='$t("auth.password")' v-model="formInput.password" readonly>
                    </div>
                   <div class="control">
                     <b-button  @click.prevent="showPasswordModal" type="is-primary"> <evaEdit :active="false"/></b-button>
                    </div>
               </div>
                </div>
              </div>
              <div class="buttons is-centered">
                  <b-button type="button is-light" class="is-btn-fix" tag="router-link" to='/dashboard'>Cancel
                  </b-button>
                  <b-button type="button is-primary" class="is-btn-fix" @click.prevent="saveNameChanges" :loading="formInput.infoButtonDisabled">
                    <template v-if="!formInput.infoButtonDisabled">
                      {{ $t("auth.save_changes") }}
                    </template>
                  </b-button>
              </div>
              </div>
               
              </div>
            </div>
            <!-- Spinner for when user info is loading -->
            <div v-else class="preloader-backdrop">
              <div class="page-preloader">{{$t('general.loading')}}</div>
            </div>
          </div>
        </div>
      </div>
    <!-- Change Password Modal -->
    <div v-if="passwordModal" class="modal" id="overlay" role="dialog" aria-hidden="true" style="display: block;">
      <div class="columns">
        <div class="column is-12">
      <div class="modal-background" role="document">
        <div class="modal-card mt-10">
          <div class="modal-card-head">
            <h5 class="modal-card-title">{{ $t("auth.change_password") }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click.prevent="passwordModal=false">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-card-body">
            <div class="columns" v-if="formInput.error">
              <div class="column is-12">
                <div class="alert alert-pink fade show alert-outline" >
                  <p>
                    <i class="la la-info-circle alert-icon"></i>
                    <strong>{{ $t("auth.oops") }}!</strong> {{formInput.error}}
                  </p>
                </div>
              </div>
            </div>
            <div class="form-group mb-4">
              <label class="label text-label" for="oldPassword">{{ $t("auth.old_password") }}</label>
              <input class="input custom-input-styles" maxlength="255" type="password" name="oldPassword" :placeholder="$t('auth.old_password')" v-model="oldPassword" required>
            </div>
            <div class="form-group mb-4">
              <label class="label text-label" for="newPassword">{{ $t("auth.new_password") }}</label>
              <input class="input custom-input-styles" maxlength="255" type="password" name="newPassword" :placeholder="$t('auth.new_password')" v-model="newPassword" required>
            </div>
            <div class="form-group mb-4">
              <label class="label text-label" for="confirmPassword">{{ $t("auth.confirm_password") }}</label>
              <input class="input custom-input-styles" maxlength="255" type="password" name="confirmPassword" :placeholder="$t('auth.confirm_password')" v-model="confirmPassword" required>
            </div>
          </div>
          <div class="modal-card-foot">
            <b-button type="button is-primary is-btn-fix" :disabled="formInput.buttonDisabled ? true : false" class="btn edit-btn" @click.prevent="savePasswordChanges">
              <template v-if="!formInput.buttonDisabled">{{ $t("auth.save_changes") }}</template>
              <span v-else v-html="buttonSpinner">
                {{buttonSpinner}}
              </span>
            </b-button>
            <b-button type="button" class="is-btn-fix is-light" data-dismiss="modal" @click.prevent="passwordModal=false">
              {{ $t("auth.close") }}
            </b-button>
          </div>
        </div>
      </div>
      </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState, mapGetters, mapActions } from "vuex"
import store from "@/store"
import moment from "moment"
export default {
  data() {
    return {
      passwordModal: false,
      oldPassword: "",
      newPassword: "",
      confirmPassword: "",
      id: ""
    }
  },
  computed: {
    ...mapState("auth", {
      formInput: state => state.formInput,
      userInfoLoading: state => state.userInfoLoading
    }),
    ...mapState("accountingSystem", {
      invoices: state => state.invoices
    }),
    ...mapGetters("auth", {
      buttonSpinner: "buttonSpinner"
    }),
    totalInvoices: function() {
      if (this.invoices.data) {
        return this.invoices.pagination.count
      }
      return "-"
    },
    dateCreated: function() {
      if (this.vendor) {
        return this.vendor.created
      }
      return "_"
    }
  },
  methods: {
    ...mapActions("accountingSystem", {
      unSyncAccount: "unSyncAccount",
      getInvoices: "getInvoices",
      integrationCheck: "integrationCheck"
    }),
    ...mapActions("auth", {
      getUserInfo: "getUserInfo"
    }),
    ...mapActions("accounts", {
      getUserProfile: "getUserProfile"
    }),
    showPasswordModal() {
      this.passwordModal = true
    },
    saveNameChanges() {
      if (this.id) {
        store.dispatch("auth/updateUserInfo", this.id).then(response => {
          if (response.data.success) {
            this.getUserProfile()
            this.$router.push("/")
          }
        })
      }
    },
    savePasswordChanges() {
      this.formInput.error = ""
      let that = this
      if (this.id) {
        if (this.oldPassword) {
          if (this.newPassword && this.confirmPassword) {
            if (this.newPassword === this.confirmPassword) {
              let payload = {
                id: that.id,
                oldPassword: that.oldPassword,
                newPassword: that.newPassword
              }
              store
                .dispatch("auth/updateUserPassword", payload)
                .then(response => {
                  if (response === true) {
                    that.$router.push("/")
                  } else {
                    that.formInput.error = that.$t(
                      "auth.wrong_old_password_error"
                    )
                    console.error(response)
                  }
                })
            } else {
              this.formInput.error = this.$t("auth.password_change_error")
            }
          } else {
            this.formInput.error = this.$t("auth.empty_password_field_error")
          }
        } else {
          this.formInput.error = this.$t("auth.no_old_password_error")
        }
      }
    }
  },
  created() {
    this.getInvoices()
    this.getUserInfo().then(response => {
      this.id = response.id
    })
    this.$store.commit("auth/resetUserSettingForm")
  }
}
</script>
<style scoped>
.accounting-userprofile {
  height: 60px;
}
.border-card {
  border-bottom: 1px solid white;
}

.modal-dialog {
  margin: 20vh auto;
  max-height: calc(100vh - 150px);
}
</style>
