<template>
    <div class="row mt-3">
      <div class="col-10 mx-auto mt-5">
        <div class="col-12 ibox bg-white mt-5" v-if="!loading">
          <div class="ibox-head col-12">
            <div class="ibox-title" id ="Dunning-title"> {{$t('dunnings.dunning_title')}} </div>
          </div>
          <div class="ibox-body" v-if="invoiceDunnings">
            <!-- Form for Debtors Email -->
            <div class="row mb-4">
                <div class="col-5">
                <div  class="col-12" v-bind:class="{'has-error': styling.debtors_email }">
               <label>{{ $t("account.email") }}</label>
              <input type="text" class="form-control"
                    :placeholder='$t("account.email")'
                    v-model.trim="invoiceDunnings.debtor_email"
                    @input="resetErrors()"
                    >
                   </div>
                   <div class="col-12">
                   <label class="mt-2">{{$t('dunnings.cc_email')}} <small class="text-muted"><em>({{$t("dunnings.optional_email")}})</em></small></label>
              <input type="text" class="form-control"
                    :placeholder='$t("account.email")'
                    v-model.trim="invoiceDunnings.cc_email"
                    >
                   </div>
                    <div class="col-12">
                   <label class="mt-2">{{$t('dunnings.bcc_email')}} <small class="text-muted"><em>({{$t("dunnings.optional_email")}})</em></small></label>
              <input type="text" class=" form-control"
                    :placeholder='$t("account.email")'
                    v-model.trim="invoiceDunnings.bcc_email"
                    >
                  </div>
                  </div>
            <!-- Warnings and Date section -->
              <div class="col-4">
              <div class="col-12 warning">
                <div class="pl-2">{{$t('dunnings.warning_one')}}</div>
                <date-picker
                    :disabled="invoiceDunnings.warning_1_file_path ? true : false"
                    class="datepicker-placement"
                    v-model="invoiceDunnings.warning_1"
                    placeholder="dd.mm.yyyy"
                    lang="en"
                    :not-before="tenDaysLater()"
                    />
              </div>
              <div class="col-12 warning">
                <div class="pl-2 mt-2"> {{$t('dunnings.warning_two')}} </div>
                  <date-picker
                    :disabled="invoiceDunnings.warning_2_file_path ? true : false"
                    class="datepicker-placement"
                    v-model="invoiceDunnings.warning_2"
                    placeholder="dd.mm.yyyy"
                    lang="en"
                    :not-before="warningTwoDate()"
                    />
              </div>
              <div class="col-12 warning">
                <div class="pl-2 mt-2">{{$t('dunnings.warning_three')}} </div>
                <date-picker
                    :disabled="invoiceDunnings.warning_3_file_path ? true : false"
                    class="datepicker-placement"
                    v-model="invoiceDunnings.warning_3"
                    placeholder="dd.mm.yyyy"
                    lang="en"
                    :not-before="warningThreeDate()"
                    />
              </div>
              </div>
              <!-- Checkboxes to charge amount per reminder -->
              <div class="col-3">
                <div class="col-12 checkbox1-placement">
            <b-checkbox
              :disabled="!invoiceDunnings.warning_1 || (invoiceDunnings.warning_1_file_path ? true : false)"
              v-model="invoiceDunnings.warning_1_amount"
            >
             {{$t('dunnings.charge_amount')}}
            </b-checkbox>
                </div>
                <div class="col-12 checkbox2-placement">
            <b-checkbox
              :disabled="!invoiceDunnings.warning_2 || (invoiceDunnings.warning_2_file_path ? true : false)"
              v-model="invoiceDunnings.warning_2_amount"
              >
              {{$t('dunnings.charge_amount')}}
            </b-checkbox>
                </div>
                <div class="col-12 checkbox3-placement">
            <b-checkbox
              :disabled="!invoiceDunnings.warning_3 || (invoiceDunnings.warning_3_file_path ? true : false)"
              v-model="invoiceDunnings.warning_3_amount"
              >
             {{$t('dunnings.charge_amount')}}
            </b-checkbox>
                </div>
              </div>
            </div>
            <div class="col-12 mb-4 mt-4">
              <label>{{$t('dunnings.email_message')}}</label>
              <textarea
                  v-model="invoiceDunnings.email_text"
                  class="form-control resizing"
                  rows="5"
                  :placeholder= "$t('dunnings.enter_message')"
                ></textarea>
                <!-- Buttons to send an cancel warnings -->
              <button class="mt-4 btn btn-fix btn-success" @click="submitDunning">
                <span v-if="!loading">{{$t('dunnings.send_warning')}}</span>
                <span v-else v-html="buttonSpinner"> {{buttonSpinner}}</span>
              </button>
               <router-link to="/accountingSystem" class="mt-4 btn btn-fix btn-outline-success"> {{$t('general.cancel')}} </router-link>
            </div>
            <!-- Import of the dunning info table  -->
            <dunningInfo></dunningInfo>
             <!---- Accordion to show the invoice information -->
            <div class="row">
            <Accordion>
               <div slot="header">{{$t('dunnings.invoice_summary')}}</div>
              <div class="row col-md-12 mt-4 mx-auto" v-if="singleInvoice.data">
                      <div class="col-3">
                        <h6 class="mb-3 heading-color">{{$t("claims_add.buffer_modal.invoice_number")}}:</h6>
                        <p class="font-light">{{singleInvoice.data.invoice_number}}</p>
                      </div>
                      <div class="col-3">
                        <h6 class="mb-3 heading-color">{{$t("claim.invoice_date")}}:</h6>
                        <p class="font-light">{{singleInvoice.data.issue_date | formatDate}}</p>
                      </div>
                      <div class="col-3">
                        <h6 class="mb-3 heading-color">{{$t("claim.due_date")}}:</h6>
                        <p class="font-light">{{singleInvoice.data.due_date | formatDate }}</p>
                      </div>
                      <div class="col-3">
                        <h6 class="mb-3 heading-color">{{$t("claim.amount")}}:</h6>
                        <p class="font-light">{{singleInvoice.data.gross_amount}}</p>
                      </div>
                      <div class="col-3">
                        <h6 class="mb-3 heading-color">{{$t("erpIntegration.debtor")}}:</h6>
                        <p class="font-light" v-if="singleInvoice.data.Debtors.first_name"> {{singleInvoice.data.Debtors.first_name}} {{singleInvoice.data.Debtors.last_name}} </p>
                        <p class="font-light" v-else-if="singleInvoice.data.Debtors.company_name">{{singleInvoice.data.Debtors.company_name}} </p>
                      </div>
                      <div class="col-3">
                        <h6 class="mb-3 heading-color">{{$t("general.vat_number")}}:</h6>
                        <p class="font-light" v-if="singleInvoice.data.Debtors.vat_number">{{singleInvoice.data.Debtors.vat_number}}</p>
                         <p class="font-light" v-else> - </p>
                      </div>
                      <div class="col-3">
                        <h6 class="mb-3 heading-color">{{$t("general.email")}}:</h6>
                        <p class="font-light">{{singleInvoice.data.Debtors.email}}</p>
                      </div>
                      <div class="col-3">
                        <h6 class="mb-3 heading-color">{{$t("general.phone")}}:</h6>
                        <p class="font-light" v-if="singleInvoice.data.Debtors.phone">{{singleInvoice.data.Debtors.phone}}</p>
                        <p class="font-light" v-else>-</p>
                      </div>
                      </div>
            </Accordion>
            </div>
          </div>
          </div>
          <div v-else>
            <BarLoader class="mt-5"/>
          </div>
        </div>
      </div>
</template>
<script>
import { mapState, mapActions, mapGetters } from 'vuex'
import Accordion from '@/components/Accordion.vue'
import DatePicker from "vue2-datepicker"
import moment from "moment"
import { validEmail } from '@/helpers'
import dunningInfo from '@/pages/dunningSystem/dunningInfo.vue'

export default {
  props: {
    invoice_id: {
      required: true,
      type: String
    }
  },
  data() {
    return {
      styling: {
        debtors_email: false,
        cc_email: false,
        bcc_email: false
      }
    }
  },
  components: {
    Accordion,
    dunningInfo,
    DatePicker
  },
  computed: {
    ...mapState('accountingSystem', {
      singleInvoice: state => state.singleInvoice,
      invoiceDunnings: state => state.invoiceDunnings,
      loading: state => state.loading
    }),
    ...mapGetters('auth', {
      buttonSpinner: "buttonSpinner"
    }),
    getWarningDate1() {
      return [this.invoiceDunnings.warning_1, this.invoiceDunnings.warning_2, this.invoiceDunnings.warning_3]
    },
  },
  methods: {
    ...mapActions('accountingSystem', {
      fetchInfo: 'fetchInfo',
      getInvoiceDunnings: 'getInvoiceDunnings',
      editInvoiceDunnings: 'editInvoiceDunnings'
    }),
    // to reset debtor email error
    resetErrors() {
      for (var property in this.styling) {
        this.styling[property] = false
      }
    },
    // validation for debtors email
    validateForm() {
      let validate = true
      this.resetErrors()
      if (!validEmail(this.invoiceDunnings.debtor_email)) {
        this.styling.debtors_email = true
        validate = false
      }
      if (!this.invoiceDunnings.cc_email == null || !this.invoiceDunnings.cc_email == "") {
        if (!validEmail(this.invoiceDunnings.cc_email)) {
          this.styling.cc_email = true
          validate = false
        }
      }
      if (!this.invoiceDunnings.bcc_email == null || !this.invoiceDunnings.bcc_email == "") {
        if (!validEmail(this.invoiceDunnings.bcc_email)) {
          this.styling.bcc_email = true
          validate = false
        }
      }
      return validate
    },
    submitDunning() {
      if (this.validateForm()) {
        this.editInvoiceDunnings(this.invoice_id)
      }
    },
    tenDaysLater() {
      if (this.singleInvoice.data) {
        return moment(this.singleInvoice.data.due_date).add(1, 'days')
      }
      return moment()
    },
    warningTwoDate() {
      if (this.invoiceDunnings.warning_1) {
        return moment(this.invoiceDunnings.warning_1).add(10, 'days')
      } else {
        return moment().add(10, 'days')
      }
    },
    warningThreeDate() {
      if (this.invoiceDunnings.warning_2) {
        return moment(this.invoiceDunnings.warning_2).add(10, 'days')
      } else if (this.invoiceDunnings.warning_1) {
        return moment(this.invoiceDunnings.warning_1).add(10, 'days')
      } else {
        return moment().add(10, 'days')
      }
    },
    unCheckBoxes() {
      if (!this.invoiceDunnings.warning_1) {
        this.invoiceDunnings.warning_1_amount = false
      }
      if (!this.invoiceDunnings.warning_2) {
        this.invoiceDunnings.warning_2_amount = false
      }
      if (!this.invoiceDunnings.warning_3) {
        this.invoiceDunnings.warning_3_amount = false
      }
    }
  },
  watch: {
    getWarningDate1() {
      this.unCheckBoxes()
    }
  },
  created() {
    this.getInvoiceDunnings(this.invoice_id)
    this.fetchInfo(this.invoice_id)
  }
}
</script>
<style scoped>
.datepicker-placement {
  margin: 5px;
}
.checkbox1-placement {
  margin-top: 32px;
}
.checkbox2-placement {
  margin-top: 45px;
}
.checkbox3-placement {
  margin-top: 52px !important;
}
.resizing {
  resize: none;
}
</style>
