<template>
    <div class="row">
          <div id="overlay" v-on:click.self="toggle('hide', '')" @keydown.esc="toggle('hide', '')">
              <div class="view" id="fileView">
                </div>
            </div>
            <Accordion class="mt-3 mb-4">
            <div slot="header">{{$t("dunnings.dunning_history")}}</div>
            <div class="col-md-12 mx-auto">
              <table class="table mt-4" v-if="invoiceDunnings">
                    <thead class="thead-default">
                      <tr>
                          <th>{{$t("dunnings.dunning_no")}}</th>
                          <th>{{$t("dunnings.warning_date")}}</th>
                          <th>{{$t("dunnings.warning_status")}}</th>
                          <th>{{$t("dunnings.warning_file")}}</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr v-if="invoiceDunnings.warning_1_file_path">
                          <td>1</td>
                          <td>{{invoiceDunnings.warning_1 | formatDate}}</td>
                          <td>{{$t("dunnings.warning_created")}}</td>
                          <td>
                            <span v-on:click="toggle('show', invoiceDunnings.warning_1_file_path)" class="file-icon"
                            v-if="showIcon(invoiceDunnings.warning_1_file_path)">
                            <i style="font-size:20px;" class="ti-eye timeline-icon"></i>
                          </span>
                          <span v-else> - </span>
                          </td>
                      </tr>
                      <tr v-if="invoiceDunnings.warning_2_file_path">
                          <td>2</td>
                           <td>{{invoiceDunnings.warning_2 | formatDate}}</td>
                          <td>{{$t("dunnings.warning_created")}}</td>
                          <td>
                             <span v-on:click="toggle('show', invoiceDunnings.warning_2_file_path)" class="file-icon"
                            v-if="showIcon(invoiceDunnings.warning_2_file_path)">
                            <i style="font-size:20px;" class="ti-eye timeline-icon"></i>
                          </span>
                          <span v-else> - </span>
                          </td>
                      </tr>
                      <tr v-if="invoiceDunnings.warning_3_file_path">
                          <td>3</td>
                          <td>{{invoiceDunnings.warning_3 | formatDate}}</td>
                          <td>{{$t("dunnings.warning_created")}}</td>
                          <td>
                             <span v-on:click="toggle('show', invoiceDunnings.warning_3_file_path)" class="file-icon"
                            v-if="showIcon(invoiceDunnings.warning_3_file_path)">
                            <i style="font-size:20px;" class="ti-eye timeline-icon"></i>
                          </span>
                          <span v-else> - </span>
                          </td>
                      </tr>
                  </tbody>
              </table>
              </div>
          </Accordion>
          </div>
</template>
<script>
import Accordion from '@/components/Accordion.vue'
import { mapState } from 'vuex'
import { fileReadableType } from '@/helpers'
export default {
  components: {
    Accordion
  },
  computed: {
    ...mapState('accountingSystem', {
      invoiceDunnings: state => state.invoiceDunnings,
    }),
    dunnings() {
      if (this.invoiceDunnings) {
        return [Object(this.invoiceDunnings)]
      }
      return []
    },
  },
  methods: {
    toggle(event, dunningFile) {
      if (event == "show") {
        var file = '<object data="' +
          process.env.ROOT_ADDRESS +
          "webroot/files/EconomyPie/invoices/" + dunningFile + '" id="fileViewInner" style="width:100%; height:98%;" />'
        document.getElementById("fileView").innerHTML = file
        document.getElementById("overlay").style.display = "block"
      } else {
        document.getElementById("overlay").style.display = "none"
      }
    },
    showIcon(file_name) {
      if (file_name) {
        var fileType = fileReadableType(file_name)
        if (fileType == "Image") {
          return true
        } else if (fileType == "PDF") {
          return true
        }
      }
      return false
    },
  }

}
</script>
<style scoped>
</style>
