<template>
    <div>
        <v-navigation-drawer
        v-model="drawer"
        app
        >
        <v-list dense>
            <v-list-item v-on:click="alert()">
            <v-list-item-action>
                <v-icon>home</v-icon>
            </v-list-item-action>
            <v-list-item-content>
                <v-list-item-title>Home</v-list-item-title>
            </v-list-item-content>
            </v-list-item>
            <v-list-item v-on:click="alert()">
            <v-list-item-action>
                <v-icon>contact_mail</v-icon>
            </v-list-item-action>
            <v-list-item-content>
                <v-list-item-title>Contact</v-list-item-title>
            </v-list-item-content>
            </v-list-item>
        </v-list>
        </v-navigation-drawer>
        <v-app-bar
            app
            class="v-app"
            dark
            >
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
            <v-toolbar-title>Application</v-toolbar-title>
        </v-app-bar>
    </div>
</template>

<script>
  export default {
    props: {
      source: String,
    },
    data: () => ({
      drawer: null,
      color: true
    }),
  }
</script>
<style lang="css">
  .v-app{
    background-color: var(--v-primary-base) !important
  }
  .v-app:hover{
    background-color: var(--v-secondary-base) !important
  }
</style>