<template>
  <v-app id="app">
    <AppHeader />
    <v-content>
      <router-view></router-view>
    </v-content>
    <AppFooter />
  </v-app>
</template>

<script>
import AppHeader from './header.vue'
import AppFooter from './footer.vue'

export default {
    name: 'AppLayout',
    components: {
        AppHeader, 
        AppFooter,
    }
}
</script>  