<template>
  <svg xmlns="http://www.w3.org/2000/svg"
  :width="width" :height="height" viewBox="0 0 24 24" fill="#000">
  <g transform="translate(-920.5 -920.5)">
  <path d="M932.5,920.5a12.006,12.006,0,1,0,12,12A12,12,0,0,0,932.5,920.5Zm9.91,15.475a10.254,10.254,0,0,1-.731,1.625,10.5,10.5,0,0,1-18.358,0,10.534,10.534,0,0,1,5.352-4.68h0a.324.324,0,0,1,.037-.016l.013.012a5.536,5.536,0,1,0-1.015-1.235,12.037,12.037,0,0,0-5.142,4.236,10.5,10.5,0,1,1,19.84.058Zm-13.261-4.642a0,0,0,0,0,0,0c-.034-.046-.067-.09-.1-.137a4.155,4.155,0,1,1,1.328,1.22h0a4.2,4.2,0,0,1-.923-.727A4.26,4.26,0,0,1,929.148,931.334Z" fill="#fff"/><g transform="translate(935.397 932.545)"><rect width="1.445" height="6.023" rx="0.5" transform="translate(2.289)" fill="#fff"/><rect width="1.445" height="6.023" rx="0.5" transform="translate(6.023 2.289) rotate(90)" 
  :fill="iconColor"/></g></g></svg>
</template>
<script>
export default {
  props: {
    width: {
      type: [Number, String],
      default: 15.99
    },
    height: {
      type: [Number, String],
      default: 12
    },
    iconColor: {
      type: String,
      default: "#000"
    },
  },
}
</script>
