<template>
  <svg xmlns="http://www.w3.org/2000/svg"
  :width="width"
  :height="height"
  viewBox="0 0 1.843 15.914">
  <path d="M422.328,712.033l6.183-6.259a1,1,0,0,0,0-1.407.975.975,0,0,0-1.39,0l-6.878,6.963a1,1,0,0,0,0,1.406l6.878,6.962a.973.973,0,0,0,1.39,0,1,1,0,0,0,0-1.406Z"
  transform="translate(428.799 719.99) rotate(180)"
  :fill="iconColor"/>
  </svg>
</template>
<script>
export default {
  props: {
    width: {
      type: [Number, String],
      default: 15.99
    },
    height: {
      type: [Number, String],
      default: 12
    },
    iconColor: {
      type: String,
      default: "#"
    },
  },
}
</script>