<template>
 <svg xmlns="http://www.w3.org/2000/svg" :width="width" :height="height" viewBox="0 0 24.484 13.741"><path d="M3236.924,6611.853l10.147-10.12,10.094,10.12" transform="translate(-3234.803 -6600.233)" 
 fill="none" stroke="#505a6f" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/></svg>
</template>
<script>
export default {
  props: {
    width: {
      type: [Number, String],
      default: 15.99
    },
    height: {
      type: [Number, String],
      default: 12
    },
  },
}
</script>