<template>
  <svg xmlns="http://www.w3.org/2000/svg" :width="width" :height="height" viewBox="0 0 24.483 13.741"><path d="M3236.924,6601.732l10.146,10.12,10.094-10.12" 
  transform="translate(-3234.803 -6599.611)" fill="none" stroke="#505a6f" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/></svg>
</template>
<script>
export default {
  props: {
    width: {
      type: [Number, String],
      default: 15.99
    },
    height: {
      type: [Number, String],
      default: 12
    },
  },
}
</script>