<template>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="30"
      height="30"
      viewBox="0 0 30 30"
    >
      <defs>
        <linearGradient id="a" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
          <stop offset="0" stop-color="#2a94f4" />
          <stop offset="0.763" stop-color="#2cacc2" />
          <stop offset="1" stop-color="#2dc194" />
          <stop offset="1" stop-color="#3bbe85" />
          <stop offset="1" stop-color="#5eb761" />
        </linearGradient>
      </defs>
      <g transform="translate(826 9883)">
        <circle cx="15" cy="15" r="15" transform="translate(-826 -9883)" fill="url(#a)" />
        <text
          transform="translate(-811 -9864)"
          fill="#fff"
          stroke="rgba(0,0,0,0)"
          stroke-width="1"
          font-size="12"
          font-family="ProximaNova-Medium, Proxima Nova"
          font-weight="500"
        >
          <tspan class="initials" x="-9.066" y="0">{{name}}</tspan>
        </text>
      </g>
    </svg>
</template>

<script>
export default {
  props: {
    name
  },
  data() {
    return {

    }
  }
}
</script>
<style lang="scss">
</style>
