<template>
  <svg xmlns="http://www.w3.org/2000/svg"
  :width="width"
  :height="height" viewBox="0 0 15 15">
  <path d="M461.125,198.723a5.76,5.76,0,0,0-4.687-5.682v-.1a.938.938,0,0,0-1.875,0v.084a5.63,5.63,0,0,0-4.687,5.541v.16a2.813,2.813,0,0,0,.938,5.465h1.875a2.813,2.813,0,0,0,5.625,0h1.875a2.813,2.813,0,0,0,.938-5.465Zm-5.625,6.4a.938.938,0,0,1-.937-.937h1.875A.938.938,0,0,1,455.5,205.125Zm4.688-2.812h-9.375a.938.938,0,0,1,0-1.875h.938v-1.875a3.75,3.75,0,0,1,3.75-3.75c.122,0,.245.006.368.018a3.7,3.7,0,0,1,3.382,3.732v1.875h.938a.938.938,0,0,1,0,1.875Z"
  transform="translate(-448 -192)"
  :fill="color"/></svg>
</template>
<script>
export default {
  props: {
    width: {
      type: [Number, String],
      default: 15.99
    },
    height: {
      type: [Number, String],
      default: 12
    },
    iconColor: {
      type: String,
      default: "#273144"
    },
    iconInactive: {
      type: String,
      default: '#8395A7'
    },
    active: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    color() {
      if (this.active) {
        return this.iconColor
      }
      return this.iconInactive
    }
  }
}
</script>