<template>
  <svg xmlns="http://www.w3.org/2000/svg" :width="width" :height="height" fill="#4caf50" viewBox="0 0 54 54"><rect class="a" :width="width" :height="height"/><path class="b" d="M11.869,17.912A2.269,2.269,0,0,0,8.66,21.12L15.439,27.9a2.193,2.193,0,0,0,3.231-.113L34.487,9.71A2.26,2.26,0,0,0,31.1,6.727L17.043,23Z" transform="translate(10.071 7.598)"/><path class="b" d="M44.866,22.336a2.26,2.26,0,0,0-2.26,2.26A18.07,18.07,0,1,1,24.53,6.519a19.861,19.861,0,0,1,4.293.5,2.26,2.26,0,1,0,1.062-4.383A23.815,23.815,0,0,0,24.53,2a22.6,22.6,0,1,0,22.6,22.6,2.26,2.26,0,0,0-2.26-2.26Z"
  transform="translate(2.584 2.519)"/></svg>
</template>
<script>
export default {
  props: {
    width: {
      type: [Number, String],
      default: 54
    },
    height: {
      type: [Number, String],
      default: 54
    },
  },
}
</script>
