<template>
  <svg xmlns="http://www.w3.org/2000/svg" :width="width" :height="height" viewBox="0 0 24 24">
  <g transform="translate(-207.035 -530.035)"><path d="M1736.6,323.54h-5.1v-1.8a.241.241,0,0,0-.24-.24h-11.52a.241.241,0,0,0-.24.24v1.8h-5.1a.9.9,0,0,0-.9.9V344.6a.9.9,0,0,0,.9.9h16.2a.9.9,0,1,0,0-1.8h-15.3V325.34h4.2v1.92a.241.241,0,0,0,.24.24h11.52a.241.241,0,0,0,.24-.24v-1.92h4.2v3.3a.9.9,0,1,0,1.8,0v-4.2A.9.9,0,0,0,1736.6,323.54Zm-6.6,2.22a.241.241,0,0,1-.24.24h-8.52a.241.241,0,0,1-.24-.24v-2.52a.241.241,0,0,1,.24-.24h8.52a.241.241,0,0,1,.24.24Z" transform="translate(-1506.465 208.535)" fill="#fff"/><rect width="12" height="2" rx="0.5" transform="translate(213 539)" fill="#fff"/><rect width="12" height="2" rx="0.5" transform="translate(213 543)" fill="#fff"/><rect width="12" height="2" rx="0.5" transform="translate(213 547)" fill="#fff"/><rect width="9.586" height="2.996" rx="1.498" transform="translate(230.975 540.016) rotate(90)" fill="#fff"/><circle cx="1.5" cy="1.5" r="1.5" transform="translate(228.035 551.035)"
  fill="#fff"/></g></svg>
</template>

<script>
export default {
  props: {
    width: {
      type: [Number, String],
      default: 15.99
    },
    height: {
      type: [Number, String],
      default: 12
    },
  },
}
</script>
