<template>
  <svg xmlns="http://www.w3.org/2000/svg" :width="width" :height="height" viewBox="0 0 24 24">
  <g transform="translate(-307 -313)"><path d="M389.593,382.991l-3.707,6.463a.252.252,0,0,1-.4.053l-2.8-2.8a.252.252,0,0,1,.054-.4l6.5-3.665A.252.252,0,0,1,389.593,382.991Z" transform="translate(-66.71 -61.41)" fill="#fff"/><path d="M331,325.567q0,.613-.055,1.211a.244.244,0,0,1-.239.226h-3.093a.246.246,0,0,1-.24-.252V324.49a.246.246,0,0,1,.24-.252h1.354a.247.247,0,0,0,.238-.285,11.045,11.045,0,0,0-1.768-4.614.233.233,0,0,0-.367-.028l-.894.962a.233.233,0,0,1-.345,0l-1.656-1.785a.26.26,0,0,1,0-.351l.891-.96a.26.26,0,0,0-.034-.381,10.006,10.006,0,0,0-4.519-1.922.244.244,0,0,0-.272.249v1.269a.246.246,0,0,1-.24.252h-2.16a.246.246,0,0,1-.24-.252V315.15a.245.245,0,0,0-.282-.248,10.007,10.007,0,0,0-4.406,1.936.259.259,0,0,0-.025.379l.855.9a.26.26,0,0,1,0,.356l-1.526,1.6a.233.233,0,0,1-.34,0l-.855-.9a.234.234,0,0,0-.366.032,11.018,11.018,0,0,0-1.88,4.876.247.247,0,0,0,.239.283h1.217a.246.246,0,0,1,.24.252v2.261a.246.246,0,0,1-.24.252h-2.925a.244.244,0,0,1-.239-.223,13.2,13.2,0,0,1-.068-1.339q0-.609.055-1.2a12.812,12.812,0,0,1,2.575-6.649,12.289,12.289,0,0,1,1.866-1.955,11.646,11.646,0,0,1,6.106-2.674A11.411,11.411,0,0,1,319,313a11.575,11.575,0,0,1,7.436,2.7,12.3,12.3,0,0,1,2.015,2.12,12.81,12.81,0,0,1,2.482,6.415A13.116,13.116,0,0,1,331,325.567Z" transform="translate(0)" fill="#fff"/><path d="M348.4,458.955a.263.263,0,0,1,.015.34,12.208,12.208,0,0,1-1.716,1.762,11.387,11.387,0,0,1-5.982,2.618,11.1,11.1,0,0,1-2.6.01,11.387,11.387,0,0,1-6.037-2.605,12.17,12.17,0,0,1-1.721-1.757.263.263,0,0,1,.015-.34l1.024-1.087,1.077-1.143a.227.227,0,0,1,.335,0l1.5,1.6a.263.263,0,0,1,0,.356l-.858.911a.261.261,0,0,0,.027.381,9.79,9.79,0,0,0,4.365,1.877.241.241,0,0,0,.269-.249v-1.282a.245.245,0,0,1,.237-.252h2.129a.244.244,0,0,1,.237.252v1.267a.242.242,0,0,0,.271.249,9.785,9.785,0,0,0,4.309-1.884.261.261,0,0,0,.027-.38l-.8-.852a.263.263,0,0,1,0-.356l1.5-1.6a.227.227,0,0,1,.335,0Z" 
  transform="translate(-20.369 -126.756)" fill="#fff"/></g></svg>
</template>
<script>
export default {
  props: {
    width: {
      type: [Number, String],
      default: 15.99
    },
    height: {
      type: [Number, String],
      default: 12
    },
  },
}
</script>
