<template>
  <svg xmlns="http://www.w3.org/2000/svg" :width="width" :height="height" viewBox="0 0 24 24">
  <g transform="translate(-790.5 -300.5)"><rect width="5" height="2" rx="0.5" transform="translate(800.106 314.499)" fill="#fff"/><path d="M880.017,329.6a1.29,1.29,0,0,0-.42-.457,3.406,3.406,0,0,0-.8-.361,1.85,1.85,0,0,1-.648-.325.5.5,0,0,1-.142-.386.542.542,0,0,1,.163-.419.693.693,0,0,1,.5-.158.607.607,0,0,1,.484.2.847.847,0,0,1,.183.583l.011.069.212.155h.348a.223.223,0,0,0,.223-.223h0a1.614,1.614,0,0,0-.335-1.065,1.251,1.251,0,0,0-.587-.392.224.224,0,0,1-.16-.213v-.228a.223.223,0,0,0-.223-.223h-.3a.223.223,0,0,0-.223.223h0v.222a.223.223,0,0,1-.16.213,1.318,1.318,0,0,0-.572.338,1.277,1.277,0,0,0-.357.932,1.262,1.262,0,0,0,.327.893h0a2.334,2.334,0,0,0,1.019.552,1.8,1.8,0,0,1,.661.34.492.492,0,0,1,.144.372.5.5,0,0,1-.183.41.789.789,0,0,1-.533.169.8.8,0,0,1-.588-.2.734.734,0,0,1-.2-.556.223.223,0,0,0-.223-.223h-.351a.223.223,0,0,0-.223.223h0a1.472,1.472,0,0,0,.385,1.066,1.409,1.409,0,0,0,.679.38.223.223,0,0,1,.169.216v.173a.223.223,0,0,0,.223.223h.3a.223.223,0,0,0,.223-.223h0v-.183a.226.226,0,0,1,.17-.217,1.358,1.358,0,0,0,.588-.333,1.257,1.257,0,0,0,.367-.935,1.324,1.324,0,0,0-.141-.627Z" transform="translate(-76.174 -22.573)" fill="#fff"/><path d="M852.66,452.984h-11.4a.24.24,0,0,1-.234-.294l.322-1.387.028-.12.313-1.352.076-.329.363-1.561.291-1.255a.24.24,0,0,1,.234-.186h1.675a.24.24,0,0,1,.24.24h0a.24.24,0,0,0,.24.24h4.323a.24.24,0,0,0,.24-.24h0a.24.24,0,0,1,.24-.24h1.661a.24.24,0,0,1,.234.186l.291,1.255.363,1.561.061.265.328,1.416.028.12.322,1.387A.24.24,0,0,1,852.66,452.984Z" transform="translate(-44.459 -128.484)" fill="#fff"/><path d="M814.5,317.3v5.519s0,0,0,0h-4.488a1.046,1.046,0,0,1-.15-.12,1.006,1.006,0,0,1-.161-.2,1.081,1.081,0,0,1,.311-1.484h2.929v-4.148a7.541,7.541,0,0,0-.563-1.64h0a7.873,7.873,0,0,0-5.26-4.256c-.184-.044-.371-.082-.559-.112-.09-.016-.18-.029-.271-.04h0a1.08,1.08,0,0,1-.422-1.267s0,0,0,0c.018-.018.032-.035.048-.053a4.505,4.505,0,0,0,.355-.469,4.585,4.585,0,0,0-3.768-7.118h-.06a4.589,4.589,0,0,0-3.828,7.119,4.513,4.513,0,0,0,.355.469c.016.018.031.036.049.054h0a1.079,1.079,0,0,1-.438,1.277,0,0,0,0,1,0,0h0c-.082.011-.163.023-.245.037-.181.03-.36.067-.536.11a7.868,7.868,0,0,0-5.27,4.329h0a7.532,7.532,0,0,0-.464,1.306v4.4h2.809a1.078,1.078,0,0,1,.311,1.484,1,1,0,0,1-.161.2,1.046,1.046,0,0,1-.15.12H790.5s0,0,0,0V317.3c0-.04,0-.08,0-.12a7.746,7.746,0,0,1,1.559-4.547c.02-.026.04-.053.061-.079h0a7.873,7.873,0,0,1,3.059-2.4,7.68,7.68,0,0,1,1.784-.54c.106-.018.211-.035.318-.049-.055-.091-.107-.185-.156-.28a6,6,0,0,1,5.314-8.786h.06a6,6,0,0,1,5.254,8.785c-.047.09-.1.179-.149.266.1.012.2.025.3.042a7.628,7.628,0,0,1,1.79.509,7.875,7.875,0,0,1,3.06,2.3h0c.062.076.122.152.18.229a7.745,7.745,0,0,1,1.559,4.547C814.5,317.219,814.5,317.26,814.5,317.3Z" 
  fill="#fff"/></g></svg>
</template>

<script>
export default {
  props: {
    width: {
      type: [Number, String],
      default: 15.99
    },
    height: {
      type: [Number, String],
      default: 12
    },
  },
}
</script>
