<template>
  <svg xmlns="http://www.w3.org/2000/svg" :width="width" :height="height" viewBox="0 0 16 16">
<g transform="translate(0 -0.269)" fill="#fff"><path class="a" d="M15.541,28.1a.421.421,0,0,0-.419.422v3.745a1.263,1.263,0,0,1-1.258,1.265H2.1A1.263,1.263,0,0,1,.839,32.267V21.277A1.263,1.263,0,0,1,2.1,20.011H5.82a.422.422,0,0,0,0-.843H2.1A2.105,2.105,0,0,0,0,21.277v10.99a2.105,2.105,0,0,0,2.1,2.109H13.864a2.105,2.105,0,0,0,2.1-2.109V28.522A.421.421,0,0,0,15.541,28.1Zm0,0" transform="translate(0 -18.107)"/><path class="a" d="M156.367,38.451l6.123-6.123,1.975,1.975-6.123,6.123Zm0,0" transform="translate(-149.81 -30.715)"/><path class="a" d="M132.543,199.4l2.182-.6-1.578-1.578Zm0,0" transform="translate(-126.985 -188.639)"/><path class="a" d="M318.454.575a1.05,1.05,0,0,0-1.483,0l-.445.445L318.5,2.995l.445-.445a1.049,1.049,0,0,0,0-1.483Zm0,0"
  transform="translate(-303.253 0)"/></g></svg>
</template>

<script>
export default {
  props: {
    width: {
      type: [Number, String],
      default: 15
    },
    height: {
      type: [Number, String],
      default: 15
    },
  },
}
</script>