<template>
  <svg xmlns="http://www.w3.org/2000/svg" :width="width" :height="height" viewBox="-2 -10 25 25">
    <path
      d="M34,494a2,2,0,0,1-2-2v-8a2,2,0,0,1,2-2H46a2,2,0,0,1,2,2v8a2,2,0,0,1-2,2Zm0-2H46v-8H34Zm5.4-2.2-4-3a1,1,0,1,1,1.2-1.6l3.4,2.55,3.4-2.55a1,1,0,1,1,1.2,1.6l-4,3a1,1,0,0,1-1.2,0Z"
      transform="translate(-32 -482)"
      :fill="color"
    />
  </svg>
</template>

<script>
export default {
  props: {
    iconName: {
      type: String,
      default: "box"
    },
    width: {
      type: [Number, String],
      default: 15.999
    },
    height: {
      type: [Number, String],
      default: 12
    },
    iconColor: {
      type: String,
      default: "#c8d6e5"
    },
    iconActiveColor: {
      type: String,
      default: "#18c5a9"
    },
    active: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {};
  },
  computed: {
    color() {
      if (this.active) {
        return this.iconActiveColor;
      }
      return this.iconColor;
    }
  }
};
</script>
