<template>
  <svg xmlns="http://www.w3.org/2000/svg"
  :width="width"
  :height="height"
  viewBox="0 -7 26 20">
  <path d="M672.09,200.371a1,1,0,0,1,0-.743C672.182,199.4,674.4,194,680,194s7.817,5.4,7.908,5.628a1.007,1.007,0,0,1,0,.743c-.091.23-2.31,5.63-7.908,5.63S672.182,200.6,672.09,200.371Zm2.026-.369c.54,1.067,2.344,4,5.881,4,3.519,0,5.343-2.948,5.882-4-.538-1.064-2.342-4-5.882-4C676.48,196,674.656,198.948,674.116,200Zm2.889,0A2.993,2.993,0,1,1,680,203,3,3,0,0,1,677.005,200ZM679,200a1,1,0,1,0,1-1A1,1,0,0,0,679,200Z"
  transform="translate(-672.019 -194)"
  :fill="color"/>
  </svg>
</template>
<script>
export default {
  props: {
    width: {
      type: [Number, String],
      default: 18
    },
    height: {
      type: [Number, String],
      default: 18
    },
    iconColor: {
      type: String,
      default: "#8395A7"
    },
    iconActiveColor: {
      type: String,
      default: "#18c5a9"
    },
    iconInvoicetable: {
      type: String,
      default: '#8395A7'
    },
    active: {
      type: Boolean,
      default: false
    },
    invoicetable: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    color() {
      if (this.active) {
        return this.iconActiveColor
      }
      if (this.invoicetable) {
        return this.iconInvoicetable
      }
      return this.iconColor
    }
  }
}
</script>