<template>
<svg xmlns="http://www.w3.org/2000/svg"
  :width="width"
  :height="height"
  viewBox="0 -6 25 25">
  <path d="M750.149,207.7l-2.581-2.595,0,0a7.117,7.117,0,0,1-.673.319,2.464,2.464,0,0,1-.287.109c-.237.09-.494.169-.752.239h-.01a3.075,3.075,0,0,1-.336.068,5.967,5.967,0,0,1-.87.121,5.521,5.521,0,0,1-.713.04c-5.549,0-7.756-5.371-7.845-5.6a1.057,1.057,0,0,1,0-.736,9.9,9.9,0,0,1,.813-1.492,6.122,6.122,0,0,1,.4-.587c.049-.079.119-.159.177-.238.14-.179.287-.358.455-.538.06-.069.119-.14.188-.208.159-.159.327-.329.5-.488l0,0-2.325-2.337a1,1,0,0,1,0-1.407.984.984,0,0,1,1.4,0l13.85,13.924a1,1,0,0,1,0,1.407.984.984,0,0,1-1.4,0Zm-10.114-10.161a5.969,5.969,0,0,0-.514.477c-.069.069-.129.139-.188.209a6.761,6.761,0,0,0-.445.547l-.178.239c-.158.218-.287.418-.4.6-.089.169-.168.31-.227.428a7.109,7.109,0,0,0,4.441,3.809,5.245,5.245,0,0,0,1.148.159,2.046,2.046,0,0,0,.247.01.9.9,0,0,0,.168-.01,5.286,5.286,0,0,0,.911-.079c.108-.03.217-.05.316-.08a3.787,3.787,0,0,0,.742-.247l0,0-.864-.868a2.974,2.974,0,0,1-.754.243,3.04,3.04,0,0,1-.525.05,2.744,2.744,0,0,1-.989-.179,2.965,2.965,0,0,1-1.8-1.81,2.777,2.777,0,0,1-.178-1,3.07,3.07,0,0,1,.049-.527,3.028,3.028,0,0,1,.242-.757l-1.208-1.215Zm9.092,3.51a8.061,8.061,0,0,0,.634-1.014c-.525-1.034-2.237-3.839-5.589-3.968l-1.831-1.84a7.223,7.223,0,0,1,1.583-.16c5.55,0,7.756,5.371,7.845,5.6a1.047,1.047,0,0,1,0,.736,10.017,10.017,0,0,1-1.217,2.079Z"
  transform="translate(-736.009 -192.077)"
  :fill="color"/>
  </svg>
</template>
<script>
export default {
  props: {
    width: {
      type: [Number, String],
      default: 15.99
    },
    height: {
      type: [Number, String],
      default: 16
    },
    iconColor: {
      type: String,
      default: "#8395A7"
    },
    iconActiveColor: {
      type: String,
      default: "#18c5a9"
    },
    iconInvoicetable: {
      type: String,
      default: '#273144'
    },
    active: {
      type: Boolean,
      default: false
    },
    invoicetable: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    color() {
      if (this.active) {
        return this.iconActiveColor
      }
      if (this.invoicetable) {
        return this.iconInvoicetable
      }
      return this.iconColor
    }
  }
}
</script>
