<template>
  <svg xmlns="http://www.w3.org/2000/svg"
  :width="width"
  :height="height"
  viewBox="0 0 18 18">
  <path d="M512,201a9,9,0,1,1,9,9A9.011,9.011,0,0,1,512,201Zm2.25,0A6.75,6.75,0,1,0,521,194.25,6.75,6.75,0,0,0,514.25,201Zm5.625,3.376A1.125,1.125,0,1,1,521,205.5,1.125,1.125,0,0,1,519.875,204.375Zm.117-2.872a1.126,1.126,0,0,1,.5-1.51l1.628-.814v-.429h-2.25a1.125,1.125,0,0,1-2.251,0v-1.125a1.126,1.126,0,0,1,1.126-1.125h4.5a1.125,1.125,0,0,1,1.125,1.125v2.25a1.123,1.123,0,0,1-.622,1.005l-2.251,1.126a1.108,1.108,0,0,1-.5.118A1.126,1.126,0,0,1,519.993,201.5Z" 
  transform="translate(-512 -192)"
  :fill="iconColor"/>
  </svg>
</template>
<script>
export default {
  props: {
    width: {
      type: [Number, String],
      default: 15.99
    },
    height: {
      type: [Number, String],
      default: 12
    },
    iconColor: {
      type: String,
      default: "#8395A7"
    },
  },
}
</script>
