<template>
  <svg xmlns="http://www.w3.org/2000/svg"
  :width="width"
  :height="height"
  viewBox="-3 -5 25 25">
  <path d="M323,144a2,2,0,0,1-2-2v-7a2,2,0,0,1,2-2h1v-1a4,4,0,1,1,8,0v1h1a2,2,0,0,1,2,2v7a2,2,0,0,1-2,2Zm0-2h10v-7H323Zm3-10v1h4v-1a2,2,0,1,0-4,0Zm1,9v-2c0-.031.015-.057.017-.085A1.5,1.5,0,0,1,327.5,136h1a1.5,1.5,0,0,1,.482,2.914A.849.849,0,0,1,329,139v2Z"
  transform="translate(-321 -128)"
  :fill="color"
  />
  </svg>
</template>
<script>
export default {
  props: {
    width: {
      type: [Number, String],
      default: 15.99
    },
    height: {
      type: [Number, String],
      default: 12
    },
    iconColor: {
      type: String,
      default: "#c8d6e5"
    },
    iconActiveColor: {
      type: String,
      default: "#18c5a9"
    },
    active: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    color() {
      if (this.active) {
        return this.iconActiveColor
      }
      return this.iconColor
    }
  }
}
</script>
