<template>
  <svg xmlns="http://www.w3.org/2000/svg" :width="width" :height="height" viewBox="0 0 20 20">
  <path d="M685.91,650.176l-.674,2.03a1.752,1.752,0,0,1-.95,1.048,8.757,8.757,0,0,1-9.418-1.524c-.111-.1-.212-.2-.3-.285a8.317,8.317,0,0,1-1.312-1.66,7.045,7.045,0,0,1-.339-.631,8.739,8.739,0,0,1-.178-7.441,1.755,1.755,0,0,1,1.048-.95l2.031-.674a1.75,1.75,0,0,1,2.212,1.108l.875,2.625a1.751,1.751,0,0,1-.878,2.118l-.637.319a3.468,3.468,0,0,0,.887,1.47,3.422,3.422,0,0,0,1.459.875l.319-.636a1.749,1.749,0,0,1,2.119-.878l2.625.875A1.75,1.75,0,0,1,685.91,650.176Zm-1.661-.551-2.626-.875-.875,1.75a5.258,5.258,0,0,1-5.251-5.25l1.75-.875-.875-2.625-2.031.674a6.93,6.93,0,0,0-.6,2.826,6.861,6.861,0,0,0,.744,3.133,5.276,5.276,0,0,0,.263.49,6.605,6.605,0,0,0,1.042,1.321c.079.079.157.157.245.236a7,7,0,0,0,7.535,1.225Z" 
  transform="translate(-671.997 -640)" :fill="color"/></svg>
</template>
<script>
export default {
  props: {
    iconName: {
      type: String,
      default: "box"
    },
    width: {
      type: [Number, String],
      default: 15.999
    },
    height: {
      type: [Number, String],
      default: 12
    },
    iconColor: {
      type: String,
      default: "#c8d6e5"
    },
    iconActiveColor: {
      type: String,
      default: "#18c5a9"
    },
    active: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {};
  },
  computed: {
    color() {
      if (this.active) {
        return this.iconActiveColor;
      }
      return this.iconColor;
    }
  }
};
</script>