<template>
  <svg xmlns="http://www.w3.org/2000/svg"
  :width="width" :height="height" viewBox="0 -2 20 15">
  <path d="M224,39.5a7.5,7.5,0,1,1,7.5,7.5A7.509,7.509,0,0,1,224,39.5Zm1.875,0a5.625,5.625,0,1,0,5.626-5.625A5.625,5.625,0,0,0,225.875,39.5Zm4.688,2.813V40.438h-1.876a.938.938,0,0,1,0-1.876h1.876V36.688a.937.937,0,1,1,1.875,0v1.875h1.875a.938.938,0,0,1,0,1.876h-1.875v1.875a.937.937,0,0,1-1.875,0Z"
  transform="translate(-224 -32)"
  :fill="color"/></svg>
</template>
<script>
export default {
  props: {
    width: {
      type: [Number, String],
      default: 15
    },
    height: {
      type: [Number, String],
      default: 15
    },
    iconColor: {
      type: String,
      default: "#fff"
    },
    iconDisabled: {
      type: String,
      default: "#8395A7"
    },
    invoiceTable: {
      type: String,
      default: '#273144'
    },
    iconInvoice: {
      type: Boolean,
      default: false
    },
    active: {
      type: Boolean,
      default: false
    },
  },
  computed: {
    color() {
      if (this.iconInvoice) {
        if (this.active) {
          return this.invoiceTable
        }
        return this.iconDisabled
      }
      return this.iconColor
    }
  }
}
</script>
