<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
    <path
      class="a"
      d="M11.875,1.875A1.875,1.875,0,1,1,10,0,1.875,1.875,0,0,1,11.875,1.875ZM10,16.25a1.875,1.875,0,1,0,1.875,1.875A1.875,1.875,0,0,0,10,16.25Zm8.125-8.125A1.875,1.875,0,1,0,20,10,1.875,1.875,0,0,0,18.125,8.125ZM3.75,10a1.875,1.875,0,1,0-1.875,1.875A1.875,1.875,0,0,0,3.75,10Zm.5,3.87A1.875,1.875,0,1,0,6.13,15.745,1.875,1.875,0,0,0,4.255,13.87Zm11.49,0a1.875,1.875,0,1,0,1.875,1.875A1.875,1.875,0,0,0,15.745,13.87ZM4.255,2.38A1.875,1.875,0,1,0,6.13,4.255,1.875,1.875,0,0,0,4.255,2.38Z"
    />
  </svg>
</template>
<style>
  .a {
    fill: green;
  }
</style>
