<template>
  <svg xmlns="http://www.w3.org/2000/svg"
  :width="width"
  :height="height"
  viewBox="0 0 15 15">
  <path d="M321.879,716.588V718.2a.937.937,0,1,1-1.875,0v-3.75a.937.937,0,0,1,.937-.937h3.75a.937.937,0,1,1,0,1.874h-1.381a5.516,5.516,0,0,0,2.983,1.745,5.634,5.634,0,0,0,6.778-4.689.929.929,0,0,1,.918-.805.942.942,0,0,1,.938,1.069,7.492,7.492,0,0,1-13.05,3.878Zm-1.8-6a7.49,7.49,0,0,1,13.05-3.893v-1.613a.938.938,0,0,1,1.876,0v3.75a.941.941,0,0,1-.938.938h-3.749a.938.938,0,0,1,0-1.875h1.369a5.617,5.617,0,0,0-9.749,2.952.93.93,0,0,1-.921.8A.94.94,0,0,1,320.078,710.584Z"
  transform="translate(-320.004 -704.141)"
  :fill="iconColor"/>
  </svg>
</template>
<script>
export default {
  props: {
    width: {
      type: [Number, String],
      default: 15.99
    },
    height: {
      type: [Number, String],
      default: 12
    },
    iconColor: {
      type: String,
      default: "#505A6F"
    },
  },
}
</script>
