<template>
  <svg xmlns="http://www.w3.org/2000/svg" :width="width" stroke-width="6" :height="height" viewBox="0 0 12 10">
    <path
      d="M580.517,715.093a.768.768,0,0,1-.53-.209l-3.75-3.571a.69.69,0,0,1,0-1.01.777.777,0,0,1,1.06,0l3.138,2.989,6.231-7.913a.775.775,0,0,1,1.05-.143.692.692,0,0,1,.15,1l-6.75,8.571a.758.758,0,0,1-.547.284Z"
      transform="translate(-576.018 -705.093)"
      :fill="color"
    />
  </svg>
</template>

<script>
export default {
  props: {
    iconName: {
      type: String,
      default: "box"
    },
    width: {
      type: [Number, String],
      default: 12
    },
    height: {
      type: [Number, String],
      default: 10
    },
    iconColor: {
      type: String,
      default: "#c8d6e5"
    },
    iconActiveColor: {
      type: String,
      default: "#18c5a9"
    },
    active: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {};
  },
  computed: {
    color() {
      if (this.active) {
        return this.iconActiveColor;
      }
      return this.iconColor;
    }
  }
};
</script>
