<template>
  <svg xmlns="http://www.w3.org/2000/svg" :width="width" :height="width" viewBox="0 -6 24 24"><defs><svg:style type="text/css">.a{fill:#222f3e;}.a{opacity:0;}</svg:style></defs><rect class="a" width="24" height="24"/><path class="b" d="M12.71,11.29a1,1,0,0,0-1.4,0l-3,2.9a1,1,0,1,0,1.38,1.44L11,14.36V20a1,1,0,0,0,2,0V14.41l1.29,1.3a1,1,0,1,0,1.42-1.42Z"/><path class="b" d="M17.67,7A6,6,0,0,0,6.33,7a5,5,0,0,0-3.08,8.27A1,1,0,1,0,4.75,14,3,3,0,0,1,7,9h.1a1,1,0,0,0,1-.8,4,4,0,0,1,7.84,0,1,1,0,0,0,1,.8H17a3,3,0,0,1,2.25,5,1,1,0,1,0,1.5,1.33A5,5,0,0,0,17.67,7Z"/></svg>
</template>
<script>
export default {
  props: {
    width: {
      type: [Number, String],
      default: 26
    },
    height: {
      type: [Number, String],
      default: 26
    },
  },
}
</script>
