@import '../css/colors.scss';

body {
  background-color: $white;
}

.auth-content {
  max-width: 900px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.input-icon {
  cursor: pointer;
}

.gradient-background {
  background: linear-gradient(to bottom, rgba(24, 197, 169, 1) 0%, rgba(45, 193, 148, 1) 71%, rgba(59, 190, 133, 1) 100%);
}

.login-margin {
  margin-top: 160px;
}

.border-selected {
  border-bottom: 1px solid $primary !important;
}

.border-not-selected {
  border-bottom: 1px solid $secondary-light !important;
}

.signin-border {
  outline: 0;
  border: 0px;
  border-radius: 0px !important;
  box-shadow: none !important;
  width: 100% !important;
}

.form-icon {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}

.logo-size {
  width: 80px !important;
}

.language-selector {
  position: absolute;
  bottom: 10px;
  right: 0%;
}

.error-position {
  position: absolute;
  top: 100px;
}

.full-width-container {
  min-width: 100% !important;
}

@media screen and (max-width: 760px) {
  .login-margin {
    margin-top: 10px;
  }

  .language-selector {
    position: relative;
    left: 0%;
  }

  /* Fixing the notification on mobile screens */
  .error-position {
    position: relative;
    margin-bottom: 120px;
    margin-top: -80px;
  }
}