.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease-in;
  }
  .tocModel {
    list-style: none;
    padding-left: 15px;
  }
  .tocModel li {
    padding-bottom: 15px;
  }
  .tocModel span {
    font-weight: bold;
  }
  .modal-lg {
    min-width: 1100px !important;
    max-height: 850px;
  }
  .modal-content {
    height: 100%;
  }
  @media only screen and (max-width: 600px) {
    .modal-lg {
      min-width: 800px !important;
    }
  }