// Setup $colors to use as bulma classes (e.g. 'is-twitter')
@import "~bulma/sass/utilities/_all";
@import "colors.scss";
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "primary-light": ($primary-light, $primary),
    "secondary": ($secondary, $secondary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "note": ($note, $note),
    "dark-gray": ($dark-gray, $white),
    "e-con": ($econ-color, $white),
    "billy": ($billy-color, $white),
    "dinero": ($dinero-color, $white),
    "green-1": ($green-1, $white),
    "green-2": ($green-2, $white),
    "green-3": ($green-3, $white),
    "green-4": ($green-4, $white),
    "green-5": ($green-5, $white),
    "green-6": ($green-6, $white),
    "green-7": ($green-7, $white),
    // light colors
    "secondary-light": ($secondary-light, $label-color),
    "tooltip": ($tooltip, $dark-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Bulma changes
// modal changes
$modal-card-head-border-bottom : 1px $secondary-light solid;
$modal-card-head-background-color: $white;
$modal-card-foot-background-color: $white;
$modal-card-head-radius: 4px;

// tab changes
$tabs-border-bottom-color: $secondary-light;
$tabs-link-color: $secondary;
    
// card changes
$card-header-padding: 15px;
$card-content-padding: 15px;
$card-shadow: 0px 3px 6px #5765741A;

//checkboxes color
$checkbox-border-color: $secondary;

//toastr changes
$toast-border-radius: 4px;

$snackbar-background-color: $warning-light;
$snackbar-color: $warning;

// Switch background color
$switch-active-background-color: $dark-gray
