// Basic solid colors
$primary: #18c5a9;
$secondary: #505A6F;
$success: #4CAF50;
$warning: #FB8C00;
$danger: #FF5252;
$info: #2196F3;
$link: #3273DC;
$note: #2196F3;

$white: #fff;
$black: #000;
$dark-gray: #505A6F;

// Light colors 
$primary-light: #e7f9f6;
$secondary-light: #EEF4FF;
$success-light: #edf7ed;
$warning-light: #fff3e5;
$danger-light: #FFEAEA;
$info-light: #e8f4fe;
$info-invert: #E8F4FE;
$link-light: #eaf1fb; 

// Hover colors
$primary-hover: #15BFA3;
$secondary-hover: #576582;
$success-hover: #70bf72;
$warning-hover: #fca233;
$danger-hover: #ff7475;
$info-hover: #4cabf5;
$link-hover: #5b8fe3;

//Selected colors
$primary-selected: #1AB99F;
$secondary-selected: #49536A;

//Latest Claim activity
$claim-reject: #FFEAEA;
$validating-invoice: #F1F4F8;
$validation-successful: #EBFAE9;
$reminder-active: #E7FAFF; 
$claim-active: #E8FEFA;
$claim-ended: #C5E8E2;
$claim-surveillance: #576574;
$sidemenu-green1: #CBF9F1;
$sidemenu-green2: #B1E9E3;

$claim-transition_to_reminder: #F57878;
$validating-debtor: #FFC656;
$graph-paid-invoices: #2BBEBB;
$graph-total-invoiced: #5DD0FC;
$card-bg: #E7F9F6;

// Other colors
$notification-color : #4CAF50;
$notification-green-bg: #edf7ed;
$notification-shadow: #C4C8D04D;
$blue-text: #2196F3;
$label-color: #576574;
$dark-green: #0E7665;
$dark-text: #222F3E;

// invert colors
$secondary-invert: #ffffff;
// Selected states
$primary-slected: #1AB99F;

// Grey palette
$secondary: #505A6F;
$light-grey: #EEF4FF;
$grey-1: #E3EAF2;
$grey-2: #576574;
$grey-3: #222F3E;
$grey-4: #8395A7;

$db-font: #222F3E;

// Tints of Primary
$green-1: #31E6C9;
$green-2: #64ECD6;
$green-3: #98F2E4;
$green-4: #CBF9F1;

// Shades of Primary
$green-5: #052722;
$green-6: #0A4F44;
$green-7: #0E7665;
$green-8: #139E87;

//shadows
$grey-shadow: #5765741A;
$tooltip: #E3EAF2;

// Accounting system colors
$billy-color: #399EE5;
$econ-color: #F48420;
$dinero-color: #1793B3;
$billy-form: #F5FAFE;

// Claim actions and phases
$rejected: #FF5252;
$rejected-bg: #FFEAEA;
$validating: #FB8C00;
$validating-bg: #FFF3E5;
$created: #18C5A9;
$created-bg: #E7F9F6;
$reminders: #2196F3;
$reminders-bg: #E8F4FE;
$debtcollect: #2196F3;
$debtcollect-bg: #E8F4FE;
$legal: #2196F3;
$legal-bg: #E8F4FE;
$surveillance: #222F3E;
$surveillance-bg: #F2F4F6;
$ended: #4CAF50;
$ended-bg: #EDF7ED;