/* This CSS file will be for custom Styling.
Might be merged into main.css file later */

.cus-form-button{
  width: 200px;
}
.dataTables_paginate{
  padding-bottom: 20px;
  color: #18C5A9;
}
.dataTables_paginate > ul{
  float: right;
}
.disabled-class{
  pointer-events: none;
  opacity: 0.5;
}
.large-badge-custom{
  width: 120px;
}
.claim-margins{
  margin-top: 50px;
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 3;
  overflow: hidden;
}
.view {
  width: 900px;
  height: 600px;
  margin: auto;
  margin-top: auto;
  margin-top: 110px;
  background-color: white;
  border-radius: 3px;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}
.no-padding{
  padding: 0 !important;
}
.modal-close{
  color: #fff;
  margin-top: -12px;
  margin-left: -6px;
  font-size: 20px;
  position: absolute;
}
.modal-close-outer{
  float: right;
}
.cursor-pointer{
  cursor: pointer;
}
.mx-panel-date td, .mx-panel-date th{
  padding: 0 !important;
}
.mx-input-append{
  height: auto !important;
  top: 1px !important;
}