$sizeUnit: rem;
$fontSizeKey: 'text';
$separator: '-';
$sizes: (
  ('xs', .75),
  ('sm', .875),
  ('base', 1),
  ('lg', 1.125),
  ('xl', 1.25),
  ('2xl', 1.5),
  ('3xl', 1.875),
  ('4xl', 2.25),
  ('5xl', 3),
  ('6xl', 4),
);
@function sizeValue($key, $value) {
  @return if($key == 'none', 0, $value + $sizeUnit);
}
@each $size in $sizes {
  $sizeKey: nth($size, 1);
  $sizeValue: nth($size, 2);
  .#{$fontSizeKey}#{$separator}#{$sizeKey} {
      font-size: sizeValue($sizeKey, $sizeValue);
      
  }
}