// This file will be replaced with main.scss
// Main file for styling
@import '../css/colors.scss';
@import '../css/spacing.scss';

$font-family: 'Segoe UI',
'sans-serif',
Times,
serif;

html {
  font-family: $font-family !important;
}

.row-full-height {
  height: 100vh;
  overflow: auto;
}

.is-btn-fix {
  min-width: 120px;
  text-align: center;
}

.is-btn-fix-lg {
  min-width: 200px;
  min-height: 50px;
  text-align: center;
}

/* Custom background colors red and green for error notifications */
.bg-red-notification {
  background: $danger-light;
  color: $danger !important;
}

.bg-green-notification {
  background: $notification-green-bg;
  color: $notification-color !important;
}

/* Box Shadow for notifications */
.notification-shadow {
  box-shadow: 0px 5px 10px $notification-shadow;
}

.text-primary {
  color: $primary !important;
}

.text-success {
  color: $success !important;
}

.text-info {
  color: $info !important;
}
.text-warning {
  color: $warning !important;
}

.text-danger {
  color: $danger !important;
}

.text-blue {
  color: $blue-text !important;
}

.text-light {
  color: $secondary-light !important;
}

.text-white {
  color: $white !important;
}

.text-label {
  color: $label-color !important;
}
.font-semibold {
  color:  $db-font;
}
.text-dark-green {
  color: $green-7 !important;
}
.text-dark-grey {
  color: $grey-4 !important;
}

a.text-primary:hover,
a.text-primary:focus {
  color: $primary-hover !important;
}

a.text-info:hover,
a.text-info:focus {
  color: $info-hover !important;
}

a.text-success:hover,
a.text-success:focus {
  color: $success-hover !important;
}

a.text-warning:hover,
a.text-warning:focus {
  color: $warning-hover !important;
}

a.text-danger:hover,
a.text-danger:focus {
  color: $danger-hover !important;
}

a.text-blue:hover,
a.text-blue:focus {
  color: $info-hover !important;
}

a.text-muted:hover,
a.text-muted:focus {
  color: $secondary-hover !important;
}

.b-checkbox.checkbox input[type=checkbox]:checked+.check.is-primary {
  background: $primary url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpath style='fill:white' d='M 0.04038059,0.6267767 0.14644661,0.52071068 0.42928932,0.80355339 0.3232233,0.90961941 z M 0.21715729,0.80355339 0.85355339,0.16715729 0.95961941,0.2732233 0.3232233,0.90961941 z'%3E%3C/path%3E%3C/svg%3E") no-repeat center center;
  border-color: $primary;
}

.b-checkbox.checkbox input[type=checkbox]:indeterminate+.check.is-primary {
  background: $primary url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Crect style='fill:white' width='0.7' height='0.2' x='.15' y='.4'%3E%3C/rect%3E%3C/svg%3E") no-repeat center center;
  border-color: $primary;
}

.b-checkbox.checkbox:hover input[type=checkbox]+.check.is-primary {
  border-color: $primary !important;
}

.b-checkbox.checkbox:focus input[type=checkbox]:checked+.check.is-primary {
  box-shadow: 0 0 0.5em $primary !important;
}

.b-checkbox.checkbox input[type=checkbox]+.check {
  width: 1.25em;
  height: 1.25em;
  flex-shrink: 0;
  border-radius: 4px;
  border: 2px solid $primary;
  box-shadow: none !important;
  transition: background 150ms ease-out;
}
.main-box {
  background-color: $white;
  box-shadow: 0px 5px 20px $grey-shadow;
  }
.custom-input-styles {
  border: 1px solid $secondary !important;
  border-radius: 0px !important;
  box-shadow: none !important;
}
.search-input {
border: 1px solid #C1CAD3;
border-radius: 4px;
box-shadow: none !important;
}
.custom-green-line {
  border-bottom-color: $primary !important;
}
.green-line-top {
  border-top: 1px solid $primary;
}
.has-cursor-pointer {
  cursor: pointer;
}
// Custom Radio Buttons 
input[type="radio"] {
  opacity: 0;
  position: absolute;
  margin-left: 1rem;
  margin-left: .5rem;
  z-index: 1;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
input[type='radio'] + label:after {
  width: 15px;
  height: 15px;
  border-radius: 20px;
  margin-left: 1rem;
  position: relative;
  background-color: $white;
  content: '';
  vertical-align: middle;
  display: inline-block;
  visibility: visible;
  border: 2px solid $secondary;
  margin: 0 10px;
  text-align:center;
}
input[type='radio']:checked + label:after {
  width: 15px;
  height: 15px;
  top: -1px;
  margin-left: 16px;
  margin: 0 10px;
  position:relative;
  text-align:center;
  vertical-align: middle;
  border-radius: 15px;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 5px solid $primary;
}

// Custom Table styles
.table-debito thead th {
  background-color: $secondary-light !important;
  border-color: transparent;
  color: $secondary !important;
  padding-top: 14px;
  padding-bottom: 14px;
  border-width: 0 0 1px !important;
}
.table-debito thead th:first-child {
 border-top-left-radius: 5px;
 border-bottom-left-radius: 5px;
}
.table-debito thead th:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.table-debito tbody:before {
  content:"-";
  display:block;
  line-height:15px;
  text-indent:-99999px;
}
.table-debito td {
  color: $black;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  border-bottom: 1px solid $light-grey !important;
}
.table-debito tr:hover {
  background-color: $primary-light !important;
}
.table-debito tr.is-selected {
  background-color: $primary-light !important;
  color: $black !important;
}
.table-debito th.is-current-sort {
  border-bottom: 1px solid $grey-2;
}
.table-debito th.is-sortable:hover {
  border-bottom: 1px solid $grey-2;
}
.table-debito{
  border-spacing: 0px;
  font-size: 14px;
}
.table-debito .pagination{
  font-size: 0.85rem;
}

// New claims illustration size 
.claims-image-size {
  width: 300px !important;
  height: 269px !important;
}

// Custom styles for Date pickers
.currency-style {
  min-height: 10px !important;
  height: 36px !important;
  line-height: 0.5em !important;
  border: 1px solid $secondary !important;
  border-radius: 0px !important;
  box-shadow: none;
}
.mx-datepicker {
  width: 100% !important;
}
.mx-input-append {
  height: 36px !important;
}
.mx-input {
  border: 1px solid $secondary !important;
  border-radius: 0px !important;
  box-shadow: none;
  height: 36px !important;
}
.mx-calendar-content {
  width: 100% !important;
}
.mx-calendar-content .cell {
  text-align: center !important;
}
// Overlay for images and debtor forms
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8); /* Black background with opacity */
  z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
} 

.has-error input {
  border-color: $danger !important; }

.has-error input:focus {
  border-color: $danger !important;}

.has-error .custom-input-styles {
    border-color: $danger !important;
  }
.has-background-transition_to_rejected {
  background-color: $claim-reject;
  color: $black;
}
.has-background-transition_to_rejected .action-name {
  color: #F57878;
}
.has-background-transition_to_case_received {
  background-color: $validating-invoice;
  color: #273144;
}
.has-background-transition_to_reminder{
  background-color: $validation-successful;
  color: $black;
}
.has-background-transition_to_soft_warning{
  background-color: #A0EEFF;
  color: $black;
}
.has-background-transition_to_case_sent {
  background-color: #EBFAE9;
  color: $primary;
}
.has-background-transition_to_debt_collection {
  background-color: #E8FEFA;
  color: $black;
}
.has-background-transition_to_case_created {
  background-color: #EBFAE9;
  color: $black;
}
.has-background-transition_to_case_created .action-name{
  color: $claim-active;
}
.has-background-transition_to_surveillance {
  background-color: $claim-surveillance;
  color: $white;
}
.has-background-transition_to_ended {
  background-color: $claim-ended;
  color: #273144;
}
.activity-table {
  font-size: 0.75rem;
}
.is-size-6-half {
  font-size: 0.85rem;
}
.icon-button span {
  vertical-align: text-bottom;
  margin-left: 10px;
}
.icon-button svg {
  position: absolute;
  margin-top: -2px;
  left: 15px;
}
.text-underline {
  text-decoration: underline;
}
.move-right {
  float: right;
}
.is-full-width {
  width: 100%;
}
.table-border-db tbody tr td {
  border-bottom: 0px !important;
}
.table-other thead tr td{
  font-size: 14px !important;
  font-weight: 800 !important;
  color: $dark-text !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.table-other tbody tr td {
  padding-top: 10px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
// Avatar css
.avatar-circle {
  width: 30px;
  height: 30px;
  background-color: $dark-gray;
  border: 1px solid $primary;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.initials {
  position: relative;
  top: 2px; /* 25% of parent */
  font-size: 12px; /* 50% of parent */
  line-height: 10px; /* 50% of parent */
  color: $white;
  font-weight: normal;
  
}
.border-primary {
  border: $primary 1px solid !important;
}
.modal-card {
  border-radius: 4px;
}
.rotate {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
// prev and next buttons for create claims
.next-button {
  position: absolute;
  top: -100px !important;
  right: 10px;
}
.prev-button {
  position: absolute;
  top: -100px;
  left: 10px;
}
.outline-grey {
  border-color: #273144 !important;
}
.outline-grey:hover {
  color: #273144 !important;
}
// Custom scroll bar

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $tooltip;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $dark-gray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $dark-text;
}
.invoice-search {
  border: 1px solid $grey-1 !important;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: none !important;
}
.pagination-custom {
  display: inline-flex;
}