.pgbContainer {
    border: 0px solid #ddd;
    border-radius: 5px;
    /* -moz-box-shadow: 0 0 5px #aaa;
    -webkit-box-shadow: 0 0 5px#aaa;
    box-shadow: 0 0 5px #aaa; */
    height: 75px;
    width: 100%;
}

.progressbar li{
    list-style-type: none;
    float: left;
    width: 16%;
    margin-top: 8px;
    position: relative;
    text-align: center;
}
.progressbar li::after{
    content: '';
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 2px solid gray;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: gray;
    position: relative;
    z-index: 2;
}
.progressbar li.done::after{
    border: 2px solid #18C5A9;
    background: #18C5A9;
    position: relative;
    font-size: 2em;
}
.progressbar li.active::after{
    border: 3px solid white;
    background: #18C5A9;
    border-radius: 50%;
    top:2px;
    width:25px;
    height:25px;
    position: relative;
    box-shadow: 0 0 0 2px #18C5A9;
}
.progressbar li.pending::after{
    border: 2px solid gray;
    background: gray;
    position: relative;
}
.progressbar li:before {
    content: none;
}
.progressbar li.done + li:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: #18C5A9;
    top:30px;
    left:-50%;
    z-index: 1;
}
.progressbar li.active + li:before {
    /* If dashed lines between newest finished phase and the active is wanted. remove the background-color, and include the background-image */
    content: '';
    position: absolute;
    /* background-color: white; */
    background-color: transparent;
    width: 100%;
    height: 10px;
    /* background-image: linear-gradient(-45deg,
        rgba(255,255,255,.95) 5%,
        transparent 5%,transparent 10%,
        rgba(255,255,255,.95) 10%,rgba(255,255,255,.95) 15%,
        transparent 15%,transparent 20%,
        rgba(255,255,255,.95) 20%,rgba(255,255,255,.95) 25%,
        transparent 25%,transparent 30%,
        rgba(255,255,255,.95) 30%,rgba(255,255,255,.95) 35%,
        transparent 35%,transparent 40%,
        rgba(255,255,255,.95) 40%,rgba(255,255,255,.95) 45%,
        transparent 45%,transparent 50%,
        rgba(255,255,255,.95) 50%,rgba(255,255,255,.95) 55%,
        transparent 55%,transparent 60%,
        rgba(255,255,255,.95) 60%,rgba(255,255,255,.95) 65%,
        transparent 65%,transparent 70%,
        rgba(255,255,255,.95) 70%,rgba(255,255,255,.95) 75%,
        transparent 75%,transparent 80%,
        rgba(255,255,255,.95) 80%,rgba(255,255,255,.95) 85%,
        transparent 85%,transparent 90%,
        rgba(255,255,255,.95) 90%,rgba(255,255,255,.95) 95%,
        transparent 95%,transparent
    ); */
    top:30px;
    left:-150%;
    z-index: 1;
}

@media screen and (max-width: 925px) {
    .noMobile {
      display: none }
    }