$sizeUnit: px;
$marginKey: 'm';
$paddingKey: 'p';
$separator: '-';
$negMarginKey:'-m';
$important: ' !important';
$sizes: (
    ('0', 0),
    ('1', 4),
    ('2', 8),
    ('3', 12),
    ('4', 16),
    ('5', 20),
    ('6', 24),
    ('8', 32),
    ('10', 40),
    ('12', 48),
    ('16', 64),
    ('20', 80),
    ('24', 96),
    ('32', 128),
    ('40', 160),
    ('48', 192),
    ('56', 224),
    ('64',256)
);
$negSizes: (
    ('1', -4),
    ('2', -8),
    ('3', -12),
    ('4', -16),
    ('5', -20),
    ('6', -24),
    ('8', -32),
    ('10', -40),
    ('12', -48),
    ('16', -64),
    ('20', -80),
    ('24', -96),
    ('32', -128),
    ('40', -160),
    ('48', -192),
    ('56', -224),
    ('64', -256 )
    );

$positions: (
    ('t', 'top'),
    ('r', 'right'),
    ('b', 'bottom'),
    ('l', 'left')
);

@function sizeValue($key, $value) {
    @return if($key == 'none', 0, $value + $sizeUnit + $important);
}

//positve margins
@each $size in $sizes {
    $sizeKey: nth($size, 1);
    $sizeValue: nth($size, 2);
    .#{$marginKey}#{$separator}#{$sizeKey} {
        margin: sizeValue($sizeKey, $sizeValue);
    }
    
    .#{$paddingKey}#{$separator}#{$sizeKey} {
        padding: sizeValue($sizeKey, $sizeValue);
    }
    @each $position in $positions {
        $posKey: nth($position, 1);
        $posValue: nth($position, 2);
        .#{$marginKey}#{$posKey}#{$separator}#{$sizeKey} {
            margin-#{$posValue}: sizeValue($sizeKey, $sizeValue);
        }
        .#{$paddingKey}#{$posKey}#{$separator}#{$sizeKey} {
            padding-#{$posValue}: sizeValue($sizeKey, $sizeValue);
        }
    }
}

//negative margins

@each $size in $negSizes {
    $sizeKey: nth($size, 1);
    $sizeValue: nth($size, 2);
    .#{$negMarginKey}#{$separator}#{$sizeKey} {
        margin: sizeValue($sizeKey, $sizeValue);
    }
    
    @each $position in $positions {
        $posKey: nth($position, 1);
        $posValue: nth($position, 2);
        .#{$negMarginKey}#{$posKey}#{$separator}#{$sizeKey} {
            margin-#{$posValue}: sizeValue($sizeKey, $sizeValue);
        }
        .#{$paddingKey}#{$posKey}#{$separator}#{$sizeKey} {
            padding-#{$posValue}: sizeValue($sizeKey, $sizeValue);
        }
    }
}
//Negative margins for left and right both
@each $size in $negSizes {
    $sizeKey: nth($size, 1);
    $sizeValue: nth($size, 2);
    .#{$negMarginKey}x#{$separator}#{$sizeKey} {
        margin-left: sizeValue($sizeKey, $sizeValue);
        margin-right: sizeValue($sizeKey, $sizeValue)
    }
    
    
}

//psoitive margins and paddig for left and right both

@each $size in $sizes {
    $sizeKey: nth($size, 1);
    $sizeValue: nth($size, 2);
    .#{$marginKey}x#{$separator}#{$sizeKey} {
        margin-left: sizeValue($sizeKey, $sizeValue);
        margin-right: sizeValue($sizeKey, $sizeValue)
    }
    .#{$paddingKey}x#{$separator}#{$sizeKey} {
        padding-left: sizeValue($sizeKey, $sizeValue);
        padding-right:sizeValue($sizeKey, $sizeValue);
    }
    
}

//negative margins for top and bottom both


@each $size in $negSizes {
    $sizeKey: nth($size, 1);
    $sizeValue: nth($size, 2);
    .#{$negMarginKey}y#{$separator}#{$sizeKey} {
        margin-top: sizeValue($sizeKey, $sizeValue);
        margin-bottom: sizeValue($sizeKey, $sizeValue)
    }
    
    
}
//positive margins for top and bottom both
@each $size in $sizes {
    $sizeKey: nth($size, 1);
    $sizeValue: nth($size, 2);
    .#{$marginKey}y#{$separator}#{$sizeKey} {
        margin-top: sizeValue($sizeKey, $sizeValue);
        margin-bottom: sizeValue($sizeKey, $sizeValue)
    }
    .#{$paddingKey}y#{$separator}#{$sizeKey} {
        padding-top: sizeValue($sizeKey, $sizeValue);
        padding-bottom:sizeValue($sizeKey, $sizeValue);
    }
    
}

//values for the m-px, p-px and -m-px classes
.#{$marginKey}#{$separator}px {
    margin: 16px !important;
    
}
.#{$negMarginKey}#{$separator}px {
    margin: -16px !important;
    
}
.#{$paddingKey}#{$separator}px {
    padding: 16px !important;
    
}

//margins for auto  margin classes

.#{$marginKey}#{$separator}auto {
    margin: auto !important;
    
}
.#{$marginKey}x#{$separator}auto {
    margin-left: auto !important;
    margin-right: auto !important;
    
}
.#{$marginKey}y#{$separator}auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}
// Auto padding classes

.#{$paddingKey}#{$separator}auto {
    padding: auto !important;
    
}
.#{$paddingKey}x#{$separator}auto {
    padding-left: auto !important;
    padding-right:auto !important;
    
}
.#{$paddingKey}y#{$separator}auto {
    padding-top: auto !important;
    padding-bottom:auto !important;
    
}