<template>
  <div class="modal-card" style="width: 700px;">
    <section class="modal-card-body">
      <div class="columns">
        <div class="column is-12">
          <p class="is-size-5 has-text-weight-semibold">Vi har brug for at lære dig bedre at kende.</p>
          <p class="is-size-6">For at vi må sende dine penge til dig, skal du bekræfte din identitet. Du kan også gøre
            det senere, men bemærk at verifikationen kan tage lidt tid og vi kan ikke udbetale penge til dig før du har
            bekræftet din identitet.</p>
          <p class="is-size-6 has-text-weight-semibold mt-3"> Sådan bekræftes din identitet:</p>
          <p class="is-size-7 mb-4"> (Klik for at tilføje fil)</p>
            <p class="upload-file px-4 pb-1">
                <uploadicon /> foto-ID (pas eller kørekort)</p>
          <div class="upload-new mt-2 text-underline">
            <p> + Upload interessentverifikation</p>
          </div>
          <div class="has-text-centered">
            <b-button class="mt-8 has-text-weight-semibold outline-grey" outlined>Bekræfte</b-button>
          </div>
        </div>
      </div>

    </section>
  </div>
</template>
<script>
  import Checkbox from "@/components/svg/Checkbox.vue"
  import uploadicon from "@/components/svg/uploadicon.vue"
  export default {
    components: {
      Checkbox,
      uploadicon
    }
  }
</script>
<style>
  .upload-file {
    background-color: #E3EAF2;
    border: 1px solid #E3EAF2;
    border-radius: 6px;
    max-width: 280px;
  }
</style>
