<template lang="html">
  <div class="container">
    <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="true">
       <img src="@/assets/img/svg/Claim details - Skeleton.svg" />
    </b-loading>
     <b-modal :active.sync="showVerification"
                 has-modal-card
                 trap-focus
                 :destroy-on-hide="false"
                 aria-role="dialog"
                 aria-modal>
            <ClaimsVerificationModal v-if="showVerification" />
        </b-modal>
      <div class="columns" v-if="!isLoading">
        <div class="column is-12">
          <div class="main-box p-5">
            <div class="level">
              <div class="level-left">
                 <claimsIconSidebar :active="true" class="mr-2" />
                <p class="title has-text-weight-bold is-size-6">
                {{ $t('claim.my_claims') }}
                </p>
              </div>
              <div class="level-right">
                    <span class="input-icon input-icon-right font-16"><i class="ti-search"></i></span>
                    <input class="input search-input mr-2" v-model="searchKey" :placeholder="$t('claim.search')" type="text">
                  <a @click="toNewClaims()">
                <b-button  type="button is-primary is-btn-fix icon-button" class="pl-10"  > <plusIcon :height="25" :width="25"/>
                  {{ $t("claim.add_new_claim") }}
                </b-button>
              </a>
              </div>
            </div>
            <hr>
              <div
                v-if='userProfile != null && (userProfile[0].active_account_id === "" || userProfile[0].active_account_id === null)'
                class="alert alert-warning alert-bordered text-center">
                <strong>{{$t("dashboard.warning")}}!</strong>
                <br><br>
                {{$t("dashboard.not_active_account")}} <br><br>
                <b><b-button class="is-primary" @click="$router.push('/accounts/create')"> {{$t("general.here")}}
                  </b-button></b>
              </div>
              <div v-else>
                <div v-if="claims.data && !tableLoading">
                  <b-table class="table-debito" :data='ClaimsData ? ClaimsData : []'
                    :paginated="ClaimsData.length > countPaginatedRows ? true : false" :per-page="countPaginatedRows"
                    default-sort-direction="desc" default-sort="customer_reference" centered= true >
                    <template slot-scope="props">
                      <b-table-column>
                      </b-table-column>
                      <b-table-column field="customer_reference" :label="$t('claim.claims_id')" width="200" sortable centered>
                        <router-link :to="`/claims/view/${props.row.id}`" class="text-blue">
                          {{props.row.customer_reference}}</router-link>
                      </b-table-column>
                      <b-table-column field="full_name" :label="$t('general.debtor')" width="250" centered sortable>
                        {{ props.row.full_name }}
                      </b-table-column>
                      <b-table-column field="claim_phase" :label="$t('general.status')" width="250" centered
                        :custom-sort="sortByStatus" sortable>
                        <!-- if the rejected_is_public state is true then show "rejected" as label -->
                        <span v-if="props.row.claim_phase.order == -1" class="badge-box danger-badge">{{$t("claimPhases[6]")}}</span>
                        <!-- if the rejected_is_public state is false then show "debt collection" as label -->
                        <!-- <span v-else-if="props.row.claim_phase.order == -1 && !props.row.rejected_is_public" class="badge-box primary-badge">{{$t("claimPhases[4]")}} </span> -->
                        <span v-else class="badge-box info-badge" >{{$t("claimPhases."+[props.row.claim_phase.order - 1])}}</span>
                      </b-table-column>
                      <b-table-column field="created" :label="$t('general.created')" width="250" centered sortable>
                        {{ props.row.created | formatDate }}
                      </b-table-column>
                      <b-table-column field="principle" :label="$t('claim.principle')" width="150" centered sortable>
                       {{ props.row.principle | formatCurrency }}
                      </b-table-column>
                      <b-table-column field="currency" :label="$t('claim.currency')" width="150" centered sortable>
                        {{ props.row.currency.iso_code }}
                      </b-table-column>
                    </template>
                    <template slot="empty">
                      <section class="section">
                        <div class="content has-text-grey has-text-centered is-centered">
                            <img src="../../assets/img/svg/no-claims-created.svg">
                            <p class="is-size-5 title has-text-weight-bold mt-5">{{$t('claim.empty_state_claim')}}</p>
                            <p class="has-text-weight-semibold">{{$t('claim.empty_claim_subtitle')}}</p>
                              <a @click="toNewClaims()">{{ $t("claim.view_unpaid_invoices") }}</a>
                        </div>
                      </section>
                    </template>
                  </b-table>
                </div>
                <!-- BarLoader for when form is loading -->
               <BarLoader v-else/>
              </div>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'
import { PAGINATED_ROWS } from '@/helpers'
import ClaimsVerificationModal from '@/pages/claims/ClaimsVerificationModal'
export default {
  components: {
    ClaimsVerificationModal
  },
  data () {
    return {
      showVerification: false,
      searchKey: "",
      isDebtorAsc: true,
      isStatusAsc: true,
      isPrincipleAsc: true,
    }
  },
  computed: {
    ...mapState('claims', {
      claims: state => state.claims,
      tableLoading: state => state.tableLoading,
    }),
    ...mapState('accounts', {
      userProfile: state => state.userProfile
    }),
    ...mapGetters('accounts', {
      activeAccountName: "activeAccountName"
    }),
    ...mapState("accountingSystem", {
      vendor: state => state.vendor
    }),
    isLoading() {
      if (this.tableLoading || this.claims.data == null) {
        return true
      }
      return false
    },
    ClaimsData() {
      let claimData = Object.values(this.filteredClaims)
      claimData.forEach(claim => {
        claim.principle = claim.claimLinesSum - claim.claimLinesDeduct
      })
      return claimData
    },
    filteredClaims() {
      return this.claims.data.filter((claims) => {
        let referenceStringArray = [claims.customer_reference, claims.full_name]
        const item = JSON.stringify(referenceStringArray).toLowerCase()
        return item.match(this.searchKey.toLowerCase())
      })
    },
    countPaginatedRows() {
      return PAGINATED_ROWS
    }
  },
  methods: {
    ...mapActions('claims', {
      getClaims: 'getClaims',
    }),
    toNewClaims() {
      if (this.vendor) {
        this.$router.push('/accountingsystem')
      } else {
        this.$router.push("/claims/create")
      }
      console.log(this.vendor)
    },
    sortByStatus(a, b, isStatusAsc) {
      this.isStatusAsc = !this.isStatusAsc
      let preferredOrder = ['Created', 'Recieved', 'Sent', 'Reminder', 'Debt collection', 'Ended']
      if (isStatusAsc) {
        return preferredOrder.indexOf(a.claim_phase.name) - preferredOrder.indexOf(b.claim_phase.name)
      } else {
        return preferredOrder.indexOf(b.claim_phase.name) - preferredOrder.indexOf(a.claim_phase.name)
      }
    },
  },
  mounted() {
    this.getClaims()
  }
}
</script>
<style scoped>
.badge-box {
  height: 20px;
  max-width: 120px;
  padding: 10px 50px 10px 50px;
  border-radius: 5px;
}
.primary-badge {
  color: #18c5a9;
  background-color: #e7f9f6;
}
.info-badge {
  color: #2196F3;
  background-color:#e8f4fe;
}
.danger-badge {
  color: #FF5252;
  background-color: #ffeded;
}
</style>
