<template lang="html">
  <div class="container">
      <div id="overlay" class="columns has-text-centered" v-on:click.self="toggle('hide', '')" @keydown.esc="toggle('hide', '')">
        <div class="column is-6  is-offset-3 mt-12 view" id="fileView">
        </div>
      </div>
      <div class="columns">
        <div class="column is-12">
              <div v-if="singleClaim.data" class="claim-margins">
                <!-- Notification will be added once the rejected_is_public = true -->
                <div v-if="singleClaim.data.claim_phase.order == -1" class="px-4 mb-10">
                  <div class=" bg-white mb-5 rejected-state notification-shadow">
                   <span> <img src="@/assets/img/svg/rejected.svg" class="mt-n3"> </span>
                   <div class="pl-3 d-inline-block">
                    <h5 class="text-danger">{{$t("claim.rejected_heading")}}</h5>
                    <h6 class="d-inline-block" v-if="singleClaim.data.rejected_reason">{{$t("claim.rejected_reason")}}: </h6> <p class="d-inline-block"> {{singleClaim.data.rejected_reason}}</p>
                    </div>
                  </div>
                </div>
                <div v-else class="pgbContainer noMobile">
                  <div class="card card-claim py-10">
                   <ProgressArea v-if="singleClaim.data.claim_phase.order == -1 && singleClaim.data.rejected_is_public == false"
                   :totalIndex="totalIndex" :currentIndex="6" :claimView='true'/>
                    <ProgressArea v-else :totalIndex="totalIndex" :currentIndex="singleClaim.data.claim_phase.order" :claimView='true'/>
                    </div>
                  <!-- Debt collection will be selected if the rejected_public is false -->
                </div>
                <div class="columns mt-12">
                  <div class="column is-12">
                    <div class="card card-claim mt-10">
                  <div class="card-content">
                  <b-tabs>
                    <b-tab-item label="Sag detajler">
                      <div class="columns">
                        <div class="column is-1 has-text-right -ml-10">
                          <claimsIconSidebar :active="true" />
                        </div>
                        <div class="column is-2">
                          <p class="is-size-6 has-text-weight-bold font-semibold">{{singleClaim.data.customer_reference}}</p>
                          <p class="is-size-6-half">{{$t("claim.case_reference")}}</p>
                        </div>
                        <div class="column is-2">
                          <p class="is-size-6 has-text-weight-bold font-semibold">{{singleClaim.data.created | formatDate}}</p>
                          <p class="is-size-6-half">{{$t("general.created")}}</p>
                        </div>
                        <div class="column is-1">
                          <p class="is-size-6 has-text-weight-bold font-semibold">{{singleClaim.data.currency.iso_code}}</p>
                          <p class="is-size-6-half">{{$t("claim.currency")}}</p>
                        </div>
                      </div>
                      <!-- Debtor details -->
                      <div class="columns">
                        <div class="column is-1 has-text-right -ml-10">
                         <debtorIconSidebar :active="true" />
                        </div>
                         <div class="column is-2">
                          <p class="is-size-6 has-text-weight-bold font-semibold">{{singleClaim.data.debtor.full_name }}</p>
                          <p class="is-size-6-half">{{$t("general.debtor")}}</p>
                        </div>
                        <div class="column is-2">
                          <p class="is-size-6 has-text-weight-bold font-semibold" v-if="singleClaim.data.debtor.address">{{singleClaim.data.debtor.address}}</p>
                           <p class="is-size-6 has-text-weight-bold font-semibold" v-else>-</p>
                          <p class="is-size-6-half">{{$t("general.address")}}</p>
                        </div>
                         <div class="column is-2">
                          <p class="is-size-6 has-text-weight-bold font-semibold" v-if="singleClaim.data.debtor.city">{{singleClaim.data.debtor.city}}</p>
                          <p class="is-size-6 has-text-weight-bold font-semibold" v-else>-</p>
                          <p class="is-size-6-half">{{$t("general.city")}}</p>
                        </div>
                         <div class="column is-2">
                          <p class="is-size-6 has-text-weight-bold font-semibold" v-if="singleClaim.data.debtor.zip_code">{{singleClaim.data.debtor.zip_code}}</p>
                          <p class="is-size-6 has-text-weight-bold font-semibold" v-else>-</p>
                          <p class="is-size-6-half">{{$t("general.zip_code")}}</p>
                        </div>
                      </div>
                    </b-tab-item>
                </b-tabs>
                    <hr>
                    <div class="columns">
                      <div class="column is-12 px-8">
                        <table class="table is-fullwidth claimview-table">
                          <thead>
                          </thead>
                          <tbody>
                      <tr v-for="(claimLine, index) in claimLines.data" :key="index">
                        <td><fileIcon :active="true"/></td>
                         <td class="is-size-6-half">{{claimLine.ClaimLineTypes.name}}</td>
                        <td class="is-size-6-half">{{claimLine.invoice_date | formatDate}}</td>
                          <td class="is-size-6-half">{{claimLine.maturity_date | formatDate}}</td>
                        <td class="is-size-6-half">{{claimLine.invoice_reference}}</td>
                        <td class="is-size-6-half">{{claimLine.amount | formatCurrency}}</td>
                        <td class="is-size-6-half">
                          <span v-on:click="toggle('show', claimLine)" class="file-icon"
                            v-if="showIcon(claimLine.file_name)">
                            <a class="is-size-6-half has-text-primary">Vis</a>
                          </span>
                          <span v-else>-</span>
                        </td>
                      </tr>
                    </tbody>
                        </table>
                      </div>
                    </div>
                </div>
                </div>
                  </div>
                </div>
                <!-- Financial details -->
                <div class="columns">
                  <div class="column is-12">
                    <div class="card card-claim mt-4">
                  <div class="card-content">
                  <b-tabs>
                    <b-tab-item label="Finansielle detaljer">
                      <div class="columns">
                        <div class="column is-12">
                          <table class="table is-fullwidth claimview-table" v-if="claimFinancials.data && claimFinancials.data[0]">
                    <thead>
                      <tr>
                        <th>{{$t("claim.charges")}}</th>
                        <th>{{$t("claim.updated")}}</th>
                        <th>{{$t("claim.original")}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="claimLine in claimLines.data">
                         <td>{{$t("claim.principle")}}:</td>
                        <td>{{claimFinancials.data[0].hovedstol | formatCurrency}}</td>
                        <td>{{amount.principle | formatCurrency}}</td>
                      </tr>
                      <tr>
                        <td>{{$t("claim.reminder_charges")}}:</td>
                        <td>{{claimFinancials.data[0].rykkergebyrer | formatCurrency}}</td>
                        <td>{{amount.compensation | formatCurrency}}</td>
                      </tr>
                      <tr>
                        <td>{{$t("claim.other_fees")}}:</td>
                        <td>{{claimFinancials.data[0].ovrige_gebyrer | formatCurrency}}</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>{{$t("claim.interest")}}:</td>
                        <td>{{claimFinancials.data[0].renter | formatCurrency}}</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>{{$t("claim.legal_fees")}}:</td>
                        <td>{{claimFinancials.data[0].retsgebyrer | formatCurrency}}</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>{{$t("claim.collection_charges")}}:</td>
                        <td>{{claimFinancials.data[0].inkassoomkostninger | formatCurrency}}</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>{{$t("claim.approved_meeting_salaried")}}:</td>
                        <td>{{claimFinancials.data[0].tilkendt_modesalar | formatCurrency}}</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>{{$t("claim.paid")}}:</td>
                        <td>{{claimFinancials.data[0].indbetalt | formatCurrency}}</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><strong>{{$t("claim.outstanding_debt")}}:</strong></td>
                        <td><strong>{{claimFinancials.data[0].restgald | formatCurrency}}</strong></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                  <div  class="px-16 pr-10" v-else>
                   <table class="table claimview-table is-fullwidth">
                    <thead>
                      <tr>
                       <th>{{$t("claim.charges")}}</th>
                      <th class="has-text-right">Beløb</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                       <td>{{$t("claim.principle")}}:</td>  
                       <td class="has-text-right">{{amount.principle | formatCurrency}}</td>
                      </tr>
                      <tr >
                        <td >{{$t("claim.your_added_fees")}}:</td>
                        <td class="has-text-right">{{amount.compensation | formatCurrency}}</td>
                      </tr>
                    </tbody>
                    <tfoot class="footer-border">
                      <tr>
                        <td class="has-text-weight-bold is-size-5 pl-3">Total beløb</td>
                        <td class="has-text-weight-bold is-size-5 has-text-right pr-3">{{amount.totalAmount | formatCurrency}}</td>
                      </tr>
                      </tfoot>
                  </table>
                  </div>
                        </div>
                      </div>
                    </b-tab-item>
                    <b-tab-item label="Handlinger på sagen" >
                       <div class="mt-5 column is-12" v-if="claimActions.data">
                      <table class="table claimview-table is-fullwidth">
                        <tbody >
                          <tr v-for="(claimAction,index) in claimActionsExpand" :key="index">
                            <td class="is-size-6-half">{{claimAction.claim_action_type.name}}</td>
                            <td class="is-size-6-half" v-if="claimAction.message">{{claimAction.message}}</td>
                            <td class="is-size-6-half has-text-left" v-else>-</td>
                              <td class="is-size-6-half">{{claimAction.date | formatDate}}</td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                    </b-tab-item>
                </b-tabs>
                </div>
                </div>
                  </div>
                </div>
              </div>
              <div v-else class="preloader-backdrop">
                <div class="page-preloader">{{$t('general.loading')}}</div>
              </div>
        </div>
      </div>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { fileReadableType, PAGINATED_ROWS } from '@/helpers'
import Accordion from '../../components/Accordion'
import ProgressArea from "@/pages/claims/create/ProgressArea"
export default {
  components: {
    Accordion,
    ProgressArea
  },
  props: {
    claim_id: {
      required: true,
      type: String
    }
  },
  data () {
    return {
      totalIndex: 7,
      claimActionsExpand: [],
      amount: {
        principle: "",
        paid: "",
        compensation: "",
        interest_added: "",
        debt_collection_fees: "",
        customer_owes: "",
        totalAmount: ""
      },

    }
  },
  computed: {
    ...mapState('claims', {
      singleClaim: state => state.singleClaim,
      claimLines: state => state.claimLines,
      claimActions: state => state.claimActions,
      claimFinancials: state => state.claimFinancials,

    }),
    customerOwes: function () {
      return this.amount.principle - this.amount.paid + this.amount.interest_added + this.amount.compensation + this.amount.debt_collection_fees
    },
    countPaginatedRows() {
      return PAGINATED_ROWS
    }
  },
  methods: {
    ...mapActions('claims', {
      getSingleClaim: 'getSingleClaim',
      getClaimLines: 'getClaimLines',
      getClaimActions: 'getClaimActions',
      getClaimFinancials: 'getClaimFinancials'
    }),
    getPrincipleValue() {
      let amount = 0
      let compensation = 0
      this.claimLines.data.forEach(function(claimLine) {
        if (claimLine.amount) {
          if (claimLine.ClaimLineTypes.identifier == "credit_note" || claimLine.ClaimLineTypes.identifier == "payment") {
            amount = amount - claimLine.amount
          } else if (claimLine.ClaimLineTypes.identifier == "invoice") {
            amount = amount + claimLine.amount
          }
          if (claimLine.ClaimLineTypes.identifier == "late_payment_fee" || claimLine.ClaimLineTypes.identifier == "compensation_fee") {
            compensation = compensation + claimLine.amount
          }
        }
      })
      this.amount.compensation = compensation
      this.amount.principle = amount
      this.amount.totalAmount = this.amount.compensation + this.amount.principle
    },
    setActionValues() {
      let paid = 0
      let interest_added = 0
      let debt_collection_fees = 0
      this.claimActions.data.forEach(function(claimAction) {
        paid = paid + claimAction.paid
        interest_added = claimAction.interest_added == 0 || claimAction.interest_added == null ? interest_added : claimAction.interest_added
        if (claimAction.debt_collection_fees > debt_collection_fees) {
          debt_collection_fees = claimAction.debt_collection_fees
        }
      })
      this.amount.paid = paid
      this.amount.interest_added = interest_added
      this.amount.debt_collection_fees = debt_collection_fees
    },
    async getApis() {
      try {
        this.getClaimLines(this.claim_id)
        this.getClaimActions(this.claim_id)
        this.getSingleClaim(this.claim_id)
      } catch (err) {

      }
    },
    toggle(event, claimLine) {
      if (event == "show") {
        document.getElementById("overlay").style.display = "block"
        var fileType = fileReadableType(claimLine.file_name)
        if (fileType == "Image") {
          var image = '<img src="' + process.env.ROOT_ADDRESS + claimLine.file_dir + claimLine.file_name + '" id="fileViewInner" style="width:900px; height:600px;" />'
          document.getElementById("fileView").innerHTML = image
        } else if (fileType == "PDF") {
          var file = '<object data="' + process.env.ROOT_ADDRESS + claimLine.file_dir + claimLine.file_name + '" id="fileViewInner" style="width:900px; height:600px;" />'
          document.getElementById("fileView").innerHTML = file
        }
      } else {
        document.getElementById("overlay").style.display = "none"
      }
    },
    showIcon(file_name) {
      if (file_name) {
        var fileType = fileReadableType(file_name)
        if (fileType == "Image") {
          return true
        } else if (fileType == "PDF") {
          return true
        }
      }
      return false
    },
    ClaimActionsReset() {
      if (this.claimActions.data) {
        this.claimActionsExpand = this.claimActions.data
      }
    },
    expandDataChange({ start, end }) {
      this.claimActionsExpand = this.claimActions.data.slice(start, end)
    },
  },
  watch: {
    claimLines: function () {
      if (this.claimLines.data) {
        this.getPrincipleValue()
      }
    },
    claimActions: function () {
      if (this.claimActions.data) {
        this.setActionValues()
      }
      this.ClaimActionsReset()
    }
  },
  mounted() {
    this.$store.commit('claims/resetSingleClaim')
    this.$store.commit('claims/resetSingleClaimLines')
    this.$store.commit('claims/resetClaimActions')
    this.getClaimLines(this.claim_id)
    this.getClaimActions(this.claim_id)
    this.getSingleClaim(this.claim_id)
    this.getClaimFinancials(this.claim_id)
    console.log(this.getClaimFinancials(this.claim_id))
  }
}
</script>
<style scoped>
@import '../../assets/css/progressbar.css';
.progressbar li{
  z-index: 0;
}
.li-width::before {
  height: 3px !important;
}
.li-width[data-v-4168bcc0]::after {
  background-color: white;
  border: 2px solid #18c5a9;
}
li.li-width.done.active::after {
  top: 0px;
}
.li-width::after {
  height: 15px !important;
  width: 15px !important;
  margin-top: 3px !important;

}
.table-width {
  width: 33%;
}
.table-overflow {
  overflow-x: auto;
}
.rejected-state {
  border-left: 5px solid #f75a5f;
  border-radius: 5px;
  padding: 20px;
}
.card-claim {
  box-shadow: 1px 1px 20px #0000001A;
}
.claimview-table td, .table th {
  border: 0px solid !important;
}
.footer-border {
  border-top: 1px solid #C8D2DB;
}
</style>

