<template>
  <div class="columns">
    <div class="column is-12 mx-auto">
    <div class="pgbContainer mx-24">
      <ProgressArea :totalIndex="totalIndex" :currentIndex="currentIndex" :createClaim="true" />
    </div>
    <div v-if="claimLineTypes.data && currentCurrency">
      <Invoice v-if="currentIndex==1" v-on:next="next" />
      <Payments v-if="currentIndex==2" v-on:next="next" v-on:previous="previous" />
      <Reminders v-if="currentIndex==3" v-on:next="next" v-on:previous="previous" />
      <OtherDocuments v-if="currentIndex==4" v-on:next="next" v-on:previous="previous" />
      <Debtor v-if="currentIndex==5" v-on:next="next" v-on:previous="previous" />
      <Overview v-if="currentIndex==6" v-on:previous="previous" />
    </div>
    </div>
  </div>
</template>

<script>
import Invoice from "@/pages/claims/create/Invoice";
import Payments from "@/pages/claims/create/Payments";
import Reminders from "@/pages/claims/create/Reminders";
import OtherDocuments from "@/pages/claims/create/OtherDocuments";
import Debtor from "@/pages/claims/create/Debtor";
import Overview from "@/pages/claims/create/Overview";
import ProgressArea from "@/pages/claims/create/ProgressArea";
import { mapState, mapActions } from "vuex";

export default {
  beforeRouteLeave(to, from, next) {
    let leaveText = "";
    if (this.invoiceFiles.length !== 0) {
      leaveText = this.$t("claims_add.leave_notice_1");
    }
    leaveText += "<br>" + this.$t("claims_add.leave_no_notice");
    if (this.sendingData === true || this.invoiceFiles.length === 0) {
      next();
    } else {
      this.$store.commit("claims/setSendingData", false);
      this.$alertify
        .confirm(leaveText, function(e) {
          if (e) {
            next();
          }
        })
        .set({ title: this.$t("general.alert") + "!" })
        .set("labels", {
          ok: this.$t("general.yes"),
          cancel: this.$t("general.no")
        });
    }
  },

  components: {
    Invoice,
    Payments,
    Reminders,
    OtherDocuments,
    Debtor,
    Overview,
    ProgressArea
  },
  data() {
    return {
      currentIndex: 1,
      totalIndex: 6
    };
  },
  methods: {
    disbleStepButton: function(n) {
      if (n == this.currentIndex) {
        return "btn-success shadow-button";
      } else if (n < this.currentIndex) {
        return "btn-success disabled";
      } else {
        return "btn-secondary-sidebar disabled disabled";
      }
    },
    ...mapActions("claims", {
      getCurrencies: "getCurrencies",
      getClaimLineTypes: "getClaimLineTypes"
    }),
    next() {
      if (this.currentIndex < 6) {
        this.currentIndex++;
      }
    },
    previous() {
      if (this.currentIndex > 0) {
        this.currentIndex--;
      }
    },
    moveIndex(n) {
      if (n <= this.currentIndex) {
        this.currentIndex = n;
      }
    },
    disableSidebar() {
      if (this.sendingData) {
        return "disable-sidebar";
      }
      return "";
    }
  },
  computed: {
    ...mapState("claims", {
      currencies: state => state.currencies,
      currentCurrency: state => state.currentCurrency,
      claimLineTypes: state => state.claimLineTypes,
      sendingData: state => state.sendingData,
      invoiceFiles: state => state.fileQueueInvoice,
      sendingData: state => state.sendingData
    }),
    ...mapState("accounts", {
      userProfile: state => state.userProfile
    })
  },
  created: function() {
    this.$store.commit("claims/resetClaimsState");
    // if currencies were not loaded already, prevent an extra call to server.
    if (!this.currencies.data) {
      this.getCurrencies();
    }
    // if claimLineTypes were not loaded already, prevent an extra call to server.
    if (!this.claimLineTypes.data) {
      this.getClaimLineTypes();
    }
  }
};
</script>
<style scoped>
</style>
