<template>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Stocks</title>
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> -->
</head>
<body>
  <my-header></my-header>
  <section class="section">
    <div class="container">
      <router-view></router-view>
    </div>
  </section>
  <footer class="footer">
  <div class="content has-text-centered">
    <p>
      Hasnat stocks system
    </p>
  </div>
</footer>
</body>
</html>

</template>
<script>
import MyHeader from "./layout/header.vue";
export default {
  components: {
    MyHeader,
  }
};
</script>
<style>
</style>
