<template>
  <div class="container">
    <div v-if="accessType == 'internal'">
      <p
        class="is-size-4 mt-4 has-text-primary has-text-weight-semibold"
      >{{$t("erpIntegration.connect_your_account")}}</p>
      <p class="is-size-6">{{$t("erpIntegration.let_us_help")}}</p>
      <div class="columns mt-10">
        <div class="column is-2"></div>
        <div class="column">
          <div class="card card-acc has-background-billy">
            <img id="billy-logo" src="../../assets/img/logos/billy.svg" alt="Billy Logo">
            <p class="is-size-5 pb-5 has-text-weight-semibold has-text-centered">Billy</p>
            <button @click="getUrl('billy')" class="button is-white has-text-billy">{{$t("erpIntegration.connect")}}</button>
          </div>
        </div>
        <div class="column">
          <div class="card card-acc has-background-e-con" id="econ-card">
            <img id="econ-logo" src="../../assets/img/logos/economic.svg" alt="">
            <p class="is-size-5 pb-5 has-text-weight-semibold has-text-centered">E-conomic</p>
            <button @click="getUrl('economics')" class="button is-white has-text-e-con">{{$t("erpIntegration.connect")}}</button>
          </div>
        </div>
        <div class="column">
          <div class="card card-acc has-background-dinero">
            <img id="dinero-logo" src="../../assets/img/logos/dinero.svg" alt="">
            <p class="is-size-5 pb-5 has-text-weight-semibold has-text-centered">Dinero</p>
            <button @click="getUrl('dinero')" class="button is-white has-text-dinero">{{$t("erpIntegration.connect")}}</button>
          </div>
        </div>
        <div class="column is-2"></div>
      </div>
    </div>
    <div class="columns -mt-10 px-3" v-else-if="accessType == 'external'">
      <div class="card mb-20 pb-10 is-12 column mt-10">
        <div class="column is-12 mb-4">
          <p class="is-size-3 has-text-weight-bold">
            {{$t("erpIntegration.add_your_invoices")}}
          </p>
          <p class="is-text-5">{{$t("erpIntegration.click_to_sync_your")}}</p>
        </div>
        <div class="columns px-40 mt-2 mb-5 has-text-centered">
          <div id="external-ac-billy" class="column external-ac" @click="getUrl('billy')">
            <img id="billy-logo" src="../../assets/img/logos/billy.png" alt="Billy Logo">
          </div>
          <div id="external-ac-economic" class="column external-ac ml-4" @click="getUrl('economics')">
            <img id="economic-logo" src="../../assets/img/logos/economic.png" alt="Economic Logo">
          </div>
          <div id="external-ac-dinero" class="column external-ac ml-4" @click="getUrl('dinero')">
            <img id="dinero-logo" src="../../assets/img/logos/dinero.png" alt="Dinero Logo">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    accessType: {
      default: "internal"
    }
  },
  methods: {
    getUrl(data) {
      if (data === "economics") {
        this.$store.dispatch("accountingSystem/getEconomicUrl");
      }
      if (data === "billy") {
        this.$router.push("/accountingsystem/billy");
      }
      if (data === "dinero") {
        this.$router.push("/accountingsystem/dinero");
      }
    }
  }
};
</script>

<style scoped lang="scss">
@import "../../assets/css/colors.scss";
.card-acc {
  max-width: 320px;
  max-height: 450px;
  border-radius: 4px;
}
// .card .image-outer {
//   top: 50px;
//   left: 10px;
//   border-radius: 50%;
//   background-color: $white;
//   position: relative;
//   height: 180px;
//   width: 180px;
// }
.card-acc img{
  padding: 50px;
  border-radius: 50%;
}
.card-acc p{
  color: $white;
  margin-top: -30px;
}
.card-acc button{
  width: 80%;
  margin-left: 10%;
  margin-bottom: 30px;
  margin-top: 30px;
}
.external-ac {
  box-shadow: 0px 10px 20px #399EE61A;
  height: 200px;
  max-width: 320px;
  cursor: pointer;
  box-shadow: 0px 0px 20px #18C5A94D;
}
.external-ac:hover {
  box-shadow: 0px 2px 10px #18C5A999;
}
.external-ac img{
  padding-top:50px;
}
</style>
