<template lang="html">
  <div class="content-wrapper mt-5">
    <div class="page-content">
      <div class="ibox" v-if="!loading">
        <!-- if we are syncing invoices go to erp syncing page -->
        <ErpSyning v-if="syncing"></ErpSyning>
        <!-- Accounting system component -->
        <accounting-system :accessType="accessType" v-else-if="!showInvoices"></accounting-system>
        <!-- invoices component -->
        <invoices :accessType="accessType" v-else></invoices>
      </div>
      <!--Bar Loader for when status is loading -->
       <BarLoader v-else/>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import ErpSyning from './ErpSyncing'
import AccountingSystem from './AccountingSystem.vue'
import Invoices from './Invoices.vue'

export default {
  props: {
    accessType: {
      default: "internal"
    }
  },
  components: {
    ErpSyning,
    AccountingSystem,
    Invoices
  },
  computed: {
    ...mapState('accountingSystem', {
      loading: state => state.loading,
      showInvoices: state => state.showInvoices,
      syncing: state => state.syncing,
    })
  },
  created () {
    this.$store.dispatch('accountingSystem/integrationCheck')
  }
}
</script>