<template lang="html">
  <div class="container">
    <p class="is-size-4 mt-4 has-text-primary has-text-weight-semibold">
      {{ $t("erpIntegration.connect_your_account") }}
    </p>
    <p class="is-size-6">{{ $t("erpIntegration.let_us_help") }}</p>
    <div class="columns mt-10">
      <div class="column is-half is-offset-one-quarter" id="billy-form">
        <div id="form-inner">
          <b-message class="" v-if="formInput.serverError" type="is-danger" aria-close-label="Close message">
                {{ $t("auth.oops") }}! {{ formInput.serverError }}
          </b-message>
          <div class="row justify-content-center">
              <img
                class="has-image-centered"
                id="billy-logo"
                src="../../assets/img/logos/billy.png"
                alt=""
              />
          </div>
          <h5 class="has-text-billy is-size-5 has-text-weight-semibold mt-4">{{ $t("erpIntegration.heading") }}</h5>
          <p class="is-size-7 has-text-weight-normal has-text-dark mt-2">{{ $t("erpIntegration.heading_note") }}</p>
          <p class="is-size-7 has-text-weight-bold has-text-dark mt-2">
            {{ $t("erpIntegration.provide_email_password") }}
          </p>
          <div
            class="mt-4"
            v-bind:class="styleObject.errorObject.email"
          >
            <input
              class="input custom-input-styles"
              maxlength="255"
              type="text"
              name="email"
              :placeholder="$t('erpIntegration.email')"
              v-model="formInput.email"
            />
            <label
              v-if="styleObject.errorObject.email"
              id="email-error"
              class="help is-danger"
              for="email"
              >{{ $t("auth.provide_valid_email") }}</label
            >
          </div>
          <div
            class="mt-4"
            v-bind:class="styleObject.errorObject.password"
          >
            <input
              class="input custom-input-styles"
              maxlength="255"
              type="password"
              name="password"
              :placeholder="$t('erpIntegration.password')"
              v-model="formInput.password"
            />
            <label
              v-if="styleObject.errorObject.password"
              id="password-error"
              class="help is-danger"
              for="password"
              >{{ $t("auth.provide_valid_password") }}</label
            >
          </div>
          <div class="buttons mt-4">
            <button
              type="button"
              :disabled="formInput.buttonDisabled ? true : false"
              class="button is-fullwidth is-billy"
              @click="billyAuth"
            >
              <template v-if="!formInput.buttonDisabled">
                {{ $t("erpIntegration.sign_in") }}
              </template>
              <span v-else v-html="buttonSpinner">
                {{ buttonSpinner }}
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
export default {
  name: "billy-Integration",
  computed: {
    ...mapState("accountingSystem", {
      loading: state => state.loading,
      formInput: state => state.formInput,
      styleObject: state => state.styleObject
    }),
    ...mapGetters("auth", {
      buttonSpinner: "buttonSpinner"
    })
  },
  methods: {
    ...mapActions("accountingSystem", {
      billyAuth: "billyAuth"
    })
  },
  mounted() {
    this.$store.commit("accountingSystem/resetSetError");
  }
};
</script>

<style scoped lang="scss">
@import "../../assets/css/colors.scss";
#billy-form {
  background-color: $billy-form;
  max-width: 605px;
  max-height: 649px;
}
#form-inner {
  padding: 12% 12%;
}
#billy-logo {
  margin: 0px 24%;
}
</style>
