<template>
  <transition name="termsmodal">
    <div class="modal-card" style="width: 1200px">
          <header class="modal-card-head">
            <h6
              class="modal-card-title is-size-6"
            >{{$t("general.file")}} {{currentIndex + 1}} {{$t("pagination.of")}} {{selectedInvoices.length}}</h6>
          </header>
          <div class="modal-card-body">
            <div class="mb-2">
              <strong>
                <u>{{$t("erpIntegration.invoice_info")}}</u>
              </strong>
            </div>
            <div v-for="(invoice, index) in selectedInvoices">
              <div class="columns" v-if="currentIndex == index">
                <div class="column is-6">
                  <form>
                    <div class="form-group columns">
                      <div class="column is-6" v-bind:class="{'has-error': styling.issue_date }">
                        <label class="label text-label" for>{{$t("claim.invoice_date")}}</label>
                        <date-picker
                          v-model="invoice.issue_date"
                          placeholder="dd.mm.yyyy"
                          format="DD-MM-YYYY"
                          lang="en"
                          :not-before="threeYearsBack()"
                        ></date-picker>
                      </div>
                      <div class="column is-6" v-bind:class="{'has-error': styling.due_date }">
                        <label class="label text-label" for>{{$t("claim.due_date")}}</label>
                        <date-picker
                          v-model="invoice.due_date"
                          placeholder="dd.mm.yyyy"
                          format="DD-MM-YYYY"
                          lang="en"
                          :not-before="threeYearsBack()"
                        ></date-picker>
                      </div>
                    </div>
                    <div class="form-group columns">
                      <div class="column is-6" v-bind:class="{'has-error': styling.invoice_number }">
                        <label
                          class="label text-label"
                          for
                        >{{$t("claims_add.buffer_modal.invoice_number")}}</label>
                        <input
                          class="input custom-input-styles"
                          v-model="invoice.invoice_number"
                          type="text"
                        />
                      </div>
                      <div class="column is-6" v-bind:class="{'has-error': styling.gross_amount }">
                        <label
                          class="label text-label"
                          for
                        >{{$t("claims_add.buffer_modal.amount_including_vat")}}</label>
                        <input
                          class="input custom-input-styles"
                          @change="setCurrency()"
                          placeholder="0,00"
                          v-bind:value="grossAmount"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="form-group columns">
                      <div class="column is-6">
                        <label class="label text-label" for>{{$t("claim.currency")}}</label>
                        <model-select
                          class="currency-style input"
                          :options="priorityCurrenciesArray"
                          v-model="invoice.Currencies.id "
                          placeholder="select item"
                        ></model-select>
                      </div>
                    </div>
                    <hr />
                    <div class="mb-2">
                      <strong>
                        <u>{{$t("erpIntegration.debtor_info")}}</u>
                      </strong>
                    </div>
                    <!-- if debtor is a company -->
                    <div v-if="invoice.Debtors.is_company" class="columns">
                      <div class="column is-6">
                        <label class="label text-label" for>{{$t("general.vat_number")}}</label>
                        <input
                          class="input custom-input-styles"
                          type="text"
                          v-model="invoice.Debtors.vat_number"
                        />
                      </div>
                      <div class="column is-6">
                        <label class="label text-label" for>{{$t("general.name")}}</label>
                        <input
                          class="input custom-input-styles"
                          type="text"
                          v-model="invoice.Debtors.company_name"
                        />
                      </div>
                    </div>
                    <div v-else class="columns">
                      <div class="column is-6">
                        <label class="label text-label" for>{{$t("debtor.first_name")}}</label>
                        <input
                          class="input custom-input-styles"
                          type="text"
                          v-model="invoice.Debtors.first_name"
                        />
                      </div>
                      <div class="column is-6">
                        <label class="label text-label">{{$t("debtor.last_name")}}</label>
                        <input class="input custom-input-styles" type="text" v-model="invoice.Debtors.last_name" />
                      </div>
                    </div>
                    <div class="columns">
                      <div class="column is-6" v-bind:class="{'has-error': styling.email }">
                        <label class="label text-label" for>{{$t("general.email")}}</label>
                        <input class="input custom-input-styles" type="text" v-model="invoice.Debtors.email" />
                      </div>
                      <div class="column is-6" v-bind:class="{'has-error': styling.phone }">
                        <label class="label text-label">{{$t("general.tel")}}</label>
                        <input class="input custom-input-styles" type="text" v-model="invoice.Debtors.phone" />
                      </div>
                    </div>
                    <div class="columns">
                      <div class="column is-12">
                        <label class="label text-label">{{$t("general.address")}}</label>
                        <input class="input custom-input-styles" type="text" v-model="invoice.Debtors.address" />
                      </div>
                    </div>
                    <div class="columns">
                      <div class="column is-6">
                        <label class="label text-label">{{$t("general.zip_code")}}</label>
                        <input class="input custom-input-styles" type="text" v-model="invoice.Debtors.zip_code" />
                      </div>
                      <div class="column is-6">
                        <label class="label text-label">{{$t("general.city")}}</label>
                        <input class="input custom-input-styles" type="text" v-model="invoice.Debtors.city" />
                      </div>
                    </div>
                  </form>
                </div>
                <div
                  class="column is-6 border border-top-0 border-bottom-0 text-center d-none d-md-block"
                >
                  <span v-html="imgarr[index]">
                    <p></p>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-card-foot buttons is-right">
            <b-button
              class="button is-primary is-pulled-left"
              outlined
              v-if="currentIndex > 0"
              v-on:click="currentIndex--"
            >
              <span class="btn-icon">
                <span class></span>
                {{$t("pagination.modal_back")}}
              </span>
            </b-button>
            <b-button
              class="button is-light is-pulled-right"
              v-on:click="$emit('cancel')"
            >{{$t("general.cancel")}}</b-button>
            <b-button
              class="button is-primary is-pulled-right"
              v-if="(currentIndex + 1) < selectedInvoices.length"
              v-on:click="nextFile()"
            >
              <span class="btn-icon">
                {{$t("pagination.next")}}
                <span></span>
              </span>
            </b-button>
            <b-button
              class="button is-primary is -right is-btn-fix"
              v-else
              v-on:click="addClaims()"
            >
              <span v-if="!loading">{{$t("erpIntegration.confirm")}}</span>
              <span v-else><Loader2 /></span>
            </b-button>
          </div>
    </div>
  </transition>
</template>

<script>
import { fileReadableType, allowNumbers } from "@/helpers"
import { mapState, mapGetters, mapActions } from "vuex"
import DatePicker from "vue2-datepicker"
import { ModelSelect } from "vue-search-select"
import moment from "moment"
export default {
  components: { DatePicker, ModelSelect },
  data() {
    return {
      count: 0,
      imgarr: [],
      currentIndex: 0,
      loading: false,
      styling: {
        issue_date: false,
        due_date: false,
        invoice_number: false,
        gross_amount: false,
        currency: false,
        email: false,
        phone: false,
      }
    }
  },
  computed: {
    ...mapState("accountingSystem", {
      selectedInvoices: state => state.selectedInvoices
    }),
    ...mapState("claims", {
      currencies: state => state.currencies,
      currentCurrency: state => state.currentCurrency
    }),
    ...mapGetters("claims", {
      priorityCurrenciesArray: "priorityCurrenciesArray",
      priorityCurrenciesArrayFull: "priorityCurrenciesArrayFull"
    }),
    // we will use a temp computed property to show user the formatted value,
    // when this value changes, we will update the original value
    grossAmount() {
      if (this.count === 0) {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.count++
        return this.$options.filters.formatCurrency(this.selectedInvoices[this.currentIndex].gross_amount)
      } else return this.$options.filters.formatInvoiceAmount(this.selectedInvoices[this.currentIndex].gross_amount)
    }
  },
  methods: {
    setCurrency() {
      this.selectedInvoices[this.currentIndex].gross_amount = event.target.value
    },
    ...mapActions("claims", {
      getCurrencies: "getCurrencies",
      getClaimLineTypes: "getClaimLineTypes",
      getClaims: "getClaims",
      getAllClaimActions: "getAllClaimActions"
    }),
    ...mapActions("accountingSystem", {
      editInvoice: "editInvoice",
      addFromInvoices: "addFromInvoices"
    }),
    ...mapActions("debtors", {
      getDebtors: "getDebtors"
    }),
    generateFileViewArea(file) {
      var fileType = fileReadableType(file)
      if (fileType == "image") {
        var image =
          '<img src="' +
          process.env.ROOT_ADDRESS +
          "webroot/files/EconomyPie/invoices/" +
          file +
          '" id="fileViewInner" style="width:100%; min-height:700px" />'
        that.imgarr.push(image)
      } else if (fileType == "PDF") {
        var file =
          '<object data="' +
          process.env.ROOT_ADDRESS +
          "webroot/files/EconomyPie/invoices/" +
          file +
          '" id="fileViewInner" style="width:100%; min-height:700px" />'
        this.imgarr.push(file)
      } else {
        that.imgarr.push(this.noFileAlert)
      }
    },
    threeYearsBack() {
      return moment().subtract(3, "years")
    },
    allowNumbersOnly(event) {
      return allowNumbers(event)
    },
    nextFile() {
      if (this.validateForm()) {
        this.currentIndex++
      }
    },
    // to reset the form validation
    resetErrors() {
      for (var property in this.styling) {
        this.styling[property] = false
      }
    },
    // to validate the form input for empty fields
    validateForm() {
      let validate = true
      this.resetErrors()
      if (!this.selectedInvoices[this.currentIndex]["issue_date"]) {
        this.styling.issue_date = true
        validate = false
      }
      if (!this.selectedInvoices[this.currentIndex]["due_date"]) {
        this.styling.due_date = true
        validate = false
      }
      if (!this.selectedInvoices[this.currentIndex]["invoice_number"]) {
        this.styling.invoice_number = true
        validate = false
      }
      if (!this.selectedInvoices[this.currentIndex]["gross_amount"]) {
        this.styling.gross_amount = true
        validate = false
      }
      if (!this.selectedInvoices[this.currentIndex].Debtors["email"]) {
        this.styling.email = true
        validate = false
      }
      if (!this.selectedInvoices[this.currentIndex].Debtors["phone"]) {
        this.styling.phone = true
        validate = false
      }
      return validate
    },
    noFileAlert() {
      let section =
        '<div class="alert alert-warning alert-bordered text-left"><b>' +
        this.$t("dashboard.warning") +
        "!</b><br>" +
        this.$t("claims_add.buffer_modal.preview_not_available_file") +
        "</div>"
      section +=
        "<div class='text-center pt-5 mt-5'> <i class='far fa-file-excel fa-2x mt-5'></i><h6 class='text-muted font-light pt-4'> " +
        this.$t("claims_add.buffer_modal.preview_not_available") +
        "</h6></div>"
      return section
    },
    // on submitting a claim we check to see if the form is validated and then we continue
    addClaims() {
      this.loading = true
      if (this.validateForm()) {
        let inovice_array = []
        for (let i = 0; i < this.selectedInvoices.length; i++) {
          inovice_array = []
        }
        let that = this
        this.editInvoice().then(
          this.addFromInvoices({ selectedInvoices: this.selectedInvoices }).then(function(value) {
            that.getClaims()
            that.getAllClaimActions()
            that.getDebtors()
            that.$emit('cancel')
            that.$store.commit("claims/setClaimSuccessPage")
            that.$router.push('/')
            that.loading = false
          })
        )
      } else {
        this.loading = false
      }
    }
  },
  created: function() {
    for (let i = 0; i < this.selectedInvoices.length; i++) {
      this.generateFileViewArea(this.selectedInvoices[i].pdf_file_path)
    }
    // if currencies were not loaded already, prevent an extra call to server.
    if (!this.currencies.data) {
      this.getCurrencies()
    }
  }
}
</script>

 <style scoped>
@import "../../assets/css/buffermodal.css";
.modal-dialog-width {
  max-width: 100vw;
}
.modal-width {
  max-width: 1000px;
}
.nopreview-margin {
  margin-top: 100px;
}
.modal-body {
  max-height: 700px;
  overflow: -moz-hidden-unscrollable;
  overflow: hidden;
}
.modal-footer {
  display: block !important;
}
.modal-button {
  min-height: 40px;
  min-width: 100px;
}
.modal-display {
  display: block;
  overflow-y: scroll;
}
@media screen and (max-width: 900px) {
  .modal-small-body {
    max-height: 525px;
    overflow: scroll;
  }
  .modal-button {
    min-width: 80px;
    font-size: 90%;
  }
}
</style>
