<template lang="html">
  <div class="container">
    <p class="is-size-4 mt-4 has-text-primary has-text-weight-semibold">
      {{ $t("erpIntegration.heading_dinero") }}
    </p>
    <p class="is-size-6">{{ $t("erpIntegration.let_us_help") }}</p>
    <div class="columns mt-10">
      <div class="column is-half is-offset-one-quarter" id="dinero-form">
        <div id="form-inner">
          <b-message
            class=""
            v-if="formInput.serverError"
            type="is-danger"
            aria-close-label="Close message"
          >
            {{ $t("auth.oops") }}! {{ formInput.serverError }}
          </b-message>
          <div class="row justify-content-center">
            <img
              class="has-image-centered"
              id="dinero-logo"
              src="../../assets/img/logos/dinero.png"
              alt=""
            />
          </div>
          <h5 class="has-text-dinero is-size-5 has-text-weight-semibold mt-4">
            {{ $t("erpIntegration.heading_dinero") }}
          </h5>
          <p class="is-size-7 has-text-weight-normal has-text-dark mt-2">
            {{ $t("erpIntegration.heading_note_dinero") }}
          </p>
          <div v-if="!formInput.organizations.data">
            <p class="is-size-7 has-text-weight-bold has-text-dark mt-2">
              {{ $t("erpIntegration.api_key") }}
            </p>
            <div class="mt-4" v-bind:class="styleObject.errorObject.api_key">
              <input
                class="input custom-input-styles"
                maxlength="255"
                type="text"
                name="email"
                placeholder="XXXXXXXX"
                v-model="formInput.api_key"
              />
              <label
                v-if="styleObject.errorObject.api_key"
                id="email-error"
                class="help is-danger"
                for="email"
                >{{ $t("erpIntegration.provide_valid_api_key") }}</label
              >
            </div>
            <div class="buttons mt-4">
              <button
                type="button"
                :disabled="formInput.buttonDisabled ? true : false"
                class="button is-fullwidth is-dinero"
                @click="dineroAuth"
              >
                <template v-if="!formInput.buttonDisabled">
                  {{ $t("general.verify") }}
                </template>
                <span v-else v-html="buttonSpinner">
                  {{ buttonSpinner }}
                </span>
              </button>
            </div>
          </div>
          <div v-else>
            <p class="is-size-7 has-text-weight-bold has-text-dark mt-2">
              {{$t("erpIntegration.organization_id")}}
            </p>
            <div class="mt-4" v-bind:class="styleObject.errorObject.api_key">
              <div class="select is-fullwidth is-black">
                <select v-model="formInput.selectedOrganization" class="control custom-input-styles">
                  <option v-for="org in formInput.organizations.data" v-bind:value="org.id">
                    {{org.id}} - {{org.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="buttons mt-4">
              <button
                type="button"
                :disabled="formInput.buttonDisabled ? true : false"
                class="button is-fullwidth is-dinero"
                @click="dineroAuth"
              >
                <span v-if="!formInput.buttonDisabled">
                  {{ $t("erpIntegration.sync_account") }}
                </span>
                <span v-else v-html="buttonSpinner">
                  {{ buttonSpinner }}
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
export default {
  name: "Dinero-Integration",
  computed: {
    ...mapState("accountingSystem", {
      loading: state => state.loading,
      formInput: state => state.formInput,
      styleObject: state => state.styleObject
    }),
    ...mapGetters("auth", {
      buttonSpinner: "buttonSpinner"
    })
  },
  methods: {
    ...mapActions("accountingSystem", {
      dineroAuthStart: "dineroAuthStart",
      dineroAuthFinish: "dineroAuthFinish"
    }),
    dineroAuth() {
      if (this.formInput.organizations.data) {
        this.dineroAuthFinish();
      } else {
        this.dineroAuthStart();
      }
    }
  },
  mounted() {
    this.$store.commit("accountingSystem/resetSetError");
  }
};
</script>

<style scoped lang="scss">
@import "../../assets/css/colors.scss";
#dinero-form {
  background-color: $billy-form;
  max-width: 605px;
  max-height: 649px;
}
#form-inner {
  padding: 12% 12%;
  margin-bottom: 10%;
}
#dinero-logo {
  margin: 0px 20%;
}
</style>
