<template>
  <div class="modal-card">
    <section class="modal-card-body py-8 px-6">
      <p class="is-size-5 has-text-primary">Do you want to configure reminder settings?</p>
      <p class="is-size-6 pt-3">You can decide the amount of reminders and how often to send them.</p>
      <div class="pt-3 has-text-centered">
        <img src="../../assets/img/svg/dunning graphic.svg" alt />
        <p class="is-size-6-half pt-3">You can change these settings later at any time.</p>
        <div class="mt-3">
          <button @click="createDunning()" class="button -mr-24 is-primary is-outlined">
            <span v-if="!isLoading">Use default settings</span>
            <span v-else>
              <Loader2 />
            </span>
          </button>
          <p
            @click="toSettingsPage()"
            class="has-text-primary has-cursor-pointer is-size-6 move-right mt-2"
          >Configure ></p>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import { mapActions } from "vuex"
export default {
  data() {
    return {
      isLoading: false
    };
  },
  methods: {
    ...mapActions("accounts", {
      postDunningConfigurations: "postDunningConfigurations"
    }),
    toSettingsPage() {
      this.$router.push("/user/settings")
    },
    createDunning() {
      this.isLoading = true
      this.postDunningConfigurations({
        data: [],
        method: "post",
        id: null
      }).then(response => {
        this.isLoading = false
        this.$emit('setDunningId', response.data.data.id)
        this.$parent.close()
      }).error(response => {
        this.isLoading = false
      })
    }
  }
};
</script>
