<template>
  <div class="">
    <div class="columns">
      <div class="column is-12 main-box mt-12  mx-auto illustration-margin">
        <div id="image-illustration">
          <div class="mb-5 mt-2 px-5">
            <div class="level">
            <div class="level-left">
                <div class="mt-5"><b-skeleton width="100px" :animated="animated"></b-skeleton></div>
            </div>
            <div class="level-right">
                <div class="mt-5"><b-skeleton width="100px" :animated="animated"></b-skeleton></div>
            </div>
          </div>
            <div class="mt-5"><b-skeleton width="100%" :animated="animated"></b-skeleton></div>
           <div class="mt-5"><b-skeleton width="100%" :animated="animated"></b-skeleton></div>
           <div class="mt-5"><b-skeleton width="100%" :animated="animated"></b-skeleton></div>
           <div class="mt-5"><b-skeleton width="100%" :animated="animated"></b-skeleton></div>
           <div class="mt-5"><b-skeleton width="100%" :animated="animated"></b-skeleton></div>
           <div class="mt-5"><b-skeleton width="100%" :animated="animated"></b-skeleton></div>
           <div class="mt-5"><b-skeleton width="100%" :animated="animated"></b-skeleton></div>
           </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import router from '@/router'
export default {
  props: {
    reference: {
      type: String,
      required: false
    }
  },
  data() {
    return {
      animated: true
    }
  },
  computed: {
    ...mapState('accountingSystem', {
      syncing: state => state.syncing
    })
  },
  methods: {
    ...mapActions('accountingSystem', {
      checkSynced: 'checkSynced',
    }),
  },
  mounted() {
    if (this.reference) {
      this.checkSynced(this.reference)
    }
  },
  watch: {
    syncing: function (val) {
      if (!val) {
        router.push('/accountingsystem/')
      }
    }
  }
}
</script>

<style scoped>
.illustration-margin {
}
.overlay-custom {
  display: block !important;
}
</style>
