<template>
  <div class="columns">
    <div v-if="!invoices.data">
      <img src="../../assets/img/svg/invoice table loader.svg" />
    </div>
    <div v-else class="column is-12 is-centered">
      <div class="main-box p-5 -mt-3 -mb-8">
        <div class="level">
          <div class="level-left">
             <settingsIconSidebar :active="true" class="mr-2"/>
            <span
              class="title has-text-weight-bold is-size-6"
            >{{ $t('erpIntegration.unpaid_invoices') }}</span>
          </div>
          <div class="level-right -mb-4">
            <img
              class="mx-xs-auto text-center accounting-logo mr-4"
              :src="require('../../assets/img/logos/' + vendor.vendor_identifier + '.png')"
            />
            <b-button type="is-secondary-light" class="pt-0 pb-0" @click="refreshAccountSync">
              <syncIcon />
              {{$t("erpIntegration.sync_account")}}
            </b-button>
          </div>
        </div>
        <div class="mb-5">
          <div>
            <div class="tabs">
              <ul>
                <li
                  class="custom-tab-color"
                  :class="{'is-active': tab==='invoices'}"
                  @click="tab='invoices'"
                >
                  <a
                    class="is-size-6 has-text-weight-semibold"
                    href="#"
                  >{{ $t('erpIntegration.invoices') }}</a>
                </li>
                <li
                  class="custom-text-color ml-1"
                  :class="{'is-active': tab==='snoozed'}"
                  @click="tab='snoozed'"
                >
                  <a
                    class="is-size-6 has-text-weight-semibold"
                    href="#"
                  >{{ $t('erpIntegration.snoozed') }}</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="buttons">
            <!-- <b-button type="is-info -mt-4"  class="pt-0 pb-0" @click="refreshAccountSync"> <syncIcon/> {{$t("erpIntegration.sync_account")}} </b-button> -->
          </div>
        </div>
        <div v-if="!loading">
          <div class="columns -mt-6 -mb-1">
            <div class="column is-4 has-text-left">
               <b-field class="mr-5">
                  <input placeholder="Search..." class="input invoice-search" v-model="searchKey" v-on:keyup.enter="filterInvoices()"/>
                  <p class="control">
                      <b-button class="button is-primary" @click="filterInvoices()">Search</b-button>
                  </p>
              </b-field>
            </div>
            <div class="is-6 column is-offset-2 has-text-right">
              <b-button
              class="pt-0 pb-0 ml-2"
                :disabled="selectedRows.length ? false : true"
                v-show="tab == 'invoices'"
                :class="selectedRows.length ? '' : 'button-disabled'"
                type="outline-primary"
                outlined
                @click="snoozeSelected"
              >
                <iconEyeSlash :invoicetable="selectedRows.length ? true : false" />
                {{ $t('erpIntegration.snooze_selected') }}
              </b-button>
              <!--- Remind button commented --->
              <!-- <b-button
              class="pt-0 pb-0 ml-2"
                :disabled="selectedRows.length ? false : true"
                v-show="tab == 'invoices'"
                :class="selectedRows.length ? '' : 'button-disabled'"
                type="ml-1 outline-primary"
                outlined
              >
                <bellIcon :active="selectedRows.length? true : false" />
                {{ $t('erpIntegration.remind_selected') }}
              </b-button> -->
              <b-button
              class="pt-0 pb-0 ml-2"
                :disabled="selectedRows.length ? false : true"
                v-show="tab == 'snoozed'"
                :class="selectedRows.length ? '' : 'button-disabled'"
                type="outline-primary"
                @click="unSnoozeSelected"
                outlined
              >
                <iconEye :invoicetable="selectedRows.length? true : false" />
                {{ $t('erpIntegration.unsnooze_selected') }}
              </b-button>
              <b-button
                :disabled="selectedInvoices.length ? false : true"
                :class="selectedInvoices.length ? '' : 'button-disabled'"
                type="outline-primary"
                class="pt-0 pb-0 ml-2"
                outlined
                @click="showClaimsModal = true"
              >
                <plusIcon :iconInvoice="true" :active="selectedRows.length? true : false" />
                {{ $t('erpIntegration.create') }}
              </b-button>
            </div>
          </div>
          <b-table
            class="table table-debito"
            :data="nonSnoozedInvoices"
            paginated
            backend-pagination
            :total="totalInvoices"
            :per-page="invoicesPerPage"
            @page-change="onPageChange"
            :current-page="Page"
            default-sort-direction="asc"
            default-sort="invoice_number"
            :checkable="true"
            :checked-rows.sync="selectedRows"
            checkbox-position="right"
            v-if="!loading && invoices && tab == 'invoices' && !animatedLoader"
          >
            <template slot-scope="props">
              <b-table-column
                width="10"
                sortable
              ></b-table-column>
              <b-table-column
                field="invoice_number"
                :label="$t('erpIntegration.invoice_number')"
                width="120"
                sortable
              >{{ props.row.invoice_number }}</b-table-column>
              <b-table-column
                field="issue_date"
                :label="$t('erpIntegration.invoice_date')"
                width="100"
                sortable
              >{{ props.row.issue_date | formatDate }}</b-table-column>
              <b-table-column
                field="due_date"
                :label="$t('erpIntegration.due_date')"
                width="100"
                sortable
              >{{ props.row.due_date | formatDate }}</b-table-column>
              <b-table-column
                field="full_name"
                :label="$t('erpIntegration.debtor')"
                width="150"
                sortable
              >{{ props.row.full_name }}</b-table-column>
              <b-table-column
                field="gross_amount"
                :label="$t('erpIntegration.amount')"
                width="150"
                sortable
              >{{ props.row.gross_amount | formatCurrency }}</b-table-column>
              <b-table-column
                field="Currencies.iso_code"
                :label="$t('erpIntegration.currency')"
                width="80"
                sortable
              >{{ props.row.Currencies.iso_code }}</b-table-column>
              <b-table-column field="snooze" :label="$t('general.action')" width="120">
                <a
                  class="hyperlink-styled cursor-pointer"
                  v-on:click="snoozeInvoice(props.row)"
                >{{ $t('erpIntegration.snooze') }}</a>
              </b-table-column>
              <!--- Remind buttons commneted in table --->
              <!-- <b-table-column
                class="has-text-centered"
                field="reminder"
                :label="$t('erpIntegration.send_reminder')"
                width="150"
              >
                <button
                  @click="createDunning(props.row)"
                  class="button is-white is-small border-primary"
                >
                  <span class="has-text-green-7">{{$t('erpIntegration.remind')}}</span>
                </button>
              </b-table-column> -->
            </template>
            <template slot="empty">
              <section class="section">
                  <div class="content has-text-grey has-text-centered is-centered" v-if="!reloading">
                      <img src="../../assets/img/svg/no-unpaid-invoices.svg">
                      <p class="is-size-5 title has-text-weight-bold mt-5">{{$t('erpIntegration.empty_state_invoice')}}</p>
                      <p class="has-text-weight-semibold">{{$t('erpIntegration.empty_invoice_subtitle')}}</p>
                      <a @click="refreshAccountSync">{{$t('erpIntegration.sync_account')}}</a>
                  </div>
              </section>
            </template>
          </b-table>
          <div v-if="animatedLoader" class="mb-5 mt-2 px-5">
            <div class="mt-5"><b-skeleton width="100%" :animated="animated"></b-skeleton></div>
           <div class="mt-5"><b-skeleton width="100%" :animated="animated"></b-skeleton></div>
           <div class="mt-5"><b-skeleton width="100%" :animated="animated"></b-skeleton></div>
           <div class="mt-5"><b-skeleton width="100%" :animated="animated"></b-skeleton></div>
           <div class="mt-5"><b-skeleton width="100%" :animated="animated"></b-skeleton></div>
           <div class="mt-5"><b-skeleton width="100%" :animated="animated"></b-skeleton></div>
           <div class="mt-5"><b-skeleton width="100%" :animated="animated"></b-skeleton></div>
           </div>
          <b-table
            class="table table-debito"
            :data="snoozedInvoices"
            :paginated="snoozedInvoices.length > countPaginatedRows ? true : false"
            :per-page="countPaginatedRows"
            default-sort-direction="asc"
            default-sort="invoice_number"
            :checkable="true"
            :checked-rows.sync="selectedRows"
            checkbox-position="right"
            v-if="!loading && invoices && tab == 'snoozed' && !animatedLoader"
          >
            <template slot-scope="props">
              <b-table-column
                width="10"
                sortable
              ></b-table-column>
              <b-table-column
                field="invoice_number"
                :label="$t('erpIntegration.invoice_number')"
                width="120"
                sortable
              >{{ props.row.invoice_number }}</b-table-column>
              <b-table-column
                field="issue_date"
                :label="$t('erpIntegration.invoice_date')"
                width="140"
                sortable
              >{{ props.row.issue_date | formatDate }}</b-table-column>
              <b-table-column
                field="due_date"
                :label="$t('erpIntegration.due_date')"
                width="140"
                sortable
              >{{ props.row.due_date | formatDate }}</b-table-column>
              <b-table-column
                field="full_name"
                :label="$t('erpIntegration.debtor')"
                width="200"
                sortable
              >{{ props.row.Debtors | setDebtorName }}</b-table-column>
              <b-table-column
                field="gross_amount"
                :label="$t('erpIntegration.amount')"
                width="170"
                sortable
              >{{ props.row.gross_amount | formatCurrency }}</b-table-column>
              <b-table-column
                field="Currencies.iso_code"
                :label="$t('erpIntegration.currency')"
                width="120"
                sortable
              >{{ props.row.Currencies.iso_code }}</b-table-column>
              <b-table-column field="actions" :label="$t('erpIntegration.actions')" width="120">
                <a
                  class="hyperlink-styled"
                  @click="unSnoozeInvoice(props.row, $event)"
                >{{ $t('erpIntegration.unsnooze') }}</a>
              </b-table-column>
            </template>
            <template slot="empty">
              <section class="section">
                <div class="content has-text-grey has-text-centered is-centered" v-if="!reloading">
                      <img src="../../assets/img/svg/no-hidden-invoices.svg">
                      <p class="is-size-5 title has-text-weight-bold mt-5">{{$t('erpIntegration.empty_state_hidden_invoice')}}</p>
                      <p class="has-text-weight-semibold">{{$t('erpIntegration.empty_hidden_invoice')}}</p>
                      <a @click="refreshAccountSync">{{$t('erpIntegration.sync_account')}}</a>
                  </div>
                  <Loader2 v-else />
              </section>
            </template>
          </b-table>
           <!-- BUEFY PAGINATION -->
          <!-- <div class="columns">
            <div class="column is-12 has-text-right">
              <nav class="pagination pagination-custom" role="navigation" aria-label="pagination">
                  <a class="pagination-previous px-3" @click="gotoPrev()">Previous</a>
                  <a class="pagination-next px-3" @click="invoicesPerPage()">Next Page</a>

                </nav>
            </div>
          </div> -->
        </div>
        <!-- Spinner for when status is loading -->
        <BarLoader v-else />
      </div>
      <div class="column is-12" v-if="unSnoozeInvoice && tab === 'invoices'"></div>
    </div>
    <!-- For Create claims modal -->
    <div v-if="selectedInvoices.length" id="wrapper" class="container">
      <b-modal
        v-if="showClaimsModal"
        :active.sync="selectedInvoices.length ? true : false"
        has-modal-card
        trap-focus
        aria-role="dialog"
        aria-modal
        :can-cancel="onCross"
        :width="1200"
        scroll="keep"
      >
        <CreateClaimsModal v-on:cancel="closeModal()">
          <h3 slot="header" class="modal-title">{{ $t("claims_add.debtors.disputes") }}</h3>
          <div slot="footer"></div>
        </CreateClaimsModal>
      </b-modal>
    </div>
    <b-modal :active.sync="isDunningModalActive"
            has-modal-card
            trap-focus
            aria-role="dialog"
            :width="800"
            :height="500"
            aria-modal>
      <DunningConfiguration @setDunningId="setDunningConfigId"></DunningConfiguration>
    </b-modal>
  </div>
</template>
<script>
import { mapState, mapActions } from "vuex"
import { PAGINATED_ROWS } from "@/helpers"
import CreateClaimsModal from "./CreateClaimsModal"
import DunningConfiguration from './DunningConfigurations'
import moment from "moment"

export default {
  props: {
    accessType: {
      default: "internal"
    }
  },
  components: {
    CreateClaimsModal,
    DunningConfiguration
  },
  data() {
    return {
      invoicesPerPage: 15,
      rangeBefore: 3,
      rangeAfter: 1,
      animated: true,
      Page: 1,
      searchKey: "",
      onCross: true,
      invoicesPaginate: [],
      isSelectAllChecked: false,
      tab: "invoices",
      reloading: false,
      showClaimsModal: false,
      dunningConfigId: false,
      isDunningModalActive: false
    }
  },
  computed: {
    ...mapState("accountingSystem", {
      animatedLoader: state => state.animatedLoader,
      errorMessage: state => state.errorMessage,
      vendor: state => state.vendor,
      invoices: state => state.invoices,
      loading: state => state.loading,
      selectedInvoices: state => state.selectedInvoices
    }),
    selectedRows: {
      get() {
        return this.selectedInvoices
      },
      set(value) {
        this.$store.commit("accountingSystem/setSelectedInvoices", value)
      }
    },
    totalInvoices () {
      if (this.invoices) {
        return this.invoices.pagination.count
      } return false
    },
    currentInvoicesPage() {
      if (this.invoices.pagination) {
        console.log(this.invoices.pagination.current_page)
        return this.invoices.pagination.current_page
      } else return false
    },
    countTotalInvoices() {
      if (this.invoices.data) {
        return this.invoices.data.length
      }
      return false
    },
    countPaginatedRows() {
      return this.accessType == "internal" ? PAGINATED_ROWS : 5
    },
    snoozedInvoices() {
      return this.invoices.data
        ? this.invoices.data.filter(invoice => invoice.snoozed === true)
        : []
    },
    nonSnoozedInvoices() {
      return this.invoices.data
        ? this.invoices.data.filter(invoice => invoice.snoozed === false)
        : []
    },
    setCheckable() {
      return this.tab == "invoices"
    },
  },
  methods: {
    closeModal() {
      // we had to use all these re-settings, because btables that we are using was working as
      // two way binding and change in selectedRows data was causing cancelled values to be seen also
      this.$store.commit("accountingSystem/resetInvoicesPage")
      this.$store.commit("accountingSystem/setLoading", true)
      this.selectedRows = []
      this.showClaimsModal = false
      this.getInvoices()
    },
    ...mapActions("accountingSystem", {
      getInvoices: "getInvoices",
      refreshAccountSync: "refreshAccountSync",
      addFromInvoices: "addFromInvoices"
    }),
    ...mapActions("accounts", {
      getDunningConfigurations: "getDunningConfigurations"
    }),
    ...mapActions("claims", {
      getClaims: "getClaims",
      getAllClaimActions: "getAllClaimActions"
    }),
    filterInvoices() {
      if (this.tab == 'snoozed') {
        let searchTerm = '&page=1&search_term=' + this.searchKey + '&snoozed=true'
        this.getInvoices(searchTerm)
      } else if (this.tab == 'invoices') {
        let searchTerm = '&page=1&search_term=' + this.searchKey + '&snoozed=false'
        this.getInvoices(searchTerm)
      }
    },
    onPageChange(page) {
      this.Page = page
      if (this.searchKey && this.tab == 'snoozed') {
        let pageNo = 'page=' + this.Page + '&search_term=' + this.searchKey + '&snoozed=true'
        this.getInvoices(pageNo)
      } else if(this.searchKey && this.tab == 'invoices') {
        let pageNo = 'page=' + this.Page + '&search_term=' + this.searchKey + '&snoozed=false'
        this.getInvoices(pageNo)
      } else {
        let pageNo = 'page=' + this.Page
        this.getInvoices(pageNo)
      }
    },
    onCreate() {
      this.$router.push("/accountingsystem/createclaims")
    },
    snoozeInvoice(invoice) {
      this.$store.commit("accountingSystem/resetInvoices")
      this.reloading = true
      this.$store
        .dispatch("accountingSystem/snoozeInvoice", invoice.id)
        .then(response => {
          if (response.data.success) {
            this.getInvoices().then(response => {
              this.selectedRows = []
              this.reloading = false
            })
          } else {
            this.reloading = false
          }
        })
    },
    unSnoozeInvoice(invoice) {
      this.$store.commit("accountingSystem/resetInvoices")
      this.reloading = true
      this.$store
        .dispatch("accountingSystem/unSnoozeInvoice", invoice.id)
        .then(response => {
          if (response.data.success) {
            this.getInvoices().then(response => {
              this.selectedRows = []
              this.reloading = false
            })
          } else {
            this.selectedRows = []
            this.reloading = false
          }
        })
    },
    snoozeSelected() {
      for (let i = 0; i < this.selectedRows.length; i++) {
        this.snoozeInvoice(this.selectedRows[i])
      }
    },
    unSnoozeSelected() {
      for (let i = 0; i < this.selectedRows.length; i++) {
        this.unSnoozeInvoice(this.selectedRows[i])
      }
    },
    setTab(tabValue) {
      this.tab = tabValue
      this.selectedRows = []
    },
    createDunning(selectedInvoice) {
      if (this.dunningConfigId == null) {
        this.isDunningModalActive = true
      } else {
        let that = this
        this.addFromInvoices({ selectedInvoices: [selectedInvoice], dunning_configuration_id: this.dunningConfigId }).then(function(value) {
          that.getClaims()
          that.getAllClaimActions()
          that.getInvoices()
          that.$router.push('/')
        })
      }
    },
    // set dunning id after created in child modal of DunningConfigurations
    setDunningConfigId(value) {
      this.dunningConfigId = value
    }
  },
  created() {
    this.getInvoices()
    this.getDunningConfigurations().then(response => {
      if (response.data.data[0]) {
        this.dunningConfigId = response.data.data[0].id
      } else {
        this.dunningConfigId = null
      }
    })
  }
}
</script>
<style lang="scss">
@import "../../assets/css/colors.scss";
.outline-primary {
  border-color: $dark-gray;
}
.outline-primary:hover {
  border-color: $primary;
  background-color: transparent !important;
  color: $dark-gray !important;
}
.hyperlink-styled {
  border-bottom: 1px solid #17c5a9;
  color: #17c5a9 !important;
}
.button-disabled {
  cursor: not-allowed !important;
}
.selected {
  color: #18c5a9 !important;
  border-bottom-color: #18c5a9;
  border-bottom-width: 3px !important;
}
.accounting-logo {
  min-width: 130px;
  height: 40px;
}
@media screen and (max-width: 720px) {
  .logo-align-sm {
    text-align: center;
  }
}
</style>
