
//Basic Button with medium or default size
.btn-md {
    height: 38px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.25rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
  .btn-md:focus { 
    box-shadow: none !important;
    border: 1px solid transparent;
  }
  .btn-md:hover {
    border: 1px solid transparent;
  }
  //Button states
  .primary {
    background-color: $primary;
    color: $white !important;
  }
  .primary:hover {
      background-color: $primary-hover;
  }
  .primary:focus {
    background-color: $primary;
}
  .primary.is-outlined {
    background: transparent;
    border: 1px solid $primary;
    color: $primary !important;
  }
  .primary.is-outlined:hover {
    background: $primary;
    border: 1px solid $primary;
    color: $white !important;
  }
  .secondary {
    background-color: $secondary;
    color: $white !important;
  }
  .secondary:hover {
      background-color: $secondary-hover;
  }
  .secondary:focus {
    background-color: $secondary;
  }
  .secondary.is-outlined {
    background: transparent;
    border: 1px solid $secondary;
    color: $secondary !important;
  }
  .secondary.is-outlined:hover {
    background: $secondary;
    border: 1px solid $secondary;
    color: $white !important;
  }
  .warning {
    background-color: $warning;
  }
  .warning:hover {
    background-color: $warning-hover;
  }
  .warning:focus {
    background-color: $warning;
  }
  .warning.is-outlined {
    background: transparent;
    border: 1px solid $warning;
    color: $warning !important;
  }
  .warning.is-outlined:hover {
    background: $warning;
    border: 1px solid $warning;
    color: $black !important;
  }
  .link {
    background-color: $link;
    color: $white !important;
  }
  .link:hover {
    background-color: $link-hover;
  }
  .link:focus {
    background-color: $link;
  }
  .link.is-outlined {
    background: transparent;
    border: 1px solid $link;
    color: $link !important;
  }
  .link.is-outlined:hover {
    background: $link;
    border: 1px solid $link;
    color: $white !important;
  }
  .danger {
    background-color: $danger;
    color: $white !important;
  }
  .danger:hover {
    background-color:$danger-hover;
  }
  .danger:focus {
    background-color:$danger;
  }
  .danger.is-outlined {
    background: transparent;
    border: 1px solid $danger;
    color: $danger !important;
  }
  .danger.is-outlined:hover {
    background: $danger;
    border: 1px solid $danger;
    color: $white !important;
  }
  .success {
    background-color: $success;
    color: $white !important;
  }
  .success:hover {
      background-color: $success-hover;
  }
  .success:focus {
    background-color: $success;
  }
  .success.is-outlined {
    background: transparent;
    border: 1px solid $success;
    color: $success !important;
  }
  .success.is-outlined:hover {
    background: $success;
    border: 1px solid $success;
    color: $white !important;
  }
  .info {
    background-color: $info;
    color: $white !important;
  }
  .info:hover {
    background-color: $info-hover;
  }
  .info:focus {
    background-color: $info;
  }
  .info.is-outlined {
    background: transparent;
    border: 1px solid $info;
    color: $info !important;
  }
  .info.is-outlined:hover {
    background: $info;
    border: 1px solid $info;
    color: $white !important;
  }
  // Light button colors
  .primary-light {
    background-color: $primary-light;
    color: $primary;
  }
  .secondary-light {
    background-color: $secondary-light;
    color: $secondary;
  }
  .danger-light {
    background-color: $danger-light;
    color: $danger;
  }
  .warning-light {
    background-color: $warning-light;
    color: $warning;
  }
  .info-light {
    background-color: $info-light;
    color: $info;
  }
  .link-light {
    background-color: $link-light;
    color: $link;
  }
  .success-light {
    background-color: $success-light;
    color: $success;
  }

  // Disabled button css
  .primary[disabled] {
    background-color: $primary;
    color: $white !important;
    border: 1px solid transparent;
  }
  .primary.is-outlined[disabled] {
    background: transparent;
    border: 1px solid $primary;
    color: $primary !important;
  }
  .secondary[disabled] {
    background-color: $secondary;
    color: $white !important;
    border: 1px solid transparent;
  }
  .secondary.is-outlined[disabled] {
    background: transparent;
    border: 1px solid $secondary;
    color: $secondary !important;
  }
  .warning[disabled] {
    background-color: $warning;
    color: $black !important;
    border: 1px solid transparent;
  }
  .warning.is-outlined[disabled] {
    background: transparent;
    border: 1px solid $warning;
    color: $warning !important;
  }
  .danger[disabled] {
    background-color: $danger;
    color: $white !important;
    border: 1px solid transparent;
  }
  .danger.is-outlined[disabled] {
    background: transparent;
    border: 1px solid $danger;
    color: $danger !important;
  }
  .success[disabled] {
    background-color: $success;
    color: $white !important;
    border: 1px solid transparent;
  }
  .success.is-outlined[disabled] {
    background: transparent;
    border: 1px solid $success;
    color: $success !important;
  }
  .info[disabled] {
    background-color: $info;
    color: $white !important;
    border: 1px solid transparent;
  }
  .info.is-outlined[disabled] {
    background: transparent;
    border: 1px solid $info;
    color: $info !important;
  }
  .link[disabled] {
    background-color: $link;
    color: $white !important;
    border: 1px solid transparent;
  }
  .link.is-outlined[disabled] {
    background-color: transparent;
    color: $link !important;
    border: 1px solid $link;
  }


  // Outlined buttons
  // .primary-outline {
  //   border: 1px solid $primary;
  //   color: $primary;
  // }
  // .primary-outline:focus {
  //   border: 1px solid $primary;
  //   color: $primary;
  // }
  // .secondary-outline {
  //   border: 1px solid $secondary;
  //   color: $secondary;
  // }
  // .secondary-outline:focus {
  //   border: 1px solid $secondary;
  //   color: $secondary;
  // }
  // .success-outline {
  //   border: 1px solid $success;
  //   color: $success;
  // }
  // .success-outline:focus {
  //   border: 1px solid $success;
  //   color: $success;
  // }
  // .danger-outline {
  //   border: 1px solid $danger;
  //   color: $primary;
  // }
  // .danger-outline:focus {
  //   border: 1px solid $danger;
  //   color: $danger;
  // }
  // .warning-outline {
  //   border: 1px solid $warning;
  //   color: $warning;
  // }
  // .warning-outline:focus {
  //   border: 1px solid $warning;
  //   color: $warning;
  // }
  // .info-outline {
  //   border: 1px solid $info;
  //   color: $info;
  // }
  // .info-outline:focus {
  //   border: 1px solid $info;
  //   color: $info;
  // }
  // .link-outline {
  //   border: 1px solid $link;
  //   color: $link;
  // }
  // .link-outline:focus {
  //   border: 1px solid $link;
  //   color: $link;
  // }
  