<template>
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><svg:style type="text/css">.a,.b{fill:#576574;}.a{opacity:0;}</svg:style></defs><rect class="a" width="24" height="24"/><path class="b" d="M7,14.18V3A1,1,0,0,0,5,3V14.18a3,3,0,0,0,0,5.64V21a1,1,0,0,0,2,0V19.82a3,3,0,0,0,0-5.64ZM6,18a1,1,0,1,1,1-1A1,1,0,0,1,6,18Z"/><path class="b" d="M21,13a3,3,0,0,0-2-2.82V3a1,1,0,0,0-2,0v7.18a3,3,0,0,0,0,5.64V21a1,1,0,0,0,2,0V15.82A3,3,0,0,0,21,13Zm-3,1a1,1,0,1,1,1-1A1,1,0,0,1,18,14Z"/><path class="b" d="M15,5a3,3,0,1,0-4,2.82V21a1,1,0,0,0,2,0V7.82A3,3,0,0,0,15,5ZM12,6a1,1,0,1,1,1-1A1,1,0,0,1,12,6Z"/></svg>
</template>
<script>
export default {
  props: {
    width: {
      type: [Number, String],
      default: 24
    },
    height: {
      type: [Number, String],
      default: 24
    },
  },
}
</script>
