<template>
<svg xmlns="http://www.w3.org/2000/svg" :width="width" :height="height" :fill="color" viewBox="0 0 24 24">

<rect class="a" width="24" height="24"/><path class="b" d="M8.61,22a2.25,2.25,0,0,1-1.35-.46L5.19,20a2.37,2.37,0,0,1-.49-3.22,2.06,2.06,0,0,0,.23-1.86l-.06-.16a1.83,1.83,0,0,0-1.12-1.22H3.59A2.34,2.34,0,0,1,2.11,10.6L2.93,8A2.18,2.18,0,0,1,4.05,6.59a2.14,2.14,0,0,1,1.68-.12,1.93,1.93,0,0,0,1.78-.29l.13-.1a1.94,1.94,0,0,0,.73-1.51V4.33A2.32,2.32,0,0,1,10.66,2h2.55a2.26,2.26,0,0,1,1.6.67,2.37,2.37,0,0,1,.68,1.68v.28a1.76,1.76,0,0,0,.69,1.43l.11.08a1.74,1.74,0,0,0,1.59.26l.34-.11A2.26,2.26,0,0,1,21.1,7.8l.79,2.52a2.36,2.36,0,0,1-1.46,2.93l-.2.07A1.89,1.89,0,0,0,19,14.6a2,2,0,0,0,.25,1.65l.26.38a2.38,2.38,0,0,1-.5,3.23L17,21.41a2.24,2.24,0,0,1-3.22-.53l-.12-.17a1.75,1.75,0,0,0-1.5-.78,1.8,1.8,0,0,0-1.43.77l-.23.33A2.25,2.25,0,0,1,9,22,2,2,0,0,1,8.61,22ZM4.4,11.62a3.83,3.83,0,0,1,2.38,2.5v.12a4,4,0,0,1-.46,3.62.38.38,0,0,0,0,.51L8.47,20a.25.25,0,0,0,.37-.07l.23-.33a3.77,3.77,0,0,1,6.2,0l.12.18a.3.3,0,0,0,.18.12.25.25,0,0,0,.19-.05l2.06-1.56a.36.36,0,0,0,.07-.49l-.26-.38A4,4,0,0,1,17.1,14a3.92,3.92,0,0,1,2.49-2.61l.2-.07a.34.34,0,0,0,.19-.44L19.2,8.39A.35.35,0,0,0,19,8.2a.21.21,0,0,0-.19,0l-.34.11a3.74,3.74,0,0,1-3.43-.57L15,7.65a3.76,3.76,0,0,1-1.49-3V4.34a.37.37,0,0,0-.1-.26A.31.31,0,0,0,13.2,4H10.66a.31.31,0,0,0-.29.33v.25A3.9,3.9,0,0,1,8.85,7.67l-.13.1a3.91,3.91,0,0,1-3.63.59.22.22,0,0,0-.14,0,.28.28,0,0,0-.12.15L4,11.12a.36.36,0,0,0,.22.45Z"/><path class="b" d="M12,15.5A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Zm0-5A1.5,1.5,0,1,0,13.5,12,1.5,1.5,0,0,0,12,10.5Z"/></svg>
</template>
<script>
export default {
  props: {
    width: {
      type: [Number, String],
      default: 24
    },
    height: {
      type: [Number, String],
      default: 24
    },
    active: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    color: function () {
      if (this.active) {
        return "#273144"
      }
      return "#fff"
    }
  }
}
</script>
