<template>
<svg xmlns="http://www.w3.org/2000/svg" :width="width" :height="height" :fill="color" viewBox="0 -3 24 24"><rect class="a" width="24" height="24" transform="translate(24) rotate(90)"/><path d="M5,11H16.86L13.23,6.64a1,1,0,0,1,1.54-1.28l5,6a1.19,1.19,0,0,1,.09.15.127.127,0,0,0,.07.13.961.961,0,0,1,0,.72.127.127,0,0,1-.07.13,1.19,1.19,0,0,1-.09.15l-5,6a1,1,0,1,1-1.54-1.28L16.86,13H5a1,1,0,0,1,0-2Z" transform="translate(0)"/></svg>
</template>
<script>
export default {
  props: {
    width: {
      type: [Number, String],
      default: 15
    },
    height: {
      type: [Number, String],
      default: 15
    },
    active: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    color: function () {
      if (this.active) {
        return "#273144"
      }
      return "#fff"
    }
  }
}
</script>
