<template>
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><svg:style type="text/css">.a,.b{fill:#576574;}.a{opacity:0;}</svg:style></defs><rect class="a" width="24" height="24"/><path class="b" d="M19,3H7A3,3,0,0,0,4,6V18a3,3,0,0,0,3,3H19a1,1,0,0,0,1-1V4A1,1,0,0,0,19,3ZM7,5H18V15H7a3,3,0,0,0-1,.18V6A1,1,0,0,1,7,5ZM7,19a1,1,0,0,1,0-2H18v2Z"/></svg>
</template>
<script>
export default {
  props: {
    width: {
      type: [Number, String],
      default: 24
    },
    height: {
      type: [Number, String],
      default: 24
    },
  },
}
</script>
