<template>
    <div class="columns">
        <div class="column is-12">
            <div class="field " v-bind:class="errorObject.vat">
          <div class="column is-8 is-offset-1 is-12-mobile is-paddingless">
                 <div class=" is-normal">
                  <label class="label text-label">{{ $t("account.company_search") }}</label>
                   </div>
                  </div>
          <!-- <div class="field">
          <label class="label">{{$t("general.search")}} {{ $t("account.company") }}</label>
          <div> -->
            <div class="column is-8 is-offset-1 is-12-mobile is-paddingless">
            <div class="control has-icons-left has-icons-right">
            <div class="">
              <span v-if="formInput.company_name && searchInput.searchingName"  @click="clearNameSearchResult" class="icon is-small is-right">
               <i class="fas fa-times"></i>
              </span>
             <span class="icon is-small is-left">
               <i class="fas fa-search"></i>
              </span>
              <input
                type="text"
                class="input pl-5 focused-success custom-input-styles"
                :placeholder='$t("general.search")'
                v-model="formInput.company_name"
                @input="cvrNameSearch"
                autocomplete="random_string"
                @blur="clearSearchResult('name')"
                @focus="clearSearchResult('name')"
              >
              <span class="columns search-border pl-3 pt-3" v-if="formInput.company_name && searchInput.nameSearchingStatus">
                <ul class="search-list input-group-icon input-group-icon-right">
                  <li
                    class="list-group-item flexbox px-4 py-2"
                    v-if="accountData && accountData.data"
                    @mousedown="loadInfo(accountData.data)"
                  >{{accountData.data.name}} - {{accountData.data.vat}}</li>
                  <li
                    class="list-group-item flexbox"
                    v-else
                    @mousedown="clearNameSearchResult"
                  >{{$t("account.no_name_data")}}</li>
                </ul>
              </span>
            </div>
            </div></div>
          </div>
          </div>
          </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import { allowNumbers } from '@/helpers'

let searchName

export default {
  props: [ 'namespace'],
  data () {
    return {
      accountData: null,
      searchType: "vat"
    }
  },
  computed: {
    ...mapState('helper', {
      searchInput: state => state.searchInput
    }),
    formInput() {
      return this.$store.state[this.namespace].formInput
    },
    errorObject() {
      return this.$store.state[this.namespace].styleObject.errorObject
    },
    fieldLimits() {
      return this.$store.state[this.namespace].fieldLimits
    }
  },
  methods: {
    ...mapMutations('helper', {
      clearNameSearchResult: 'clearNameSearchResult',
      clearVatSearchResult: 'clearVatSearchResult'
    }),
    cvrVatSearch (input) {
      if ((input.target.value).length > 7 && this.formInput.country_iso_code === "DK") {
        this.searchInput.searchingVat = true
        this.$store.dispatch('helper/searchAccountForVat', input.target.value)
          .then(response => {
            this.searchInput.vatSearchingStatus = true
            let data = response.data
            if (response && response.data && response.data.success) {
              this.accountData = data
            } else {
              this.accountData = null
            }
          })
      }
      if ((input.target.value).length === 0) {
        this.clearVatSearchResult()
        this.accountData = null
      }
    },
    cvrNameSearch (input) {
      clearTimeout(searchName)
      if ((input.target.value).length > 2 && this.formInput.country_iso_code === "DK") {
        let that = this
        searchName = setTimeout(function() {
          that.searchInput.searchingName = true
          that.$store.dispatch('helper/searchAccountForName', input.target.value)
            .then(response => {
              that.searchInput.nameSearchingStatus = true
              let data = response.data
              if (response && response.data && response.data.success) {
                that.accountData = data
              } else {
                that.accountData = null
              }
            })
        }, 200)
      }
      if ((input.target.value).length === 0) {
        this.clearNameSearchResult()
        this.accountData = null
      }
    },
    loadInfo(data) {
      this.$store.commit(`${this.namespace}/setCvrsearchResult`, data)
      this.clearNameSearchResult()
      this.clearVatSearchResult()
    },
    allowNumbersOnly(event) {
      return allowNumbers(event)
    },
    clearSearchResult(data) {
      if (data === 'vat' && this.formInput.vat_number && this.searchInput.vatSearchingStatus) {
        this.clearVatSearchResult()
      } else if (data === 'name' && this.formInput.company_name && this.searchInput.nameSearchingStatus) {
        this.clearNameSearchResult()
      }
    }
  }
}
</script>

<style scoped>
.search-list {
  position: absolute;
  max-height: 200px;
  overflow-y: unset;
  background-color: white;
  z-index: 10;
  width: 100%;
}
.search-list > li:hover {
  cursor: pointer;
  background-color: rgb(245, 245, 245);
}
.search-list > li {
  box-shadow: 0px 3px 5px #999;
}
.search-border {
  z-index: 10;
}
.input-icon {
  z-index: 1
}
.custom-input-styles {
  border-radius: 0px !important;
  border: 1px solid #8395A7;
  box-shadow: none !important;
}
</style>
