<template>
  <svg xmlns="http://www.w3.org/2000/svg" :width="width" :height="height" :fill="color" viewBox="0 0 24 24"><rect class="a" width="24" height="24"/><path class="b" d="M19,7H16V5.5A2.5,2.5,0,0,0,13.5,3h-3A2.5,2.5,0,0,0,8,5.5V7H5a3,3,0,0,0-3,3v8a3,3,0,0,0,3,3H19a3,3,0,0,0,3-3V10A3,3,0,0,0,19,7ZM15,9V19H9V9ZM10,5.5a.5.5,0,0,1,.5-.5h3a.5.5,0,0,1,.5.5V7H10ZM4,18V10A1,1,0,0,1,5,9H7V19H5A1,1,0,0,1,4,18Zm16,0a1,1,0,0,1-1,1H17V9h2a1,1,0,0,1,1,1Z"/></svg>
</template>
<script>
export default {
  props: {
    width: {
      type: [Number, String],
      default: 24
    },
    height: {
      type: [Number, String],
      default: 24
    },
    active: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    color: function () {
      if (this.active) {
        return "#273144"
      }
      return "#fff"
    }
  }
}
</script>
