<template>
  <svg xmlns="http://www.w3.org/2000/svg"  :width="width" :height="height" :fill="color"  viewBox="0 0 24 24">
<rect class="a" width="24" height="24"/><path class="b" d="M9,11A4,4,0,1,0,5,7,4,4,0,0,0,9,11ZM9,5A2,2,0,1,1,7,7,2,2,0,0,1,9,5Z"/><path class="b" d="M17,13a3,3,0,1,0-3-3A3,3,0,0,0,17,13Zm0-4a1,1,0,1,1-1,1A1,1,0,0,1,17,9Z"/><path class="b" d="M17,14a5,5,0,0,0-3.06,1.05A7,7,0,0,0,2,20a1,1,0,1,0,2,0,5,5,0,0,1,10,0,1,1,0,0,0,2,0,6.9,6.9,0,0,0-.86-3.35A3,3,0,0,1,20,19a1,1,0,1,0,2,0A5,5,0,0,0,17,14Z"/></svg>
</template>
<script>
export default {
  props: {
    width: {
      type: [Number, String],
      default: 24
    },
    height: {
      type: [Number, String],
      default: 24
    },
    active: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    color: function () {
      if (this.active) {
        return "#273144"
      }
      return "#fff"
    }
  }
};
</script>
