<template>
  <div class="modal-card" style="width: 1200px;">
            <header class="modal-card-head">
              <p class="modal-card-title is-size-6">
                {{$t("general.file")}} {{currentIndex + 1}} {{$t("pagination.of")}} {{fileBuffer.length}}
              </p>
            </header>
            <section class="modal-card-body">
            <div v-for="(file, index) in fileBuffer">
              <div class="columns" v-if="currentIndex == index">
                <div class="column is-6">
                  <h3 v-if="bufferType == 'invoice'">
                    <strong>{{$t("claims_add.buffer_modal.information_charge")}}</strong>
                  </h3>
                  <form>
                        <!-- If invoices -->
                       <div v-if='bufferType=="invoice"' class="columns pt-5">
                          <div class="column is-11" v-bind:class="{'has-error': styling.invoice_date }">
                              <div class="field">
                            <label class="label text-label" for>{{$t("claim.invoice_date")}}</label>
                             <div class="control">
                            <date-picker
                              v-model="file.invoice_date"
                              placeholder="dd.mm.yyyy"
                              format="DD-MM-YYYY"
                              lang="en"
                              :not-before="threeYearsBack()"
                            ></date-picker>
                                </div>
                                </div>
                          </div>
                       </div>
                       <div class="columns" v-if='bufferType=="invoice"'>
                          <div class="column is-11" v-bind:class="{'has-error': styling.maturity_date }">
                            <div class="field">
                                  <label class="label text-label" for>{{$t("claim.due_date")}}</label>
                                <div class="control">
                            <date-picker
                              class=""
                              v-model="file.maturity_date"
                              placeholder="dd.mm.yyyy"
                              format="DD-MM-YYYY"
                              lang="en"
                              :not-before="threeYearsBack()"
                            ></date-picker>
                            </div>
                            </div>
                          </div>
                        </div>
                        <!-- If payments -->
                        <div v-else-if='bufferType=="payment"' class="columns pt-5">
                          <div class="column is-11" v-bind:class="{'has-error': styling.invoice_date }">
                            <div class="field">
                            <label class="label">{{$t("claim.payment_date")}}</label>
                            <div class="control">
                            <date-picker
                              v-model="file.invoice_date"
                              placeholder="dd.mm.yyyy"
                              format="DD-MM-YYYY"
                              lang="en"
                              :not-before="threeYearsBack()"
                            ></date-picker>
                            </div>
                            </div>
                          </div>
                        </div>
                        <!-- If Reminders -->
                       <div v-if='bufferType=="reminder"' class="columns pt-5">
                          <div class="column is-11" v-bind:class="{'has-error': styling.invoice_date }">
                            <div class="field">
                            <label class="label" for>{{$t("claim.reminder_date")}}</label>
                            <div class="control">
                            <date-picker
                              v-model="file.invoice_date"
                              placeholder="dd.mm.yyyy"
                              format="DD-MM-YYYY"
                              lang="en"
                              :not-before="threeYearsBack()"
                            ></date-picker>
                            </div>
                            </div>
                          </div>
                       </div>
                       <div class="columns" v-if='bufferType=="reminder"'>
                          <div class="column is-11" v-bind:class="{'has-error': styling.maturity_date }">
                            <div class="field">
                            <label class="label" for>{{$t("claim.reminder_due_date")}}</label>
                            <div class="control">
                            <date-picker
                              v-model="file.maturity_date"
                              placeholder="dd.mm.yyyy"
                              format="DD-MM-YYYY"
                              lang="en"
                              :not-before="threeYearsBack()"
                            ></date-picker>
                            </div>
                            </div>
                          </div>
                        </div>
                        <!-- If other -->
                        <div v-else-if='bufferType=="other"' class="columns pt-5">
                          <div class="column is-11" v-bind:class="{'has-error': styling.invoice_date }">
                            <div class="field">
                            <label class="label">{{$t("claim.document_date")}}</label>
                            <div class="control">
                            <date-picker
                              v-model="file.invoice_date"
                              placeholder="dd.mm.yyyy"
                              lang="en"
                              format="DD-MM-YYYY"
                              :not-before="threeYearsBack()"
                            ></date-picker>
                            </div>
                            </div>
                          </div>
                        </div>
                    <div class="columns">
                      <div class="column is-11" v-bind:class="{'has-error': styling.invoice_reference }">
                        <div class="field">
                        <label class="label" for >{{$t("claims_add.buffer_modal.invoice_number")}}</label>
                        <div class="control">
                        <input class="input custom-input-styles" v-model="file.invoice_reference" type="text">
                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="columns">
                      <div v-if="!hideAmount" class="column is-11" v-bind:class="{'has-error': styling.amount }">
                        <div class="field">
                        <label class="label" for >{{$t("claims_add.buffer_modal.amount_including_vat")}}</label>
                        <div class="control">
                        <input
                          class="input custom-input-styles"
                          v-on:change="formatCurrency(file.amount)"
                          placeholder="0,00"
                          v-model="file.amount"
                          type="text"
                        >
                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="columns">
                      <div v-if="!hideAmount" class="column is-11">
                        <div class="field">
                        <label class="label" for>{{$t("claim.currency")}}</label>
                        <div class="control">
                        <model-select
                          class="currency-style"
                          :options="priorityCurrenciesArray"
                          v-model="selectedCurrency"
                          placeholder="select item"
                        ></model-select>
                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="columns">
                      <div class="column is-11" v-if="showTypes">
                        <div class="label">
                        <label class="label" for>{{$t("general.type")}}</label>
                        </div>
                        <div class="control">
                        <select v-model="selectedType" class="input custom-input-styles">
                          <option
                          v-for="(type, index) in fileTypesOptions"
                            :value="type.id"
                          >{{translateClaimLineType(type.identifier) }}</option>
                        </select>
                        </div>
                      </div>
                    </div>
                     <div class="form-group pt-2 pb-5">
                        <p class="mb-0 text-blue"><span class="has-text-weight-semibold">*Note: </span>{{$t("claims_add.buffer_modal.the_currency")}}</p>
                    </div>
                  </form>
                </div>
                <div class="buffer-box column is-6">
                  <span v-html="imgarr[index]">
                    <p></p>
                  </span>
                </div>
              </div>
            </div>
            </section>
            <footer class="modal-card-foot buttons is-left">
              <button
                class="button"
                v-if="currentIndex > 0"
                v-on:click="currentIndex--"
              >{{$t("pagination.modal_back")}}</button>
                <button
                class="button is-secondary-light"
                v-on:click="$store.commit('claims/resetBuffer')"
              >{{$t("general.cancel")}}</button>
              <button
                class="button is-secondary is-pulled-right"
                v-if="(currentIndex + 1) < fileBuffer.length"
                v-on:click="nextFile()"
              >{{$t("pagination.next")}}</button>
              <button
                class="button is-primary is-pulled-right"
                v-else
                v-on:click="submitBufferFiles()"
              >{{$t("claims_add.buffer_modal.save_to_claim")}}</button>
            </footer>
  </div>
</template>

<script>
import { fileReadableType, allowNumbers } from "@/helpers"
import { mapState, mapGetters } from "vuex"
import DatePicker from "vue2-datepicker"
import { ModelSelect } from "vue-search-select"
import moment from "moment"
export default {
  components: { DatePicker, ModelSelect },
  props: {
    queue: {
      required: true
    },
    bufferType: {
      required: true
    },
    showTypes: {},
    fileTypesOptions: {},
    hideAmount: {}
  },
  data() {
    return {
      imgarr: [],
      currentIndex: 0,
      styling: {
        invoice_date: false,
        maturity_date: false,
        invoice_reference: false,
        amount: false,
        currency: false
      }
    }
  },
  computed: {
    ...mapState("claims", {
      fileBuffer: state => state.fileBuffer,
      currencies: state => state.currencies,
      currentCurrency: state => state.currentCurrency
    }),
    ...mapGetters("claims", {
      priorityCurrenciesArray: "priorityCurrenciesArray",
      priorityCurrenciesArrayFull: "priorityCurrenciesArrayFull"
    }),
    currentInvoiceDate: function() {
      return this.fileBuffer[this.currentIndex]["invoice_date"]
    },
    currentAmount: function() {
      return this.fileBuffer[this.currentIndex]["amount"]
    },
    selectedCurrency: {
      get() {
        return this.currentCurrency
      },
      set(value) {
        this.$store.commit("claims/setCurrentCurrency", value)
      }
    },
    selectedType: {
      get() {
        return this.fileBuffer[this.currentIndex]["claim_line_type_id"]
      },
      set(value) {
        this.fileBuffer[this.currentIndex]["claim_line_type_id"] = value
      }
    },
    noFileAlert(){
      let section = '<div class="alert alert-warning alert-bordered text-left"><b>'+ this.$t("dashboard.warning") +'!</b><br>' + this.$t("claims_add.buffer_modal.preview_not_available_file") + '</div>'
      section += "<div class='text-center pt-5 mt-5'> <i class='far fa-file-excel fa-2x mt-5'></i><h6 class='text-muted font-light pt-4'> " + this.$t("claims_add.buffer_modal.preview_not_available") + "</h6></div>"
      return section
    }
  },
  methods: {
    generateFileViewArea(file) {
      var that = this
      var fileType = fileReadableType(file.name)
      if (fileType == "Image") {
        let reader = new FileReader()
        reader.onload = function(e) {
          var image =
            '<img src="' +
            e.target.result +
            '" id="fileViewInner" style="width: 100%; min-height:650px" />'
          that.imgarr.push(image)
        }
        reader.readAsDataURL(file)
      } else if (fileType == "PDF") {
        let reader = new FileReader()
        reader.onload = function(e) {
          var file =
            '<object data="' +
            e.target.result +
            '" id="fileViewInner" style="width:100%; min-height:650px" />'
          that.imgarr.push(file)
        }
        reader.readAsDataURL(file)
      } else {
        that.imgarr.push(this.noFileAlert)
      }
    },
    threeYearsBack() {
      return moment().subtract(3, "years")
    },
    formatCurrency(value) {
      this.fileBuffer[this.currentIndex]["amount"] = this.$options.filters.formatCurrencyTextBox(value)
    },
    allowNumbersOnly(event) {
      return allowNumbers(event)
    },
    nextFile() {
      if (this.validateForm()) {
        this.currentIndex++
      }
    },
    submitBufferFiles() {
      if (this.validateForm()) {
        this.$store.commit("claims/submitBufferFiles", this.queue)
      }
    },
    validateForm() {
      let validate = true
      this.resetErrors()
      if (!this.fileBuffer[this.currentIndex]["invoice_date"]) {
        this.styling.invoice_date = true
        validate = false
      }
      if (!this.fileBuffer[this.currentIndex]["maturity_date"]) {
        this.styling.maturity_date = true
        validate = false
      }
      if (!this.fileBuffer[this.currentIndex]["invoice_reference"]) {
        this.styling.invoice_reference = true
        validate = false
      }
      // here we need an extra paramter to check if amount was requried or not
      if (!this.fileBuffer[this.currentIndex]["amount"] && !this.hideAmount) {
        this.styling.amount = true
        validate = false
      }
      return validate
    },
    resetErrors() {
      for (var property in this.styling) {
        this.styling[property] = false
      }
    },
    translateClaimLineType(value) {
      return this.$t("claimLineTypes." + value)
    }
  },
  created: function() {
    for (let i = 0; i < this.fileBuffer.length; i++) {
      this.generateFileViewArea(this.fileBuffer[i].file)
    }
    // set selected currency as Claims Currency
    if (this.currentCurrency) {
      this.selectedCurrency = this.currentCurrency
    }
    //if amount hidden then set the amount to zero
    if(this.hideAmount){
      this.fileBuffer[this.currentIndex]["amount"] = "0"
    }
  },
  watch: {
    currentInvoiceDate: function(value) {
      this.fileBuffer[this.currentIndex]["maturity_date"] = value
    }
  },
  filters: {

  }
}
</script>
