<template>

  <div class="container">
    <div id="overlay" v-on:click.self="toggle('hide', '')" @keydown.esc="toggle('hide', '')">
      <div class="view" v-if="debtorModal == 'add'">
        <DebtorsCreate accessType="modal"></DebtorsCreate>
      </div>
      <div class="view" v-if="debtorModal == 'edit'">
        <DebtorsEdit accessType="modal" :id="selectedDebtor"></DebtorsEdit>
      </div>
    </div>
      <p class="is-size-4 mt-10 has-text-primary has-text-weight-semibold">{{$t("claims_add.debtors.heading")}}</p>
      <p class="is-size-6">{{$t("claims_add.debtors.heading_text1")}}</p>
      <br>
      <div class="main-box px-5">
          <div class="columns">
            <div class="column is-12">
            <div class="level">
            <div class="level-left">
              <p class="is-size-5">{{$t("claims_add.debtors.find_existing_debtor")}}</p>
            </div>
            <div class="level-right">
              <div class="mt-2 mr-2">
              <span v-if="searchKey" class="">
                <i v-on:click="searchKey = ''" class="la la-remove"></i>
              </span>
              <input class="input custom-input-styles" v-model="searchKey" type="text" placeholder="Search">
            </div>
              <b-button  class="buttons icon-button is-primary pl-10" @click="toggle('show', 'add')">
                <span class="">
                 <plusIcon :height="25" :width="25"/>
                  {{$t("debtor.add_new_debtor")}}
                </span>
              </b-button>
            </div>
            </div>
            </div>
          </div>
              <b-table
                class="table-debito pb-5"
                :data='DebtorsData ? DebtorsData : []'
                :paginated="DebtorsData.length > 5 ? true : false"
                :per-page="perPage"
                :current-page="currentPageDebtors"
                :row-class="(row, index) => checkSuccess(row.id)"
                :selected="selectedDebtorsDetail"
              >
                <template slot-scope="props">
                  <b-table-column field="radiobutton" width="100" selectable>
                      <input :checked="props.row.id == selectedDebtor" type="radio" aria-label="Radio button for selected "
                        v-on:click="selectDebtor(props.row)" class="cursor-pointer"
                        ><label for="radio1"></label>
                  </b-table-column>
                     <b-table-column  class=" " field="full_name" :label="$t('general.name')" width="220" sortable >
                    {{ props.row.full_name }}
                  </b-table-column>
                  <b-table-column class=" " field="vat_number" :label="$t('account.vat')" width="180" sortable>
                    {{ props.row.vat_number | ifEmptyDash }}
                  </b-table-column>
                  <b-table-column class=" " field="address" :label="$t('general.address')" width="390" sortable>
                    {{ props.row.address }}
                  </b-table-column>
                  <b-table-column class=" " field="city" :label="$t('general.city')" width="180" sortable>
                    {{ props.row.city }}
                  </b-table-column>
                  <b-table-column class=" " field="phone" :label="$t('general.phone')" width="180" sortable>
                    {{ props.row.phone }}
                  </b-table-column>

                  <b-table-column class="  text-center" field="" :label="$t('account.choose')" width="100">
                     <a class="text-blue"
                     @click="toggle('show', 'edit')">
                      <u>Edit</u>
                    </a>
                  </b-table-column>
                </template>
                <template slot="empty">
                    <section class="section">
                        <div class="content has-text-grey has-text-centered">
                            <p>{{ $t("debtor.no_debtors_yet")}}</p>
                        </div>
                    </section>
                </template>
              </b-table>
          </div>
          <br>
          <div class="columns mt-1">
            <div class="column is-12 form-group">
              <h5 class=" ">
                {{$t("claims_add.debtors.does_debtor_agree")}}
                      <b-tooltip :label='$t("newCase.disputeInfo")'
                       :active="dialog"
                        multilined>
                      </b-tooltip>
                </h5>
                <div class="-ml-2">
                  <input class="cursor-pointer" :checked="!disputes" type="radio" name= "selection" aria-label="Radio button for Yes" v-on:click="$store.commit('claims/setDisputes', false)"> <label for="radio2"></label> <span class=" ">{{$t("general.no")}}</span><br>
                  <input class="cursor-pointer" :checked="disputes" type="radio" name= "selection" aria-label="Radio button for Yes" v-on:click="$store.commit('claims/setDisputes', true)"> <label for="radio3"></label> <span class=" ">{{$t("general.yes")}} </span><br>
                </div>
            </div>
          </div>
          <transition name="fade">
              <div class="column is-12 mb-10   " v-if="disputes" v-bind:class="errorObject.dispute">
                <textarea class="textarea" v-model="enteredDisputes" :placeholder="$t('claims_add.debtors.enter_dispute')"></textarea>
                <span class="help is-danger" v-if="errorObject.dispute">{{ $t("claims_add.debtors.dispute_error") }}</span>
              </div>
            </transition>
          <div class="columns">
            <div class="column is-12">
              <h5 class="">
                {{$t("claims_add.debtors.debtor_respresented_by_lawyer")}}
                <b-tooltip :label='$t("newCase.representativeInfo")'
                        multilined>
                        <span class="info-icon">
                          <info></info>
                        </span>
                  </b-tooltip>
              </h5>
              <div class="-ml-2">
                <input class="cursor-pointer" :checked="!debtorLawyer" type="radio" aria-label="Radio button for Yes" v-on:click="$store.commit('claims/setDebtorLawyer', false)">  <label for="radio4"></label> <span class=" ">{{$t("general.no")}}</span><br>
                <input class="cursor-pointer" :checked="debtorLawyer"  type="radio" aria-label="Radio button for Yes" v-on:click="$store.commit('claims/setDebtorLawyer', true)"> <label for="radio5"> </label> <span class=" ">{{$t("general.yes")}}</span><br>
              </div>
            </div>
          </div>
          <transition name="fade">
            <div class="columns " v-if="debtorLawyer">
              <div class="column is-12">
                <div class="main-box p-10">
                  <p class="is-size-5 has-text-weight-semibold">
                      {{$t("claims_add.debtors.add_lawyer")}}
                      </p>
                      <hr>
                    <div class="columns  ">
                      <div class="column is-6" v-bind:class="errorObject.lawyerName">
                        <div class="label">
                        <label>{{$t("general.name")}}</label>
                        </div>
                        <input type="text" class="input custom-input-styles"  v-model="lawyerInput.name">
                        <span class="help is-danger" v-if="errorObject.lawyerName">{{ $t("account.full_name_error") }}</span>
                      </div>
                      <div class="column is-6">
                        <div class="label">
                        <label>{{ $t("label.vat") }}</label>
                        </div>
                        <input type="text" class="input custom-input-styles"  @keydown="allowNumbersOnly" v-model="lawyerInput.vat_number">
                      </div>
                    </div>
                    <div class="columns">
                      <div class="column is-6" v-bind:class="errorObject.lawyerAddress">
                        <div class="label">
                        <label>{{ $t("label.address") }}</label>
                        </div>
                        <input type="text" class="input custom-input-styles" v-model="lawyerInput.address">
                        <span class="help is-danger" v-if="errorObject.lawyerAddress">{{ $t("account.address_error") }}</span>
                      </div>
                      <div class="column is-2" v-bind:class="errorObject.lawyerZipCode">
                        <div class="label">
                        <label>{{ $t("label.postal_code") }}</label>
                        </div>
                        <input type="text" maxlength="4" class="input custom-input-styles"  @keydown="allowNumbersOnly" v-model="lawyerInput.zip_code">
                        <span class="help is-danger" v-if="errorObject.lawyerZipCode">{{ $t("account.zip_code_error") }}</span>
                      </div>
                      <div class="column is-4" v-bind:class="errorObject.lawyerCity">
                        <div class="label">
                        <label>{{ $t("label.city") }}</label>
                        </div>
                        <input type="text" class="input custom-input-styles"  v-model="lawyerInput.city">
                        <span class="help is-danger" v-if="errorObject.lawyerCity">{{ $t("account.city_error") }}</span>
                      </div>
                    </div>
                    <div class="columns">
                      <div class="column is-6" v-bind:class="errorObject.lawyerPhone">
                        <div class="label">
                        <label>{{ $t("label.telephone") }}</label>
                        </div>
                        <input type="text" maxlength="8" class="input custom-input-styles" @keydown="allowNumbersOnly" v-model="lawyerInput.phone">
                        <span class="help is-danger" v-if="errorObject.lawyerPhone">{{ $t("account.telephone_error") }}</span>
                      </div>
                      <div class="column is-6" v-bind:class="errorObject.lawyerEmail">
                        <div class="label">
                        <label>{{ $t("label.email") }}</label>
                        </div>
                        <input type="text" class="input custom-input-styles"  v-model="lawyerInput.email">
                        <span class="help is-danger" v-if="errorObject.lawyerEmail">{{ $t("debtor.email_error") }}</span>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </transition>
        <div class="columns">
        <div class="column is-12 mb-10">
          <a class="prev-button"
            v-on:click="$emit('previous')"
          ><b-button class="outline-grey is-btn-fix" outlined> <evaArrowleft :active="true" class="mr-2"/>{{$t("pagination.back")}}</b-button></a>
          <a
            class="next-button"
            v-if="selectedDebtor.length"
            v-on:click="checkNext()"
          > <b-button class="outline-grey is-btn-fix" outlined>{{$t("pagination.next")}} <evaArrowright :active="true" class="ml-2"/></b-button></a>
        </div>
        </div>
  </div>
</template>

<script>
import { mapState } from "vuex"
import DebtorsCreate from "@/pages/debtors/DebtorsCreate"
import DebtorsEdit from "@/pages/debtors/DebtorEdit"
import { allowNumbers, validEmail } from '@/helpers'
import info from "@/components/svg/info.vue"
export default {
  components: {
    DebtorsCreate,
    DebtorsEdit,
    info
  },
  data() {
    return {
      searchKey: "",
      debtorModal: "",
      perPage: 5,
      isVatAsc: true,
      isNameAsc: true,
      errorObject: {
        'dispute': "",
        'lawyerName': "",
        'lawyerAddress': "",
        'lawyerZipCode': "",
        'lawyerCity': "",
        'lawyerPhone': "",
        'lawyerEmail': ""
      },
      currentPageDebtors: 1
    }
  },
  computed: {
    ...mapState("debtors", {
      dialog: state => state.dialog,
      debtors: state => state.debtors,
    }),
    ...mapState("claims", {
      selectedDebtor: state => state.selectedDebtor,
      disputes: state => state.disputes,
      dispute: state => state.dispute,
      debtorLawyer: state => state.debtorLawyer,
      lawyerInput: state => state.lawyerInput
    }),
    searchDebtors: function() {
      // this.$store.commit("debtors/resetDebtors")
      if(this.debtors.data){
        if (this.searchKey) {
          return this.debtors.data.filter(debtors => {
            let debtorStringArray = [
              debtors.company_name,
              debtors.first_name,
              debtors.last_name,
              debtors.vat_number
            ]
            const item = JSON.stringify(debtorStringArray).toLowerCase()
            return item.match(this.searchKey.toLowerCase())
          })
        } else {
          return this.debtors.data
        }
      }
      else{
        return []
      }
    },
    selectedDebtorsDetail: function() {
      if (this.debtors.data && this.selectedDebtor) {
        let debtor = this.debtors.data.filter(d => d.id == this.selectedDebtor)
        return debtor[0]
      }
      return false
    },
    enteredDisputes: {
      get() {
        return this.dispute
      },
      set(value) {
        this.$store.commit("claims/setDispute", value)
      }
    },
    DebtorsData() {
      return Object.values(this.searchDebtors)
    }
  },
  methods: {
    selectDebtor: function(debtor) {
      this.searchKey = ""
      this.$store.commit("claims/setSelectedDebtor", debtor.id)
    },
    toggle(event, modal) {
      if (event == "show") {
        document.getElementById("overlay").style.display = "block"
        this.debtorModal = modal
      } else {
        document.getElementById("overlay").style.display = "none"
        this.debtorModal = ""
      }
    },
    allowNumbersOnly(event) {
      return allowNumbers(event)
    },
    checkSuccess(currentIndex) {
      if (currentIndex === this.selectedDebtor) {
        return "success"
      }
      return ""
    },
    checkNext(){
      let error = false
      this.errorObject['dispute'] = ""
      this.errorObject['lawyerName'] = ""
      this.errorObject['lawyerAddress'] = ""
      this.errorObject['lawyerZipCode'] = ""
      this.errorObject['lawyerCity'] = ""
      this.errorObject['lawyerPhone'] = ""
      this.errorObject['lawyerEmail'] = ""
      if(this.disputes && this.enteredDisputes == ""){
        this.errorObject['dispute'] = "has-error"
        error = true
      }
      if(this.debtorLawyer && (this.lawyerInput.name == "" || this.lawyerInput.name == null )){
        this.errorObject['lawyerName'] = "has-error"
        error = true
      }
      if(this.debtorLawyer && (this.lawyerInput.address == "" || this.lawyerInput.address == null )){
        this.errorObject['lawyerAddress'] = "has-error"
        error = true
      }
      if(this.debtorLawyer && (this.lawyerInput.zip_code == "" || this.lawyerInput.zip_code == null || this.lawyerInput.zip_code.length !== 4 || this.lawyerInput.zip_code.match(/^[0-9]+$/) == null)){
        this.errorObject['lawyerZipCode'] = "has-error"
        error = true
      }
      if(this.debtorLawyer && (this.lawyerInput.city == "" || this.lawyerInput.city == null )){
        this.errorObject['lawyerCity'] = "has-error"
        error = true
      }
      if(this.debtorLawyer && (this.lawyerInput.phone !== "" && this.lawyerInput.phone !== null && this.lawyerInput.phone.length !== 8)){
        this.errorObject['lawyerPhone'] = "has-error"
        error = true
      }
      if(this.debtorLawyer && (this.lawyerInput.email != "" && this.lawyerInput.email != null )){
        if(!validEmail(this.lawyerInput.email)){
          this.errorObject['lawyerEmail'] = "has-error"
          error = true
        }
      }
      if(!error){
        this.$emit('next')
      }
    },
    paginateDebtors(){
      // change the current page number of debtors table based on selected debtor
      let counter = 0
      if(this.selectedDebtorsDetail){
        this.DebtorsData.forEach(debtor => {
          counter ++
          if(debtor['id'] == this.selectedDebtorsDetail['id']){
            this.currentPageDebtors = Math.ceil(counter / 5)
          }
        })
      }
    }

  },
  mounted: function(){
    this.paginateDebtors()
  },
  watch: {
    DebtorsData: function(val){
      this.paginateDebtors()
    }
  }
}
</script>
<style scoped>
.textarea {
  box-shadow: none;
  resize: none;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}
.view {
  width: 900px;
  height: auto;
  margin: auto;
  margin-top: 110px;
  background-color: white;
  border-radius: 3px;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
  overflow-x: hidden;
}
</style>
