<template>
<transition name="termsmodal">
 <div class="modal" style="display: block">
  <div class="modal-background" role="document">
    <div class="modal-card mt-20 mx-auto">
      <div class="modal-card-head">
        <h4 class="modal-card-title">
          {{ $t("claims_add.debtors.disputes") }}
        </h4>
      </div>

      <div class="modal-card-body">
        <ul class="tocModel">
            <li>
                {{dispute}}
            </li>
        </ul>
      </div>

      <div class="modal-card-foot">
        <slot name="footer"></slot>
      </div>
    </div>
  </div>
</div>
</transition>
</template>

<script>
import { mapState} from "vuex"
export default {
 computed: {
    ...mapState("claims", {
      dispute: state => state.dispute,
    }),
 }
}
</script>

<style>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease-in;
}
.modal-body{
  max-height: 300px;
  overflow: auto
}
.tocModel{
  list-style: none;
  padding-left:15px;
}
.tocModel li{
  padding-bottom: 15px;
}
.tocModel span{
  font-weight:bold;
}
</style>
