<template>
  <form class="outer-form mx-20" enctype="multipart/form-data">
    <div
      :class="['dropbox', dragOver ? 'highLight' : '']"
      drag-over="handleDragOver"
      @dragenter="dragOver = true"
      @dragleave="dragOver = false"
      @drop="dragOver = false"
    >
    <div class="dashed-out-line">
      <input
        id="file-upload"
        ref="fileInput"
        type="file"
        multiple
        accept=".pdf, .xls, .xlsx, .doc, .docx, .png, .jpg, .jpeg, .tiff, .csv"
        class="input-file"
        @change="queFiles($event.target.files)"
      >

      <h1 class="dropbox-header">
        <img src="../../../assets/img/svg/cloud-computing.svg" />
      </h1>
      <label for="file-upload" class="custom-file-upload">
        <span class="newcase-upload">{{$t("newCase.upload")}}</span> 
        <a class="hyperlink-styled"> {{$t("newCase.click_to_upload")}}</a>
      </label>
    </div>
    </div>
  </form>
</template>

<script>
import { mapState } from "vuex"
import { MAX_FILE_SIZE } from "@/helpers"
export default {
  props: {
    defaultFileTypeName: {
      required: true
    }
  },
  data() {
    return {
      dragOver: false
    }
  },
  methods: {
    queFiles: function(files) {
      let leaveText = this.$t("newCase.file_size_alert")
      for (var i = 0; i < files.length; i++) {
        if (files[i].size > MAX_FILE_SIZE) {
          this.$alertify.alert('Alert!', leaveText)
          this.$refs.fileInput.value = ""
          return
        }
      }
      this.$store.commit("claims/addToFilesBuffer", {
        files: files,
        claim_line_type_id: this.defaultFileType[0].id,
        bufferType : this.defaultFileTypeName
      })
      document.getElementById("file-upload").value = ""
    }
  },
  computed: {
    ...mapState("claims", {
      claimLineTypes: state => state.claimLineTypes
    }),
    defaultFileType: function() {
      let default_type = this.claimLineTypes.data.filter(
        d => d.identifier == this.defaultFileTypeName
      )
      return default_type
    }
  }
}
</script>
<style scoped>

@import "../../../assets/css/pages/addClaim.css";
.outer-form {
  border-radius: 2px;
}
.dropbox {
  background: #FBFAFB;
  padding: 15px;
  box-shadow: 2px 5px 10px #0000000D;
  border-radius: 2px;
}
.newcase-upload {
  color: #999999;
}
.hyperlink-styled {
  border-bottom: 1px solid #17C5A9;
  color: #17C5A9 !important;
}
</style>
