<template>
  <div class="columns mt-12">
    <div class="column is-12">
    <div class="alert alert-warning" v-if="acceptedTypesError" role="alert">
      <p>{{$t("newCase.fileTypeError")}}</p>
      <span v-for="file in acceptedTypes" :key="file.name">{{file + ";&nbsp;&nbsp;&nbsp;"}}</span>
    </div>
    <div  class="main-box p-5" v-if="fileQueue.length">
        <div class="level">
          <div class="level-left">
            <p class="is-size-5 has-text-weight-bold">Invoices</p>
          </div>
        </div>
          <b-table
          class="table table-debito"
          v-if="fileQueue.length"
          :data="fileQueue"
          >
          <template slot-scope="props">
            <b-table-column :label="$t('erpIntegration.invoice_number')" width="150px" >
            {{ props.row.invoice_reference }}
                </b-table-column>
              <b-table-column :label="$t('general.name')" width="200px" >
              <span v-html="GenerateFileIcon(props.row.file.name)"> </span> {{ props.row.file.name |  subStrParam(nameFilterLength)}}
                  </b-table-column>
            <b-table-column v-if="areaType === 'invoice'" field="invoice" :label="$t('claim.invoice_date')" width="200px">
               <date-picker
                v-model="props.row.invoice_date"
                placeholder="dd.mm.yyyy"
                lang="en"
                :not-before="threeYearsBack()"
              ></date-picker>
            </b-table-column>
            <b-table-column v-if="areaType === 'payment'" field="payment_date" :label="$t('claim.payment_date')" width="200px" >
              <date-picker
                v-model="props.row.invoice_date"
                placeholder="dd.mm.yyyy"
                lang="en"
                :not-before="threeYearsBack()"
              ></date-picker>
            </b-table-column>
            <b-table-column v-if="areaType === 'reminder'" field="reminder_date" :label="$t('claim.reminder_date')"  width="200px">
              <date-picker
                v-model="props.row.invoice_date"
                placeholder="dd.mm.yyyy"
                lang="en"
                :not-before="threeYearsBack()"
              ></date-picker>
            </b-table-column>
            <b-table-column v-if="areaType === 'invoice' || areaType === 'reminder'" field="due_date" :label="$t('claim.due_date')" width="200px">
              <date-picker
                v-model="props.row.maturity_date"
                placeholder="dd.mm.yyyy"
                lang="en"
                :not-before="threeYearsBack()"
              ></date-picker>
            </b-table-column>
            <b-table-column v-if="areaType === 'document' " field="issue_date" :label="$t('claim.document_date')" width="150px">
              <date-picker
                v-model="props.row.invoice_date"
                placeholder="dd.mm.yyyy"
                lang="en"
                :not-before="threeYearsBack()"
              ></date-picker>
            </b-table-column>
            <b-table-column v-if="!hideAmount"  :label="$t('erpIntegration.amount')" width="200px">
              <input
                  class="input custom-input-styles"
                  @change="formatCurrency(props.row.amount, index)"
                  placeholder="0,00"
                  v-model="props.row.amount"
                  type="text"
                />
            </b-table-column>
            <b-table-column v-if="!hideAmount"  :label="$t('claim.currency')" width="150px">
              <select
              v-model="selectedCurrency"
              class="input custom-input-styles">
              <option v-for="(currency, index) in currencies.data" :key="index" :value="currency.id">{{currency.iso_code}}</option>
              </select>
            </b-table-column>
            <b-table-column v-if="showTypes" :label="$t('general.type')" width="200px">
              <select
                    v-model="props.row.claim_line_type_id"
                    class="input custom-input-styles"
                  >
                    <option
                      v-for="(type, index) in fileTypesOptions"
                      :key="index"
                      :value="type.id"> {{translateClaimLineType(type.identifier) }}</option>
                  </select>
            </b-table-column>
            <b-table-column field="view" :label="$t('erpIntegration.actions')" width="150px" >
              <a
              class="text-blue pr-2"
              v-if="GenerateFileViewIcon(props.row.file)"
              @click="generateFileViewArea(props.row.file)"
            >
              <u>{{$t('auth.view')}}</u>
            </a>
            <a
              class="text-blue"
              @click="removeQueueItem(fileQueue, props.row)"
            > <u>{{$t('general.delete')}}</u>
            </a>
            </b-table-column>
          </template>

          </b-table>
    </div>
    <div id="overlay" v-on:click.self="toggle('hide', '')" @keydown.esc="toggle('hide', '')" class="has-text-centered">
      <div class="view mt-12" id="fileView">
        <small @click="toggle('hide')" class="modal-close-outer">
          <i class="fa fa-times-circle modal-close"></i>
        </small>
        <span id="file-area"></span>
      </div>
    </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { fileReadableType, PAGINATED_ROWS } from "@/helpers";
import DatePicker from "vue2-datepicker";
import moment from "moment";
export default {
  components: { DatePicker },
  props: {
    fileQueue: {
      required: true
    },
    showTypes: {},
    fileTypesOptions: {},
    hideAmount: {},
    areaType:{}
  },
  data() {
    return {
    }
  },
  computed: {
    ...mapState("claims", {
      acceptedTypes: state => state.acceptedTypes,
      acceptedTypesError: state => state.acceptedTypesError,
      currencies: state => state.currencies,
      currentCurrency: state => state.currentCurrency
    }),
    countPaginatedRows: function() {
      return PAGINATED_ROWS
    },
    selectedCurrency: {
      get() {
        return this.currentCurrency;
      },
      set(value) {
        this.$store.commit("claims/setCurrentCurrency", value);
      }
    },
    selectedType: {
      get() {
        return this.fileQueue[this.currentIndex]["claim_line_type_id"];
      },
      set(value) {
        this.fileQueue[this.currentIndex]["claim_line_type_id"] = value;
      }
    },
    nameFilterLength: function() {
      if(this.areaType == "invoice"){
        return 30
      }
      else if(this.areaType == "reminder"){
        return 10
      }
      else if(this.areaType == "payment"){
        return 25
      }else if(this.areaType == "document"){
        return 70
      }
      return 16

    }
  },
  methods: {
    removeQueueItem(queue, index) {
      this.$store.commit("claims/removeFile", {
        file: queue,
        index: index
      });
    },
    // Generate icon for file
    GenerateFileIcon(fileName) {
      var fileType = fileReadableType(fileName);
      if (fileType == "Image") {
        return '<span class="badge badge-blue"><i class="fa fa-file-image"></i></span>';
      } else if (fileType == "Excel") {
        return '<span class="badge badge-success"><i class="fa fa-file-excel"></i></span>';
      } else if (fileType == "Word") {
        return '<span class="badge badge-primary"><i class="fa fa-file-word"></i></span>';
      } else if (fileType == "PDF") {
        return '<span class="badge badge-danger"><i class="fa fa-file-pdf"></i></span>';
      }
      return '<span class="badge badge-danger"><i class="fa fa-file"></i></span>';
    },
    GenerateFileViewIcon(file) {
      var fileType = fileReadableType(file.name);
      if (fileType == "Image" || fileType == "PDF") {
        return true;
      }
      return false;
    },
    generateFileViewArea(file) {
      var fileType = fileReadableType(file.name);
      this.toggle("show");
      if (fileType == "Image") {
        let reader = new FileReader();
        reader.onload = function(e) {
          var image =
            '<img src="' +
            e.target.result +
            '" id="fileViewInner" style="width:900px; height:900px" />';
          document.getElementById("file-area").innerHTML = image;
        };
        reader.readAsDataURL(file);
      } else if (fileType == "PDF") {
        let reader = new FileReader();
        reader.onload = function(e) {
          var file =
            '<object data="' +
            e.target.result +
            '" id="fileViewInner" style="width:900px; height:900px" />';
          document.getElementById("file-area").innerHTML = file;
        };
        reader.readAsDataURL(file);
      }
    },
    threeYearsBack() {
      return moment().subtract(3, "years");
    },
    toggle(event) {
      if (event == "show") {
        document.getElementById("overlay").style.display = "block";
      } else {
        document.getElementById("overlay").style.display = "none";
      }
    },
    openFileDialog() {
      document.getElementById("file-upload").click();
    },
    formatCurrency(value, index) {
      this.fileQueue[index]["amount"] = this.$options.filters.formatCurrencyTextBox(value);
    },
    translateClaimLineType(value) {
      return this.$t("claimLineTypes." + value);
    },
  },
  filters: {
    ifEmptyDash: function(string) {
      if (string === "" || string === null) {
        return "-";
      }
      return string;
    }
  }
};
</script>
<style scoped>
.input-field-filearea {
  width: 100%;
  height: 36px !important;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0px !important;
  padding-top: 9px;
}
</style>
