<template>
  <div class="container">
    <p
      class="is-size-4 mt-10 has-text-primary has-text-weight-semibold"
    >{{$t("claims_add.invoice.heading")}}</p>
 <p class="is-size-6">{{$t("claims_add.invoice.heading_text1")}}</p>
       <p class="is-size-6 has-text-note">{{$t("claims_add.invoice.heading_note")}}</p>
    <div v-if="!accept_charge">
      <div class="columns mt-10 mb-10 is-centered">
        <figure class="image">
          <img class="claims-image-size" src="../../../assets/img/svg/terms-of-services.svg" />
        </figure>
      </div>
    </div>
    <div class="columns buttons mt-10 mb-10 is-centered has-text-centered" v-if="!accept_charge">
            <router-link to="/">
              <b-button class="button is-btn-fix-lg is-primary is-outlined">{{$t("general.no")}}</b-button>
            </router-link>
            <b-button  class="button is-btn-fix-lg is-primary is-outlined"
              v-on:click="$store.commit('claims/setAcceptCharge',true)">{{$t("general.yes")}}</b-button>
          </div>
    <div class="columns mt-10" v-if="accept_charge">
      <div class="column is-12">
      <FileUploadArea :defaultFileTypeName="'invoice'" />
      <FileArea areaType="invoice" v-if="fileQueueInvoice.length" :fileQueue="fileQueueInvoice" />
      </div>
    </div>
    <div class="columns has-text-right">
      <div class="column is-12">
      <a v-if="fileQueueInvoice.length" v-on:click="next()" class="next-button">
        <b-button class="btn-icon outline-grey is-btn-fix" outlined>{{$t("pagination.next")}} <evaArrowright :active="true" class="ml-2"/> </b-button>
      </a>
      </div>
    </div>
    <b-modal
      :active.sync="fileBuffer.length ? true : false"
      has-modal-card
      aria-role="dialog"
      aria-modal
      :width="1200" scroll="keep"
      :can-cancel="false"
    >
      <BufferModal bufferType="invoice" :queue="fileQueueInvoice" />
    </b-modal>
  </div>
</template>

<script>
import { mapState } from "vuex";
import FileUploadArea from "./FileUploadArea";
import BufferModal from "./BufferModal";
import FileArea from "./FileArea";
import AccountingSystem from '@/pages/accountingSystem/AccountingSystemIndex'
export default {
  components: {
    AccountingSystem,
    FileUploadArea,
    BufferModal,
    FileArea
  },
  data() {
    return {};
  },
  computed: {
    ...mapState("claims", {
      fileQueueInvoice: state => state.fileQueueInvoice,
      fileBuffer: state => state.fileBuffer,
      accept_charge: state => state.accept_charge
    })
  },
  methods: {
    queFiles: function(files) {
      this.$store.commit("claims/addToFilesBuffer", files);
    },
    next: function() {
      this.$emit("next");
    }
  },
  filters: {},
  watch: {}
};
</script>
