<template>
  <div class="container">
    <p class="is-size-4 mt-10 has-text-primary has-text-weight-semibold">{{$t("claims_add.other_documents.heading")}}</p>
       <p class="is-size-6">{{$t("claims_add.other_documents.heading_text1")}} {{$t("claims_add.other_documents.heading_text2")}} </p>
        <div v-if="!accept_other">
        <div class="columns is-flex is-centered mt-10 mb-10">
          <figure class="image">
            <img class="claims-image-size" src="../../../assets/img/svg/filing-system.svg" />
          </figure>
        </div>
      </div>
      <div class="columns buttons is-flex is-centered mt-10" v-if="!accept_other">
          <button
            class="button is-btn-fix-lg is-primary is-outlined"
            v-on:click="moveToDebtor()"
          >{{$t("general.no")}}</button>
          <button
            class="button is-btn-fix-lg is-primary is-outlined"
            v-on:click="$store.commit('claims/setOtherCharge',true)"
          >{{$t("general.yes")}}</button>
        </div>
      <div  iv class="columns mt-10" v-if="accept_other">
        <div class="column is-12">
        <FileUploadArea :defaultFileTypeName="'document'" />
        <FileArea areaType="document" v-if="fileQueueOther.length" :fileQueue="fileQueueOther" :hideAmount=true />
        </div>
      </div>
        <div class="columns">
          <div class="column is-12 mt-5">
          <a class="is-pulled-left prev-button" v-on:click="$emit('previous')"> <b-button class="btn-icon outline-grey is-btn-fix" outlined> <evaArrowleft :active="true" class="mr-2"/> {{$t("pagination.back")}} </b-button> </a>
          <a class="is-pulled-right next-button" v-on:click="$emit('next')" v-if="accept_other !== null" > <b-button class="btn-icon outline-grey is-btn-fix" outlined> {{$t("pagination.next")}} <evaArrowright :active="true" class="ml-2"/> </b-button></a>
        </div>
      </div>
    <b-modal
    :active.sync="fileBuffer.length ? true : false"
    has-modal-card
    trap-focus
    aria-role="dialog"
    aria-modal
    :width="1200" scroll="keep"
    :can-cancel="false"
    >
    <BufferModal bufferType="other" :queue="fileQueueOther" :hideAmount=true />
    </b-modal>
  </div>
</template>

<script>
import { mapState } from "vuex"
import FileUploadArea from "./FileUploadArea"
import BufferModal from "./BufferModal"
import FileArea from "./FileArea"
import AccountingSystem from '@/pages/accountingSystem/AccountingSystemIndex'
export default {
  components: {
    AccountingSystem,
    FileUploadArea,
    BufferModal,
    FileArea,
  },
  computed: {
    ...mapState("claims", {
      fileQueueOther: state => state.fileQueueOther,
      fileBuffer: state => state.fileBuffer,
      accept_other: state => state.accept_other,
    }),
  },
  methods: {
    queFiles: function(files) {
      this.$store.commit("claims/addToFilesBuffer", files)
    },
    moveToDebtor() {
      this.$store.commit('claims/setOtherCharge', false)
      this.$emit('next')
    }
  },
  filters: {
  },
  watch: {}
}
</script>
