<template>
  <div class="container">
      <p class="is-size-4 mt-10 has-text-primary has-text-weight-semibold"> {{$t("claims_add.overview.heading")}}</p>
      <p> Make sure all details submitted are correct. Not having the right information can result in the claim being rejected. </p>
    <div class="columns overview-box mt-10">
      <div class="column is-6">
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>DEBTOR</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Name</td>
              <td>{{selectedDebtorsDetail | setDebtorName}}</td>
            </tr>
            <tr>
              <td>CVT/VAT Number</td>
              <td>{{selectedDebtorsDetail.vat_number}} </td>
            </tr>
            <tr>
              <td>Address 1</td>
              <td>{{selectedDebtorsDetail.address}} </td>
            </tr>
            <tr>
              <td>City</td>
              <td>{{selectedDebtorsDetail.city}}</td>
            </tr>
            <tr>
              <td>Country</td>
              <td>{{selectedDebtorsDetail.Countries.name}}</td>
            </tr>
            <tr>
              <td>Postal code</td>
              <td>{{selectedDebtorsDetail.zip_code}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td class="has-text-weight-bold">Dispute</td>
            </tr>
            <tr>
              <td>
                <b-button
                v-if="disputes"
                v-on:click="showDisputeModal = true"
                type="is-pulled-right is-secondary-light"
              >{{$t("claims_add.overview.show_dispute")}}</b-button>
              <p v-else>None</p>
              </td>
            </tr>
          </tfoot>
        </table>
        <hr>
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>DEBTOR'S LAWYER</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Name</td>
              <td>{{lawyerInput.name}}</td>
            </tr>
            <tr>
              <td>CVR/VAT number</td>
              <td>{{lawyerInput.vat_number}}</td>
            </tr>
             <tr>
              <td>Address</td>
              <td>{{lawyerInput.address}}</td>
            </tr>
             <tr>
              <td>City</td>
              <td>{{lawyerInput.city}}</td>
            </tr>
            <tr>
              <td>Postal code</td>
              <td>{{lawyerInput.zip_code}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="column is-6">
         <ViewFilesModal/>
      </div>
      </div>

    <!-- <div class="overview-box mx-20 mt-10 p-10">
      <div v-if="!sendingData" class="columns">
        <div class="column is-12">
          <div class="columns">
            <div class="column is-9 has-text-left">
              <h6
                class="is-size-6 has-text-weight-bold"
              >{{$t("claims_add.overview.claim_against") | toCapitalLetters}}</h6>
              <div class="pt-2">
                <span class="font-light">{{selectedDebtorsDetail | setDebtorName}}</span>
              </div>
              <div class="pt-2">
                <span class="font-light">{{selectedDebtorsDetail.address}}</span>
              </div>
              <div>{{selectedDebtorsDetail.zip_code}} {{selectedDebtorsDetail.city}}</div>
              <div class="pt-2">
                <span class="font-light">{{selectedDebtorsDetail.phone}}</span>
              </div>
            </div>
            <div class="column is-3">
              <h6
                class="is-size-6 has-text-weight-bold"
              >{{$t("claims_add.overview.claim_filed_by") | toCapitalLetters}}</h6>
              <div class="pt-2">
                <span class="pr-2">{{activeAccountInfo.name}}</span>
              </div>
              <div class="pt-2">
                <span class="pr-2">{{activeAccountInfo.address}}</span>
              </div>
              <div>{{activeAccountInfo.zip_code}} {{activeAccountInfo.city}}</div>
              <div class="pt-2">
                <span class="pr-2">{{activeAccountInfo.phone}}</span>
              </div>
            </div>
          </div>
          <div class="columns mt-3">
            <div class="column is-12">
              <table class="table mt-4 is-striped is-fullwidth">
                <thead>
                  <tr>
                    <th width="50%" class="has-text-left">
                      <h6 class="font-normal-heading">{{$t("claim.description") | toCapitalLetters}}</h6>
                    </th>
                    <th width="50%" class="has-text-right ">
                      <h6 class="font-normal-heading">{{$t("claim.total") | toCapitalLetters }}</h6>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class=" has-text-left">{{$t("claim.principle")}}</td>
                    <td class="has-text-right">{{calculatedPrinciple | formatCurrency}}</td>
                  </tr>
                  <tr>
                    <td class=" has-text-left">{{$t("claim.reminder_charges")}}</td>
                    <td class="has-text-right">{{calculatedReminderFees | formatCurrency}}</td>
                  </tr>
                  <tr>
                    <td class=" has-text-left">{{$t("claim.other_fees")}}</td>
                    <td class="has-text-right">{{calculatedCompensation | formatCurrency}}</td>
                  </tr>
                  <tr>
                    <td class="has-text-left">{{$t("claim.paid")}}</td>
                    <td class="has-text-right">{{calculatedPaid | formatCurrency}}</td>
                  </tr>
                </tbody>
                <tr>
                  <td
                    class="has-text-left"
                  >{{$t("claims_add.overview.claim_total")}}</td>
                  <td
                    class="has-text-right has-text-weight-bold"
                  >{{calculateTotal | formatCurrency}}</td>
                </tr>
              </table>
            </div>
          </div>
      </div> -->
      <div class="columns mt-4">
            <div class="column is-4 ">
              <a class="prev-button" v-on:click="$emit('previous')">
                <b-button class="outline-grey is-btn-fix" outlined><evaArrowleft :active="true" class="mr-2"/>{{$t("pagination.back")}}</b-button>
              </a>
            </div>
            <div class="column is-8 col-12">
              <b-button
                v-on:click="makeClaims()"
                type="button is-primary ml-20"
              >{{$t("claims_add.overview.create_claim")}}</b-button>
              <b-button
                v-if="disputes"
                v-on:click="showDisputeModal = true"
                type="mr-2 is-pulled-right is-secondary-light"
              >{{$t("claims_add.overview.show_dispute")}}</b-button>
            </div>
          </div>
      <!---Overlay and BarLoader when sending data --->
      <div v-if="sendingData" id="overlay" class="overlay-index">
        <div class="column is-12 has-text-centered pt-5 mx-auto">
          <h4 class="text-distance is-size-4 has-text-primary pt-5">{{$t("newCase.current_files")}}...</h4>
          <Loader2/>
        </div>
      </div>
    <!-- For Terms and Conditions Modal -->
    <div v-if="dispute" id="wrapper" class="container">
      <DisputeModal v-if="showDisputeModal">
        <h3 slot="header" class="modal-title">{{ $t("claims_add.debtors.disputes") }}</h3>
        <div slot="footer">
          <b-button
            type="button is-secondary-light"
            @click="showDisputeModal = false"
          >{{ $t("auth.close") }}</b-button>
        </div>
      </DisputeModal>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from "vuex";
import { getStringNumbers } from "@/helpers";
import router from "@/router/index";
import moment from 'moment'
import DisputeModal from './DisputeModal'
import ViewFilesModal from "@/pages/claims/create/ViewFilesModal.vue"
export default {
  components: {
    DisputeModal,
    ViewFilesModal
  },  
  data() {
    return {
      showDisputeModal: false,
    }
  },
  computed: {
    ...mapState("claims", {
      selectedDebtor: state => state.selectedDebtor,
      fileQueueInvoice: state => state.fileQueueInvoice,
      fileQueuePayemnt: state => state.fileQueuePayemnt,
      fileQueueReminder: state => state.fileQueueReminder,
      fileQueueOther: state => state.fileQueueOther,
      allFiles: state => state.allFiles,
      claimLineTypes: state => state.claimLineTypes,
      currentCurrency: state => state.currentCurrency,
      lawyerInput: state => state.lawyerInput,
      sendingData: state => state.sendingData,
      disputes: state => state.disputes,
      dispute: state => state.dispute,
    }),
    ...mapState("debtors", {
      debtors: state => state.debtors
    }),
    selectedDebtorsDetail: function() {
      if (this.debtors.data && this.selectedDebtor) {
        let debtor = this.debtors.data.filter(d => d.id == this.selectedDebtor);
        return debtor[0];
      }
      return false;
    },
    ...mapGetters("accounts", {
      activeAccountInfo: "activeAccountInfo"
    }),
    calculatedReminderFees: function() {
      // calculate all reminder fees
      let reminder_fees = 0;
      for (let obj in this.fileQueueReminder) {
        reminder_fees =
          reminder_fees +
          getStringNumbers(this.fileQueueReminder[obj].amount);
      }
      return reminder_fees;
    },
    calculatedCompensation: function() {
      // calculate all compensation fees
      let compenstaion = 0;
      for (let obj in this.fileQueueReminder) {
        if (
          this.getFileName(this.fileQueueReminder[obj].claim_line_type_id) ===
          "compensation_fee"
        ) {
          compenstaion =
            compenstaion +
            getStringNumbers(this.fileQueueReminder[obj].amount);
        }
      }
      return compenstaion;
    },
    calculatedPaid: function() {
      // calculate all compensation fees
      let payment = 0;
      for (let obj in this.fileQueuePayemnt) {
        if (
          this.getFileName(this.fileQueuePayemnt[obj].claim_line_type_id) ===
          "payment"
        ) {
          payment =
            payment + getStringNumbers(this.fileQueuePayemnt[obj].amount);
        }
      }
      return payment;
    },
    calculatedPrinciple: function() {
      // calculate all compensation fees
      let principle = 0;
      for (let obj in this.fileQueueInvoice) {
        principle =
          principle + getStringNumbers(this.fileQueueInvoice[obj].amount);
      }
      return principle;
    },
    calculateTotal: function() {
      return (
        this.calculatedPrinciple +
        this.calculatedReminderFees +
        this.calculatedCompensation -
        this.calculatedPaid
      );
    }
  },
  methods: {
    ...mapActions("claims", {
      makeClaim: "makeClaim",
      makeClaimLines: "makeClaimLines",
      addDebtorLawyer: "addDebtorLawyer",
      getClaims: 'getClaims'
    }),
    getFileName(fileID) {
      let file = this.claimLineTypes.data.filter(d => d.id == fileID);
      return file[0].identifier;
    },
    async makeClaims() {
      this.$store.commit("claims/setSendingData", true);
      var that = this;
      this.makeClaim().then(
        function(result) {
          let lawyerData = {
            name: that.lawyerInput.name,
            address: that.lawyerInput.address,
            email: that.lawyerInput.email,
            vat_number: that.lawyerInput.vat_number,
            city: that.lawyerInput.city,
            zip_code: that.lawyerInput.zip_code,
            phone: that.lawyerInput.phone,
            claim_id: result.id
          };
          let counter = 0; // to calculate when last file is uplaoded
          for (let obj in that.allFiles) {
            that.$store.commit("claims/setClaimId", result.id);
            let formData = new FormData();
            formData.append(
              "claim_line_type_id",
              that.allFiles[obj].claim_line_type_id
            );
            formData.append("currency_id", that.currentCurrency);
            formData.append(
              "amount",
              getStringNumbers(that.allFiles[obj].amount)
            );
            formData.append(
              "invoice_reference",
              that.allFiles[obj].invoice_reference
            );
            that.allFiles[obj].maturity_date = moment(that.allFiles[obj].maturity_date).format("YYYY-MM-DD")
            that.allFiles[obj].invoice_date = moment(that.allFiles[obj].invoice_date).format("YYYY-MM-DD")
            formData.append("maturity_date", that.allFiles[obj].maturity_date);
            formData.append("invoice_date", that.allFiles[obj].invoice_date);
            formData.append("file_name", that.allFiles[obj].file);
            formData.append("placement", 0);
            formData.append("claim_id", result.id);
            that.addDebtorLawyer(lawyerData).then(response => {
              that.makeClaimLines(formData).then(
                function(claim_line_data) {
                  counter++;
                  if (counter === that.allFiles.length) {
                    that.$store.commit("claims/setDebtorLawyer", false);
                    // update claims object
                    that.getClaims()
                    that.$store.commit("claims/setClaimSuccessPage")
                    router.push("/");
                  }
                },
                function(error) {
                  console.error(error);
                  that.$store.commit("claims/setSendingData", false);
                  that.$store.commit("claims/setDebtorLawyer", false);
                }
              );
            });
          }
        },
        function(error) {
          console.error(error);
          that.$store.commit("claims/setSendingData", false);
          that.$store.commit("claims/setDebtorLawyer", false);
        }
      );
    },
  },
  filters: {},
  watch: {},
  created: function() {
    // joining all quues into one queue
    this.$store.commit("claims/resetAllFiles");
    for (let obj in this.fileQueueInvoice) {
      this.$store.commit("claims/pustToAllFiles", this.fileQueueInvoice[obj]);
    }
    for (let obj in this.fileQueuePayemnt) {
      this.$store.commit("claims/pustToAllFiles", this.fileQueuePayemnt[obj]);
    }
    for (let obj in this.fileQueueReminder) {
      this.$store.commit("claims/pustToAllFiles", this.fileQueueReminder[obj]);
    }
    for (let obj in this.fileQueueOther) {
      this.$store.commit("claims/pustToAllFiles", this.fileQueueOther[obj]);
    }
  }
};
</script>
<style scoped>
.table td, .table th { 
  border: none;
}
.overview-box {
  border: 1px solid #eee;
}
.text-distance {
  padding-top: 200px !important;
}
.overlay-index {
  display: block !important;
  z-index: 1006 !important;
}
.margin-overview {
  top: 100px !important;
}
.font-weight-total {
  font-size: 1rem;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fbfcfd;
}
.font-normal-heading {
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
</style>
