<template>
  <div class="container">
      <p class="is-size-4 mt-10 has-text-primary has-text-weight-semibold"> {{$t("claims_add.payments.heading")}}</p>
      <p class="is-size-6">{{$t("claims_add.payments.heading_text1")}}</p>
      <div v-if="!accept_payment">
      <div class="columns is-centered mt-10 mb-10">
       <figure class="image" >
          <img class="claims-image-size" src="../../../assets/img/svg/note-list.svg" />
       </figure>
       </div>
      </div>
      <div class="columns buttons is-centered mt-10 mb-10" v-if="!accept_payment">
          <button
            class="button is-btn-fix-lg is-primary is-outlined"
            v-on:click="moveToReminder()"
          >{{$t("general.no")}}</button>
          <button
            class="button is-btn-fix-lg is-primary is-outlined"
            v-on:click="$store.commit('claims/setPaymentCharge',true)"
          >{{$t("general.yes")}}</button>
      </div>
      <div class="columns mt-10" v-if="accept_payment">
        <div class="column is-12">
        <FileUploadArea :defaultFileTypeName="'payment'"/>
        <FileArea
          areaType="payment"
          v-if="fileQueuePayemnt.length"
          :fileQueue="fileQueuePayemnt"
          :showTypes="true"
          :fileTypesOptions="fileTypesOptions"
        />
        </div>
      </div>
      <div class="columns ">
        <div class="column is-12 mt-5">
          <a
            class="prev-button"
            v-on:click="$emit('previous')"
          > <b-button class="btn-icon outline-grey is-btn-fix" outlined>  <evaArrowleft :active="true" class="mr-2"/>{{$t("pagination.back")}} </b-button> </a>
          <a
            class="next-button"
            v-on:click="$emit('next')"
            v-if="accept_payment !== null"
          >  <b-button class="btn-icon outline-grey is-btn-fix" outlined> {{$t("pagination.next")}} <evaArrowright :active="true" class="ml-2"/> </b-button>
          </a>
        </div>
      </div>
    <b-modal
      :active.sync="fileBuffer.length ? true : false"
      has-modal-card
      trap-focus
      aria-role="dialog"
      aria-modal
      :width="1200" scroll="keep"
      :can-cancel="false"
     >
    <BufferModal
      :queue="fileQueuePayemnt"
      :showTypes="true"
      bufferType="payment"
      :fileTypesOptions="fileTypesOptions"
/>
    </b-modal>
  </div>
</template>

<script>
import { mapState } from "vuex"
import FileUploadArea from "./FileUploadArea"
import BufferModal from "./BufferModal"
import FileArea from "./FileArea"
import AccountingSystem from '@/pages/accountingSystem/AccountingSystemIndex'
export default {
  components: {
    AccountingSystem,
    FileUploadArea,
    BufferModal,
    FileArea
  },
  data() {
    return {
      dragOver: false
    }
  },
  computed: {
    ...mapState("claims", {
      fileQueuePayemnt: state => state.fileQueuePayemnt,
      fileBuffer: state => state.fileBuffer,
      accept_payment: state => state.accept_payment,
      claimLineTypes: state => state.claimLineTypes
    }),
    //  to send file types of buffer in order to show them in select
    fileTypesOptions: function() {
      let typeArr = []
      let payment = this.claimLineTypes.data.filter(
        d => d.identifier == "payment"
      )
      let credit_note = this.claimLineTypes.data.filter(
        d => d.identifier == "credit_note"
      )
      typeArr.push({ id: payment[0].id, identifier: payment[0].identifier })
      typeArr.push({
        id: credit_note[0].id,
        identifier: credit_note[0].identifier
      })
      return typeArr
    }
  },
  methods: {
    queFiles: function(files) {
      this.$store.commit("claims/addToFilesBuffer", files)
    },
    moveToReminder() {
      this.$store.commit("claims/setPaymentCharge", false)
      this.$emit("next")
    }
  },
  filters: {},
  watch: {}
}
</script> f
