<template>
  <section>
    <div class="b-steps">
      <nav class="steps">
        <ul class="step-items">
          <li v-for="n in totalIndex" :key="n" class="step-item" :class="checkActive(n)">
            <a class="step-link">
              <div class="step-marker" v-if="n >= currentIndex">
                {{ n }}
              </div>
              <div class="step-marker" v-else>
                <Tick :active="true"/>
              </div>
            </a>
            <div class="step-details mt-2" v-if="claimView">
              <b-tooltip :label="$t('claimTooltips.'+ [n-1])"
             type="is-light"
            position="is-bottom"
            animated
            multilined>
              <p class="step-title is-size-6">{{$t("claimPhases."+[n-1])}}</p>
              </b-tooltip>
            </div>
             <div class="step-details mt-2" v-if="createClaim">
              <p class="step-title is-size-6">{{$t("claimAddPhases."+[n-1])}}</p>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </section>
</template>

<script>
import Tick from "@/components/svg/tick";
export default {
  components: {
    Tick
  },
  props: {
    totalIndex: {
      type: Number
    },
    currentIndex: {
      type: Number
    },
    claimView: {
      type: Boolean
    },
    createClaim: {
      type: Boolean
    }
  },
  data() {
    return {

    }
  },
  methods: {
    checkActive(n) {
      if (n <= this.currentIndex) {
        return "is-active"
      }
    },
  }
}
</script>

<style lang="scss">
  @import "../../../assets/css/colors.scss";
    .b-steps .steps .step-items .step-item .step-marker {
    background-color: $secondary-light;
    color: $secondary;
    border: 0px;
    border-radius: 50%;
    font-weight: 400;
  }
  .b-steps .steps .step-items .step-item.is-active .step-marker {
    background-color: $primary-light;
    color: $primary;
    border: 0px;
    border-radius: 50%;
    font-weight: bold;
  }
  .b-steps .steps .step-items .step-item::before {
    background: linear-gradient(
      to right,
      #fff,
      #fff 20%,
      $secondary-light 20%,
      $secondary-light 80%,
      #fff 80%
    );
  }
  .b-steps .steps .step-items .step-item.is-active::before {
    background: linear-gradient(
      to right,
      #fff,
      #fff 20%,
      $primary 20%,
      $primary 80%,
      #fff 80%
    );
  }
  .b-steps .steps .step-items .step-item:not(:first-child)::before, .b-steps .steps .step-items .step-item:only-child::before {
    height: 2px;
    width: 100%;
    bottom: 0;
    left: -50%;
    top: 1rem;
}
</style>
