<template>
<div class="container">
        <p class="is-size-4 mt-10 has-text-primary has-text-weight-semibold"> {{$t("claims_add.reminders.heading")}} </p>
         <p class="is-size-6">{{$t("claims_add.reminders.heading_text1")}} {{$t("claims_add.reminders.heading_text2")}}</p>
        <div v-if="!accept_reminder">
        <div class="columns is-flex is-centered  mt-10 mb-10">
            <figure class="image" >
          <img class="claims-image-size" src="../../../assets/img/svg/reminder.svg" />
          </figure>
        </div>
      </div>
      <div class="columns buttons is-centered  mt-10 mb-10" v-if="!accept_reminder">
          <button
            class="button is-btn-fix-lg is-primary is-outlined"
            v-on:click="moveToOther()"
          >{{$t("general.no")}}</button>
          <button
            class="button is-btn-fix-lg is-primary is-outlined"
            v-on:click="$store.commit('claims/setReminderCharge',true)"
          >{{$t("general.yes")}}</button>
      </div>    
      <div class="columns mt-10" v-if="accept_reminder">
        <div class="column is-12">
        <FileUploadArea :defaultFileTypeName="'late_payment_fee'"/>
        <FileArea
          v-if="fileQueueReminder.length"
          :fileQueue="fileQueueReminder"
          :showTypes="true"
          :fileTypesOptions="fileTypesOptions"
          areaType="reminder"
        />
        </div>
      </div>
      <div class="columns">
        <div class="column is-12 mt-5">
        <a
        class="prev-button"
          v-on:click="$emit('previous')"
        >  <b-button class="btn-icon outline-grey is-btn-fix" outlined> <evaArrowleft :active="true" class="mr-2"/> {{$t("pagination.back")}} </b-button> </a>
        <a
        class="next-button"
          v-on:click="$emit('next')"
          v-if="accept_reminder !== null"
        > <b-button class="btn-icon outline-grey is-btn-fix" outlined> {{$t("pagination.next")}}<evaArrowright :active="true" class="ml-2"/> </b-button> </a>
        </div>
      </div>
      <b-modal
      :active.sync="fileBuffer.length ? true : false"
      has-modal-card
      trap-focus
      aria-role="dialog"
      aria-modal
      :width="1200" scroll="keep"
      :can-cancel="false"
      >
        <BufferModal
        :queue="fileQueueReminder"
        :showTypes="true"
        :fileTypesOptions="fileTypesOptions"
        bufferType="reminder"
      />
      </b-modal>
  </div>
</template>

<script>
import { mapState } from "vuex"
import FileUploadArea from "./FileUploadArea"
import BufferModal from "./BufferModal"
import FileArea from "./FileArea"
import AccountingSystem from '@/pages/accountingSystem/AccountingSystemIndex'
export default {
  components: {
    AccountingSystem,
    FileUploadArea,
    BufferModal,
    FileArea
  },
  data() {
    return {
      dragOver: false
    }
  },
  computed: {
    ...mapState("claims", {
      fileQueueReminder: state => state.fileQueueReminder,
      fileBuffer: state => state.fileBuffer,
      accept_reminder: state => state.accept_reminder,
      claimLineTypes: state => state.claimLineTypes
    }),
    //  to send file types of buffer in order to show them in select
    fileTypesOptions: function() {
      let typeArr = []
      let late_payment_fee = this.claimLineTypes.data.filter(
        d => d.identifier == "late_payment_fee"
      )
      let compensation_fee = this.claimLineTypes.data.filter(
        d => d.identifier == "compensation_fee"
      )
      typeArr.push({
        id: late_payment_fee[0].id,
        identifier: late_payment_fee[0].identifier
      })
      typeArr.push({
        id: compensation_fee[0].id,
        identifier: compensation_fee[0].identifier
      })
      return typeArr
    }
  },
  methods: {
    queFiles: function(files) {
      this.$store.commit("claims/addToFilesBuffer", {
        filestoPush: files,
        queue: this.fileBuffer
      })
    },
    moveToOther() {
      this.$store.commit("claims/setReminderCharge", false)
      this.$emit("next")
    }
  },
  filters: {},
  watch: {}
}
</script>


