<template>
   <div class="modal-card" style="width: auto;">
              <section class="modal-card-body">
                <b-carousel
                  :arrow="showArrow"
                  :indicator="indicator"
                  :indicator-inside="indicatorInside"
                  :autoplay="autoPlay"
                 >
            <b-carousel-item v-for="(file, index) in allFiles" :key="index">
                    <div class="has-text-centered">
                         <span v-html="imgarr[index]">
                            <p></p>
                          </span>
                    </div>
            </b-carousel-item>
        </b-carousel>
              </section>
   </div>
</template>
<script>
import { fileReadableType, allowNumbers } from "@/helpers"
import { mapState } from "vuex";

export default {
  data() {
    return {
      imgarr: [],
      arrowBoth: true,
      indicatorInside: false,
      indicator: false,
      autoPlay: false,
      
    }
  },
  computed: {
    ...mapState("claims", {
      fileQueueInvoice: state => state.fileQueueInvoice,
      fileBuffer: state => state.fileBuffer,
      fileQueuePayemnt: state => state.fileQueuePayemnt,
      fileQueueReminder: state => state.fileQueueReminder,
      fileQueueOther: state => state.fileQueueOther,
      allFiles: state => state.allFiles,
    }),
    showArrow() {
      if (this.allFiles.length > 1) {
        return true
      }
      return false
    }
  },
  methods: {
    generateFileViewArea(file) {
      var that = this
      var fileType = fileReadableType(file.name)
      if (fileType == "Image") {
        let reader = new FileReader()
        reader.onload = function(e) {
          var image =
            '<img src="' +
            e.target.result +
            '" id="fileViewInner" style="width:100%; min-height:600px" />'
          that.imgarr.push(image)
        }
        reader.readAsDataURL(file)
      } else if (fileType == "PDF") {
        let reader = new FileReader()
        reader.onload = function(e) {
          var file =
            '<object data="' +
            e.target.result +
            '" id="fileViewInner" style="width:100%; min-height:600px" />'
          that.imgarr.push(file)
        }
        reader.readAsDataURL(file)
      } else {
        that.imgarr.push(this.noFileAlert)
      }
    },
  },
  created: function() {
    for  (let i = 0; i < this.allFiles.length; i++) {
      this.generateFileViewArea(this.allFiles[i].file)
    }
  }
}
</script>