<template>
  <div class="app">
    <div class="page-wrapper">
        <transition name="fade">
            <router-view></router-view>
        </transition>
    </div>
  </div>
</template>

<script>
// import auth from '../auth'
import "../helpers/filters"

export default {
  data () {
    return {
      // auth: auth
    }
  },
  beforeMount () {
    // auth.check ()
  }
}

</script>

<style>
    .list-inline {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .list-inline__item {
        display: inline;
        margin-right: 20px;
    }
    .list-inline__item--last {
        margin-right: 0;
    }
    .fade-enter-active {
        transition: opacity .5s;
        -webkit-transition: opacity .5s;
        opacity: 1;
    }
    .fade-enter {
        opacity: 0;
    }
    .fade-leave {
        display: none;
    }
    .fade-leave-active {
        display: none;
    }
</style>

<style lang="scss">
// Import Bulma's changes
@import "../assets/css/bulma-changes.scss";
// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
</style>
