<template>
<div class="modal-card" style="width: auto">
  <section class="modal-card-body p-12">
      <div class="columns is-centered is-variable is-10-desktop">
        <figure class="image is-64x64">
              <img src="../assets/img/svg/confetti left.svg" alt="Placeholder image">
            </figure>
            <p class='is-size-3 px-5 pt-3'>{{$t('dashboard.claim_submitted')}}</p>
            <figure class="image is-64x64">
              <img src="../assets/img/svg/confetti right.svg" alt="Placeholder image">
            </figure>
         </div>
         <div class="is-size-4 has-text-primary has-text-centered has-text-weight-semibold mt-12">{{$t('dashboard.whats_next')}}</div>
      <div class="columns mt-10 is-variable is-5">
        <div class="column is-4">
          <div class="card is-shadowless">
            <div class="image">
              <figure class="image is-3by2">
              <img src="../assets/img/svg/verify.svg" alt="Placeholder image">
            </figure>
             </div>
               <div class="content px-5 pt-4">
              <p class="title is-size-4 has-text-primary">{{$t('dashboard.claim_verification')}}</p>
                  <p>{{$t('dashboard.verification_detail')}}</p>
              </div>
           </div>
         </div>
         <div class="column is-4">
          <div class="card is-shadowless">
            <div class="image">
              <figure class="image is-3by2">
              <img src="../assets/img/svg/sent-into-collection.svg" alt="Placeholder image">
            </figure>
             </div>
             <div class="content px-5 pt-4">
              <p class="title is-size-4 has-text-primary">{{$t('dashboard.debt_collection')}}</p>
                  <p>{{$t('dashboard.collection_detail')}}
                  </p>
              </div>
           </div>
         </div>
         <div class="column is-4">
          <div class="card is-shadowless">
            <div class="image">
              <figure class="image is-3by2">
              <img src="../assets/img/svg/when-something-happens.svg" alt="Placeholder image">
            </figure>
             </div>
             <div class="content px-5 pt-4">
              <p class="title is-size-4 has-text-primary">{{$t('dashboard.claim_change')}}</p>
             <p>{{$t('dashboard.change_detail')}}</p>
              </div>
           </div>
         </div>
       </div>
       <div class="has-text-centered mt-12 ">
        <p class="has-text-weight-light is-size-4">{{$t('dashboard.more_debtors')}}</p>
         <b-button type="is-dark icon-button" class="pl-10 mt-5" tag='router-link' to="/claims/create" ><plusIcon :height="25" :width="25"/>{{ $t('erpIntegration.create') }}</b-button>
       </div>
      </section>
   </div>
 </template>

<script>
export default {
};
</script>
