<template>
  <div>
    <b-navbar class="navbar is-fixed-top is-hidden-touch has-background-white">
      <template slot="brand">
        <b-navbar-item class="logo-web" tag="div" :to="{ path: '/' }">
          <img src="../../assets/img/logos/logo_web_white.png" />
        </b-navbar-item>
      </template>

      <template slot="end">
        <b-navbar-item tag="div" class="has-cursor-pointer" @click="toAccounts()">
          <evaAccounts :active="true" class="mr-2"/>
          <p class="text-label">
            <span class="has-text-weight-bold">{{$t('general.account')}}:</span>
            {{activeAccountName | subStr}}
          </p>
        </b-navbar-item>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link is-arrowless -mr-1"
          @click.prevent="profile">
             <b-tooltip :label="$t('header.tooltip_avatar')"
             type="is-light"
            position="is-bottom"
            animated>
            <div class="avatar-circle">
              <span class="initials">{{generateAvator}}</span>
            </div>
        </b-tooltip>
          </a>
          <div class="navbar-dropdown is-right mx-3">
            <div class="navbar-item">
              <b>Status:</b>
              &nbsp;{{$t('general.active')}}
            </div>
            <a
              class="navbar-item clickable"
              @click.prevent="profile"
            >{{$t('general.profile_setting')}}</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a
            class="navbar-link is-arrowless mr-2"
            id="flag"
            :style="{'background': `url(${require('../../assets/img/svg/flags/'+language+'.svg')}) no-repeat center`}"
          ></a>
          <div class="navbar-dropdown is-right mx-3">
            <a class="navbar-item with-icon" @click="setLanguage('da')">
              <img :src="`${require('../../assets/img/svg/flags/da.svg')}`" />
              <span class="px-4 text-label">{{$t("header.danish_full")}}</span>
            </a>
            <a class="navbar-item with-icon" @click="setLanguage('en')">
              <img :src="`${require('../../assets/img/svg/flags/en.svg')}`" />
              <span class="px-4 text-label">{{$t("header.english_full")}}</span>
            </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable" :title="$t('auth.sign_out')">
          <a
            class="navbar-link is-arrowless mr-6"
            id="flag"
            @click="logout()"
            :style="{'background': `url(${require('../../assets/img/svg/dashboard/Logout icon.svg')}) no-repeat center`}"
          ></a>
        </div>
      </template>
    </b-navbar>

    <!-- Mobile Header menu -->
    <b-navbar class="navbar mobile-header is-fixed-top is-hidden-desktop">
      <template slot="brand">
        <b-navbar-item class="logo-mobile" tag="div" :to="{ path: '/' }">
          <img src="../../assets/img/logos/logo_mobile.png" />
        </b-navbar-item>
      </template>
      <template slot="start">
        <b-navbar-item tag="router-link" to="/">
          <span>{{$t('header.dashboard')}}</span>
        </b-navbar-item>
        <b-navbar-item tag="router-link" to="/accountingsystem">
          <span>{{$t('erpIntegration.invoices')}}</span>
        </b-navbar-item>
        <b-navbar-item tag="router-link" to="/debtors">
          <span>{{$t('header.my_debtors')}}</span>
        </b-navbar-item>
        <b-navbar-item tag="router-link" to="/claims">
          <span>{{$t('header.my_claims')}}</span>
        </b-navbar-item>
         <b-navbar-item tag="router-link" to="/accounts">
          <span>{{$t('header.my_accounts')}}</span>
        </b-navbar-item>
        <b-navbar-item tag="router-link" to="/user/profile">
          <span>{{$t('account.user_details')}}</span>
        </b-navbar-item>
      </template>
      <template slot="end">
              <hr>
        <div class="ml-5">
            <a class="with-icon" @click="setLanguage('da')">
              <img :src="`${require('../../assets/img/svg/flags/da.svg')}`" />
            </a>
            <a class=" with-icon" @click="setLanguage('en')">
              <img :src="`${require('../../assets/img/svg/flags/en.svg')}`" />
            </a>
            </div>
        <b-navbar-item>
          <span
            @click="logout()"
          >{{$t('auth.sign_out')}}</span>
        </b-navbar-item>
 <div class="buttons">
          <button
            class="button is-primary is-fullwidth mx-8 my-6"
          >{{$t('dashboard.create_new_claim')}}</button>
        </div>
      </template>
    </b-navbar>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from "vuex"
import i18n from "@/plugins/i18n"
export default {
  data() {
    return {
      showLanguages: false,
      showMenu: false,
      user: {},
      displayAccountHeader: false,
      isActive: true,
      language: window.localStorage.getItem("selectedLanguage")
        ? window.localStorage.getItem("selectedLanguage")
        : "da"
    }
  },
  components: {

  },
  computed: {
    ...mapState("accounts", {
      userProfile: state => state.userProfile,
      accounts: state => state.accounts
    }),
    ...mapGetters("accounts", {
      activeAccountName: "activeAccountName"
    }),
    generateAvator() {
      if (this.userProfile && this.userProfile[0].full_name) {
        let nameWithSpaces = this.userProfile[0].full_name.split(" ")
        let value = ""
        if (nameWithSpaces.length == 1) {
          value =
            this.userProfile[0].full_name[0] +
            this.userProfile[0].full_name[
              this.userProfile[0].full_name.length - 1
            ]
        } else {
          // convert e.g. Ahmed Hasnat Safder to AS
          let name1 = nameWithSpaces[0] // Ahmed
          let name2 = nameWithSpaces[nameWithSpaces.length - 1] // Safder
          value = name1[0] + name2[0] // AS
        }
        return value.toUpperCase()
      } else {
        return "?"
      }
    },
  },
  methods: {
    logout() {
      // redirect to home page and logout user, if already on home page then use accounts route
      // REASON : due to new claim section, if user clicks logout, then he is logged out in background, regardless
      // of he selects yes or no
      let newpath =
        this.$router.history.current.path == "/" ? "/accounts" : "/"
      this.$router.push(newpath, () => {
        this.$auth.destroyToken()
        this.user = {}
        this.$router.push("/login")
      })
    },
    profile() {
      this.$router.push("/user/profile")
    },
    ...mapActions("debtors", {
      getDebtors: "updateDebtorsState"
    }),
    ...mapActions("accounts", {
      getAccounts: "updateAccountsState"
    }),
    ...mapActions("claims", {
      countClaims: "countClaims"
    }),
    ...mapActions("claims", {
      getClaims: "getClaims"
    }),
    setLanguage(lang) {
      this.dropdown = false
      i18n.locale = lang
      window.localStorage.setItem("selectedLanguage", lang)
      this.language = lang
    },
    toAccounts() {
      this.$router.push("/accounts")
    }
  },
  watch: {
    // we need to watch userProfile so header is not halted when it is being loaded
    userProfile() {
      if (this.userProfile && this.userProfile !== null && this.userProfile[0].active_account_id) {
        this.displayAccountHeader = true

        // this.setIntercomInfo(this.userProfile[0])
      }
    },
    activeAccountName() {
      if (this.activeAccountName !== "") {
        this.getDebtors()
      }
    }
  },
  mounted() {
    this.getAccounts()
    this.countClaims()
    this.getClaims()
  }
}
</script>

<style lang="scss">
@import "../../assets/css/colors.scss";

.navbar {
  box-shadow: 0px 3px 6px #0000001a;
}
.navbar-brand .logo-web {
  background: #1ab99f;
  width: 250px;
  padding: unset;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar-brand .logo-web img {
  width: 90px;
  height: auto;
  max-height: unset;
  margin-left: 65px;
}
.navbar-dropdown {
  background: $white 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 3px 6px #0000001a !important;
  border-radius: 2px !important;
  margin-right: 1.25rem;
  text-align: center;
}
.navbar-dropdown .clickable:hover {
  background: $primary-light 0% 0% no-repeat padding-box !important;
  color: $primary !important;
}
.navbar-dropdown .navbar-item {
  border-top: solid 1px $secondary-light;
  text-align: center;
  letter-spacing: 0 !important;
  margin-right: 0.625rem;
  margin-left: 0.625rem;
  font-size: 14px;
  border-radius: 4px;
}
.navbar-dropdown .navbar-item:first-child {
  border-top: solid 0px;
}
.language-selector {
  margin-right: 50px;
}
#flag {
  width: 30px;
}
.navbar-dropdown .with-icon img {
  width: 18px;
  height: 18px;
}

// mobile responsive css
.navbar-burger {
  background: $primary 0% 0% no-repeat padding-box;
  border: 2px solid $primary;
  border-radius: 52px;
  margin-top: 20px;
  width: 30px;
  height: 30px;
  right: 20px;
}
.navbar-burger span {
  color: $white;
  height: 2px;
}
.navbar-burger:hover {
  background: $primary-hover 0% 0% no-repeat padding-box !important;
  border: 2px solid $primary-hover;
}
.navbar-brand .logo-mobile img {
  width: 90px;
  height: auto;
  max-height: unset;
  margin-left: 15px;
}
.mobile-header .navbar-menu .navbar-item {
  height: 50px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.mobile-header .navbar-menu .navbar-item span {
  vertical-align: sub;
  color: $secondary;
  margin-top: 26px;
  font-weight: 500;
}
.mobile-header .navbar-menu .router-link-exact-active {
  background: $primary-light 0% 0% no-repeat padding-box;
}
.mobile-header .navbar-menu .router-link-exact-active span {
  color: $primary;
}
.mobile-header .navbar-menu .buttons {
  border-top: solid 1px $secondary-light;
}
</style>
