<template>
  <li class="dropdown" v-if='mode == "header"'>
    <a href="#" class="dropdown-toggle text-white" @click.prevent="showDropdown()" data-toggle="dropdown"
      role="button">{{$t("header.language")}}
      <!-- <span>({{currentLanguage}})</span> --> <span class="caret"></span></a>
    <ul v-if="dropdown" class="dropdown-menu" role="menu">
      <li class="dropdown-item cursor-pointer" @click='setLanguage("da")'>
        <div class="country-icon">
          <img src="../../assets/img/flags/Denmark.png"/>
        </div>
        <div class="country-name">
          {{$t("header.danish")}}
        </div>
      </li>
      <li class="dropdown-item cursor-pointer" @click='setLanguage("en")'>
        <div class="country-icon">
          <!-- <vue-country-flag country="us" size="small"/> -->
          <img src="../../assets/img/flags/us.png"/>
        </div>
        <div class="country-name">
          {{$t("header.english")}}
        </div>
      </li>
    </ul>
  </li>
  <div v-else>
    <div class="country-name footer-language" :class="{'has-text-success' : language ==='da'}"
      @click='setLanguage("da")'>{{$t("header.danish")}}</div> |
    <div class="country-name footer-language" :class="{'has-text-success' : language==='en' }"
      @click='setLanguage("en")'>{{$t("header.english")}}</div>
  </div>
</template>

<script>
import i18n from '@/plugins/i18n';
export default {
  props: ['mode'],
  data() {
    return {
      dropdown: false,
      language: ''
    }
  },
  methods: {
    showDropdown () {
      if (this.dropdown) {
        this.dropdown = false;
      } else {
        this.dropdown = true;
      }
    },
    setLanguage (lang) {
      this.dropdown = false;
      i18n.locale = lang;
      window.localStorage.setItem('selectedLanguage', lang);
      this.language = lang;
    },
  }
}
</script>

<style scoped>
.dropdown-menu {
  display: block;
  min-width: 7.5rem !important;
}
.country-icon {
  display: inline-block;
}
.country-name {
  display: inline-block;
  line-height: 17px;
  vertical-align: middle;
  padding-left: 1px;
}
.country-icon > img {
  height: 17px;
}
.footer-language {
  cursor: pointer;
}
.footer-language:hover {
  text-decoration: underline;
}
</style>
