<template>
  <div id="app">
    <section class="main-content columns is-fullheight">
      <aside class="fixed-width-column is-narrow-mobile is-fullheight is-paddingless">
        <Sidebar></Sidebar>
      </aside>
      <div class="container column px-6 mt-20">
        <Header></Header>
        <router-view></router-view>
      </div>
    </section>
  </div>
</template>

<script>
import Header from './Header'
import Sidebar from "./SideBar"

export default {
  name: "main-layout",
  data () {
    return {
      user: {}
    }
  },
  components: {
    Header: Header,
    Sidebar
  },
  methods: {
    getUserInfo() {
      this.$http.get('/users')
        .then((result) => {
          this.user = result.body.data[0]
        })
    }
  },
  created () {
    // this.getUserInfo() // Removed-Hasnat
  }
}
</script>
<style lang="">
.fixed-width-column {
  width: 250px;
}
@media only screen and (max-width: 1024px) {
  .fixed-width-column {
    display: none;
  }
}
</style>