<template>
<div class="row-full-height bg-404">
    <div class="error-content text-center mx-auto pt-5">
        <div class="px-5 mt-5">
                <img src="@/assets/img/svg/404.svg" alt="404">
            <div>
                <h3 class="font-strong mt-5 text-danger">{{ $t("errorpage.not_found") }}</h3>
                <p class="text-white">{{ $t("errorpage.not_found_text") }}</p>
            </div>
        </div>
        <div class="mb-3">
            <a class="btn btn-success" href="/">{{ $t("errorpage.go_homepage") }}</a>
        </div>
    </div>
    </div>
</template>

<style scoped>
.bg-404 {
    background: #0B4870;
}
</style>
