<!-- This component will load pagination links of tables -->
<template>
  <span v-if="dataLength > paginated_rows">
    <span class="dataTables_info" id="datatable_info" role="status" aria-live="polite">{{$t('pagination.showing')}} {{enteries.start}} {{$t('pagination.to')}} {{enteries.end}} {{$t('pagination.of')}} {{dataLength}} {{$t('pagination.enteries')}}</span>
    <span class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
      <ul class="pagination" v-if="data">
        <li class="paginate_button page-item previous" v-bind:class="previousClass" v-on:click="paginationChange('previous')"><a href="#" class="page-link" v-bind:class="previousClass">{{$t('pagination.previous')}}</a></li>
        <li v-for="n in dataLengthPaginate" class="paginate_button page-item paginate-numbers" :key=n  v-if="dataLengthPaginate < 10 || n == 1 || n == dataLengthPaginate || n == enteries.activeDigit || n == enteries.activeDigit+1 || n == enteries.activeDigit-1|| n == enteries.activeDigit+2 || n == enteries.activeDigit-2
          || n == enteries.activeDigit-1|| n == enteries.activeDigit+3 || n == enteries.activeDigit-3" >
          <a href="javascript:;" v-on:click="paginationChange(n)" class="page-link">
            {{n}}
          </a>
        </li>
        <span v-else class="paginate-numbers"></span>
        <li class="paginate_button page-item next" v-bind:class="nextClass" v-on:click="paginationChange('next')"><a href="#" class="page-link">{{$t('pagination.next')}}</a></li>
      </ul>
    </span>
  </span>
</template>

<script>
import { PAGINATED_ROWS } from '@/helpers'
export default {
  props: {
    data: { // Passed from router to decide login or signup component
      required: true
    },
    paginate_rows_props: { // if passed then overwrite the original one.
      required: false
    }
  },
  data () {
    return {
      previousClass: "disabled",
      nextClass: ""
    }
  },
  computed: {
    dataLength() {
      return this.data.length
    },
    paginated_rows() {
      return this.paginate_rows_props ? this.paginate_rows_props : PAGINATED_ROWS
    },
    dataLengthPaginate() {
      if (this.dataLength % this.paginated_rows === 0) {
        return Math.floor(this.dataLength / this.paginated_rows)
      }
      return Math.floor(this.dataLength / this.paginated_rows) + 1
    },
    enteries() {
      return {
        start: 1,
        end: this.paginated_rows,
        activeDigit: 1 // the currently active link number
      }
    }
  },
  methods: {
    paginationChange(number) {
      this.resetButtons()
      let start = 0
      let end = 0
      if (number == "previous") {
        this.enteries.activeDigit--
      } else if (number == "next") {
        this.enteries.activeDigit++
      } else {
        this.enteries.activeDigit = number
      }

      // since array starts from 0
      start = (this.enteries.activeDigit - 1) * this.paginated_rows

      // if first page set previous to disabled
      if (this.enteries.activeDigit == 1) {
        this.previousClass = "disabled"
      }

      // if we reach last page, then data length should be limit
      if (this.enteries.activeDigit * this.paginated_rows < this.dataLength) {
        end = this.enteries.activeDigit * this.paginated_rows
      } else {
        end = this.dataLength
        this.nextClass = "disabled"
      }

      // change text on table bottom
      this.enteries.start = start + 1
      this.enteries.end = end

      // emit to parent to change data
      this.$emit('paginateDataChange', { start, end })

      this.setNumberActive()
    },
    resetButtons() {
      this.previousClass = ""
      this.nextClass = ""
    },
    setNumberActive() {
      var element = document.getElementsByClassName("paginate-numbers")
      for (var i = 0; i < element.length; i++) {
        element[i].classList.remove("active")
      }
      element[this.enteries.activeDigit - 1].classList.add("active")
    }
  },
  mounted() {
    this.enteries.activeDigit = 1
    this.setNumberActive()
  }
}
</script>
<style scoped>
  .disabled{
    pointer-events: none !important;
    cursor: default !important;
}
</style>
