<template>
  <!-- <b-menu class="sidenav"> -->
    <div class="menu sidenav">
      <ul class="menu-list">
        <li>
          <router-link v-bind:class="[activeTab == 'dashboard' ? 'active' : '']" to="/">
            <dashboardIconSidebar :active="activeTab == 'dashboard' ? true : false" />
            <span class="has-text-weight-semibold is-size-6-half">{{$t('header.dashboard')}}</span>
          </router-link>
        </li>
        <li>
          <router-link v-bind:class="[activeTab == 'accountingsystem' ? 'active' : '']" to="/accountingsystem">
            <settingsIconSidebar :active="activeTab == 'accountingsystem'? true: false" />
            <span class="has-text-weight-semibold is-size-6-half">{{$t('header.invoices')}}</span>
          </router-link>
        </li>
        <li>
          <router-link v-bind:class="[activeTab == 'claims' ? 'active' : '']" to="/claims">
            <claimsIconSidebar :active="activeTab == 'claims' ? true : false" />
            <span class="has-text-weight-semibold is-size-6-half">{{$t('header.my_claims')}}</span>
          </router-link>
        </li>
        <li>
          <router-link v-bind:class="[activeTab == 'debtors' ? 'active' : '']" to="/debtors">
            <debtorIconSidebar :active="activeTab == 'debtors' ? true : false" />
            <span class="has-text-weight-semibold is-size-6-half">{{$t('header.my_debtors')}}</span>
          </router-link>
        </li>
        <!-- Commented out for production site -->
        <!-- <li>
          <router-link v-bind:class="[activeTab == 'settings' ? 'active' : '']" to="/usersettings">
            <evaSettings :active="activeTab == 'settings' ? true : false" />
            <span class="has-text-weight-semibold is-size-6-half">{{$t('header.settings')}}</span>
          </router-link>
        </li> -->
        <li>
          <router-link v-bind:class="[activeTab == 'accounts' ? 'active' : '']" to="/accounts">
            <evaAccounts :active="activeTab == 'accounts' ? true : false" />
            <span class="has-text-weight-semibold is-size-6-half">{{$t('header.my_accounts')}}</span>
          </router-link>
        </li>
        <li>
          <router-link v-bind:class="[activeTab == 'profile' ? 'active' : '']" to="/user/profile">
            <usersIconSidebar :active="activeTab == 'profile' ? true : false" />
            <span class="has-text-weight-semibold is-size-6-half">{{$t('account.user_details')}}</span>
          </router-link>
        </li>
        <li>
          <b-button type="is-dark-gray -mt-4 icon-button"  class="pt-0 pb-0" @click="toNewClaims()">
            <plusIcon :height="25" :width="25"/>
            <span>{{$t("claims_add.overview.create_claim")}}</span>
          </b-button>
        </li>
      </ul>
      <a class="terms-modal" @click="openTermsModal"
          href="javascript:;"><p>{{ $t("auth.terms_conditions") }}</p></a>
      <div id="wrapper" class="container"  v-if="showTermsModal">
        <div class="section">
        <TermsModal class="pt-20">
          <h3 slot="header" class="modal-card-title" >
            {{ $t("auth.terms_conditions") }}
          </h3>
          <div slot="footer">
            <b-button type="is-primary"
              @click="closeTermsModal()">{{ $t("auth.accept") }}</b-button>
          </div>
        </TermsModal>
        </div>
      </div>
    </div>

</template>

<script>
import TermsModal from '@/pages/auth/TermsModal.vue'
import { mapState } from 'vuex'
export default {
  components: {
    TermsModal
  },
  data() {
    return {
      showTermsModal: false,
      isActive: true,
    }
  },
  methods: {
    toNewClaims() {
      if (this.vendor) {
        this.$router.push('/accountingsystem')
      } else {
        this.$router.push("/claims/create")
      }
      console.log(this.vendor)
    },
    openTermsModal() {
      this.showTermsModal = true
    },
    closeTermsModal() {
      this.showTermsModal = false
    },
  },
  computed: {
    ...mapState("accountingSystem", {
      vendor: state => state.vendor
    }),
    currentRouteName() {
      return this.$route.name
    },
    activeTab() {
      let route = this.$route.name
      console.log(route)
      if (route == 'dashboard') {
        return 'dashboard'
      } else if (route == 'accounts-index' || route == "accounts-create" || route == "accounts-edit") {
        return 'accounts'
      } else if (route == 'debtors-index' || route == "debtors-create" || route == "debtors-edit") {
        return 'debtors'
      } else if (route == 'claims' || route == "claims-create" || route == "claims-view") {
        return 'claims'
      } else if (route == 'user-settings') {
        return 'settings'
      } else if (route == 'account-system' || route == "billy" || route == "dinero") {
        return 'accountingsystem'
      } else if (route == 'user-profile') {
        return 'profile'
      }
      return ''
    }
  }
}
</script>

<style lang="scss">
@import "../../assets/css/colors.scss";
@import "../../assets/css/spacing.scss";
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background: $primary 0% 0% no-repeat padding-box;
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {
//   .sidenav {
//     padding-top: 100px;
//   }
//   .menu-list .button {
//     margin-top: 60px;
//   }
// }
.terms-modal {
  position: absolute;
  bottom: 15px;
  left: 45px;
  color: $grey-3;
}
.sidenav {
    padding-top: 65px;
  }
  .menu-list .button {
    margin-top: 100px;
}
.menu-list li a:hover {
  background: #46D1BA;
  color: #fff;
}
.menu-list .router-link-exact-active:hover {
  background: #17bba0;
  cursor: default;
}
// @import url(https://fonts.googleapis.com/css?family=Montserrat);
.menu-list a {
  text-align: left;
  letter-spacing: 0;
  color: #ffffff;
  height: 3.75rem;
  padding-left: 32px;
  padding-top: 18px;

}
.menu-list a span {
  vertical-align: super;
  padding-left: 0.75rem;
  font: Semibold;
}
.menu-list .button {
  position: absolute;
  bottom: 50px;
  left: 32px;
  width: 185px;
  height: 38px;
}
.menu-list .active {
  background: #CBF9F1 !important;
  box-sizing: border-box;
  color: #273144 !important;
}
</style>
