.dashed-out-line {
	border: 1px dashed #B4B3B4;
	padding: 1px 1px;
	border-radius: 2px;
	min-height: 280px;
	cursor: pointer;
}
.highLight{
	opacity: 0.5;
}
.dropbox-header{
	text-align: center;
	color:black;
	margin-top:75px;
}
.dropbox-header span{
	color:white; 
	font-weight: bold;
}
.dropbox p {
	font-size: 1.2em;
	text-align: center;
	padding: 50px 0;
}
.dropbox-footer{
	margin-top: 2rem;
}
.dropbox-footer .alert{
	border-radius: 5px;
	/* margin-left: 8px; */
}
.input-file {
	opacity: 0;
	width: 100%;
	height: 200px;
	position: absolute;
	cursor: pointer;
}
.custom-file-upload {
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
	display: block;
	text-align: center;
}
.toolTip {
	position: relative;
	display: inline-block;
	vertical-align: text-bottom;
	padding-left: 5px;
}
.toolTip .toolTipText {
	visibility: hidden;
	width: 350px;
	background: #4E5A64 0% 0% no-repeat padding-box;
	color: #FFFFFF;
	text-align: center;
	border-radius: 2px;
	border: 1px solid rgba(0,0,0,.2);
	padding: 9px 14px;
	font-size: 12px;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	text-align: justify;
	left: 25px;
}
.toolTip:hover .toolTipText {
	visibility: visible;
}
.toolTip .icon{
	opacity: .5;
}