[class*="mb-"]{
	padding-top: 15px;
}
.debitorView b{
	font-size: 1.5em;
	font-weight: 400;
}

.chosenDebtor li:nth-child(odd){
	font-style: italic;
	font-size: 1.1em;
}
.chosenDebtor li:nth-child(even){
	margin-bottom: 15px;
}
.chosenDebtor li:nth-child(1){
	font-size: 1.4em;
	font-style: normal;
}
.push50up{ /* if you get a better way to implement this, plase replace */
	margin-top:-50px;
}
.additionalInfoToggle{
	height: 0;
	overflow: hidden;
	transition-duration: 1s;
}
.additionalInfoOpen{
	height: 200px;
}
.ibox-footer{
	border-color: #fff;
}
.queueList li:nth-child(even){
	color: black;
}
.viewHead{
	padding:15px;
}
.initView{
	background: white;
}
.toolTip {
	position: relative;
	display: inline-block;
}
.toolTip .toolTipText {
	visibility: hidden;
	width: 350px;
	background-color: #fff;
	color: #212529;
	text-align: center;
	border-radius: 2px;
	border: 1px solid rgba(0,0,0,.2);
	padding: 9px 14px;
	font-size: .875rem;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}
.toolTip:hover .toolTipText {
	visibility: visible;
}
.view ul{
	list-style: none;
	padding-left: 0;
}
.view span{
	font-size: 2em;
}

.alert{
	margin-top:15px;
	width: 100%;
	/* max-width: 900px; */
	margin-right: 14px;
	margin-left: 14px;
}
.alert span{
	font-size: 1em;
}
.uploading .alert{
	max-width:100% !important;
	background-color: white;
	border-color: white;
	/* border-radius: 8px; */
}
.dropbox {
	outline: 1px dashed #aaa;
  padding: 10px 0px;
  margin-bottom: 0px;
	min-height: 200px;
	cursor: pointer;
}
.highLight{
	opacity: 0.5;
}
.dropbox-header{
	text-align: center;
	color:black;
	margin-top:35px;
}
.dropbox-header span{
	color:white; 
	font-weight: bold;
}
.dropbox p {
	font-size: 1.2em;
	text-align: center;
	padding: 50px 0;
}
.dropbox-footer{
	margin-top: 2rem;
}
.dropbox-footer .alert{
	border-radius: 5px;
	/* margin-left: 8px; */
}
.input-file {
	opacity: 0;
	width: 100%;
	height: 200px;
	position: absolute;
	cursor: pointer;
}
.custom-file-upload {
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
	display: block;
	text-align: center;
}
.finalText{
	text-align: center;
	font-size: 2em;
}
.textColorCorrection{
	color: #34495f;
}
/* .errorColor{
	background-color: #FF6F77;
} */

/* checkmark animation begin */
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__circleError {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  /* stroke: #d61d1d; */
  stroke: #FF6F77;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmarkError {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #FF6F77;
  animation: errorFill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.checkmark__checkError {
  transform-origin: 50% 50%;
  stroke-dasharray: 29;
  stroke-dashoffset: 29;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #18C5A9;
  width: 120px;
  height: 120px;
  margin:auto;
  margin-top:165px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 150px #7ac142;
  }
}
@keyframes errorFill {
  100% {
    box-shadow: inset 0px 0px 0px 150px #FF6F77;
  }
}
.remove-string{
  cursor: pointer;
}
.chosenDebtor label{
  padding-left: 0px;
}
.chosenDebtorOuter .ibox-head{
  padding-left: 0px;
}
.file-icon{
  margin-right: 14px;
}
.padding-left-right-none{
  padding-left: 0px;
  padding-right: 0px; 
}
.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}
.ibox-max-height{
  max-height: 300px;
  overflow-y: auto;
}
.no-min-height{
  min-height: 0px !important;
}
.full-width{
  width: 100%
}
.min-full-height{
  min-height: 100%;
}
.padding-top-none{
  padding-top: 0px !important;
}
.padding-bottom-none{
  padding-bottom: 0px !important;
}
.ibox-debtor{
  height: 225px;
  overflow: auto;
}
#overlay > * > .content-wrapper{
  padding: 0;
}
#overlay > .view > .content-wrapper > .page-content{
  padding: 0;
}
/* checkmark animation end */