<template lang="html">
  <div class="content-wrapper">
    <div class="page-content fade-in">
      <div id="overlay" v-on:click.self="toggle('hide', '')" @keydown.esc="toggle('hide', '')">
        <div class="view" id="fileView">

        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox">
            <div class="ibox-body">
              <h5 class="font-strong mb-4">{{$t("claim.claims_information")}}</h5>
              <div v-if="singleClaim.data" class="row claim-margins">
                <div class="pgbContainer noMobile">
                  <ul class="progressbar text-muted">
                    <li v-for="n in 6" v-bind:class="{done: singleClaim.data.claim_phase.order >= n, active: singleClaim.data.claim_phase.order == n && n < 6}">
                      <span v-if="n === singleClaim.data.claim_phase.order" style="font-weight:600;">{{$t("claimPhases."+[n-1])}}</span>
                      <span v-else>{{$t("claimPhases."+[n-1])}}</span>
                    </li>
                  </ul>
                </div>
                <div class="claim-margins row col-md-12">
                <div class="col-md-6">
                  <div class="row mb-2" v-if="claimFinancials" style="height:20px;">
                    <div class="col-6 text-muted">{{$t("")}}</div>
                    <div class="col-6"></div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-6 text-muted">{{$t("claim.case_reference")}}:</div>
                    <div class="col-6">{{singleClaim.data.customer_reference}}</div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-6 text-muted">{{$t("general.debtor")}}:</div>
                    <div class="col-6">{{singleClaim.data.debtor.full_name }}</div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-6 text-muted">{{$t("general.address")}}:</div>
                    <div class="col-6">{{singleClaim.data.debtor.address}}</div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-6 text-muted">{{$t("general.zip_code")}} - {{$t("general.city")}}:</div>
                    <div class="col-6">{{singleClaim.data.debtor.zip_code}} - {{singleClaim.data.debtor.city}}</div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-6 text-muted">{{$t("claim.currency")}}</div>
                    <div class="col-6">{{singleClaim.data.currency.iso_code}}</div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-6 text-muted">{{$t("general.created")}}:</div>
                    <div class="col-6">{{singleClaim.data.created | formatDate}}</div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-6 text-muted">{{$t("general.status")}}:</div>
                    <div class="col-6">{{$t("claimPhases["+((singleClaim.data.claim_phase.order)-1)+"]")}}</div>
                  </div>
                </div>
                <div class="col-md-6" v-if="claimFinancials.data && claimFinancials.data[0]">
                  <div class="row mb-2">
                    <div class="col-6 text-muted"></div>
                    <div class="col-3"><h6>{{$t("claim.updated")}}</h6></div>
                    <div class="col-3"><h6>{{$t("claim.original")}}</h6></div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-6 text-muted">{{$t("claim.principle")}}:</div>
                    <div class="col-3">{{claimFinancials.data[0].hovedstol | formatCurrency}}</div>
                    <div class="col-3">{{amount.principle | formatCurrency}}</div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-6 text-muted">{{$t("claim.reminder_charges")}}:</div>
                    <div class="col-3">{{claimFinancials.data[0].rykkergebyrer | formatCurrency}}</div>
                    <div class="col-3">{{amount.compensation | formatCurrency}}</div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-6 text-muted">{{$t("claim.other_fees")}}:</div>
                    <div class="col-6">{{claimFinancials.data[0].ovrige_gebyrer | formatCurrency}}</div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-6 text-muted">{{$t("claim.interest")}}:</div>
                    <div class="col-6">{{claimFinancials.data[0].renter | formatCurrency}}</div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-6 text-muted">{{$t("claim.legal_fees")}}:</div>
                    <div class="col-6">{{claimFinancials.data[0].retsgebyrer | formatCurrency}}</div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-6 text-muted">{{$t("claim.collection_charges")}}:</div>
                    <div class="col-6">{{claimFinancials.data[0].inkassoomkostninger | formatCurrency}}</div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-6 text-muted">{{$t("claim.approved_meeting_salaried")}}:</div>
                    <div class="col-6">{{claimFinancials.data[0].tilkendt_modesalar | formatCurrency}}</div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-6 text-muted">{{$t("claim.paid")}}:</div>
                    <div class="col-6">{{claimFinancials.data[0].indbetalt | formatCurrency}}</div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-6 text-muted">{{$t("claim.outstanding_debt")}}:</div>
                    <div class="col-6">{{claimFinancials.data[0].restgald | formatCurrency}}</div>
                  </div>
                </div>
                <div class="col-md-6" v-else>
                  <div class="row mb-2">
                    <div class="col-6 text-muted">{{$t("claim.principle")}}:</div>
                    <div class="col-6">{{amount.principle | formatCurrency}}</div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-6 text-muted">{{$t("claim.your_added_fees")}}:</div>
                    <div class="col-6">{{amount.compensation | formatCurrency}}</div>
                  </div>
                  <!-- <div class="row mb-2">
                    <div class="col-6 text-muted">{{$t("claim.interest_added")}}:</div>
                    <div class="col-6">{{amount.interest_added | formatCurrency}}</div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-6 text-muted">{{$t("claim.debt_collection_fees")}}:</div>
                    <div class="col-6">{{amount.debt_collection_fees | formatCurrency}}</div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-6 text-muted">{{$t("claim.total")}}:</div>
                    <div class="col-6">{{amount.principle+amount.interest_added+amount.debt_collection_fees | formatCurrency}}</div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-6 text-muted">{{$t("claim.paid")}}:</div>
                    <div class="col-6">{{amount.paid | formatCurrency}}</div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-6 text-muted">{{$t("claim.your_customer_owes")}}:</div>
                    <div class="col-6">{{customerOwes | formatCurrency}}</div>
                  </div> -->
                </div>
              </div>
                <div class="claim-margins col-md-12" v-if="claimLines.data">
                  <h5 class="font-strong mb-4">{{$t("claim.claim_lines")}}</h5>
                  <table class="table tableBodyScroll">
                    <thead>
                      <tr>
                        <th>{{$t("claim.invoice_date")}}</th>
                        <th>Type</th>
                        <th>Reference</th>
                        <th>Amount</th>
                        <th>{{$t("claim.due_date")}}</th>
                        <th>File</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="claimLine in claimLines.data">
                        <td>{{claimLine.invoice_date | formatDate}}</td>
                        <td>{{claimLine.ClaimLineTypes.name}}</td>
                        <td>{{claimLine.invoice_reference}}</td>
                        <td>{{claimLine.amount | formatCurrency}}</td>
                        <td>{{claimLine.maturity_date | formatDate}}</td>
                        <td>
                          <span v-on:click="toggle('show', claimLine)" class="file-icon" v-if="showIcon(claimLine.file_name)">
                            <i style="font-size:20px;" class="ti-eye timeline-icon"></i>
                          </span>
                          <span v-else>-</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>
                <div class="claim-margins col-md-12" v-if="claimActions.data">
                  <h5 class="font-strong mb-4">{{$t("claim.claim_actions")}}</h5>
                  <table class="table">
                    <thead class="claimActionsHead">
                      <tr>
                        <th>{{$t("general.date")}}</th>
                        <th>{{$t("claim.paid")}}</th>
                        <th>{{$t("general.type")}}</th>
                      </tr>
                    </thead>
                    <tbody class="claimActionsBody">
                      <tr v-for="claimAction in claimActionsExpand">
                        <td>{{claimAction.date | formatDate}}</td>
                        <td>{{claimAction.paid | formatCurrency}}</td>
                        <td>{{claimAction.ClaimActionTypes.name}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div v-if="claimActionsExpand.length > 0 && claimActionsExpand.length >= countPaginatedRows" class="text-right">
                    <a v-if="showMoreActive" class="d-inline-flex align-items-right text-success" @click="showMore()">
                      {{$t("general.show_more")}}
                      <i class="ti-arrow-circle-down font-20 ml-2"></i>
                    </a>
                    <a v-else @click="showLess()" class="d-inline-flex align-items-center d-none text-success">
                      {{$t("general.show_less")}}
                      <i class="ti-arrow-circle-up font-20 ml-2"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div v-else class="preloader-backdrop">
                <div class="page-preloader">{{$t('general.loading')}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { fileReadableType, PAGINATED_ROWS } from '@/helpers'

export default {
  props: {
    claim_id: {
      required: true,
      type: String
    }
  },
  data () {
    return {
      claimActionsExpand: [],
      showMoreActive: true,
      amount: {
        principle: "",
        paid: "",
        compensation: "",
        interest_added: "",
        debt_collection_fees: "",
        customer_owes: "",
      },

    }
  },
  computed: {
    ...mapState('claims', {
      singleClaim: state => state.singleClaim,
      claimLines: state => state.claimLines,
      claimActions: state => state.claimActions,
      claimFinancials: state => state.claimFinancials,

    }),
    customerOwes: function () {
      return this.amount.principle - this.amount.paid + this.amount.interest_added + this.amount.compensation + this.amount.debt_collection_fees
    },
    countPaginatedRows() {
      return PAGINATED_ROWS
    }
  },
  methods: {
    ...mapActions('claims', {
      getSingleClaim: 'getSingleClaim',
      getClaimLines: 'getClaimLines',
      getClaimActions: 'getClaimActions',
      getClaimFinancials: 'getClaimFinancials'
    }),
    getPrincipleValue() {
      let amount = 0
      let compensation = 0
      this.claimLines.data.forEach(function(claimLine) {
        if (claimLine.amount) {
          if (claimLine.ClaimLineTypes.identifier == "credit_note" || claimLine.ClaimLineTypes.identifier == "payment") {
            amount = amount - claimLine.amount
          } else {
            amount = amount + claimLine.amount
          }
          if (claimLine.ClaimLineTypes.identifier == "late_payment_fee" || claimLine.ClaimLineTypes.identifier == "compensation_fee") {
            compensation = compensation + claimLine.amount
          }
        }
      })
      this.amount.compensation = compensation
      this.amount.principle = amount
    },
    setActionValues() {
      let paid = 0
      let interest_added = 0
      let debt_collection_fees = 0
      this.claimActions.data.forEach(function(claimAction) {
        paid = paid + claimAction.paid
        interest_added = claimAction.interest_added == 0 || claimAction.interest_added == null ? interest_added : claimAction.interest_added
        if (claimAction.debt_collection_fees > debt_collection_fees) {
          debt_collection_fees = claimAction.debt_collection_fees
        }
      })
      this.amount.paid = paid
      this.amount.interest_added = interest_added
      this.amount.debt_collection_fees = debt_collection_fees
    },
    async getApis() {
      try {
        this.getClaimLines(this.claim_id)
        this.getClaimActions(this.claim_id)
        this.getSingleClaim(this.claim_id)
      } catch (err) {

      }
    },
    toggle(event, claimLine) {
      if (event == "show") {
        document.getElementById("overlay").style.display = "block"
        var fileType = fileReadableType(claimLine.file_name)
        if (fileType == "Image") {
          var image = '<img src="' + process.env.ROOT_ADDRESS + claimLine.file_dir + claimLine.file_name + '" id="fileViewInner" style="width:900px; height:900px;" />'
          document.getElementById("fileView").innerHTML = image
        } else if (fileType == "PDF") {
          var file = '<object data="' + process.env.ROOT_ADDRESS + claimLine.file_dir + claimLine.file_name + '" id="fileViewInner" style="width:900px; height:900px;" />'
          document.getElementById("fileView").innerHTML = file
        }
      } else {
        document.getElementById("overlay").style.display = "none"
      }
    },
    showIcon(file_name) {
      if (file_name) {
        var fileType = fileReadableType(file_name)
        if (fileType == "Image") {
          return true
        } else if (fileType == "PDF") {
          return true
        }
      }
      return false
    },
    ClaimActionsReset() {
      if (this.claimActions.data) {
        this.claimActionsExpand = this.claimActions.data.slice(0, this.countPaginatedRows)
      }
    },
    expandDataChange({ start, end }) {
      this.claimActionsExpand = this.claimActions.data.slice(start, end)
    },
    showMore() {
      this.showMoreActive = false
      this.expandDataChange(arguments)
    },
    showLess() {
      this.showMoreActive = true
      this.claimActionsExpand = this.claimActions.data.slice(0, this.countPaginatedRows)
    }
  },
  watch: {
    claimLines: function () {
      if (this.claimLines.data) {
        this.getPrincipleValue()
      }
    },
    claimActions: function () {
      if (this.claimActions.data) {
        this.setActionValues()
      }
      this.ClaimActionsReset()
    }
  },
  mounted() {
    this.$store.commit('claims/resetSingleClaim')
    this.$store.commit('claims/resetSingleClaimLines')
    this.$store.commit('claims/resetClaimActions')
    this.getClaimLines(this.claim_id)
    this.getClaimActions(this.claim_id)
    this.getSingleClaim(this.claim_id)
    this.getClaimFinancials(this.claim_id)
  }
}
</script>
<style scoped>
@import '../../assets/css/progressbar.css';
.tableBodyScroll tbody {
  display: block;
  max-height: 300px;
  overflow-y: auto;
}

.tableBodyScroll thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.progressbar li{
  z-index: 0;
}

.claimActionsBody{
  overflow-y: auto;
}

.claimActionsHead{
  display: table;
  width: 100%;
  table-layout: fixed;
}
</style>
