<template>
  <div>
    <section>
      <b-table
        :data="stockAverages ? stockAverages : []"
        :loading="stockAverages === []"
        :paginated="true"
        default-sort="diff_from_low"
        :defaultSortDirection="defaultSortDirection"
        :row-class="(row, index) => row.kse100 && 'is-bordered'"
      >
        <template slot-scope="props">
          <b-table-column :searchable="true" field="symbol" label="Symbol" width="40" sortable>
            <router-link
              :to="{ name: 'history', params: { symbol: props.row.symbol }}"
            >{{ props.row.symbol }}</router-link>
          </b-table-column>
          <b-table-column field="name" label="Name" sortable>{{ props.row.name | getFirstTwoWords }}</b-table-column>
          <b-table-column field="price" label="Price" sortable>{{ props.row.price | parseFloatVal}}</b-table-column>
          <b-table-column field="change" label="Change" sortable>
            <span
              :class="
                [
                    'tag',
                    {'is-danger': props.row.change < 0},
                    {'is-success': props.row.change > 1},
                    {'is-warning': props.row.change >= 0 && props.row.change < 1},
                ]"
            >{{ props.row.change | parseFloatVal}}</span>
          </b-table-column>
          <b-table-column field="change_percent" label="Percent" sortable>
            <span
              :class="
                [
                    'tag',
                    {'is-danger': props.row.change_percent < 0},
                    {'is-success': props.row.change_percent > 1},
                    {'is-warning': props.row.change_percent >= 0 && props.row.change_percent < 1},
                ]"
            >{{ props.row.change_percent | parseFloatVal}}%</span>
          </b-table-column>
          <b-table-column field="mean" label="Mean" sortable>{{ props.row.mean | parseFloatVal}}</b-table-column>
          <b-table-column field="median" label="Median" sortable>{{ props.row.median | parseFloatVal}}</b-table-column>
          <b-table-column field="max" label="Max" sortable>{{ props.row.max | parseFloatVal}}</b-table-column>
          <b-table-column field="min" label="Min" sortable>{{ props.row.min | parseFloatVal}}</b-table-column>
          <b-table-column field="diff_from_low" label="Dif/low" sortable>{{ props.row.diff_from_low | parseFloatVal}}</b-table-column>
          <b-table-column field="diff_from_high" label="Dif/high" sortable>{{ props.row.diff_from_high | parseFloatVal}}</b-table-column>
          <b-table-column field="diff_from_mean" label="Dif/mean" sortable>{{ props.row.diff_from_mean | parseFloatVal}}</b-table-column>
          <b-table-column field="kse100" label="KSE-100-30" sortable>
            <b-icon v-if="props.row.kse100" type="is-success" icon="check"></b-icon>
            <b-icon
              class="has-text-weight-bold"
              v-if="props.row.kse30"
              type="is-danger"
              icon="check"
            ></b-icon>
          </b-table-column>
        </template>
      </b-table>
    </section>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  data() {
    return {
      defaultSortDirection: "asc"
    };
  },
  computed: {
    ...mapState("stocks", {
      stockAverages: state => state.stockAverages
    })
  },
  methods: {
    ...mapActions("stocks", {
      getAverages: "getAverages"
    })
  },
  mounted() {
    this.getAverages();
  },
  filters: {
    parseFloatVal(val) {
      return parseFloat(val).toFixed(2);
    },
    getFirstTwoWords(val) {
      return val.split(' ').slice(0,2).join(' ');
    },
    toMil(labelValue) {
      // Nine Zeroes for Billions
      return Math.abs(Number(labelValue)) >= 1.0e9
        ? (Math.abs(Number(labelValue)) / 1.0e9).toFixed(2) + " B"
        : // Six Zeroes for Millions
        Math.abs(Number(labelValue)) >= 1.0e6
        ? (Math.abs(Number(labelValue)) / 1.0e6).toFixed(2) + " M"
        : // Three Zeroes for Thousands
        Math.abs(Number(labelValue)) >= 1.0e3
        ? (Math.abs(Number(labelValue)) / 1.0e3).toFixed(2) + " K"
        : Math.abs(Number(labelValue));
    }
  }
};
</script>