<template>
  <div>
    <nav class="level is-mobile">
      <div class="level-item has-text-centered">
        <div>
          <p class="is-size-4">KSE-100 Index</p>
          <code>Low : {{ indexVolatility.low }}</code> -
          <code>{{ indexVolatility.low_percentage }}%</code>
          <br>
          <code class="has-background-white-ter has-text-success">High: {{ indexVolatility.high }}</code> -
          <code class="has-background-white-ter has-text-success">{{ indexVolatility.high_percentage }}%</code>
          <br>
          <code class="has-background-white-ter has-text-black">Now : {{ indexVolatility.current }}</code> -
          <code class="has-background-white-ter has-text-black">{{ indexVolatility.volatility }}</code>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="is-size-4">{{stockDetail.name}}</p>
          <code>Low : {{ stockVolatility.low }}</code> -
          <code>{{ stockVolatility.low_percentage }}%</code>
          <br>
          <code class="has-background-white-ter has-text-success">High: {{ stockVolatility.high }}</code> -
          <code class="has-background-white-ter has-text-success">{{ stockVolatility.high_percentage }}%</code>
          <br>
          <code class="has-background-white-ter has-text-black">Now : {{ stockVolatility.current }}</code> -
          <code class="has-background-white-ter has-text-black">{{ stockVolatility.volatility }}</code>
        </div>
      </div>
    </nav>
    <div class="card">
      <div class="card-image">
        <line-chart :options="options" :chart-data="datacollection"></line-chart>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image"/>
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">John Smith</p>
            <p class="subtitle is-6">@johnsmith</p>
          </div>
        </div>

        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Phasellus nec iaculis mauris.
          <a>@bulmaio</a>.
          <a href="#">#css</a>
          <a href="#">#responsive</a>
          <br/>
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LineChart from "../components/LineChart";

var moment = require("moment");
import {mapState, mapActions} from "vuex";

export default {
  props: {
    symbol: {
      required: true
    }
  },
  components: {
    LineChart
  },
  data() {
    return {
      datacollection: null,
      stockName: "",
      stockVolatility: {
        low: 0,
        high: 0,
        low_percentage: 0,
        high_percentage: 0,
        current: 0,
        volatility: 0,
      },
      indexVolatility: {
        low: 0,
        high: 0,
        low_percentage: 0,
        high_percentage: 0,
        current: 0,
        volatility: 0,
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          yAxes: [
            {
              ticks: {
                suggestedMin: 0,
                suggestedMax: 500
              }
            }
          ]
        }
      }
    };
  },
  mounted() {
    this.getHistory(this.symbol).then(response => {
      console.log(response);
      this.fillData();
      this.getStock(this.historyData.stock[0].stock_id);
      this.calculateVolatility(this.historyData.stock, this.stockVolatility, "price")
      this.calculateVolatility(this.historyData.indexes, this.indexVolatility, "graphValue")
      this.options.scales.yAxes[0].ticks.suggestedMin =
          this.historyData.stock[0].price / 1.5;
      this.options.scales.yAxes[0].ticks.suggestedMax =
          this.historyData.stock[0].price * 1.5;
    });
  },
  methods: {
    ...mapActions("stocks", {
      getHistory: "getHistory",
      getStock: "getStock",
    }),
    fillData() {
      this.datacollection = {
        labels: this.generateMonths,
        datasets: [
          {
            label: this.symbol,
            backgroundColor: "#DF678C",
            data: this.historyData.stock.map(a => a.price),
            fill: false,
            borderColor: "#DF678C"
          },
          {
            label: "KSE100",
            backgroundColor: "#3D155F",
            borderColor: "#3D155F",
            data: this.historyData.indexes.map(a => a.graphValue),
            fill: false
          }
        ],
        fill: false
      };
    },
    calculateVolatility(data, object, dataKey) {
      object.current = data[data.length - 1][dataKey].toFixed(2)
      data = data.sort((a, b) => (a[dataKey] > b[dataKey]) ? 1 : -1)
      object.low = data[0][dataKey].toFixed(2)
      object.high = data[data.length - 1][dataKey].toFixed(2)
      object.high_percentage = ((object.high * 100) / object.current).toFixed(2)
      object.low_percentage = ((object.low * 100) / object.current).toFixed(2)
      object.volatility = (object.high_percentage - object.low_percentage).toFixed(2)
    },
  },
  computed: {
    ...mapState("stocks", {
      historyData: state => state.historyData,
      stockDetail: state => state.stockDetail
    }),
    generateMonths() {
      let returnArr = [];
      this.historyData.stock.forEach(element => {
        returnArr.push(moment(element.date).format("MMM"));
      });
      return returnArr;
    }
  }
};
</script>

<style>
.small {
  max-width: 920px;
  margin: 150px auto;
  border: #ccc 1px solid;
  padding: 50px;
}
</style>