<template>
  <div>
    <section>
      <b-table
        :data="stocks ? stocks : []"
        :loading="stocks === []"
        :paginated="true"
        default-sort="rvolume"
        :defaultSortDirection="defaultSortDirection"
        :row-class="(row, index) => row.kse100 && 'is-bordered'"
      >
        <template slot-scope="props">
          <b-table-column :searchable=true field="symbol" label="Symbol" width="40" sortable>
            <router-link
              :to="{ name: 'history', params: { symbol: props.row.symbol }}"
            >{{ props.row.symbol }}</router-link>
          </b-table-column>
          <b-table-column field="name" label="Name" sortable>{{ props.row.name }}</b-table-column>
          <b-table-column field="price" label="Price" sortable>{{ props.row.price | parseFloatVal}}</b-table-column>
          <b-table-column field="change" label="Change" sortable>
            <span
              :class="
                            [
                                'tag',
                                {'is-danger': props.row.change < 0},
                                {'is-success': props.row.change > 1},
                                {'is-warning': props.row.change >= 0 && props.row.change < 1},
                            ]"
            >{{ props.row.change | parseFloatVal}}</span>
          </b-table-column>
          <b-table-column field="change_percent" label="Percent" sortable>
            <span
              :class="
                            [
                                'tag',
                                {'is-danger': props.row.change_percent < 0},
                                {'is-success': props.row.change_percent > 1},
                                {'is-warning': props.row.change_percent >= 0 && props.row.change_percent < 1},
                            ]"
            >{{ props.row.change_percent | parseFloatVal}}%</span>
          </b-table-column>
          <b-table-column field="volume" label="Volume" sortable>{{ props.row.volume }}</b-table-column>
          <b-table-column field="rvolume" label="rvolume" sortable>{{ props.row.rvolume | toMil }}</b-table-column>
          <b-table-column field="kse100" label="KSE-100-30" sortable>
            <b-icon v-if="props.row.kse100" type="is-success" icon="check"></b-icon>
            <b-icon class="has-text-weight-bold" v-if="props.row.kse30" type="is-danger" icon="check"></b-icon>
          </b-table-column>
          <!-- <b-table-column field="kse30" label="KSE-30" sortable>
            <b-icon v-if="props.row.kse30" type="is-success" icon="check"></b-icon>
          </b-table-column> -->
          <b-table-column field="sector.name" label="Sector" sortable>{{ props.row.sector.name }}</b-table-column>
        </template>
      </b-table>
    </section>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  data(){
    return {
      defaultSortDirection: "desc"
    }
  },
  computed: {
    ...mapState("stocks", {
      stocks: state => state.stocks
    }),
  },
  methods: {
    ...mapActions("stocks", {
      getStocks: "getStocks"
    }),
  },
  mounted() {
    this.getStocks();
  },
  filters: {
    parseFloatVal(val) {
      return parseFloat(val).toFixed(2);
    },
    toMil (labelValue) {
        // Nine Zeroes for Billions
        return Math.abs(Number(labelValue)) >= 1.0e+9

        ? (Math.abs(Number(labelValue)) / 1.0e+9).toFixed(2) + " B"
        // Six Zeroes for Millions 
        : Math.abs(Number(labelValue)) >= 1.0e+6

        ? (Math.abs(Number(labelValue)) / 1.0e+6).toFixed(2) + " M"
        // Three Zeroes for Thousands
        : Math.abs(Number(labelValue)) >= 1.0e+3

        ? (Math.abs(Number(labelValue)) / 1.0e+3).toFixed(2) + " K"

        : Math.abs(Number(labelValue));

    }

  }
};
</script>