<template>
<b-collapse class="card card-custom mt-2" animation="slide" aria-id="contentIdForA11y3">
            <div
                slot="trigger"
                class="card-header header-color"
                role="button"
                aria-controls="contentIdForA11y3">
                <p class="card-header-title">
                    <slot name="header"></slot>
                </p>
                <a class="card-header-icon" @click="showAccordion = !showAccordion">
                    <arrowDown v-if="!showAccordion" />
                    <arrowUp v-else/>
                </a>
            </div>
            <div class="card-content">
                <div class="content">
                   <slot></slot>
                </div>
            </div>
        </b-collapse>
</template>

<script>
import arrowDown from '@/components/svg/arrow-down.vue'
export default {
  components: {
    arrowDown
  },
  data() {
    return {
      showAccordion: true
    }
}
}
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.card-custom {
  box-shadow: none !important;
}
.header-color {
  background-color: #F2F4F6;
}

.accordion-header {
  background-color: #f8f9fc;
  border-bottom: 0px !important;
}

.hover-header:hover {
  color: #18c5a9;
  cursor: pointer;
}

.on-hover-icon:hover {
  color: #18c5a9;
}

.on-hover-header {
  color: #18c5a9 !important;
  cursor: pointer;
}

.before-hover-header {
  cursor: pointer;
  color: #4E5A64;
}

.transform-arrow {
  transition: all 0.4s ease;
  transform: rotateX(180deg)
}

.transform-arrow i {
  color: #18c5a9;
}
</style>