  <template>
  <!----- GENERIC COMPONENT DEFINED IN MAIN.js ---->
   <div id="bars4" class="loader-padding-top">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</template>
<script>
export default {
    
}
</script>
<style scoped>
@media screen and (min-width: 720px) { 
  .loader-padding-top{
  padding-top: 15px;
}
}
</style>