<template>
  <div class="card">
    <div class="card-content has-text-centered">
      <p class="title is-size-6 has-text-black">
        {{title}}
      </p>
      <p class="subtitle has-text-weight-medium">
        {{body}}
      </p>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    title: {
      required: true
    },
    body: {
      required: true
    }
  },
}
</script>
<style lang="scss" scoped="true">
  @import "../assets/css/colors.scss";
  .card {
    background-color: $primary-light;
    border-radius: 4px;
    box-shadow: unset;
  }
  .card-content {
    padding: 5px;
  }
</style>
