<template>
  <b-button
  :type="isType"
  :label="isLabel"
  @click="isClick"
  :icon-left="isIconLeft"
  :icon-right="isIconRight"
  :tag="isTag"
  :to="toLink"
  :href="isHref"
  :target="isTarget"
  :native-type="isNativeType"
  :outlined="isOutlined"
  :loading="isLoading"
  :disabled="isDisabled"
  :rounded="isRounded"
  :expanded="isExpanded"
  :value ="isValue"
  >
  </b-button>
</template>
<script>
export default {
  props: {
    isValue: {
      type: String
    },
    isType: {
      type: String
    },
    isLabel: {
      type: String
    },
    isClick: {
      type: Function,
      required: false
    },
    isLoading: {
      type: Boolean,
      default: false
    },
    isRounded: {
      type: Boolean
    },
    isExpanded: {
      type: Boolean
    },
    isDisabled: {
      type: Boolean
    },
    toLink: {
      type: String
    },
    isTag: {
      type: String
    },
    isHref: {
      type: String
    },
    isTarget: {
      type: String
    },
    isNativeType: {
      type: String
    },
    isOutlined: {
      type: Boolean,
      default: false
    },
    isIconLeft: {
      type: String
    },
    isIconRight: {
      type: String
    }
  }
}
</script>
<style lang="scss">
@import '../assets/css/colors.scss';
@import '../assets/css/components/Dbutton.scss';
</style>
