<template>
  <div class="pt-2 has-text-centered">
    <span class="inner buttons-inner mr-2">
      <div class="minus-button noSelect" v-bind:class="[min == inputVal ? 'minus-button-inactive' : 'minus-button-active']" @click="decrementValue()">
        <p class="has-text-weight-semibold is-size-5 has-text-left">_</p>
      </div>
    </span>
    <span class="inner">
      <span class="box">
        <p class="has-text-weight-semibold -mx-5 is-size-7 pt-3">{{inputVal}} {{$t('general.days')}}</p>
      </span>
    </span>
    <span class="inner buttons-inner ml-2">
      <div class="plus-button noSelect" @click="incrementValue()">
        <p class="has-text-weight-semibold is-size-5 has-text-left">+</p>
      </div>
    </span>
  </div>
</template>
<script>
export default {
  props: {
    min: {
      default: 14
    },
    max: {
      default: 99
    },
    value: {
      required: true
    }
  },
  methods: {
    incrementValue() {
      if (this.value) {
        this.inputVal += 1
      }

    },
    decrementValue() {
      if (this.value > this.min && this.value) {
        this.inputVal -= 1
      }
    }
  },
  computed: {
    inputVal: {
      get() {
        return this.value ? this.value : this.min
      },
      set(val) {
        this.$emit('input', val)
      }
    }
  }
}
</script>
<style lang="scss">
  .plus-button {
    width: 20px;
    height: 20px;
    background: #18C5A9 0% 0% no-repeat padding-box;
    border-radius: 3px;
  }
  .minus-button {
    width: 20px;
    height: 20px;
    border-radius: 3px;
  }
  .minus-button-inactive {
    background: #F2F4F6 0% 0% no-repeat padding-box;
  }
  .minus-button-active {
    background: #18C5A9 0% 0% no-repeat padding-box;
    color: #FFFFFF
  }
  .plus-button p {
    position: relative;
    bottom: 7px;
    left:4px;
    cursor: pointer;
  }
  .plus-button {
    color: #FFFFFF;
  }
  .plus-button:hover, #plus-button:active, .minus-button-active:hover, .minus-button-active:active {
    color:#505A6F;
  }
  .minus-button p {
    position: relative;
    bottom: 14px;
    left:6px;
    cursor: pointer;
  }
  .minus-button-inactive {
    color: #cccccc;
  }
  .minus-button-inactive:hover, .minus-button-inactive:active {
    color:#505A6F;
  }
  .box p{
    position: relative;
    bottom: 22px;
  }
  .box {
    width: 5rem;
    height: 38px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #C8D6E5;
    border-radius: 2px;
  }
  .box:hover {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #505A6F;
  }
  .inner {
    display: inline-block;
  }
  .buttons-inner {
    vertical-align: middle;
    margin-top: -2.5rem;
  }
  .noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
</style>
