<template>
  <div v-on:click="routeToPage()" v-if="shownotification"  id="toast-container" :class="toast_class">
    <div class="toast" :class="color" aria-live="polite" style>
      <button type="button" class="toast-close-button" @click="shownotification=false">×</button>
      <div class="toast-message">{{toast_message}}</div>
    </div>
  </div>
</template>

<script>
import { bus } from "../main.js";
import i18n from '@/plugins/i18n'
import router from '@/router'
export default {
  data() {
    return {
      shownotification: false,
      toast_message: i18n.t("general.toaster_message"),
      toast_class: "toast-bottom-left",
      color: "toast-success",
      route: ""
    };
  },
  created() {
    bus.$on("showNotify", (data, time = 3000, type = "success", routeVal = "") => {
      this.color = "toast-success"
      this.toast_class = "toast-bottom-left"
      this.shownotification = true
      this.route = ""
      this.toast_message = data
      // info will be displayed in blue color at bottom area
      if (type == "info") {
        this.color = "toast-info"
        this.toast_class = "toast-bottom-full-width"
      }
      // if notification wants to send on a route when clicked
      if (routeVal) {
        this.route = routeVal
      }
      setTimeout(() => (this.shownotification = false), time);
    });
  },
  methods: {
    routeToPage() {
      if (this.route) {
        router.push(this.route)
        this.shownotification = false
      }
    }
  }
};
</script>