<template>
  <div>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <!-- <img src="@/assets/images/logo.png" width="112" height="28" /> -->
          <!-- Logo from https://logomakr.com/4NTGZs -->
        </a>

        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <router-link class="navbar-item" :to="{name: 'stocks'}">Stocks</router-link>
          <router-link class="navbar-item" :to="{name: 'averages'}">Averages</router-link>
        </div>
      </div>
    </nav>
  </div>
</template>
