<template lang="html">
  <div class="mb-24">
    <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="true">
      <img src="../../assets/img/svg/dashboard/Dashboard overview – skeleton loader.svg" />
    </b-loading>
    <div class="columns -mt-6" v-if="hasClaimsData == true || accountingSystemConnected == true">
      <div class="column"><Card :title="$t('dashboard.unpaid_invoices')" :body="totalInvoices" /></div>
<!--      <div class="column"><Card :title="$t('dashboard.active_reminders')" :body="totalReminderClaims" /></div>-->
      <div class="column"><Card :title="$t('dashboard.active_claims')" :body="totalActiveClaims" /></div>
      <div class="column"><Card :title="$t('dashboard.legal_collection')" :body="totalLegalCollection" /></div>
    </div>
    <p class="mb-6 is-size-4 has-text-primary has-text-weight-bold" v-else>{{$t('dashboard.header_text')}}</p>
    <div class="columns -mt-6">
      <div class="column is-5">
        <div class="card" v-if="hasClaimsData == true">
          <header class="card-header">
            <p class="card-header-title">
              <claimsIconSidebar :active="true"  class="mr-1"/>
              {{ $t('dashboard.latest_activity') }}
            </p>
          </header>
          <div class="card-content dashboard-card table-container">
            <table class="table is-fullwidth">
              <tbody>
                <tr class="mt-2 is-size-7 has-cursor-pointer" v-for="claimAction in claimActionsAll" @click="routeToDetail(claimAction)" :class="'has-background-'+claimAction.identifier">
                  <td>#{{claimAction.claim_reference | splitAfterdash}}
                  </td>
                  <td>{{claimAction.debtor}}
                  </td>
                  <td>{{claimAction.date | formatDate}}
                  </td>
                  <td class="has-text-weight-semibold action-name">{{claimAction.action_name}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <footer class="card-footer"></footer>
        </div>
        <div class="card card-no-accounting-system card-primary-border" v-else-if="hasClaimsData == false">
          <div class="card-content pt-5">
            <div class="columns">
              <div class="column is-8">
                <p class="is-size-6 has-text-weight-semibold">{{ $t('dashboard.your_latest_will_appear_here') }}</p>
                <p class="is-size-7">{{ $t('dashboard.generate_activity_by_creating_claim') }}!</p>
              </div>
              <div class="column is-4">
                <router-link to="/claims/create" tag="button" class="button is-primary">{{ $t('newCase.createClaim') }}</router-link>
              </div>
            </div>
            <img class="-mt-4" src="@/assets/img/svg/dashboard/Latest Activity Empty State SVG.svg" />
          </div>
        </div>
      </div>
      <div class="column is-7">
        <div class="card" v-if="statsData.length > 0 && accountingSystemConnected != false">
          <header class="card-header level">
            <p class="card-header-title level-left">
              {{ $t('dashboard.invoiced_vs_paid') }}
            </p>
            <div class="level-right mr-4 select is-secondary">
              <select class="control chart-select is-size-7" v-model="dataLength">
                <option value="6">{{ $t('dashboard.last_6_months') }}</option>
                <option value="12">{{ $t('dashboard.last_12_months') }}</option>
                <option value="18">{{ $t('dashboard.last_18_months') }}</option>
              </select>
            </div>
          </header>
          <div class="card-content chart-card table-container">
            <!-- <Barchart /> -->
            <line-chart :options="[]" :chart-data="datacollection"></line-chart>
          </div>
          <footer class="card-footer"></footer>
        </div>
        <div class="card card-no-accounting-system" v-else-if="accountingSystemConnected == false">
            <div class="px-2 pt-5">
              <p class="is-size-5">{{ $t('dashboard.did_you_receive') }}</p>
              <p class="is-size-6">{{ $t('dashboard.connect_to_check') }}</p>
                <div class="columns pt-12 px-20">
                  <div id="external-ac-billy" class="column external-ac" @click="getUrl('billy')">
                    <img id="billy-logo" src="../../assets/img/logos/billy.png" alt="Billy Logo">
                  </div>
                  <div id="external-ac-economic" class="column external-ac ml-4" @click="getUrl('economics')">
                    <img id="economic-logo" src="../../assets/img/logos/economic.png" alt="Economic Logo">
                  </div>
                  <div id="external-ac-dinero" class="column external-ac ml-4" @click="getUrl('dinero')">
                    <img id="dinero-logo" src="../../assets/img/logos/dinero.png" alt="Dinero Logo">
                  </div>
                </div>
              <img class="full-image -mt-24" src="@/assets/img/svg/dashboard/Chart.svg" />
            </div>
        </div>
      </div>
    </div>
    <div class="columns -mt-8">
      <div class="column is-12">
        <AccountingSystem accessType="external" />
      </div>
    </div>
      <b-modal
      :active="claimSuccessPage"
      trap-focus
      aria-role="dialog"
      aria-modal
      has-modal-card
      :on-cancel="toggleModal"
      :width="1020" scroll="keep"
    >
      <ClaimLandingPage/>
    </b-modal>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from "vuex"
import Card from "@/components/Card"
import LineChart from "@/components/LineChart"
import i18n from '@/plugins/i18n'
import AccountingSystem from '@/pages/accountingSystem/AccountingSystemIndex'
import ClaimLandingPage from '@/pages/ClaimLandingPage'

export default {
  components: {
    Card,
    LineChart,
    AccountingSystem,
    ClaimLandingPage
  },
  data() {
    return {
      erpIntegrated: true,
      datacollection: [],
      dataLength: 6,
      labels: [],
      total_paid: [],
      total_invoiced: [],
      actions: {
        1: 'has-background-claim-reject', 2: 'has-background-validating-debtor', 3: 'has-background-validation-successful', 4: 'has-background-reminder-active', 5: 'has-background-claim-active', 6: 'has-background-validation-successful', 7: 'has-background-reminder-active', 8: 'has-background-claim-active'
      },
    }
  },
  computed: {
    isLoading: function() {
      if (this.accountingSystemConnected == null) {
        return true
      } else if (this.accountingSystemConnected == true && this.hasClaimsData == null) {
        return true
      }
      return false
    },
    ...mapState("accounts", {
      userProfile: state => state.userProfile,
      accounts: state => state.accounts
    }),
    ...mapState("debtors", {
      debtors: state => state.debtors
    }),
    ...mapState("claims", {
      claimSuccessPage: state => state.claimSuccessPage,
      claimsCount: state => state.count,
      claims: state => state.claims,
      claimActionsAll: state => state.claimActionsAll
    }),
    ...mapState("accountingSystem", {
      statsData: state => state.statsData,
      invoices: state => state.invoices,
      accountingSystemConnected: state => state.accountingSystemConnected
    }),
    ...mapGetters("claims", {
      totalClaims: "totalClaims",
      totalAmount: "totalAmount",
    }),
    dispableClassObject: function() {
      if (
        this.userProfile &&
        this.userProfile != null &&
        (this.userProfile[0].active_account_id === "" ||
          this.userProfile[0].active_account_id === null)
      ) {
        return "disabled-class"
      }
      return ""
    },
    totalAccounts: function() {
      if (this.accounts.data) {
        return this.accounts.pagination.count
      }
      return "-"
    },
    totalDebtors: function() {
      if (this.debtors.data) {
        return this.debtors.pagination.count
      }
      return "-"
    },
    totalLegalCollection: function() {
      if (this.claims.data) {
        let claim = this.claims.data.filter(d => d.claim_phase.name == "Legal collection")
        return claim.length
      }
      return '-'
    },
    totalActiveClaims: function() {
      if (this.claims.data) {
        let claim = this.claims.data.filter(d => d.claim_phase.name == "Debt Collection" || "Surveillance" || "Validating")
        return claim.length
      }
      return '-'
    },
    hasClaimsData: function() {
      if (this.claimActionsAll != {} && this.claimActionsAll.length > 0) {
        return true
      } else if (this.claimActionsAll != {} && this.claimActionsAll.length == 0) {
        return false
      }
      return null
    },
    totalReminderClaims: function() {
      if (this.claims.data) {
        let claim = this.claims.data.filter(d => d.claim_phase.name == "Reminder")
        return claim.length
      }
      return '-'
    },
    totalInvoices: function() {
      if (this.invoices.pagination) {
        return this.invoices.pagination.count
      } else if (this.accountingSystemConnected == false) {
        return 0
      }
      return '-'
    }
  },
  methods: {
    getUrl(data) {
      if (data === "economics") {
        this.$store.dispatch("accountingSystem/getEconomicUrl")
      }
      if (data === "billy") {
        this.$router.push("/accountingsystem/billy")
      }
      if (data === "dinero") {
        this.$router.push("/accountingsystem/dinero")
      }
    },
    ...mapActions('accountingSystem', {
      getStatsData: 'getStatsData',
    }),
    ...mapActions('claims', {
      getAllClaimActions: 'getAllClaimActions',
    }),
    toggleModal() {
      this.$store.commit('claims/resetClaimSuccessPage')
    },
    fillData() {
      this.labels = []
      this.total_paid = []
      this.total_invoiced = []
      for (let i = 0; i < this.dataLength; i++) {
        this.labels.push(this.statsData[i].month_name)
        this.total_paid.push(this.statsData[i].total_paid)
        this.total_invoiced.push(this.statsData[i].total_invoiced)
      }
      this.datacollection = {
        labels: this.labels,
        datasets: [
          {
            label: i18n.t('dashboard.total_paid'),
            backgroundColor: "#2BBEBB",
            data: this.total_paid,
            fill: true,
            borderColor: "#2BBEBB"
          },
          {
            label: i18n.t('dashboard.total_invoiced'),
            backgroundColor: "#5DD0FC",
            borderColor: "#5DD0FC",
            data: this.total_invoiced,
            fill: false
          }
        ],
        fill: false
      }
    },
    routeToDetail(claim_action) {
      this.$router.push("/claims/view/" + claim_action.claim_id)
    }
  },
  mounted() {
    this.getAllClaimActions()
    if (this.userProfile) {
      this.getStatsData(this.userProfile[0].active_account_id)
    }
  },
  watch: {
    userProfile() {
      if (this.userProfile[0].active_account_id) {
        this.getStatsData(this.userProfile[0].active_account_id)
      }
    },
    statsData() {
      if (this.statsData.length > 0) {
        this.fillData()
      }
    },
    dataLength() {
      this.fillData()
    }
  }
}
</script>

<style>
.dashboard-card {
  height: 290px;
  overflow-y: auto;
  overflow-x: hidden
}
.chart-card {
  height: 265px;
  overflow-y: auto;
  overflow-x: hidden
}
.dashboard-card .table {
  border-collapse:separate;
  border-spacing: 0 10px;
}
.dashboard-card .table tr{
  height: 34px;
}
.dashboard-card .table tr td {
  vertical-align: middle;
}
#bar-chart, #line-chart {
  height: 275px !important;
  margin-top: -25px;
}
.chart-select {
  box-shadow: 0px 2px 3px #0000000D;
  border: 1px solid #DADFE480;
  border-radius: 2px 2px 0px 0px;
  height: 27px;
}
.card-no-accounting-system {
  height: 368px;
}
.full-image {
  width: 100%;
  height: 368px;
}
</style>
<style scoped>
.external-ac {
  box-shadow: 0px 0px 20px #18C5A94D;
  cursor: pointer;
  z-index: 29;
}
.external-ac:hover {
  box-shadow: 0px 2px 10px #18C5A999;
}
.external-ac img{
  padding-top:0.9375rem;
  max-width: 85%;
  padding-left: 5%;
  margin-left: 3.5%;
}
#external-ac-economic{
  padding-top:1.125rem;
}
.card-primary-border {
  box-shadow: 0px 3px 6px #5765741A;
  border: 2px solid #18C5A9;
  border-radius: 10px;
}
</style>
