<template>
  <div class="" >
    <div id="overlay" v-on:click.self="off()" @keydown.esc="off()">
      <!-- Debitor view - First view in the flow, where you can choose a debitor or go to new debitor view -->
      <div class="view" v-if="view.debitorsView">
        <div class="ibox" style="margin-bottom: 0px;">
            <div class="ibox-head">
                <div class="ibox-title">{{$t("newCase.chooseDebtor")}}</div>
                <div class="ibox-tools">
                </div>
            </div>
            <div class="ibox-body padding-bottom-none">
                <div class="row">
                    <div class="col-md-6">
                        <div class="ibox min-full-height">
                            <div class="ibox-head no no-padding">
                                <div class="ibox-title full-width">
                                  <div class="input-group-icon input-group-icon-left input-group-lg">
                                      <span class="input-icon input-icon-right"><i class="ti-search"></i></span>
                                      <input class="form-control form-control-air font-light font-poppins border-0" v-model="search" :placeholder='$t("newCase.placeholders.search")' style="box-shadow:0 3px 6px rgba(10,16,20,.15);">
                                  </div>
                                </div>
                            </div>
                            <div class="ibox-body padding-bottom-none ibox-debtor">
                              <p class="text-danger" v-if="debtorSelected === false">{{$t("newCase.chooseDebtorError")}}.</p>
                              <ul class="debtorList" v-if="debtors.data">
                                <li v-for="debtor in filteredDebtors" :key="debtor.id">
                                  <label class="radio radio-inline radio-info">
                                    <!-- Properly a better way to do this, but i didnt know how, and dont want to use alot of time on this -->
                                    <input v-if="debtor.id === chosenDebtorID"
                                        checked
                                        type="radio"
                                        name="ydBtn"
                                        v-bind:id="debtor.id"
                                        v-on:click="chooseDebtor(debtor)"
                                        >
                                    <input v-else
                                        type="radio"
                                        name="ydBtn"
                                        v-bind:id="debtor.id"
                                        v-on:click="chooseDebtor(debtor)"
                                        >
                                    <span class="input-span"></span>
                                    <p>{{debtor | setDebtorName}}</p>
                                  </label>
                                </li>
                              </ul>
                              <div v-else class="preloader-backdrop">
                                  <div class="page-preloader">{{$t('general.loading')}}</div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="ibox min-full-height">
                            <div class="ibox-head">
                                <div class="ibox-title">{{$t("newCase.chosenDebtor")}}</div>
                            </div>
                            <div class="ibox-body padding-bottom-none ibox-debtor">
                              <div class="chosenDebtor" v-if="chosenDebtor.id">
                                <div class="row mb-2 padding-top-none">
                                    <div class="col-md-4 text-muted">{{$t("general.name")}}:</div>
                                    <div class="col-md-8" v-if="chosenDebtor.company_name">{{ chosenDebtor.company_name }}</div>
                                    <div class="col-md-8" v-else>{{ chosenDebtor.first_name | ifEmptyDash | subStr}} {{ chosenDebtor.last_name }}</div>
                                </div>
                                <div class="row mb-2 padding-top-none">
                                    <div class="col-md-4 text-muted">{{$t("general.vat")}}:</div>
                                    <div class="col-md-8">{{ chosenDebtor.vat_number | ifEmptyDash | subStr}}</div>
                                </div>
                                <div class="row mb-2 padding-top-none">
                                    <div class="col-md-4 text-muted">{{$t("general.address")}}:</div>
                                    <div class="col-md-8">{{ chosenDebtor.address | ifEmptyDash | subStr}}</div>
                                </div>
                                <div class="row mb-2 padding-top-none">
                                    <div class="col-md-4 text-muted">{{$t("general.zip_code")}}:</div>
                                    <div class="col-md-8">{{ chosenDebtor.zip_code | ifEmptyDash | subStr}}</div>
                                </div>
                                <div class="row mb-2 padding-top-none">
                                    <div class="col-md-4 text-muted">{{$t("general.city")}}:</div>
                                    <div class="col-md-8">{{ chosenDebtor.city | ifEmptyDash | subStr}}</div>
                                </div>
                                <div class="row mb-2 padding-top-none">
                                    <div class="col-md-4 text-muted">{{$t("general.email")}}:</div>
                                    <div class="col-md-8">{{ chosenDebtor.email | ifEmptyDash | subStr}}</div>
                                </div>
                                <div class="row mb-2 padding-top-none">
                                    <div class="col-md-4 text-muted">{{$t("general.tel")}}:</div>
                                    <div class="col-md-8">{{ chosenDebtor.phone | ifEmptyDash | subStr}}</div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-footer">
              <button class="btn btn-success" v-on:click="toggle('newDebitorView')">{{$t("debtor.add_new_debtor")}}</button>
              <button class="btn btn-success mr-2 float-right"  v-on:click="toggle('additionalInfoView')">{{$t("account.choose")}}</button>
            </div>
        </div>
      </div>

      <!-- New Debitor - for adding new debitors -->
      <div class="view" v-if="view.newDebitorView">
        <!-- I turned the creating debtor page into a component, because we need it multiple places, and it was easy to implement like this -->
          <newDebtorComponent accessType="modal" @chooseDebtor="chooseDebtor"></newDebtorComponent>
      </div>

      <!-- Additional Info - here you can add objection and representive -->
      <div class="view" v-if="view.additionalInfoView">
        <div class="ibox" style="margin-bottom: 0px;">
          <div class="ibox-head viewHead">
            <span>
              <b>{{$t("newCase.debtor")}}:</b>
              {{ (chosenDebtor.company_name ? // if chosen debtor is a company
                  chosenDebtor.company_name :
                  (chosenDebtor.first_name + ' ' + chosenDebtor.last_name))
              + ' - ' + chosenDebtor.address }}
            </span>
          </div>
          <form class="form-info" action="javascript:;">
            <div class="ibox-body">
              <div class="form-group mb-0">
                <div class="row">
                  <div class="col-sm-6">
                    <label>{{$t("newCase.disputes")}}</label>

                    <div class="toolTip">
                      <i class="far fa-question-circle"></i>
                      <span class="toolTipText">{{$t("newCase.disputeInfo")}}</span>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="pull-right">
                      <label class="radio radio-inline radio-info">
                        <input type="radio"
                            name="radioDispute"
                            @click="$store.commit('claims/setDisputes', true)"
                            v-model="disputes"
                            v-bind:value="true">

                        <span class="input-span"></span>{{$t("general.yes")}}</label>
                      <label class="radio radio-inline radio-info">
                        <input type="radio"
                              name="radioDispute"
                              @click="$store.commit('claims/setDisputes', false)"
                              v-model="disputes"
                              v-bind:value="false">

                        <span class="input-span"></span>{{$t("general.no")}}</label>
                      </div>
                  </div>
                </div>
                <p class="text-danger"  v-if="disputes === undefined">{{$t("newCase.noValueSelected")}}.</p>
              </div>
              <div class="form-group mb-1 additionalInfoToggle" v-bind:class="{additionalInfoOpen: disputes}">
                <textarea v-model="dispute" name="Disputes" class="form-control" rows="8" :placeholder='$t("newCase.placeholders.dispute")'></textarea>
              </div>

            </div>
            <div class="ibox-footer push50up">
              <button class="btn btn-secondary" v-on:click="toggle('debitorsView')">{{$t("pagination.previous")}}</button>
              <button class="btn btn-info float-right" @click="startClaim(chosenDebtor.id)">{{$t("newCase.createClaim")}}</button>
            </div>
          </form>
        </div>
      </div>

      <!-- loading view -->
      <div class="view row uploading" v-if="view.loadingView">
        <div class="col-md-12 alert alert-danger text-center" v-if="claimError" role="alert">
          <h2 class="textColorCorrection">{{$t("newCase.uploadErrorTitle")}}</h2>
          <svg class="checkmarkError" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
            <circle class="checkmark__circleError" cx="26" cy="26" r="25" fill="none"/>
            <path class="checkmark__checkError" fill="none" d="M16 16 36 36 M36 16 16 36"/>
          </svg>
          <p class="textColorCorrection">{{$t("newCase.uploadErrorMessage")}}</p>
          <button class="btn btn-info" v-on:click="toggle('debitorsView')">{{$t("newCase.claimError")}}</button>
          <button class="btn btn-warning" v-on:click="off()">{{$t("general.cancel")}}</button>
        </div>
        <!-- in case of error the obove will fire, else the loading circle will spin -->
        <div class="loader" v-else></div>
      </div>

      <!-- Final view that comes if succes case have been made -->
      <div class="view" v-if="view.finalView" v-on:click="off()">
        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
          <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
          <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
        </svg>
        <p class="finalText">{{$t("newCase.created")}}</p>
      </div>

      <div class="view" v-if="view.fileView" id="fileView">

      </div>

    </div>

      <!-- Default view - This is what you see on the dashboard -->
    <div class="initView">
      <form enctype="multipart/form-data">
        <div :class="['dropbox', dragOver ? 'highLight' : '']"
              drag-over="handleDragOver"
              @dragenter="dragOver = true"
              @dragleave="dragOver = false"
              @drop="dragOver = false">

          <input id="file-upload"
                  ref="fileInput"
                  type="file" multiple
                  accept=".pdf, .xls, .xlsx, .doc, .docx, .png, .jpg, .jpeg, .tiff, .csv" class="input-file"
                  @change="queFiles($event.target.files)">

          <h1 class="dropbox-header" @click="$refs.fileInput.click()">
            <i class="fas fa-cloud-upload-alt fa-flip-horizontal text-info" style="font-size:50px;"></i>
          </h1>
          <label for="file-upload" class="custom-file-upload">
            <strong>{{$t("newCase.upload")}}.</strong>
          </label>
        </div>
      </form>

      <div class="row dropbox-footer">
        <div class="alert alert-warning" v-if="acceptedTypesError" role="alert">
          <p>{{$t("newCase.fileTypeError")}}</p>
          <span v-for="file in acceptedTypes" :key="file.name">
            {{file + ";&nbsp;&nbsp;&nbsp;"}}
          </span>
        </div>
        <div class="col-sm-12">
            <div class="ibox" v-if="fileQueue.length">
              <div class="ibox-head">
                  <div class="ibox-title">{{$t("newCase.filesToUpload")}}</div>
                  <button class="float-right btn btn-info" v-if="fileQueue.length" @click="toggle('debitorsView')">{{$t("general.continue")}}</button>
              </div>
              <div class="ibox-body ibox-max-height">
                  <ul class="list-group list-group-full list-group-divider">
                      <li v-for="file in fileQueue" class="list-group-item" :key="file.name">
                        <div class="row">
                          <div class="col-sm-6">
                            <span class="file-icon" v-html="GenerateFileIcon(file.name)"></span>
                            <!-- <span class="badge badge-danger file-icon"><i class="fa fa-file-pdf"></i></span> -->
                            {{ file.name | subStr }}
                          </div>
                          <div class="col-sm-2">
                            {{ file.name | calculateFileType }} File
                          </div>
                          <div class="col-sm-2">
                            {{ file.size | calculateSize }}
                          </div>
                          <div class="col-sm-2">
                            <small class="float-right text-muted ml-2 nowrap remove-string" @click="removeQueueItem(file)"><i style="font-size:20px;" class="ti-trash timeline-icon"></i></small>
                            <small class="float-right text-muted ml-2 nowrap remove-string" v-if="GenerateFileViewIcon(file)" @click="generateFileViewArea(file)"><i style="font-size:20px;" class="ti-eye timeline-icon"></i></small>
                          </div>
                        </div>
                      </li>
                  </ul>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  </template>

<script>
import { mapState, mapActions } from 'vuex'
import { bytesToSize, fileReadableType } from '@/helpers'
import newDebtorComponent from '@/pages/debtors/DebtorsCreate'

export default {
  components: {
    newDebtorComponent
  },
  data() {
    return {
      search: '',
      yourDebtors: [],
      view: {
        // initView: false,
        debitorsView: false,
        newDebitorView: false,
        additionalInfoView: false,
        loadingView: false,
        finalView: false,
        fileView: false,
      },
      chosenDebtorID: "",
      // chosenDebtor: "",
      debtorSelected: null,
      dragOver: false
    }
  },
  computed: {
    ...mapState('debtors', {
      debtors: state => state.debtors
    }),
    ...mapState('claims', {
      fileQueue: state => state.fileQueue,
      acceptedTypes: state => state.acceptedTypes,
      acceptedTypesError: state => state.acceptedTypesError,
      disputes: state => state.disputes,
      dispute: state => state.dispute,
      claimError: state => state.claimError,
      reprecenter: state => state.reprecenter,

    }),
    chosenDebtor: function () {
      if (this.chosenDebtorID != "" && this.debtors.data) {
        return this.debtors.data.find(item => item.id === this.chosenDebtorID)
      }
      return []
    },
    filteredDebtors: function() {
      return this.debtors.data.filter((debtors) => {
        let debtorStringArray = [debtors.company_name, debtors.first_name, debtors.last_name]
        const item = JSON.stringify(debtorStringArray).toLowerCase()
        return item.match(this.search.toLowerCase())
      })
    }
  },
  methods: {
    ...mapActions('claims', {
      makeClaim: "makeClaim",
      makeClaimLines: "makeClaimLines"
    }),
    queFiles: function(files) {
      // this.$store.commit('claims/addToFilesQueue', files)
      this.$store.commit("claims/addToFilesQueue", {
        filestoPush: files,
        queue: this.fileQueue
      })
    },
    removeQueueItem(item) {
      this.$store.commit('claims/removeFile', item)
    },
    async startClaim(debtor_id) {
      this.toggle('loadingView')
      var that = this
      try {
        let claim_id = await that.makeClaim(debtor_id)
        if (!claim_id.id) {
          throw ""
        }
        let claim_lines = await that.makeClaimLines(claim_id.id)
        if (claim_lines !== "made") {
          throw ""
        }
        await that.toggle('finalView')
        await that.$store.commit('claims/resetClaimsState')
        await setTimeout(that.redirectToLandingPage, 5000)
      } catch (e) {
        that.$store.commit('claims/setClaimErrors')
      }
    },
    redirectToLandingPage() {
      window.location.href = "ClaimLandingPage"
    },
    toggle: function(view) {
      if (this.fileQueue.length) {
        this.view.debitorsView = false
        this.view.newDebitorView = false
        this.view.editDebitorView = false
        this.view.additionalInfoView = false
        this.view.loadingView = false
        this.view.finalView = false
        this.view.fileView = false

        switch (view) {
          case 'debitorsView':
            this.view.debitorsView = !this.view.debitorsView
            break

          case 'newDebitorView':
            this.view.newDebitorView = !this.newDebitorView
            break

          case 'additionalInfoView':
            if (this.debtorSelected === null || this.debtorSelected === false) {
              this.debtorSelected = false
              this.view.debitorsView = true
            } else {
              this.view.additionalInfoView = !this.additionalInfoView
              this.$store.commit('claims/setClaimError', false)
            }
            break

          case 'loadingView':
            this.view.loadingView = !this.loadingView
            break

          case 'finalView':
            this.view.finalView = !this.finalView
            break
          case 'fileView':
            this.view.fileView = !this.view.fileView
            break

          default:
            break
        }
        document.getElementById("overlay").style.display = "block"
      } else {
        console.log('You need to opload something')
      }
    },
    // This removed the overlay graphics thats being used with the modal
    off: function() {
      if (document.getElementById("fileViewInner")) {
        document.getElementById("fileViewInner").style.display = "none"
      }
      document.getElementById("overlay").style.display = "none"
    },
    chooseDebtor(debtor) {
      this.chosenDebtorID = debtor.id
      // this.chosenDebtor = debtor
      this.debtorSelected = true
    },
    // this is a bit hacky, but i cant seem to get it working otherwise, and it does not break anything or trafic the server
    pushIntoDebtor(debtor) {
      this.yourDebtors.push(debtor)
    },
    // This is a fix i made due to failing in getting the debtors from the vuex store and should be replaced
    ...mapActions('debtors', {
      getDebtors: 'getDebtors',
    }),
    // Generate icon for file
    GenerateFileIcon(fileName) {
      var fileType = fileReadableType(fileName)
      if (fileType == "Image") {
        return '<span class="badge badge-blue"><i class="fa fa-file-image"></i></span>'
      } else if (fileType == "Excel") {
        return '<span class="badge badge-success"><i class="fa fa-file-excel"></i></span>'
      } else if (fileType == "Word") {
        return '<span class="badge badge-primary"><i class="fa fa-file-word"></i></span>'
      } else if (fileType == "PDF") {
        return '<span class="badge badge-danger"><i class="fa fa-file-pdf"></i></span>'
      }
      return '<span class="badge badge-danger"><i class="fa fa-file"></i></span>'
    },
    GenerateFileViewIcon(file) {
      var fileType = fileReadableType(file.name)
      if (fileType == "Image" || fileType == "PDF") {
        return true
      }
      return false
    },
    generateFileViewArea(file) {
      var fileType = fileReadableType(file.name)
      this.toggle('fileView')
      if (fileType == "Image") {
        let reader = new FileReader()
        reader.onload = function(e) {
          var image = '<img src="' + e.target.result + '" id="fileViewInner" style="width:100%; height:100%;" />'
          document.getElementById("fileView").innerHTML = image
        }
        reader.readAsDataURL(file)
      } else if (fileType == "PDF") {
        let reader = new FileReader()
        reader.onload = function(e) {
          var file = '<object data="' + e.target.result + '" id="fileViewInner" style="width:100%; height:98%;" />'
          document.getElementById("fileView").innerHTML = file
        }
        reader.readAsDataURL(file)
      }
    },
    setRepresenter(val) {
      this.$store.commit('claims/setRepresenter', undefined)
    }
  },
  mounted() {
  },
  filters: {
    subStr: function(string) {
      if (string.length > 23) {
        var afterDot = string.substr(string.indexOf('.'))
        return string.substring(0, 19) + "... " + afterDot
      }
      return string
    },
    ifEmptyDash: function(string) {
      if (string === "" || string === null) {
        return "-"
      }
      return string
    },
    calculateSize(fileSize) {
      return bytesToSize(fileSize)
    },
    calculateFileType(fileName) {
      return fileReadableType(fileName)
    },
    setDebtorName(value) {
      if (value.company_name !== null && value.company_name !== "") {
        return value.company_name
      } else {
        let last_name = value.last_name ? value.last_name : ""
        return value.first_name + " " + last_name
      }
    }
  }
}

</script>

<style scoped>
  @import '../../assets/css/pages/newCase.css';
</style>
