<template lang="html">
  <div class="container full-width-container">
    <div class="columns row-full-height is-gapless">
      <div class="column is-6 has-text-white px-5 gradient-background">
        <div class="has-text-left logo-size ml-6">
          <router-link to="/" ><img src="@/assets/img/logos/logo_web_white.png" /></router-link>
        </div>
        <div class="column is-10 is-offset-1 has-text-centered login-margin">
          <img src="@/assets/img/svg/sign-in.svg" class="-mt-8" />
          <div class="title font-strong has-text-white h2 mb-3">{{ $t("auth.dont_have_account_1") }} {{ $t("auth.dont_have_account_2") }}</div>
          <p>{{ $t("auth.create_account_text") }}</p>
        </div>
      </div>
      <div class="column is-6 bg-white">
        <div class="ibox ibox-shadow">
          <div class="ibox-body" id="login-form" v-on:keyup.enter="forgetPassword">
            <div class="column is-8 mx-auto login-margin">

              <!-- email sent successfully -->
              <div class="columns">
                <div class="column is-12">
                <div class="alert fade show bg-green-notification py-4 px-4 error-position" v-if="formInput.serverSuccess">
                  <i class="far fa-check-circle mx-1 fa-lg"></i>
                  {{formInput.serverSuccess}}
                </div>
                </div>

                <!-- Incorrect credentials -->
                <div class="alert fade show py-4 px-4 bg-red-notification error-position" v-if="formInput.serverError">
                  {{ $t("auth.oops") }}! {{formInput.serverError}}
                </div>

                <!-- Token or link expired -->
                 <div class="alert is-flex fade show bg-red-notification py-4 px-3 error-position" v-if="tokenError">
                  <figure class="is-24x24 image">
                  <img  src="../../assets/img/svg/warning.svg" />
                  </figure>
                  {{$t("auth.link_expired")}}
                </div>
              </div>

              <!-- Form field for password reset -->
              <h2 class="font-strong title">{{$t("auth.reset_login_password")}}</h2>
              <p class="mb-4">{{ $t("auth.forgot_password_instructions") }}</p>
              <div class="field mb-4" v-bind:class="styleObject.errorObject.email">
                <p class="control has-icons-left has-icons-right">
                  <input class="input signin-border px-12" maxlength="255" type="text" name="email"
                    placeholder="Email" v-model.trim="formInput.email"
                    :class="[formInput.email ? 'border-selected':'border-not-selected' ]">
                    <span class="icon is-small is-left">
                       <Email :active="formInput.email ? true : false" />
                    </span>
                  <label v-if="styleObject.errorObject.email" id="email-error" class="help is-danger"
                    for="email">{{ $t("auth.provide_valid_email") }}</label>
                </p>
              </div>
              <div class="has-text-centered">
                <b-button type="is-primary" expanded :disabled="formInput.buttonDisabled ? true : false"
                  class="mt-5"
                  @click="forgetPassword(); tokenError=''">
                  <template v-if="!formInput.buttonDisabled">
                    {{ $t("auth.send_email") }}
                  </template>
                  <span v-else v-html="buttonSpinner">
                    {{buttonSpinner}}
                  </span>
                </b-button>
                <div class="mt-4 mb-4">
                  <p> {{$t('auth.already_have_account')}}</p>
                  <router-link :to="'./login'" class="text-primary">{{$t('auth.login_here')}}</router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-5 language-selector has-text-centered">
          <LanguageSelector />
          <p>Debito {{new Date().getFullYear()}}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'
import LanguageSelector from '@/pages/_layouts/LanguageSelector.vue'
import Email from '@/components/svg/email.vue'

export default {
  components: {
    LanguageSelector,
    Email
  },
  data() {
    return {
      tokenError: ""
    }
  },
  computed: {
    ...mapState('auth', {
      formInput: state => state.formInput,
      styleObject: state => state.styleObject
    }),
    ...mapGetters('auth', {
      buttonSpinner: "buttonSpinner"
    })
  },
  methods: {
    ...mapActions('auth', {
      forgetPassword: 'forgetPassword',
    })
  },
  beforeMount: function () {
    // if token error found
    if (this.$route.query.error == "token-error") {
      this.tokenError = this.$route.query.error
    }
  }
}
</script>
