<template lang="html">
<div class="container full-width-container">
  <div class="columns row-full-height is-gapless">
    <div class="column is-6 has-text-white px-5 gradient-background">
      <div class="has-text-left logo-size ml-6">
          <router-link to="/" ><img src="@/assets/img/logos/logo_web_white.png" /></router-link>
        </div>
      <div class="column is-10 is-offset-1 has-text-centered login-margin">
        <img src="../../assets/img/svg/sign-in.svg" class="-mt-8" />
        <div class="title font-strong has-text-white mb-3">
          {{ $t("auth.dont_have_account_1") }}<br/>
          {{ $t("auth.dont_have_account_2") }}
          </div>
        <p>{{ $t("auth.create_account_text") }}</p>
      </div>
    </div>
    <div class="column is-6 bg-white">
      <div class="ibox-shadow">
        <div id="login-form" v-on:keyup.enter="signIn">
          <div class="column is-8 mx-auto login-margin">
            <!-- Incorrect credentials -->
            <div class="">
              <div class="py-4 px-4 bg-red-notification error-position" v-if="formInput.serverError">
                <i class="la la-info-circle alert-icon"></i>
                {{ $t("auth.oops") }}! {{formInput.serverError}}
              </div>
            </div>
            <h2 class="font-strong mb-3 title">{{ $t("auth.text_log_in") }}</h2>
            <p class="has-text-left mb-5">{{$t("auth.new_user")}}? <router-link :to="'/signup'" class="text-primary">
                {{ $t("auth.create_free_account") }}</router-link>
            </p>
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input v-model="formInput.email" class="input signin-border px-12" :class="[formInput.email ? 'border-selected':'border-not-selected' ]" type="email" placeholder="Email">
                <span class="icon is-small is-left">
                  <Email :active="formInput.email ? true : false"/>
                </span>
                <label v-if="styleObject.errorObject.email" id="email-error"  class="help is-danger"
                  for="email">{{ $t("auth.provide_valid_email") }}</label>
              </p>
            </div>

            <div class="field mb-4" v-bind:class="styleObject.errorObject.password">
              <p class="control has-icons-left has-icons-right">
              <input class="input signin-border px-12" maxlength="255" type="password" name="password"
                placeholder="Password" v-model="formInput.password"
                :class="[formInput.password ? 'border-selected':'border-not-selected']">
                <span class="icon is-small is-left">
                  <passLock :active="formInput.password ? true : false" />
                </span>
              <label v-if="styleObject.errorObject.password" id="password-error" class="help is-danger"
                for="password">{{ $t("auth.provide_valid_password") }}</label>
                </p>
            </div>
            <div class="has-text-centered">
              <b-button type="is-primary" expanded :disabled="formInput.buttonDisabled ? true : false"
                class="mt-5"
               @click="signIn">
                <template v-if="!formInput.buttonDisabled">
                  {{$t("auth.text_log_in")}}
                </template>
                <span v-else v-html="buttonSpinner">
                  {{buttonSpinner}}
                </span>
              </b-button>
            </div>
            <div class=" mt-3 mb-5">
              <div class="field">
            <b-checkbox type="is-primary" v-model="formInput.rememberMe">{{ $t("auth.remember_me") }}
            </b-checkbox>
             <router-link :to="'./forgotpassword'" class="text-primary is-pulled-right">{{ $t("auth.forgot_password") }}?</router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-6 language-selector has-text-centered">
        <LanguageSelector />
        <p>Debito {{new Date().getFullYear()}}</p>
      </div>
  </div>
  </div>
</template>
<script>
import { mapState, mapActions, mapGetters } from "vuex";
import LanguageSelector from "@/pages/_layouts/LanguageSelector.vue";
import Email from "@/components/svg/email";
import passLock from "@/components/svg/passLock";

export default {
  components: {
    LanguageSelector,
    Email,
    passLock
  },
  name: "login",
  computed: {
    ...mapState("auth", {
      formInput: state => state.formInput,
      styleObject: state => state.styleObject
    }),
    ...mapGetters("auth", {
      buttonSpinner: "buttonSpinner"
    })
  },
  methods: {
    ...mapActions("auth", {
      signIn: "signIn"
    })
  }
};
</script>
