<template lang="html">
  <div>
      <Login v-if="action=='login'" />
      <Signup v-else-if="action=='signup'" />
      <ForgotPassword v-else-if="action=='forgotpassword'" />
      <ResetPassword v-else-if="action=='resetpassword'" />
      <AccountsCreate v-else-if="action=='createaccount'" accessType="auth" showHeading="true"></AccountsCreate>
      <NotFound v-else-if="action=='notfound'" />
    </div>
</template>

<script>

import Login from './Login'
import Signup from './Signup'
import ForgotPassword from './ForgotPassword'
import ResetPassword from './ResetPassword'
import NotFound from '../_layouts/NotFound'
import AccountsCreate from '../accounts/AccountsCreate'

export default {
  props: {
    action: { // Passed from router to decide login or signup component
      required: true
    }
  },
  components: {
    Login,
    Signup,
    ForgotPassword,
    ResetPassword,
    NotFound,
    AccountsCreate
  },
  watch: {
    action: function() {
      this.$store.commit('auth/resetSetError')
      this.$store.commit('auth/resetFormInputs')
    }
  },
  beforeMount: function () {
    this.$store.commit('auth/resetFormInputs')
  }
}
</script>

<style lang="scss">
/* @import '../../assets/vendors/bootstrap/dist/css/bootstrap.min.css'; */
@import '../../assets/css/main-new.scss';
@import '../../assets/css/auth.scss';
</style>
