<template lang="html">
  <div class="container full-width-container">
    <div class="columns row-full-height is-gapless">
      <div class="column is-6 text-white px-5 gradient-background">
        <div class="has-text-left logo-size ml-6">
          <router-link to="/" ><img src="@/assets/img/logos/logo_web_white.png" /></router-link>
        </div>
        <div class="column is-10 mx-auto has-text-centered login-margin">
          <img src="@/assets/img/svg/sign-in.svg" class="-mt-8" />
          <div class="h2 title has-text-white mb-3">{{ $t("auth.dont_have_account_1") }} {{ $t("auth.dont_have_account_2") }}</div>
          <p>{{ $t("auth.create_account_text") }}</p>
        </div>
      </div>
      <div class="column is-6 bg-white">
        <div class="ibox ibox-shadow">
          <div class="ibox-body" id="login-form" v-on:keyup.enter="forgetPassword">
            <div class="column is-8 mx-auto login-margin">

              <!-- email sent successfully -->
              <div class="columns pl-3 error-position">
                <div class="column is-12 alert fade show bg-green-notification py-4" v-if="formInput.serverSuccess">
                  <div><i class="far fa-check-circle mx-1 fa-lg"></i>
                    {{formInput.serverSuccess}}
                  </div>
                </div>

                <!-- Incorrect credentials -->
                <div class="alert fade show bg-red-notification error-position" v-if="formInput.serverError">
                  {{ $t("auth.oops") }}! {{formInput.serverError}}
                </div>
              </div>
              <div>
                <h2 class="font-strong title text-left mb-3">{{$t("auth.reset_login_password")}}</h2>
                <p class="mb-4">{{ $t("auth.reset_password_instructions") }}</p>
                <div class="form-group mb-4" v-bind:class="styleObject.errorObject.password">
                  <div class="input-group-icon input-group-icon-right">
                    <span :class="[formInput.password ? 'icon-color-selected':'icon-color-notselected' ]"> <i
                        class="fas fa-lock form-icon"></i></span>
                    <input class="input signin-border px-5" :type="passwordField" placeholder="Password"
                      v-model="formInput.password"
                      :class="[formInput.password ? 'border-selected':'border-not-selected' ]">
                    <span @click="changePasswordField" id="eye-icon-outer" class="input-icon input-icon-right"><i
                        class="fas fa-eye"></i></span>
                  </div>
                  <span  class="help is-danger"
                    v-if="styleObject.errorObject.password">{{ $t("auth.provide_valid_password_register") }}</span>
                </div>
                <div class="has-text-centered mb-5">
                  <div v-if="formInput.serverSuccess">
                    <b-button tag="router-link" type="is-primary" expanded  class="mt-5" to="/login">{{$t("auth.click_to_login")}}</b-button>
                  </div>
                  <b-button v-else type="is-primary" expanded :disabled="formInput.buttonDisabled ? true : false"
                     @click="resetPassword()">
                    <template v-if="!formInput.buttonDisabled">
                      {{ $t("auth.reset_password") }}
                    </template>
                    <span v-else v-html="buttonSpinner">
                      {{buttonSpinner}}
                    </span>
                  </b-button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-6 language-selector has-text-centered">
          <LanguageSelector />
          <p>Debito {{new Date().getFullYear()}}</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState, mapActions, mapGetters } from 'vuex'
import { getParameterByName } from '@/helpers'
import LanguageSelector from '@/pages/_layouts/LanguageSelector.vue'
export default {
  components: {
    LanguageSelector
  },
  data() {
    return {
      showTermsModal: false,
      passwordField: "password",
      eyeIcon: "eye",
      token: ""
    }
  },
  computed: {
    ...mapState('auth', {
      formInput: state => state.formInput,
      styleObject: state => state.styleObject
    }),
    ...mapGetters('auth', {
      buttonSpinner: "buttonSpinner"
    })
  },
  methods: {
    ...mapActions('auth', {
      verify: "verify",
      resetPassword: "resetPassword",
    }),
    changePasswordField() {
      this.passwordField = this.passwordField === "password" ? "text" : "password"
      // setting icon to either eye or eye slash, using custom javascript
      this.eyeIcon = this.eyeIcon === "eye" ? "eye-slash" : "eye"
      var c = document.getElementById("eye-icon-outer").childNodes
      c[0].setAttribute("data-icon", this.eyeIcon)
    }
  },
  mounted() {
    let token = getParameterByName("token")
    this.$store.commit('auth/setTokenValue', token)
    this.verify()
  }
}
</script>
