<template lang="html">
<div class="container full-width-container">
  <div class="columns row-full-height is-gapless" @keydown.esc="closeTermsModal()">
    <div class="column has-text-white px-5 gradient-background">
      <div class="has-text-left logo-size ml-6">
          <router-link to="/" ><img src="@/assets/img/logos/logo_web_white.png" /></router-link>    
        </div>
      <div class="column is-10 is-offset-1 has-text-centered login-margin mb-5 pb-5">
        <img src="../../assets/img/svg/sign-up.svg" class="-mt-8" />
        <div class="title font-strong has-text-white mt-2">{{ $t("auth.get_free_account") }}</div>
        <p>{{ $t("auth.create_account_text_signup") }}</p>
      </div>
        <div class="column is-6 has-text-centered has-text-white trusted-companies mt-5">
          <p class="mt-5 pt-5">{{$t("auth.trusted_companies")}}</p>
          <img src="../../assets/img/logos/createaccount/Byens_Logo.png" class="transparent-logo" />
          <img src="../../assets/img/logos/createaccount/Coop_Logo.png" class="transparent-logo" />
          <img src="../../assets/img/logos/createaccount/Guldbageren_Logo.png" class="transparent-logo" />
          <img src="../../assets/img/logos/createaccount/Havemand_inkasso.png" class="transparent-logo" />
          <img src="../../assets/img/logos/createaccount/Hungry_Logo.png" class="transparent-logo" />
      </div>
    </div>
    <div class="column is-6 bg-white ">
      <div class="ibox-shadow">
        <div id="signup-form" v-on:keyup.enter="signUp">
          <div class="column is-8 mx-auto login-margin">
            <div class=" bg-red-notification px-4 py-4 error-position" v-if="formInput.serverError">
                <i class="la la-info-circle alert-icon"></i>
                {{ $t("auth.oops") }}! {{formInput.serverError}}
            </div>
            <h2 class="font-strong has-text-left mb-3 title ">{{ $t("auth.create_free_account") }}</h2>
            <p class="has-text-left mb-5">
              {{ $t("auth.already_have_account") }}
              <router-link :to="'/login'" class="text-primary">{{ $t("auth.login_here") }}</router-link>
            </p>
            <div class="field mb-4" v-bind:class="styleObject.errorObject.email">
              <label class="label text-label">Email</label>
                <p class="control has-icons-left has-icons-right">
              <input class="input signin-border px-12"
              type="text" placeholder="Email" v-model="formInput.email"
                :class="[formInput.email ? 'border-selected':'border-not-selected' ]">
                <span class="icon is-small is-left">
                  <Email :active="formInput.email ? true : false"/>
                </span>
              <span  class="help is-danger" v-if="styleObject.errorObject.email">{{ $t("auth.provide_valid_email") }}</span>
              </p>
            </div>
            <div class="field mb-4" v-bind:class="styleObject.errorObject.phone">
              <label class="label text-label">Phone</label>
               <p class="control has-icons-left has-icons-right">
                <input class="input signin-border px-12" id="phone"
                  type="number" placeholder="Phone" v-model="formInput.phone"
                  :class="[formInput.phone ? 'border-selected':'border-not-selected' ]">
                  <span class="icon is-small is-left">
                  <phoneIcon :active="formInput.phone ? true : false"/>
                </span>
                 <span  class="help is-danger" v-if="styleObject.errorObject.phone">Provide a valid phone number</span>
               </p>
            </div>
            <div class="field mb-4" v-bind:class="styleObject.errorObject.password">
              <label class="label text-label">Password</label>
              <p class="control has-icons-left has-icons-right">
                <input class="input signin-border px-12" :type="passwordField" placeholder="Password"
                  v-model="formInput.password" :class="[formInput.password ? 'border-selected':'border-not-selected' ]">
                 <span class="icon is-small is-left">
                  <passLock :active="formInput.password ? true : false"/>
                </span>
                  <span class="icon is-small is-right pointer-clickable" @click="changePasswordField()">
                  <iconEyeSlash v-if="showEyeSlash == false" :active="formInput.password ? true : false"/>
                   <iconEye v-else :active="formInput.password ? true : false" />
                </span>
              <span  class="help is-danger"
                v-if="styleObject.errorObject.password">{{ $t("auth.provide_valid_password_register") }}</span>
              </p>
            </div>
            <div class="has-text-left mb-5">
              <b-button type="is-primary" expanded :disabled="formInput.buttonDisabled ? true : false" @click="signUp"
                class="mb-3 mt-5">
                <template v-if="!formInput.buttonDisabled">
                  {{ $t("account.create_account") }}
                </template>
                <span v-else v-html="buttonSpinner">
                  {{buttonSpinner}}
                </span>
              </b-button>
              <p>{{$t("auth.terms_conditions_signup")}}
                <a class="text-primary" @click="openTermsModal"
                  href="javascript:;">{{ $t("auth.terms_conditions") }}</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- For Terms and Conditions Modal -->
      <div id="wrapper" class="container"  v-if="showTermsModal">
        <div class="section">
        <TermsModal>
          <h3 slot="header" class="modal-card-title">
            {{ $t("auth.terms_conditions") }}
          </h3>
          <div slot="footer">
            <b-button type="is-primary"
              @click="closeTermsModal()">{{ $t("auth.accept") }}</b-button>
          </div>
        </TermsModal>
        </div>
      </div>
    </div>
    <div class="column is-6 language-selector has-text-centered">
        <LanguageSelector />
        <p>Debito {{new Date().getFullYear()}}</p>
      </div>
  </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'
import TermsModal from './TermsModal'
import LanguageSelector from '@/pages/_layouts/LanguageSelector.vue'
import Email from '@/components/svg/email.vue'
import passLock from '@/components/svg/passLock.vue'
import iconEye from '@/components/svg/iconEye.vue'
import iconEyeSlash from '@/components/svg/iconEyeSlash.vue'

export default {
  components: {
    TermsModal,
    LanguageSelector,
    Email,
    passLock,
    iconEye,
    iconEyeSlash
  },
  data() {
    return {
      showTermsModal: false,
      passwordField: "password",
      eyeIcon: "eye-slash",
      showEyeSlash: false
    }
  },
  computed: {
    ...mapState('auth', {
      formInput: state => state.formInput,
      styleObject: state => state.styleObject,
      routerPath: state => state.routerPath
    }),
    ...mapGetters('auth', {
      buttonSpinner: "buttonSpinner"
    })
  },
  methods: {
    ...mapActions('auth', {
      signUp: 'signUp'
    }),
    openTermsModal() {
      this.showTermsModal = true
    },
    closeTermsModal() {
      this.showTermsModal = false
    },
    changePasswordField() {
      this.passwordField = this.passwordField === "password" ? "text" : "password"
      this.showEyeSlash = !this.showEyeSlash
    }
  },
}
</script>
<style scoped>
.trusted-companies {
  position: absolute;
  bottom: 10px;
}
.transparent-logo{
  opacity: 0.5;
}
.pointer-clickable {
  cursor: pointer;
  pointer-events: initial !important;
}
@media only screen and (max-height: 780px) {
  .trusted-companies {
    display: none;
  }
}
</style>
