<template>
<transition name="termsmodal">
 <div class="modal" style="display: block">
  <div class="modal-background" role="document">
    <div class="modal-card terms mx-auto">
      <div class="modal-card-head mt-20">
        <h4 class="modal-card-title">
          {{ $t("auth.terms_conditions") }}
        </h4>
      </div>
      <div class="modal-card-body">
        <ul class="tocModel">
          <li><span>{{ $t("terms_condtions.title") }}</span></li>
          <li>{{ $t("terms_condtions.general.title") }}<br />
          {{ $t("terms_condtions.general.text") }}</li>
          <li>{{ $t("terms_condtions.agreement.title") }}<br />
          {{ $t("terms_condtions.agreement.text") }}</li>
          <li>{{ $t("terms_condtions.conclusion.title") }}<br />
          {{ $t("terms_condtions.conclusion.text") }}</li>
          <li>{{ $t("terms_condtions.benefits.title") }}<br />
          {{ $t("terms_condtions.benefits.text") }}</li>

          <li>{{ $t("terms_condtions.recovery.partOne.title") }}<br />
            {{ $t("terms_condtions.recovery.partOne.text") }}</li>
          <li>{{ $t("terms_condtions.recovery.partTwo.title") }}<br />
            {{ $t("terms_condtions.recovery.partTwo.text") }}</li>
          <li>{{ $t("terms_condtions.recovery.partThree.title") }}<br />
            {{ $t("terms_condtions.recovery.partThree.text") }}</li>
          <li>{{ $t("terms_condtions.recovery.partFour.title") }}<br />
            {{ $t("terms_condtions.recovery.partFour.text") }}</li>

          <li>{{ $t("terms_condtions.settlement.title") }}<br />
          {{ $t("terms_condtions.settlement.text") }}</li>
          <li>{{ $t("terms_condtions.rights.title") }}<br />
          {{ $t("terms_condtions.rights.text") }}</li>
          <li>{{ $t("terms_condtions.responsibility.title") }}<br />
          {{ $t("terms_condtions.responsibility.text") }}</li>
          <li>{{ $t("terms_condtions.violation.title") }}<br />
          {{ $t("terms_condtions.violation.text") }}</li>
          <li>{{ $t("terms_condtions.law.title") }}<br />
          {{ $t("terms_condtions.law.text") }}</li>
        </ul>
      </div>

      <div class="modal-card-foot">
        <slot name="footer"></slot>
      </div>
    </div>
  </div>
</div>
</transition>
</template>

<style>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease-in;
}
.terms {
  margin-top: 20px;
  height: 600px;
}
.modal-body{
  max-height: 300px;
  overflow: auto
}
.tocModel{
  list-style: none;
}
.tocModel li{
  padding-bottom: 15px;
}
.tocModel span{
  font-weight:bold;
}
</style>
