<template lang="html">
  <div class="columns">
    <!-- Left 6 cols -->
    <div class="column is-6 bg-white" v-if="showHeading">
      <div class="column is-6 mt-56 has-text-centered img-position">
        <img src="../../assets/img/svg/create-account.svg" class="mb-5" />
        <h2 class="title text-primary mb-3">{{$t("account.welcome_heading_text")}}</h2>
        <h4 class="title text-dark-grey is-size-4 mb-1">{{$t("account.welcome_text")}}</h4>
        <div class="column is-10 mx-auto">
        <p>{{$t("account.auth_notification")}}</p>
        </div>
      </div>
    </div>
    <div class="column is-6 bg-white" v-if="accessType=='auth'">
      <AccountForms newaccount="true" class="-mb-5" />
      <div class="has-text-centered mb-5">
        <LanguageSelector class=""/>
        <p>Debito {{new Date().getFullYear()}}</p>
      </div>
    </div>
    <div class="column is-12" v-else>
      <AccountForms />
    </div>
    
  </div>
</template>

<script>
import AccountForms from '../accounts/AccountForms'
import LanguageSelector from '../_layouts/LanguageSelector'
export default {
  props: {
    accessType: {
      type: String
    },
    showHeading: {
      type: String
    }
  },
  components: {
    AccountForms,
    LanguageSelector
  },
}
</script>

<style scoped>
.img-position {
  position: fixed;
}
@media screen and (max-width: 760px) {
  .img-position {
    display: none;
  }
}
</style>
