<template lang="html">
      <div class="columns">
        <div class="column is-12 is-centered">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <evaAccounts :active="true" class="mr-2" />
               {{$t("account.manage_users_accounts")}}</p>
            </header>
            <div class="card-content p-5">
              <div class="columns">
                <div class="column is-8">
              <p class="is-size-6-half mb-10">{{$t("account.edit_accounts")}}</p>
              <hr>
              <div class="columns">
                <div class="column is-10">
                  <p class="card-header-title has-text-weight-semibold is-size-6 mb-5 -mt-5">
                <usersIconSidebar :active="true" class="mr-2"/>{{ $t("account.user_detail_settings") }}</p>
              <div class="avatar-circle is-inline-block ml-5">
              <span class="initials">{{generateAvator}}</span>
            </div>
            <span class="is-size-6-half pr-5 pl-5"> {{this.getUserName}}</span>
            <span class="is-size-6-half pr-5">{{this.getUserPhone}} </span>
            <span class="is-size-6-half pr-5">{{this.getUserEmail}} </span>
            <router-link to="/user/profile"><evaEdit :active="true" class="icon-bg"/></router-link>
                </div>
                <div class="column is-2">
                  <!-- <b-button type="is-danger"
                  outlined
                  @click="showVerificationModal=true">
                    Verificeret
                  </b-button> -->
                </div>
              </div>
              
                </div>
                <div class="column is-4" v-if="vendor">
                  <div class='has-text-centered mx-auto card card-color'>
                    <header class="pt-5 is-size-6 has-text-weight-bold">
                      <p class="card-hearder-title"> {{$t("erpIntegration.your_connected_account")}} </p>
                    </header>
                    <hr>
                    <div class="card-image has-text-centered">
                      <img class="mx-xs-auto text-center accounting-userprofile"
                        :src="require('../../assets/img/logos/' + vendor.vendor_identifier + '.png')">
                    </div>
                    <div class="card-content">
                      <div class="content">
                        <b-button class="button is-primary" @click="alertUser()">
                          {{$t("erpIntegration.unsync_account")}} </b-button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column is-4  has-text-centered" v-else>
                  <div class="card has-text-centered mx-auto card-color">
                    <header>
                      <p class="card-header-title"></p>
                    </header>
                    <div class="card-image">
                      <img src="../../assets/img/svg/no-acc-system.svg" alt="">
                    </div>
                    <div class="card-content">
                      <div class="content has-text-centered">
                        <p> {{$t("erpIntegration.no_acc_system")}}</p>
                        <router-link to="/accountingsystem">
                          <b-button class="button is-primary mt-2">{{$t("erpIntegration.claim_accounting_system")}}
                          </b-button>
                        </router-link>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            <div class="level">
              <div class="level-left">
                 <p class="card-header-title -mt-5">  <evaAccounts :active="true" class="mr-2" />{{$t('header.my_accounts')}}</p>
            </div>
              <div class="level-right">
                <!-- <div class="control has-icons-right mr-4">
                  <input class="input search-input" type="search" placeholder="Search here">
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </div> -->
                <b-button type="is-primary icon-button" class="pl-10" tag="router-link" to="/accounts/create"><plusIcon :width="25" :height="25"/>{{$t("account.add_new_account")}}</b-button></div>
            </div>
            <hr>
              <!-- <p class="mb-4">{{ $t("account.debito_mutiple_accounts_add") }}</p> -->
              <div v-if="accounts.data && !tableLoading && userProfile">
                <b-table
                  class="table table-debito paginated-level"
                  :data='accountsData ? accountsData : []'
                  :paginated="accountsData.length > countPaginatedRows ? true : false"
                  :per-page="countPaginatedRows"
                  :current-page="currentPageAccounts"
                  :row-class="(row, index) => checkSuccess(row.id)"
                  :selected="selectedAccountsDetail"
                  >
                  <template slot-scope="props">
                    <b-table-column field="radiobutton" width="50" selectable>
                      <input :checked="props.row.id == userProfile[0].active_account_id" type="radio" aria-label="Radio button for selected "
                       v-on:click="setActiveAccount(props.row.id)" class="cursor-pointer"><label for="radio1"></label>
                  </b-table-column>
                    <b-table-column field="name" :label="$t('account.account_name')" width="220" sortable>
                     <p class="has-text-weight-semibold is-size-6-half font-semibold"> {{props.row.name}}</p>
                    </b-table-column>
                    <b-table-column field='userAvatar' width="80" label="Users">
                    <b-tooltip :label="$t('erpIntegration.user_tooltip')"
                                type="is-light"
                                position="is-bottom"
                                size="is-large"
                                multilined
                                animated>
                                <div class="avatar-circle">
                                  <span class="initials">{{generateAvator}}</span>
                                </div>
                            </b-tooltip>
                    </b-table-column>
                    <b-table-column field="accountType" :label="$t('account.type')" width="130" sortable>
                      {{ props.row.is_company ? $t("account.company") : $t("account.private") }}
                    </b-table-column>
                    <b-table-column field="city" :label="$t('account.city')" width="180" sortable>
                      {{ props.row.city }}
                    </b-table-column>
                    <b-table-column field="Countries.name" :label="$t('general.country')" width="180" sortable>
                      {{ props.row.Countries.name }}
                    </b-table-column>
                    <b-table-column field="vat_number" :label="$t('account.vat')" width="130" sortable>
                      {{ props.row.vat_number | ifEmptyDash }}
                    </b-table-column>
                    <b-table-column field="phone" :label="$t('account.tel')" width="180" sortable>
                      {{ props.row.phone }}
                    </b-table-column>
                    <b-table-column field="" :label="$t('account.edit')" width="70">
                      <span @click="routeToEdit(props.row.id)"><evaEdit :active="true"/></span>
                    </b-table-column>
                    <b-table-column field="deleteAccount" label="Delete" width= "100">
                      <span @click="deleteAccountsRow(props.row.id)"><evaDelete/></span>
                    </b-table-column>
                  </template>
                  <template slot="empty">
                      <section class="section">
                          <div class="content has-text-grey has-text-centered is-centered">
                            <img src="../../assets/img/svg/no-accounts-registered.svg">
                            <p class="is-size-5 title has-text-weight-bold mt-5">{{$t('account.empty_state_account')}}</p>
                            <p class="has-text-weight-semibold">{{$t('account.empty_account_subtitle')}}</p>
                            <router-link to="/accounts/create">{{$t('account.add_new_account')}}</router-link>
                        </div>
                      </section>
                  </template>
                </b-table>
              </div>
              <!-- Spinner for when form is loading -->
              <div v-else class="preloader-backdrop">
                <div class="page-preloader">{{$t('general.loading')}}</div>
              </div>
            </div>
            </div>
            <b-modal :active.sync="showVerificationModal"
                 has-modal-card
                 trap-focus
                 :destroy-on-hide="false"
                 aria-role="dialog"
                 aria-modal>
            <ClaimsVerificationModal v-if="showVerificationModal" />
        </b-modal>
          </div>

        </div>
</template>

<script>
import ClaimsVerificationModal from '@/pages/claims/ClaimsVerificationModal'
import { mapState, mapActions } from 'vuex'
import { PAGINATED_FIVE } from '@/helpers'
export default {
  components: {
    ClaimsVerificationModal
  },
  data () {
    return {
      showVerificationModal: false,
      accountsPaginate: [],
      currentPageAccounts: 1
    }
  },
  computed: {
    ...mapState("accountingSystem", {
      vendor: state => state.vendor
    }),
    ...mapState('accounts', {
      accounts: state => state.accounts,
      activeAccount: state => state.activeAccount,
      userProfile: state => state.userProfile,
      tableLoading: state => state.tableLoading,
    }),
    getUserName() {
      if (this.userProfile && this.userProfile !== null && this.userProfile[0].full_name) {
        return this.userProfile[0].full_name
      } else return '-'
    },
    getUserPhone() {
      if (this.userProfile && this.userProfile !== null && this.userProfile[0].phone) {
        return this.userProfile[0].phone
      } else return '-'
    },
    getUserEmail() {
      if (this.userProfile && this.userProfile !== null && this.userProfile[0].email) {
        return this.userProfile[0].email
      } else return '-'
    },
    accountsData () {
      if (this.accounts.data) {
        return Object.values(this.accounts.data)
      }
      return []
    },
    countPaginatedRows() {
      return PAGINATED_FIVE
    },
    selectedAccountsDetail: function() {
      if (this.accounts.data && this.userProfile && this.userProfile[0].active_account_id) {
        let account = this.accounts.data.filter(d => d.id == this.userProfile[0].active_account_id)
        return account[0]
      }
      return false
    },
    generateAvator() {
      if (this.userProfile && this.userProfile[0].full_name) {
        let nameWithSpaces = this.userProfile[0].full_name.split(" ")
        let value = ""
        if (nameWithSpaces.length == 1) {
          value =
            this.userProfile[0].full_name[0] +
            this.userProfile[0].full_name[
              this.userProfile[0].full_name.length - 1
            ]
        } else {
          // convert e.g. Ahmed Hasnat Safder to AS
          let name1 = nameWithSpaces[0] // Ahmed
          let name2 = nameWithSpaces[nameWithSpaces.length - 1] // Safder
          value = name1[0] + name2[0] // AS
        }
        return value.toUpperCase()
      } else {
        return "?"
      }
    },
  },
  methods: {
    ...mapActions('accounts', {
      getAccounts: 'getAccounts',
      getUserProfile: 'getUserProfile',
      setActiveAccount: 'setActiveAccount',
      deleteAccount: 'deleteAccount'
    }),
    ...mapActions("accountingSystem", {
      unSyncAccount: "unSyncAccount",
      integrationCheck: "integrationCheck"
    }),
    deleteAccountsRow(id) {
      this.deleteAccount(id)
    },
    alertUser() {
      let that = this
      this.$alertify
        .confirm(
          this.$t("erpIntegration.integration_alert_1") +
            "\n" +
            this.vendor.vendor_identifier +
            "\n" +
            this.$t("erpIntegration.integration_alert_2"),
          function(e) {
            if (e) {
              that.unSyncAccount()
            }
          }
        )
        .set({ title: this.$t("general.alert") + "!" })
        .set("labels", {
          ok: this.$t("general.yes"),
          cancel: this.$t("general.no")
        })
    },
    saveNameChanges() {
      if (this.id) {
        store.dispatch("auth/updateUserInfo", this.id).then(response => {
          if (response.data.success) {
            this.getUserProfile()
            this.$router.push("/")
          }
        })
      }
    },
    routeToEdit(id) {
      this.$router.push("/account/edit/" + id)
    },
    checkSuccess(account_id) {
      if (this.userProfile && account_id === this.userProfile[0].active_account_id) {
        return "success"
      }
      return ""
    },
    paginateAccounts() {
      // change the current page number of accounts table based on selected account
      let counter = 0
      if (this.selectedAccountsDetail) {
        this.accountsData.forEach(account => {
          counter++
          if (account['id'] == this.selectedAccountsDetail['id']) {
            this.currentPageAccounts = Math.ceil(counter / 5)
          }
        })
      }
    }
  },
  filters: {
    ifEmptyDash: function(string) {
      if (string === "" || string === null) {
        return "-"
      }
      return string
    },
  },
  created() {
    this.paginateAccounts()
    this.integrationCheck()
  },
  watch: {
    selectedAccountsDetail: function() {
      this.paginateAccounts()
    },
    userProfile() {
    },
  }
}
</script>
<style>
.card-color {
  background-color: #f2f3fa;
}
.icon-bg {
  background-color: #f2f3fa;
  border-radius: 4px;
  padding: 2px;
  position: absolute;
}
</style>
