<!--

    Check if a user has an account
    If there is no account, an alert will be shown with a link to creating an account

    Missing fields:
    company_type_id
    country_id

-->
<template lang="html">
      <div class="columns">
        <div class="column is-12 mx-auto">
            <h2 class="title is-6 text-primary mb-2">{{ $t("account.edit_your_Account") | toCapitalLetters}}</h2>
            <div class="px-5 py-8 green-line-top main-box">
              <div class="columns">
                <div class="column is-12">
                  <p class="title is-6 has-text-weight-medium" v-if="formInput.is_company === 1">
                    {{$t("account.company_details") | toCapitalLetters}}</p>
                  <p class="title is-6 has-text-weight-medium" v-if="formInput.is_company === 0">
                    {{$t("account.user_details") | toCapitalLetters}}</p>
                  <hr>
                </div>
              </div>
              <div class="alert alert-pink fade show alert-outline" v-if="formInput.serverError">
                <p>
                  <i class="la la-info-circle alert-icon"></i>
                  <strong>{{ $t("auth.oops") }}!</strong> {{formInput.serverError}}
                </p>
              </div>
              <form v-if="!tableLoading" v-on:keyup.enter="editAccount">
                    <div class="columns">
                  <div class="column is-12" v-if="formInput.is_company === 1" v-bind:class="errorObject.vat">
                    <div class="field is-horizontal" v-bind:class="errorObject.company_name">
                      <div class="column is-5 is-paddingless">
                        <div class="field-label is-normal">
                          <label class="label text-label">{{ $t("label.vat") }}</label>
                        </div>
                      </div>
                      <div class="column is-4 is-paddingless">
                        <div class="field">
                          <input id="vat_number" :maxlength="fieldLimits.vat_number" type="text"
                            @keydown="allowNumbersOnly" class="input custom-input-styles"
                            :placeholder='$t("account.vat")' v-model="formInput.vat_number">
                          <p class="help is-danger" v-if="errorObject.vat">{{ $t("account.vat_error") }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-12" v-if="formInput.is_company === 1" v-bind:class="errorObject.company_name">
                    <div class="field is-horizontal" v-bind:class="errorObject.company_name">
                      <div class="column is-5 is-paddingless">
                        <div class="field-label is-normal">
                          <label class="label text-label">{{ $t("label.company_name") }}</label>
                        </div>
                      </div>
                      <div class="column is-4 is-paddingless">
                        <div class="field">
                          <input type="text" class="input custom-input-styles" :placeholder='$t("account.company_name")'
                            v-model="formInput.company_name">
                          <p class="help is-danger" v-if="errorObject.company_name">
                            {{ $t("account.company_name_error") }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-12" v-if="formInput.is_company === 1">
                    <div class="field is-horizontal">
                      <div class="column is-5 is-paddingless">
                        <div class="field-label is-normal">
                          <label class="label text-label">{{ $t("label.account_ean") }}</label>
                        </div>
                      </div>
                      <div class="column is-4 is-paddingless">
                        <div class="field">
                          <input type="text" class="input custom-input-styles"
                            :placeholder='$t("account.ean") + " " + $t("account.if_any")'
                            v-model="formInput.ean_number">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-12" v-if="formInput.is_company === 0">
                    <div class="field is-horizontal" v-bind:class="errorObject.company_name">
                      <div class="column is-5 is-paddingless">
                        <div class="field-label is-normal">
                          <label class="label text-label">{{ $t("label.account_private_full_name") }}</label>
                        </div>
                      </div>
                      <div class="column is-4 is-paddingless">
                        <div class="field">
                          <input type="text" class="input custom-input-styles"
                            :placeholder='$t("account.first_last_name")' v-model="formInput.company_name">
                          <p class="help is-danger" v-if="errorObject.company_name">
                            {{ $t("account.first_last_name_error") }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="columns" v-if="formInput.is_company === 1">
                  <div class="column is-12">
                    <div class="title is-6 has-text-weight-medium">
                     {{$t("label.contact_details")}}
                      <hr>
                    </div>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-12">
                    <div class="field is-horizontal" v-bind:class="errorObject.address">
                      <div class="column is-5 is-paddingless">
                        <div class="field-label is-normal">
                          <label class="label text-label">{{ $t("label.address") }}</label>
                        </div>
                      </div>
                      <div class="column is-4 is-paddingless">
                        <div class="field">
                          <input name="address" class="input custom-input-styles" type="text"
                            :placeholder='$t("account.address")' v-model="formInput.address">
                          <p class="help is-danger" v-if="errorObject.address">{{ $t("account.address_error") }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-12">
                    <div class="field is-horizontal" v-bind:class="errorObject.zip_code">
                      <div class="column is-5 is-paddingless">
                        <div class="field-label is-normal">
                          <label class="label text-label">{{ $t("label.postal_code") }}</label>
                        </div>
                      </div>
                      <div class="column is-4 is-paddingless">
                        <div class="field">
                          <input id="postal_code" :maxlength="fieldLimits.zip_code" type="text"
                            @keydown="allowNumbersOnly" class="input custom-input-styles"
                            :placeholder='$t("account.zip_code")' v-model="formInput.zip_code">
                          <p class="help is-danger" v-if="errorObject.zip_code">{{ $t("account.zip_code_error") }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-12">
                    <div class="field is-horizontal" v-bind:class="errorObject.city">
                      <div class="column is-5 is-paddingless">
                        <div class="field-label is-normal">
                          <label class="label text-label">{{ $t("label.city") }}</label>
                        </div>
                      </div>
                      <div class="column is-4 is-paddingless">
                        <div class="field">
                          <input type="text" class="input custom-input-styles" :placeholder='$t("account.city")'
                            v-model="formInput.city">
                          <p class="help is-danger" v-if="errorObject.city">{{ $t("account.city_error") }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-12">
                    <div class="field is-horizontal" v-bind:class="errorObject.country">
                      <div class="column is-5 is-paddingless">
                        <div class="field-label is-normal">
                          <label class="label text-label">{{ $t("general.country") }}</label>
                        </div>
                      </div>
                      <div class="column is-4 is-paddingless">
                        <div class="field">
                          <input type="text" disabled="true" class="input custom-input-styles"
                            :placeholder='$t("general.country")' v-model="formInput.country_name">
                          <p class="help is-danger" v-if="errorObject.country">{{ $t("account.country_error") }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-12">
                    <div class="field is-horizontal" v-bind:class="errorObject.telephone">
                      <div class="column is-5 is-paddingless">
                        <div class="field-label is-normal">
                          <label class="label text-label">{{ $t("label.telephone") }}</label>
                        </div>
                      </div>
                      <div class="column is-4 is-paddingless">
                        <div class="field">
                          <input id="telephone" :maxlength="fieldLimits.phone" type="text" @keydown="allowNumbersOnly"
                            class="input custom-input-styles" :placeholder='$t("account.telephone")'
                            v-model="formInput.telephone">
                          <p class="help is-danger" v-if="errorObject.telephone">{{ $t("account.telephone_error") }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-12">
                    <div class="field is-horizontal" v-bind:class="errorObject.email">
                      <div class="column is-5 is-paddingless">
                        <div class="field-label is-normal">
                          <label class="label text-label">{{ $t("account.email") }}</label>
                        </div>
                      </div>
                      <div class="column is-4 is-paddingless">
                        <div class="field">
                          <input type="email" class="input custom-input-styles" :placeholder='$t("account.email")'
                            v-model="formInput.email">
                            <p class="help is-danger" v-if="errorObject.email">{{ $t("debtor.email_error") }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-12">
                    <div class="field is-horizontal">
                      <div class="column is-5 is-paddingless">
                        <div class="field-label is-normal">
                          <label class="label text-label">{{ $t("label.account_website") }}</label>
                        </div>
                      </div>
                      <div class="column is-4 is-paddingless">
                        <div class="field">
                          <input type="text" class="input custom-input-styles"
                            :placeholder='$t("account.website") + " " + $t("account.if_any")'
                            v-model="formInput.website">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="columns">
                    <div class="column is-12">
                      <p class="title is-6 has-font-weight-medium">{{$t("account.details_for_bank") | toCapitalLetters}}
                      </p>
                      <hr>
                      <span v-if="formInput.is_company === 1" class="text-blue"><span class="text-blue">*</span>
                        {{ $t("account.add_form_bottom_not_company") }}</span>
                      <span v-if="formInput.is_company === 0" class="text-blue"><span class="text-blue">*</span>
                        {{ $t("account.add_form_bottom_not_person") }}</span>
                    </div>
                  </div>
                  <div class="columns mt-5" v-if="formInput.country_iso_code == 'DK'">
                    <div class="column is-12">
                      <div class="field is-horizontal" v-bind:class="errorObject.reg_num">
                        <div class="column is-5 is-paddingless">
                          <div class="field-label is-normal">
                            <label class="label text-label">{{ $t("label.account_reg_no") }}</label>
                          </div>
                        </div>
                        <div class="column is-4 is-paddingless">
                          <div class="field">
                            <input maxlength="4" type="text" @keydown="allowNumbersOnly"
                              class="input custom-input-styles" :placeholder='$t("account.registeration_number_short")'
                              v-model="formInput.bank_reg_number">
                            <p class="help is-danger" v-if="errorObject.reg_num">
                              {{ $t("account.registeration_number_error") }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="columns" v-if="formInput.country_iso_code == 'DK'">
                    <div class="column is-12">
                      <div class="field is-horizontal" v-bind:class="errorObject.account_num">
                        <div class="column is-5 is-paddingless">
                          <div class="field-label is-normal">
                            <label class="label text-label">{{ $t("label.account_account_no") }}</label>
                          </div>
                        </div>
                        <div class="column is-4 is-paddingless">
                          <div class="field">
                            <input maxlength="10" type="text" @keydown="allowNumbersOnly"
                              class="input custom-input-styles" :placeholder='$t("account.account_number_short")'
                              v-model="formInput.bank_account_number">
                            <p class="help is-danger" v-if="errorObject.account_num">
                              {{ $t("account.account_number_error") }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="columns" v-else>
                    <div class="column is-12">
                      <div class="field is-horizontal" v-bind:class="errorObject.iban">
                        <div class="column is-5 is-paddingless">
                          <div class="field-label is-normal">
                            <label class="label text-label">{{ $t("account.iban") }}</label>
                          </div>
                        </div>
                        <div class="column is-4 is-paddingless">
                          <div class="field">
                            <input type="text" @keydown="allowNumbersOnly" class="input custom-input-styles"
                              :placeholder='$t("account.iban")' v-model="formInput.iban">
                            <p class="help is-danger" v-if="errorObject.iban">{{ $t("account.iban") }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="column is-12">
                      <div class="field is-horizontal" v-bind:class="errorObject.swift_code">
                        <div class="column is-5 is-paddingless">
                          <div class="field-label is-normal">
                            <label class="label text-label">{{ $t("account.swift_code") }}</label>
                          </div>
                        </div>
                        <div class="column is-4 is-paddingless">
                          <div class="field">
                            <input type="text" class="input custom-input-styles" :placeholder='$t("account.swift_code")'
                              v-model="formInput.swift_code" autocomplete="random_string">
                            <p class="help is-danger" v-if="errorObject.swift_code">{{ $t("account.swift_code_error") }}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                  </div>
                </div>
                <div class="columns mt-4">
                  <div class="column is-9 has-text-right pr-1">
                    <b-button tag="router-link" to="/accounts" type="is-light is-btn-fix mr-1">{{$t("general.cancel")}}
                    </b-button>
                     <b-button type="is-primary is-btn-fix" :disabled="formInput.disabled ? true : false"
                      @click="editAccount">
                      <template v-if="!formInput.disabled">
                        {{ $t("account.edit_account") }}
                      </template>
                      <span v-else >
                        <Loader2 />
                      </span>
                    </b-button>
                  </div>
                </div>
              </form>
              <!-- Spinner for when form is loading -->
              <div v-else class="preloader-backdrop">
                <div class="page-preloader">{{$t('general.loading')}}</div>
              </div>
            </div>
          </div>
        </div>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from "vuex";
import { allowNumbers } from "@/helpers";

export default {
  props: {
    id: {
      required: true,
      type: String
    }
  },
  computed: {
    ...mapState("accounts", {
      formInput: state => state.formInput,
      errorObject: state => state.styleObject.errorObject,
      routerPath: state => state.routerPath,
      tableLoading: state => state.tableLoading,
      fieldLimits: state => state.fieldLimits
    }),
    ...mapMutations("accounts", {
      setStateId: "setStateId"
    }),
    ...mapState('accountingSystem', {
      vendor: state => state.vendor,
      invoices: state => state.invoices,
    }),
    ...mapGetters("auth", {
      buttonSpinner: "buttonSpinner"
    }),
    totalInvoices: function () {
      if (this.invoices.data) {
        return this.invoices.pagination.count
      }
      return "-"
    },
  },
  methods: {
    ...mapActions('accountingSystem', {
      unSyncAccount: 'unSyncAccount',
      getInvoices: 'getInvoices',
      integrationCheck: 'integrationCheck'
    }),
    ...mapActions("accounts", {
      fetchInfo: "fetchInfo",
      editAccount: "editAccount"
    }),
    allowNumbersOnly(event) {
      return allowNumbers(event);
    },
  },
  created() {
    this.integrationCheck()
    this.getInvoices()
    this.$store.commit("accounts/resetformState");
    this.$store.commit("accounts/resetSetError");
    this.$store.commit("accounts/setStateId", this.id);
    this.fetchInfo();
  }
};
</script>