     <template lang="html">
          <div class="columns mt-5 pb-10">
            <div class="column is-12 mx-auto">
      <div class="tabs is-boxed is-marginless">
        <ul class="custom-green-line">
          <!-- Commented out since we are not accepting new private accounts at the moment, but probably will again -->
          <!-- <li class="inactive-custom-tabs" :class="{'is-active': tab==='company'}"
              @click="tab='company', formInput.is_company = 1">
            <a
              class="is-size-6 has-text-weight-semibold"
              href="#">{{$t('account.company')}}
            </a>
          </li> -->
          <!-- <li  class="inactive-custom-tabs ml-1" :class="{'is-active': tab==='private'}"
              @click="tab='private', formInput.is_company = 0">
            <a
              class="is-size-6 has-text-weight-semibold"
              href="#">
              {{$t('account.private')}}
            </a>
          </li> -->
        </ul>
      </div>
      <div class="px-8 main-box">
        <form class="pb-10 pt-8" v-on:keyup.enter="createAccount(routerLink)">
          <div class="columns">
            <div class="column is-12" v-if="formInput.is_company === 1">
              <p
                class="is-size-6 has-text-weight-semibold"
              >{{$t("account.company_details") | toCapitalLetters}}</p>
              <hr />
            </div>
          </div>
          <div class="columns" v-if="formInput.is_company === 1 && this.formInput.country_iso_code === 'DK' " >
            <div class="column is-12">
              <CvrSearch namespace="accounts" />
            </div>
          </div>
          <div v-if="formInput.is_company === 1">
            <div class="columns">
              <div class="column is-12">
                <div class="field is-horizontal" v-bind:class="errorObject.vat">
                  <div class="column is-5 is-paddingless">
                    <div class="field-label is-normal">
                      <label class="label text-label">
                        {{ $t("label.vat") }}
                        <span class="text-dark-green">*</span>
                      </label>
                    </div>
                  </div>
                  <div class="column is-4 is-paddingless">
                    <div class="field">
                      <input
                        :maxlength="fieldLimits.vat_number"
                        type="text"
                        @keydown="allowNumbersOnly"
                        class="input custom-input-styles"
                        :placeholder='$t("account.vat")'
                        v-model="formInput.vat_number"
                      />
                      <p class="help is-danger" v-if="errorObject.vat">{{ $t("account.vat_error") }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column is-12">
                <div class="field is-horizontal" v-bind:class="errorObject.company_name">
                  <div class="column is-5 is-paddingless">
                    <div class="field-label is-normal">
                      <label class="label text-label">
                        {{ $t("label.company_name") }}
                        <span class="text-dark-green">*</span>
                      </label>
                    </div>
                  </div>
                  <div class="column is-4 is-paddingless">
                    <div class="field">
                      <input
                        type="text"
                        class="input custom-input-styles"
                        :placeholder='$t("account.company_name")'
                        v-model="formInput.company_name"
                      />
                      <p
                        class="help is-danger"
                        v-if="errorObject.company_name"
                      >{{ $t("account.company_name_error") }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-12" v-if="formInput.is_company === 0">
              <p
                class="is-size-6 has-text-weight-semibold"
              >{{$t("account.user_details") | toCapitalLetters}}</p>
              <hr />
            </div>
          </div>
          <!---->
          <div class="columns">
            <div class="column is-12" v-if="formInput.is_company === 0">
              <div class="field is-horizontal" v-bind:class="errorObject.company_name">
                <div class="column is-5 is-paddingless">
                  <div class="field-label is-normal">
                    <label class="label text-label">
                      {{ $t("label.account_private_full_name") }}
                      <span class="text-dark-green">*</span>
                    </label>
                  </div>
                </div>
                <div class="column is-4 is-paddingless">
                  <div class="field">
                    <input
                      type="text"
                      class="input custom-input-styles"
                      :placeholder='$t("account.full_name")'
                      v-model="formInput.company_name"
                      autocomplete="random_string"
                    />
                    <p
                      class="help is-danger"
                      v-if="errorObject.company_name"
                    >{{ $t("account.full_name_error") }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <span class="column is-12" v-if="formInput.is_company === 1">
              <p class="is-size-6 pt-1 font-bold has-text-weight-semibold">{{$t("label.contact_details")}}</p>
              <hr />
            </span>
          </div>
          <div class="columns">
            <div class="column is-12">
              <div class="field is-horizontal" v-bind:class="errorObject.address">
                <div class="column is-5 is-paddingless">
                  <div class="field-label is-normal">
                    <label class="label text-label">
                      {{ $t("label.address") }}
                      <span class="text-dark-green">*</span>
                    </label>
                  </div>
                </div>
                <div class="column is-4 is-paddingless">
                  <div class="field">
                    <input
                      name="address"
                      class="input custom-input-styles"
                      type="text"
                      :placeholder='$t("account.address")'
                      v-model="formInput.address"
                      autocomplete="random_string"
                    />
                    <p
                      class="help is-danger"
                      v-if="errorObject.address"
                    >{{ $t("account.address_error") }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-12">
              <div class="field is-horizontal" v-bind:class="errorObject.zip_code">
                <div class="column is-5 is-paddingless">
                  <div class="field-label is-normal">
                    <label class="label text-label">
                      {{ $t("label.postal_code") }}
                      <span class="text-dark-green">*</span>
                    </label>
                  </div>
                </div>
                <div class="column is-4 is-paddingless">
                  <div class="field">
                    <input
                      id="postal_code"
                      :maxlength="fieldLimits.zip_code"
                      type="text"
                      @keydown="allowNumbersOnly"
                      class="input custom-input-styles"
                      :placeholder='$t("account.zip_code")'
                      v-model="formInput.zip_code"
                      autocomplete="random_string"
                    />
                    <p
                      class="help is-danger"
                      v-if="errorObject.zip_code"
                    >{{ $t("account.zip_code_error") }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-12">
              <div class="field is-horizontal" v-bind:class="errorObject.city">
                <div class="column is-5 is-paddingless">
                  <div class="field-label is-normal">
                    <label class="label text-label">
                      {{ $t("label.city") }}
                      <span class="text-dark-green">*</span>
                    </label>
                  </div>
                </div>
                <div class="column is-4 is-paddingless">
                  <div class="field">
                    <input
                      type="text"
                      class="input custom-input-styles"
                      :placeholder='$t("account.city")'
                      v-model="formInput.city"
                      autocomplete="random_string"
                    />
                    <p class="help is-danger" v-if="errorObject.city">{{ $t("account.city_error") }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-12">
              <div class="field is-horizontal" v-bind:class="errorObject.country">
                <div class="column is-5 is-paddingless">
                  <div class="field-label is-normal">
                    <label class="label text-label">{{ $t("general.country") }}</label>
                  </div>
                </div>
                <div class="column is-4 is-paddingless">
                  <div class="field">
                    <model-list-select
                      class="custom-input-styles"
                      :list="countries"
                      v-model="formInput.country"
                      option-value="id"
                      :custom-text="nameAndiso"
                    ></model-list-select>
                    <p
                      class="help is-danger"
                      v-if="errorObject.country"
                    >{{ $t("account.country_error") }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-12">
              <div class="field is-horizontal" v-bind:class="errorObject.telephone">
                <div class="column is-5 is-paddingless">
                  <div class="field-label is-normal">
                    <label class="label text-label">{{ $t("label.telephone") }}  <span class="text-dark-green">*</span></label>
                    
                  </div>
                </div>
                <div class="column is-4 is-paddingless">
                  <div class="field">
                    <input
                      id="telephone"
                      :maxlength="fieldLimits.phone"
                      type="text"
                      @keydown="allowNumbersOnly"
                      class="input custom-input-styles"
                      :placeholder='$t("account.telephone")'
                      v-model="formInput.telephone"
                      autocomplete="random_string"
                    />
                    <p
                      class="help is-danger"
                      v-if="errorObject.telephone"
                    >{{ $t("account.telephone_error") }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-12">
              <div class="field is-horizontal">
                <div class="column is-5 is-paddingless">
                  <div class="field-label is-normal">
                    <label class="label text-label">{{ $t("account.email") }}  <span class="text-dark-green">*</span></label>
                  </div>
                </div>
                <div class="column is-4 is-paddingless">
                  <div class="field">
                    <input
                      type="text"
                      class="input custom-input-styles"
                      :placeholder='$t("account.email")'
                      v-model="formInput.email"
                      autocomplete="random_string"
                    />
                     <p class="help is-danger" v-if="errorObject.email">{{ $t("debtor.email_error") }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-12">
              <div class="field is-horizontal">
                <div class="column is-5 is-paddingless">
                  <div class="field-label is-normal">
                    <label class="label text-label">{{ $t("label.account_website") }}</label>
                  </div>
                </div>
                <div class="column is-4 is-paddingless">
                  <div class="field">
                    <input
                      type="text"
                      class="input custom-input-styles"
                      :placeholder='$t("account.website") + " " + $t("account.if_any")'
                      v-model="formInput.website"
                      autocomplete="random_string"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <!-- starts here -->
            <div class="column is-12">
              <div class="field is-horizontal" v-if="formInput.is_company === 1">
                <div class="column is-5 is-paddingless">
                  <div class="field-label is-normal">
                    <label class="label text-label">{{ $t("label.account_ean") }}</label>
                  </div>
                </div>
                <div class="column is-4 is-paddingless">
                  <div class="field">
                    <input
                      type="text"
                      class="input custom-input-styles"
                      :placeholder='$t("account.ean") + " " + $t("account.if_any")'
                      v-model="formInput.ean_number"
                      autocomplete="random_string"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <p
              class="font-strong is-size-6 has-text-weight-semibold"
            >{{$t("account.details_for_bank") | toCapitalLetters}}</p>
            <hr />
          </div>
          <span v-if="formInput.is_company === 1" class="small has-text-info">
            <span class="text-blue">*</span>
            {{ $t("account.add_form_bottom_not_company") }}
          </span>
          <span v-if="formInput.is_company === 0" class="small has-text-info">
            <span class="text-blue">*</span>
            {{ $t("account.add_form_bottom_not_person") }}
          </span>
          <div class="mt-8" v-if="formInput.country_iso_code == 'DK'">
            <div class="columns">
              <div class="column is-12">
                <div class="field is-horizontal" v-bind:class="errorObject.reg_num">
                  <div class="column is-5 is-paddingless">
                    <div class="field-label is-normal">
                      <label class="label text-label">
                        {{ $t("label.account_reg_no") }}
                        <span class="text-dark-green">*</span>
                      </label>
                    </div>
                  </div>
                  <div class="column is-4 is-paddingless">
                    <div class="field">
                      <input
                        maxlength="4"
                        type="text"
                        @keydown="allowNumbersOnly"
                        class="input custom-input-styles"
                        :placeholder='$t("account.registeration_number_short")'
                        v-model="formInput.bank_reg_number"
                        autocomplete="random_string"
                      />
                      <p
                        class="help is-danger"
                        v-if="errorObject.reg_num"
                      >{{ $t("account.registeration_number_error") }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column is-12">
                <div class="field is-horizontal" v-bind:class="errorObject.account_num">
                  <div class="column is-5 is-paddingless">
                    <div class="field-label is-normal">
                      <label class="label text-label">
                        {{ $t("label.account_account_no") }}
                        <span class="text-dark-green">*</span>
                      </label>
                    </div>
                  </div>
                  <div class="column is-4 is-paddingless">
                    <div class="field">
                      <input
                        maxlength="10"
                        type="text"
                        @keydown="allowNumbersOnly"
                        class="input custom-input-styles"
                        :placeholder='$t("account.account_number_short")'
                        v-model="formInput.bank_account_number"
                        autocomplete="random_string"
                      />
                      <p
                        class="help is-danger"
                        v-if="errorObject.account_num"
                      >{{ $t("account.account_number_error") }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-4" v-else>
            <div class="columns">
              <div class="column is-12">
                <div class="field is-horizontal" v-bind:class="errorObject.iban">
                  <div class="column is-5 is-paddingless">
                    <div class="field-label is-normal">
                      <label class="label text-label">
                        {{ $t("account.iban") }}
                        <span class="text-dark-green">*</span>
                      </label>
                    </div>
                  </div>
                  <div class="column is-4 is-paddingless">
                    <div class="field">
                      <input
                        type="text"
                        @keydown="allowNumbersOnly"
                        class="input custom-input-styles"
                        :placeholder='$t("account.iban")'
                        v-model="formInput.iban"
                        autocomplete="random_string"
                      />
                      <p
                        class="help is-danger"
                        v-if="errorObject.iban"
                      >{{ $t("account.iban_error") }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column is-12">
                <div class="field is-horizontal" v-bind:class="errorObject.swift_code">
                  <div class="column is-5 is-paddingless">
                    <div class="field-label is-normal">
                      <label class="label text-label">
                        {{ $t("account.swift_code") }}
                        <span class="text-dark-green">*</span>
                      </label>
                    </div>
                  </div>
                  <div class="column is-4 is-paddingless">
                    <div class="field">
                      <input
                        type="text"
                        class="input custom-input-styles"
                        :placeholder='$t("account.swift_code")'
                        v-model="formInput.swift_code"
                        autocomplete="random_string"
                      />
                      <p
                        class="help is-danger"
                        v-if="errorObject.swift_code"
                      >{{ $t("account.swift_code_error") }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns mt-4">
            <div class="column is-9 is-grouped has-text-right pr-1">
              <router-link
                v-if="!newaccount"
                to="/accounts"
                class="button is-light is-btn-fix mr-1"
              >{{$t("general.cancel")}}</router-link>
              <b-button
              :loading="formInput.disabled"
                type="is-primary is-btn-fix"
                :disabled="formInput.disabled ? true : false"
                @click="createAccount(routerLink)"
              >{{$t("account.create_account") }}
              </b-button>
            </div>
          </div>
        </form>
      </div>
      </div>
      </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import { allowNumbers } from "@/helpers";
import { ModelListSelect } from "vue-search-select";
import CvrSearch from "@/pages/_layouts/_cvrsearch/CvrSearch";

export default {
  props: {
    newaccount: {
      type: String
    }
  },
  data() {
    return {
      countryName: "",
      tab: "company"
    };
  },
  components: {
    CvrSearch,
    ModelListSelect
  },
  computed: {
    ...mapState("accounts", {
      formInput: state => state.formInput,
      errorObject: state => state.styleObject.errorObject,
      routerPath: state => state.routerPath,
      countries: state => state.countries,
      fieldLimits: state => state.fieldLimits
    }),
    ...mapGetters("auth", {
      buttonSpinner: "buttonSpinner"
    }),
    ...mapGetters("accounts", {
      companyButton: "companyButton",
      privateButton: "privateButton"
    }),
    country: function() {
      return this.formInput.country;
    },
    routerLink: function() {
      if (this.newaccount == "true") {
        return "/"
      }
      return "/accounts"
    }
  },
  methods: {
    ...mapActions("accounts", {
      createAccount: "createAccount",
      getCountries: "getCountries"
    }),
    allowNumbersOnly(event) {
      return allowNumbers(event);
    },
    nameAndiso(item) {
      return `${item.name} - ${item.iso_code}`;
    },
    setDefaultCountry() {
      if (this.countries.length !== 0) {
        var textToFind = "Denmark";
        var DenmarkId = this.countries.filter(countries => {
          let referenceStringArray = [countries.name];
          const item = JSON.stringify(referenceStringArray).toLowerCase();
          return item.match(textToFind.toLowerCase());
        });
        this.formInput.country = DenmarkId[0].id;
        this.formInput.country_name = DenmarkId[0].name;
        this.formInput.country_iso_code = DenmarkId[0].iso_code;
      }
    }
  },
  created() {
    this.$store.commit("accounts/resetformState");
    this.$store.commit("accounts/resetSetError");
    this.getCountries();
    this.setDefaultCountry();
  },
  watch: {
    countries: function() {
      this.setDefaultCountry();
    },
    country: function() {
      var idToFind = this.country;
      var DenmarkId = this.countries.filter(countries => {
        let referenceStringArray = [countries.id];
        const item = JSON.stringify(referenceStringArray).toLowerCase();
        return item.match(idToFind.toLowerCase());
      });
      this.formInput.country_name = DenmarkId[0].name;
      this.formInput.country_iso_code = DenmarkId[0].iso_code;
      this.$store.commit("accounts/setFieldLimits");
    }
  }
};
</script>
