<template>
  <div class="container">
        <div class="columns px-5">
          <div class="column is-10 mx-auto">
          <h2 class="title">{{$t("account.smart_recovery")}}</h2>
          <p class="mt-2">{{$t("account.smart_recovery_note")}}.</p>
           </div>
         </div>
         <div class="columns px-5 pt-3 ">
          <div class="column is-5 is-offset-1 mb-2">
            <div class="card card-background has-text-centered">
             <div class="card-image p-5">
                  <figure class="image is-4by3">
                    <img src="../../assets/img/svg/connect-accounting.svg" class="mt-5 mb-4">
                  </figure>
                </div>
              <div class="content">
                <h5 class="title is-size-4 mt-4">{{$t("account.selection_heading_1")}}</h5>
                <p class="">{{$t("account.selection_note_1")}}.</p>
                <router-link to="/accountingsystem"><b-button type="is-primary is-btn-fix mt-5 mb-5">{{$t("general.choose")}}</b-button>
                 </router-link>
               </div>
             </div>
           </div>
           <div class="column is-5 ">
            <div class="card card-background has-text-centered">
              <div class="card-image p-5">
                   <figure class="image is-4by3">
                     <img src="../../assets/img/svg/connect-to-debito.svg" class="mt-5 mb-4">
                  </figure>
                </div>
              <div class="content text-center">
                <h5 class="title is-size-4 mt-4">{{$t("account.selection_heading_2")}}</h5>
                <p class="">{{$t("account.selection_note_2")}}.</p>
                <router-link to="/onboarding"><b-button type="is-primary is-btn-fix mt-5 mb-5">
                  {{$t("general.choose")}}</b-button></router-link>
               </div>
             </div>
           </div>
         </div>
          <div class="columns is-centered">
          <router-link to="/ " class="mt-4 mb-4 has-text-primary"><u>{{$t("account.selection_note_3")}}</u></router-link>
         </div>
         </div>
</template>

<script>
export default {
    
}
</script>
<style scoped>
.card-background {
  background: #F2F3FA;
  min-height: 400px;
}
</style>